<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Status Report</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Status Report</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	      	<div class="row">
	      		<div class="col-md-12">
	      		<div class="card">
	      			<div class="card-body">
	      				<div class="row">
	      					<div class="col-12"><label>Filter By:</label></div>
	      				</div>
		      			<div class="row">
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.category_id" @change="onSelect">
			                  		<option value="">Select Category</option>
			                  		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.brand_id" @change="onSelect">
			                  		<option value="">Select Brand</option>
			                  		<option v-for="brand in brands" :value="brand.id">{{ brand.name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.merchant_id" @change="onSelect">
			                  		<option value="">Select Merchant</option>
			                  		<option v-for="merchant in merchants" :value="merchant.id">{{ merchant.details.store_name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.status" @change="onSelect">
			                  		<option value="">Select Ordern Status</option>
			                  		<option v-for="status in order_statuses" :value="status.id">{{ status.status }}</option>
			                    </select>
				      		</div>
		      			</div>
		      			<div class="row mt-3">
		      				<div class="col-md-1"><label>Start and End Date:</label></div>
		      				<div class="col-md-4">
				      			<input readonly class="form-control" type="text" id="daterange" v-model="filters.date_range" name="daterange"/>
				      		</div>
				      		<div class="col-md-1"><button type="button" class="btn btn-primary" @click="onSelect">Apply</button></div>
		      			</div>
		      		</div>
		      	</div>
		      </div>
	      	</div>
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:primaryKey="primaryKey"
			          	:filters="filters"
			          	:downloadCsvWithFilter="downloadCsvWithFilter"
			          	ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "FlashSale",
        data() {
            return {
            	dataFields: {
            		order_number: "Order Number", 
                    created_at: "Order Date", 
                    received_date: "Delivery Date", 

                    customer_name: "Customer Shipping Name", 
                    customer_address: "Customer Billing Name", 

                    product_name: "Product Name", 
            		product_size: "Product Szie", 
            		merchant_name: "Merchant Name", 
            		brand_name: "Brand Name", 
            		category_name: "Category Name", 
            		order_status: "Order Status",
            		qty: "Quantity", 
            		base_price: "Product Price", 
            		total_price: "Price Purchased", 
            		commission_rate: "Commission Rate", 
            		
            		shipping_fee: "Shipping Fee", 
            		payable_to_merchant: "Payable to Merchant", 
            		status: "Status", 
            		request_id: "Paynamics Request ID", 
            		cash_in_bank: "Cash in Bank", 
            		credit_card: "Credit Card", 
            		paypal: "Paypal", 
            		gcash: "GCash", 
            		payment_type: "Payment Type", 
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/report/sales",
                downloadCsvWithFilter: "/api/v1/report/downloadCsv", 
                filters: {
                	category_id: '',
                	brand_id: '',
                	merchant_id: '',
                	status: '',
                	date_range: '',
                },
                categories: [],
                brands: [],
                merchants: [],      	
                order_statuses: [],      	
            };
        },        

        mounted(){
            $(document).ready(function(){
                $('#daterange').daterangepicker();
            });
        },

        created(){
		  	axios.get('/api/v1/category/getDropdown')
        	.then(response => this.categories = response.data.data);

        	axios.get('/api/v1/brand/getDropdown')
        	.then(response => this.brands = response.data.data);

        	axios.get('/api/v1/merchant/getDropdown')
        	.then(response => this.merchants = response.data.data);

        	axios.get('/api/v1/orders/list-statuses')
        	.then(response => this.order_statuses = response.data.data);

        },

        methods: {
        	onSelect: function () {
        		var valDate = $('#daterange').val()
        		this.filters.date_range = valDate;
        		this.$refs.dataTable.fetchData();
        	},
        },

        components: {
        	Table
 	   }
    };
</script>