<style scoped>
    main {
        min-height: 100vh;
        margin-top: 170px;
    }

    .input-group-prepend {
        width: 150px;
    }

    .input-group-append {
        cursor: pointer;
    }

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
        text-transform: uppercase;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    #forgot-body {
        margin-top: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 50px 20px;
    }
    .caption {
        text-transform: uppercase;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: .03em;
        font-weight: 500;
        padding: 0 0 50px;
    }
    #forgot{
        border: 1px solid #e9e7e7;
        padding: 32px 39px 20px;
        height: 100%;
        margin: auto;
        box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
    }
    #forgot .forgot-text {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    footer {
        background: #E5E5E5;
    }

    .hfooter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .seperate-text {
        width: 75px;
        background: #ffffff;
        margin: -15px 0 0 -38px;
        padding: 5px 0;
        position: absolute;
        top: 50%;
        text-align: center;
    }
    .hr {
        width:2px;
        height:150px;
        background-color:#DDDDDD;
        position:inherit;
        top:0px;
        left:50px;
        z-index:10;
    }

    #mobile_category {
        display: none;
    }

    .cart-icon {
        position:fixed;
        background:#d1242c;
        border-radius:50%;
        margin-left: 29px;
        top: 7px;
    }

    .btn-send-password-reset {
        background: #0d75b2;
    }
</style>

<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <nav class="fixed-top bg-white border-bottom mb-5">
                <header class="container-fluid border-bottom text-center d-md-none">
                    <a href="/">
                        <img :src="images.adm_logo" class="mt-3 mb-3" style="width:150px">
                    </a>
                </header>
                <header class="container-fluid border-bottom">
                    <div class="row align-items-center justify-content-around mb-1">
                        <div class="col-md-2 col-1 d-md-block d-sm-none">
                            <router-link class="d-flex justify-content-center align-items-center" to="/">
                              <img :src="images.adm_logo" class="w-75 mt-3 mb-3 d-none d-md-block">
                            </router-link>
                        </div>
                       <div class="col-md-7 col-sm-8 my-2">
                            <vue-bootstrap-typeahead 
                            v-model="search_input"
                            :data="category_hint"
                            placeholder="Search in Adobomall"
                            class="search"
                            @hit="search()">
                                <template slot="prepend">
                                <select @change="redirectCategory()" v-model="selected_categories"
                                    class="form-control"
                                    style="border-radius: 0.25rem 0rem 0rem 0.25rem !important">
                                    <option class="dropdown-item"
                                        value="all" selected>All Categories
                                    </option>
                                    <option class="dropdown-item"
                                        v-for="(category,categoryIndex) in categories" :key="categoryIndex"
                                        :value="category.slug_name">
                                        <span v-if="category.parent_id != null">-</span>
                                        {{ category.name }}
                                    </option>
                                </select>
                                </template>
                                 <input v-model="search_input" placeholder="Search in Adobomall" id="search" name="search" class="header-search form-control border-right-0" @keyup.enter="search()">
                                <template slot="append">
                                    <div class="input-group-append" @click="search()">
                                        <span id="cart-count" class="input-group-text bg-white">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </template>
                            </vue-bootstrap-typeahead>
                       </div>
                       <div class="col-md-3 col-sm-4">
                          <div id="header-container" class="d-flex" style="justify-content:space-evenly;">
                              <div id="cart">
                                <router-link class="d-flex align-items-center text-dark" to="/cart">
                                    <img :src="images.cart_icon" class="mr-1 bayong-icon" style="width: 40px; height: 40px;">
                                    <span class="cart-icon badge badge-pill badge-danger">0</span>
                                </router-link>
                              </div>
                                <a class="login-icon" href="/login">
                                    <img class="d-block d-md-none" :src="images.enter_svg" alt="Login Icon" style="width:21px;margin-top:2px">
                                </a>
                              <div class="d-none d-md-block mt-1" v-if="user_id != 0">
                                  <router-link class="text-dark" style="font-size:15px" to="/profile">
                                    MY ACCOUNT
                                  </router-link>
                              </div>
                              <div class="d-none d-md-block mt-2" v-else>
                                <a href="/register" class="text-dark" style="font-size:15px"> REGISTER </a> | 
                                <a href="/login" class="text-dark" style="font-size:15px">LOG IN</a>
                              </div>
                          </div>
                       </div>
                    </div>
                </header>
            </nav>
            <main role="main">
                <div id="bread-header">
                    <div class="container">
                        <ul class="bread-nav">
                            <li class="bread-item">
                                <a href="/" class="bread-title">Home</a>
                            </li>
                            <li class="bread-item">
                                <a href="javascript:void(0)" class="bread-title">Reset Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row forgot-body mx-auto d-block mt-5">
                    <div class="col-md-6 mb-3 mx-auto">
                        <div id="forgot">
                            <h2 class="forgot-title text-uppercase">Reset Password</h2>

                             <div class="form-group">
                                <label for="email">Email *</label>
                                <input id="email" type="email" class="form-control" name="email" required v-model="form.email" required>

                                <span class="invalid-feedback" role="alert">
                                    <!-- error message -->
                                </span>
                            </div>

                            <button type="button" class="btn btn-sm btn-send-password-reset btn-primary custom-primary" @click="sendPasswordReset()">
                                Send Password Reset Link
                            </button>
                        </div>
                    </div>
                </div>
            </main>

            <footer>
                <div class="container py-5 mt-5">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-3 mb-4"><img :src="images.adm_logo" class="w-100 adm-logo"></div>
                        <div class="col-md-5 hfooter">
                            <div class="col-md-6 col-6">
                                <ul class="hfooterlinks pl-0 font-weight-bold h6" style="list-style-type: none;">
                                    <li class="mb-2"><a href="/" class="text-dark">Adobomall</a></li>
                                    <li class="mb-2"><a href="/contact-us" class="text-dark">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6">
                                <ul class="hfooterlinks pl-0 font-weight-bold h6" style="list-style-type: none;">
                                    <li class="mb-2"><a href="/privacy-policy" class="text-dark">Privacy Policy</a></li>
                                    <li class="mb-2"><a href="/terms-and-conditions" class="text-dark">Terms &amp; Conditions</a></li>
                                    <li class="mb-2"><a href="/faq" class="text-dark">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Powered by</h5>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <img :src="images.adobodigital_logo" class="w-100 mb-4 adobodigital-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>
    import Nprogress from 'nprogress'
    import 'nprogress/nprogress.css'
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'
    
    const base_url = window.location.origin

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
      let user_parse = JSON.parse(local_storage)
      token = user_parse.token
      user_id = user_parse.id
    } else {
      token = ""
    }

    export default {
        name: 'ForgotPassword',
        components: {Nprogress,VueBootstrapTypeahead},
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png",
                    adm_logo_icon: base_url + "/img/thumbnail_Adobomall_logo-001.png",
                    cart_icon: base_url + '/img/bayong_cart.png',
                    enter_svg: base_url + '/img/enter.svg',
                    adobodigital_logo: base_url + '/img/adobodigital.png'
                },
                base_url: base_url,
                cart_count: 0,
                selected_categories: "all",
                categories: [],
                header_categories: [],
                mobile_header_categories: [],
                user_id: user_id,
                search_input: "",
                form: {
                    email: "",
                },
                error: null,
                category_hint: []
            }
        },
        mounted() {

            Nprogress.configure({
                speed: 3000,
                showSpinner: true,
                trickle: false,
                trickleSpeed: 100
            })

            Nprogress.start()
            this.getCategories()

            setTimeout(() => {
                document.querySelector('.input-group-prepend').style.width = '150px'
            }, 100)

            Nprogress.done()

            setTimeout(function() {
                this.user_id = user_id
            }, 1000)
        },
        updated() {
            $(document).on('keypress', (e) => {
                if (e.keyCode == 13) {
                    this.search()
                }
            })
        },
        methods: {
            redirectCategory() {
                window.location.href = base_url + "/category/" + this.selected_categories + "/sort/popular"
            },
            getCategories() {
                axios.get(base_url+'/web/getAllCategories')
                .then( response => {
                    if (response.status == 200) {
                        this.categories = response.data.data

                        var new_category = this.categories
                        for (var i = 0; i < new_category.length; i++) {
                            this.category_hint.push(new_category[i].name)
                        }
                        
                        this.header_categories = this.categories.slice(0,8)
                        this.mobile_header_categories = this.categories.slice(0,4)
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            search() {
                if (this.search_input != "") {
                    window.location.href = base_url + "/search?s="+this.search_input+"&category="+this.selected_categories+"&sort=popular"
                }
            },
            sendPasswordReset() {
                axios.post('/api/v1/customer/password/create', this.form)
                .then( response => {
                    if (response.status == 200) {
                        toastr.success(response.data.message)
                    }
                }).catch( error => {
                    // toastr.error("This activation code is invalid.")
                });
            },
        },
        computed: {

        }
    }
</script>