<style scoped>
    main {
        min-height: 100vh;
        margin-top: 170px;
    }

    .input-group-prepend {
        width: 150px;
    }

    .input-group-append {
        cursor: pointer;
    }

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
        text-transform: uppercase;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    #login-body {
        margin-top: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 50px 20px;
    }
    .caption {
        text-transform: uppercase;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: .03em;
        font-weight: 500;
        padding: 0 0 50px;
    }
    #login,
    #register {
        border: 1px solid #e9e7e7;
        padding: 32px 39px 20px;
        height: 100%;
        margin: auto;
        box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
    }
    #register .register-text,
    #login .login-text {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .register-text {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .register-subtext {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #777;
        margin-bottom: 1rem;
    }

    footer {
        background: #E5E5E5;
    }

    .hfooter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .seperate-text {
        width: 75px;
        background: #ffffff;
        margin: -15px 0 0 -38px;
        padding: 5px 0;
        position: absolute;
        top: 50%;
        text-align: center;
    }
    .hr {
        width:2px;
        height:150px;
        background-color:#DDDDDD;
        position:inherit;
        top:0px;
        left:50px;
        z-index:10;
    }

    #mobile_category {
        display: none;
    }

    .cart-icon {
        position:fixed;
        background:#d1242c;
        border-radius:50%;
        margin-left: 29px;
        top: 7px;
    }

    .btn-login,
    .btn-register {
        background: #0d75b2;
    }

    .btn-google {
        background: #d1242c !important;
    }

    .hr-mobile {
        display:  none;
    }

    .seperate-text-mobile {
        width: 75px;
        background: #ffffff;
        margin-top: 83px;
        padding: 5px 0;
        position: absolute;
        top: 50%;
        text-align: center;
    }

    @media screen and (max-width: 1006px) {
        .hr{
            display: none;
        }

        .hr-mobile {
            display:  flex;
            margin-bottom:  30px;
            align-items: center;
            justify-content: center;
        }
    }
</style>

<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <nav class="fixed-top bg-white border-bottom mb-5">
                <header class="container-fluid border-bottom text-center d-md-none">
                    <a href="/">
                        <img :src="images.adm_logo" class="mt-3 mb-3" style="width:150px">
                    </a>
                </header>
                <header class="container-fluid border-bottom">
                    <div class="row align-items-center justify-content-around mb-1">
                        <div class="col-md-2 col-1 d-md-block d-sm-none">
                            <router-link class="d-flex justify-content-center align-items-center" to="/">
                              <img :src="images.adm_logo" class="w-75 mt-3 mb-3 d-none d-md-block">
                            </router-link>
                        </div>
                       <div class="col-md-7 col-sm-8 my-2">
                            <vue-bootstrap-typeahead 
                                v-model="search_input"
                                :data="category_hint"
                                placeholder="Search in Adobomall"
                                class="search"
                                @hit="search()">
                                <template slot="prepend">
                                <select @change="redirectCategory()" v-model="selected_categories"
                                    class="form-control"
                                    style="border-radius: 0.25rem 0rem 0rem 0.25rem !important">
                                    <option class="dropdown-item"
                                        value="all" selected>All Categories
                                    </option>
                                    <option class="dropdown-item"
                                        v-for="(category,categoryIndex) in categories" :key="categoryIndex"
                                        :value="category.slug_name">
                                        <span v-if="category.parent_id != null">-</span>
                                        {{ category.name }}
                                    </option>
                                </select>
                                </template>
                                 <input v-model="search_input" placeholder="Search in Adobomall" id="search" name="search" class="header-search form-control border-right-0" @keyup.enter="search()">
                                <template slot="append">
                                    <div class="input-group-append" @click="search()">
                                        <span id="cart-count" class="input-group-text bg-white">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </template>
                            </vue-bootstrap-typeahead>
                       </div>
                       <div class="col-md-3 col-sm-4">
                          <div id="header-container" class="d-flex" style="justify-content:space-evenly;">
                              <div id="cart">
                                <router-link class="d-flex align-items-center text-dark" to="/cart">
                                    <img :src="images.cart_icon" class="mr-1 bayong-icon" style="width: 40px; height: 40px;">
                                    <span class="cart-icon badge badge-pill badge-danger">0</span>
                                </router-link>
                              </div>
                                <a class="login-icon" href="/login">
                                    <img class="d-block d-md-none" :src="images.enter_svg" alt="Login Icon" style="width:21px;margin-top:2px">
                                </a>
                              <div class="d-none d-md-block mt-1" v-if="user_id != 0">
                                  <router-link class="text-dark" style="font-size:15px" to="/profile">
                                    MY ACCOUNT
                                  </router-link>
                              </div>
                              <div class="d-none d-md-block mt-2" v-else>
                                <a href="/register" class="text-dark" style="font-size:15px"> REGISTER </a> | 
                                <a href="/login" class="text-dark" style="font-size:15px">LOG IN</a>
                              </div>
                          </div>
                       </div>
                    </div>
                 </header>
<!--                 <div class="container d-md-block">
                    <div class="row my-3">
                        <div id="web_category" class="col-md-3 col-3 mb-2" v-if="header_categories.length != 0" 
                             v-for="(hcategory,hcategoryIndex) in header_categories" 
                             :key="hcategoryIndex">
                            <a class="text-dark text-center text-uppercase" style="margin:auto;display: block;" 
                                :href="base_url+'/category/'+hcategory.slug_name">
                                {{ hcategory.name }}
                            </a>
                        </div>
                        <div id="mobile_category" class="col-md-3 col-3 mb-2" v-if="mobile_header_categories.length != 0"
                            v-for="(hcategory,hcategoryIndex) in mobile_header_categories"
                            :key="hcategory.id">
                            <a class="text-dark text-center text-uppercase" style="margin:auto;display: block;"
                                :href="base_url+'/category/'+hcategory.slug_name">
                                {{ hcategory.name }}
                            </a>
                        </div>
                    </div>
                </div> -->
              </nav>
            <main role="main">
                <div id="bread-header">
                    <div class="container">
                        <ul class="bread-nav">
                            <li class="bread-item">
                                <a href="/" class="bread-title">Home</a>
                            </li>
                            <li class="bread-item">
                                <a href="javascript:void(0)" class="bread-title">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row login-body mx-auto d-block mt-5">
                    <div class="header text-center">
                        <h1 class="caption">ALREADY REGISTERED?</h1>
                    </div>

                    <div class="col-md-7 mb-3 mx-auto">
                        <div id="login">
                            <h4 class="login-title text-uppercase">Sign-In to your account</h4>

                            <div class="row">
                                <div class="col-lg-5 mx-auto d-block">
                                    <div class="form-group">
                                        <label for="username">Email *</label>
                                        <input id="username" type="text" class="form-control" name="username" value="form.username" required v-model="form.username" required>

                                        <span class="invalid-feedback" role="alert">
                                            <!-- error message -->
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password *</label>
                                        <input @keyup.enter="authenticate()" id="password" type="password" class="form-control" name="password" required v-model="form.password">

                                        <span class="invalid-feedback" role="alert">
                                            <!-- error message -->
                                        </span>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="is_remember" name="is_remember">
                                        <label class="custom-control-label text-uppercase" for="is_remember">Remember me</label>
                                    </div>
                                    
                                    <div class="form-group mb-2">
                                        <button type="button" class="btn btn-sm btn-login btn-primary custom-primary" id="btn_login" @click="authenticate()">
                                            Login Account
                                        </button>

                                        <a class="float-right" style="font-size:12px;margin-top:5px" href="/password/create">Forgot your password?</a>
                                    </div>
                                </div>
                                
                                 <div class="col-lg-2 mb-3 mt-3">
                                    <div class="hr">
                                        <div class="seperator">
                                            <div class="seperate-text">
                                                OR
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-mobile" style="border: 1px solid #ddd;width: 100%">
                                    <div class="seperate-text-mobile">OR</div>
                                </div>

                                <div class="col-lg-5 align-middle">
                                    <h4 class="text-center text-uppercase">Sign-in Using: </h4>
                                    <button class="btn btn-sm btn-primary btn-block text-center" id="facebook" href="javascript:void(0)" @click="loginFacebook()">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>acebook</span>
                                    </button>
                                    <button class="btn btn-sm btn-google btn-danger btn-block text-center" id="google" href="javascript:void(0)" @click="loginGoogle()">
                                        <i class="fab fa-google"></i>
                                        <span>oogle</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 mb-2 mx-auto">
                        <div id="register">
                            <h2 class="register-title">New Customer</h2>
                            <p class="register-subtext">By creating an account, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>

                            <a href="/register" class="text-uppercase btn btn-sm btn-register btn-primary custom-primary">Create an account</a>
                        </div>
                    </div>

                </div>
            </main>

            <footer>
                <div class="container py-5 mt-5">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-3 mb-4"><img src="img/logo-adobomall.png" class="w-100 adm-logo"></div>
                        <div class="col-md-5 hfooter">
                            <div class="col-md-6 col-6">
                                <ul class="hfooterlinks pl-0 font-weight-bold h6" style="list-style-type: none;">
                                    <li class="mb-2"><a href="/" class="text-dark">Adobomall</a></li>
                                    <li class="mb-2"><a href="/contact-us" class="text-dark">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6">
                                <ul class="hfooterlinks pl-0 font-weight-bold h6" style="list-style-type: none;">
                                    <li class="mb-2"><a href="/privacy-policy" class="text-dark">Privacy Policy</a></li>
                                    <li class="mb-2"><a href="/terms-and-conditions" class="text-dark">Terms &amp; Conditions</a></li>
                                    <li class="mb-2"><a href="/faq" class="text-dark">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Powered by</h5>
                            <div class="row align-items-center">
                                <div class="col-md-6"><img :src="images.adobodigital_logo" class="w-100 mb-4 adobodigital-logo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>
    
    import {login} from '../../../helpers/auth'
    import Nprogress from 'nprogress'
    import 'nprogress/nprogress.css'
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'

    const base_url = window.location.origin

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
      let user_parse = JSON.parse(local_storage)
      token = user_parse.token
      user_id = user_parse.id
    } else {
      token = ""
    }

    export default {
        name: 'login',
        components: {VueBootstrapTypeahead},
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png",
                    adm_logo_icon: base_url + "/img/thumbnail_Adobomall_logo-001.png",
                    cart_icon: base_url + '/img/bayong_cart.png',
                    enter_svg: base_url + '/img/enter.svg',
                    adobodigital_logo: base_url + '/img/adobodigital.png'
                },
                base_url: base_url,
                cart_count: 0,
                selected_categories: "all",
                categories: [],
                header_categories: [],
                mobile_header_categories: [],
                user_id: user_id,
                search_input: "",
                form: {
                    username: "",
                    password: "",
                    is_customer: true,
                    isRemember: false,
                },
                isSocial: false,
                category_hint: []
            }
        },
        mounted() {

            Nprogress.configure({
                speed: 3000,
                showSpinner: true,
                trickle: false,
                trickleSpeed: 100
            })

            Nprogress.start()

            this.getCategories()

            setTimeout(() => {
                document.querySelector('.input-group-prepend').style.width = '150px'
            }, 100)

            Nprogress.done()

            setTimeout(function() {
                this.user_id = user_id
                $('.modal-backdrop').hide()
            }, 1000)
        },
        updated() {
            $(document).on('keypress', (e) => {
                if (e.keyCode == 13) {
                    this.search()
                }
            })
        },
        methods: {
            redirectCategory() {
                window.location.href = base_url + "/category/" + this.selected_categories + "/sort/popular"
            },
            getCategories() {
                axios.get(base_url+'/web/getAllCategories')
                .then( response => {
                    if (response.status == 200) {
                        this.categories = response.data.data

                        var new_category = this.categories
                        for (var i = 0; i < new_category.length; i++) {
                            this.category_hint.push(new_category[i].name)
                        }

                        this.header_categories = this.categories.slice(0,8)
                        this.mobile_header_categories = this.categories.slice(0,4)
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            search() {
                if (this.search_input != "") {
                    window.location.href = base_url + "/search?s="+this.search_input+"&category="+this.selected_categories+"&sort=popular"
                }
            },
            authenticate() {
                this.$store.dispatch('login');
                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit("loginSuccess", res)
                        const params = new URLSearchParams(window.location.search)
                        setTimeout(function() {
                            let redirect = '/'

                            if (params.get('redirect') != null) {
                                redirect = params.get('redirect')
                            }

                            window.location.href = redirect
                        }, 1000)
                    })
                    .catch((error) => {
                        this.$store.commit("loginFailed", {error})
                    });
            },
            loginFacebook() {
                window.location.href = "/login/facebook"

            },
            loginGoogle() {
                window.location.href = "/login/google"
            },
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    }
</script>