<template>
    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <!-- Default to the left -->
      <strong>Copyright &copy; 2022 <a href="#">Adobomall</a>.</strong> All rights reserved.
    </footer>
</template>

<script>
    export default {
        name: 'main-footer',
    }
</script>