<template>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="/merchant/dashboard" class="brand-link">
        <img :src="logo" alt="ADM 2.0 Logo" class="brand-image">
        <span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img :src="profile" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{ currentUser.store_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="/merchant/dashboard" class="nav-link active">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>           
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fab fa-product-hunt"></i>
                <p>
                  Product Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">                          
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant.categories' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-copyright"></i>
                    <p>
                      Categories
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant.product-sizes' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-text-height"></i>
                    <p>
                      Sizes
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant.products' }" class="pl-4 nav-link">
                    <i class="nav-icon fab fa-product-hunt"></i>
                    <p>
                      Products
                    </p>
                  </router-link>
                </li> 
              </ul>
            </li>   
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-cart-arrow-down"></i><i class=""></i>
                <p>
                  Order Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant.orders' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                      Orders
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>    
            <li class="nav-item">
              <router-link :to="{ name: 'merchant-courier' }" class="nav-link">
                <i class="nav-icon fas fa-shipping-fast"></i>
                <p>
                  Courier
                </p>
              </router-link>
            </li> 

            <li class="nav-item has-treeview menu-open">
              <a class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i><i class=""></i>
                <p>Report Management <i class="right fas fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant-report.sales' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>Sales Report</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant-report.status' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-sticky-note"></i>
                    <p>Status Report</p>
                  </router-link>
                </li>
              </ul>
            </li>   

            <li class="nav-item has-treeview menu-open">
              <a class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>
                  My Account
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'merchant.settings' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>Account Settings</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <a href="#" class="pl-4 nav-link" @click.prevent="logout">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                      Sign Out
                    </p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
</template>

<script>
    export default {
        name: 'side-nav',
        data() {
          return {
            logo: window.location.origin +'/img/logo-adobomall.png',           
            profile: window.location.origin +'/img/profile-pic.png',        
          }
        },
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/merchant/login');
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    };
</script>
<style lang="scss" scoped>
.brand-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px !important;
    max-height: 50px!important;
}
</style>