<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Pop-Up Banner</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Pop-Up Banner</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Pop-Up Banner {{ ads.title }}.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateBanner">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Title <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="ads.title" placeholder="Title">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="shortDesc" class="col-sm-4 col-form-label">Short Description </label>
		                    <div class="col-sm-8">
		                      <textarea class="form-control" v-model="ads.short_description" placeholder="Short Description"></textarea>
		                    </div>
		                  </div>	                  
		                  <div class="form-group row">
		                    <label for="link" class="col-sm-4 col-form-label">Link</label>
		                    <div class="col-sm-8">
		                      	<input type="text" class="form-control" v-model="ads.link" placeholder="Link">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="firstName" class="col-sm-4 col-form-label">Active</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="active" v-model="ads.active">
		                          <label for="active" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="link" class="col-sm-4 col-form-label">Banner <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                    	<div class="d-flex flex-column justify-content-center align-items-center preview mt-3" style="height:600px !important;">
									<img style="width: auto; height: 100%;" :src="ads.image_url">
									<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
									<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
								</div>
		                    </div>
		                  </div>
	                  	</div>                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  	<router-link :to="{ name: 'ads' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	</div>
</template>
<script>  
	import MediaLibrary from '../../../components/MediaLibrary';

    export default {
        name: "AddBanner",
        data() {
            return {
                ads: {
                	title: '',
                	short_description: '',
                	image_url: window.location.origin +'/storage/media_library/300x600.png',
                	link: '',
                	active: ''
                },
                error: null,
                isSingleSelect: false,
            }
        },

        created(){

        	var id = this.$route.params.id;
           	axios.get('/api/v1/ads/'+id)
        		.then(response => {
        			var ads = response.data.data;
        			this.ads.id = id;
        			this.ads.title = ads.title;
        			this.ads.short_description = ads.short_description;
        			this.ads.image_url = ads.image_url;
        			this.ads.link = ads.link;
        			this.ads.active = ads.active;
        		});

        },

        methods: {

        	updateBanner: function() {
				axios.put('/api/v1/ads/update', this.ads)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'ads'});
				});

        	},

        	addPrimaryImage: function() {
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    setPrimaryImage: function(params) {
		    	this.ads.image_url = params.file_url
		    }, 

		    setDefaultImage: function() {
		    	this.ads.image_url = window.location.origin +'/storage/media_library/300x600.png'
		    }
		  	
        },

        components: {
        	MediaLibrary
 	   	}

    };

</script>
<style lang="scss" scoped>
.preview {
    height: 250px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position:relative;
}

.preview span.edit {
    position:absolute;
    bottom: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 5px 0 5px;
    display:none;
}

.preview span.delete {
    position:absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 0 5px 0 5px;
    display:none;
}

.preview:hover span {
    display: block;
}
</style>