<style scoped>
    /*main {
        min-height: 100vh;
        margin-top: 150px;
    }*/
    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

    .bg-dark {
        background: #373f50 !important;
    }

    .font-size-base {
        font-size: 1rem !important;
    }

    .page-title-overlap {
        height: 190px;
    }

    .page-title-overlap+*{
        position: relative;
        margin-top: -4.875rem;
        z-index: 5;
    }

    .modal-media-img {
      border-radius: 50% !important;
      max-width: 100%;
      width: 200px;
      height: 200px;
      vertical-align: middle;
    }

    .sign-out,
    .btn-upload-photo,
    .btn-update {
        color: #fff;
        background: #0d75b2;
    }
</style>
<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <main role="main">
                <div class="page-title-overlap bg-dark pt-4">
                   <div class="container d-lg-flex align-items-baseline justify-content-between py-2 py-lg-3">
                      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                         <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
                               <li class="breadcrumb-item"><a href="/" class="text-nowrap"><i class="fa fa-home"></i> Home</a></li>
                               <li class="breadcrumb-item text-nowrap"><a href="/">Account</a></li>
                               <li class="breadcrumb-item text-nowrap"><a href="/">Profile Info</a></li>
                            </ol>
                         </nav>
                      </div>
                      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
                         <h1 class="h3 text-light mb-0">Profile Info</h1>
                      </div>
                   </div>
                </div>

                <div class="container pb-5 mb-2 mb-md-3">
                    <div class="row">
                        <side-nav :form="form" :page="'profile'"></side-nav>
                        <section class="col-lg-8">
                            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                                <h6 class="font-size-base text-light mb-0">Update your profile details below: </h6>
                                <a href="javascript:void(0)" class="btn sign-out btn-sm btn-primary custom-primary" @click="logout()">
                                    <i class="fa fa-sign-out-alt mr-2"></i> Sign Out
                                </a>
                            </div>
                            <div class="bg-secondary rounded-lg p-4 mb-4 d-none">
                               <div class="d-flex align-items-center">
                                  <img src="https://conservation-innovations.org/wp-content/uploads/2019/09/Dummy-Person.png" width="90" class="media-img"> 
                                  <div class="media-body pl-3">
                                     <button type="button" class="btn btn-light btn-shadow btn-sm mb-2">
                                     Change Avatar
                                     </button> 
                                     <div class="p mb-0 font-size-ms text-muted">
                                        Upload JPG or PNG image. 300 x 300 required.
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="first_name" class="form-control" required v-model="form.first_name">
                                    </div>
                               </div>
                               <div class="col-6">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" name="middle_name" class="form-control" v-model="form.middle_name">
                                    </div>
                               </div>
                               <div class="col-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" name="last_name" class="form-control" required v-model="form.last_name">
                                    </div>
                               </div>

                               <div class="col-6">
                                    <div class="form-group">
                                        <label>Suffix</label>
                                        <input type="text" name="suffix" class="form-control" v-model="form.suffix">
                                    </div>
                               </div>

                               <div class="col-6">
                                  <div class="form-group">
                                    <label>Email Address *</label>
                                    <input type="text" name="email" v-model="form.email" class="form-control"></div>
                               </div>

                               <div class="col-6">
                                    <div class="form-group"><label>Birthdate</label>
                                        <input type="date" name="birth_date" v-model="form.birth_date" class="form-control">
                                    </div>
                               </div>

                               <div class="col-6">
                                    <div class="form-group"><label>Gender</label>
                                        <select name="gender" class="form-control" v-model="form.gender">
                                            <option disabled selected>Please select...</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                               </div>

                               <div class="col-6">
                                    <div class="form-group"><label>Phone Number</label>
                                        <input type="text" name="phone_number" v-model="form.phone_number" class="form-control">
                                    </div>
                               </div>

                               <div class="col-6">
                                    <div class="form-group"><label>Mobile Number</label>
                                        <input type="text" name="mobile_number" v-model="form.mobile_number" class="form-control">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control" v-model="form.password">
                                    </div>
                                </div>
                                <div class="col-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" name="password_confirmation" class="form-control" v-model="form.password_confirmation">
                                </div>
                               </div>
                               <div class="col-12">
                                    <hr class="mt-2 mb-3">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <button class="btn btn-update btn-sm btn-primary mt-3 mt-sm-0 custom-primary" @click="updateProfile()">Update Profile</button>
                                  </div>
                               </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>

            <!-- Modal -->
            <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="photoModalLabel">Change Photo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="photo">Choose Photo</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="photo" v-on:change="changePhoto()" ref="photo">
                                        <label class="custom-file-label" for="photo">Choose photo</label>
                                    </div>
                                </div>
                            </div>
                            <img :src="preview_img || 'https://conservation-innovations.org/wp-content/uploads/2019/09/Dummy-Person.png'" class="modal-media-img mx-auto d-block" alt="Change Photo" style="border:5px solid #eee">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-sm btn-primary btn-upload-photo custom-primary" @click="uploadPhoto()">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideNav from '../../CustomerLayout/TheSideNav'
    const base_url = window.location.origin;

    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        components: {
            'side-nav': SideNav
        },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    suffix: "",
                    birth_date: "",
                    gender: "",
                    phone_number: "",
                    mobile_number: "",
                    image_url: "",
                    password: "",
                    password_confirmation: "",
                },
                error: null,
                user_id: user_id,
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()

            if (user_id == 0) {
                this.$router.push({ name: 'customer-login', query: { redirect: '/profile' } });
            }  else {
                this.getProfile()
            }
        },

        methods: {
            changePhoto() {
                const file = this.$refs.photo.files[0]
                this.preview_img = URL.createObjectURL(file) // preview image
            },
            uploadPhoto() {
              const config = {headers: { 'content-type': 'multipart/form-data' } }
              let formData = new FormData()

              formData.append('image_url', this.$refs.photo.files[0])
              formData.append('email', this.form.email)
              formData.append('name', this.form.name)
              formData.append('first_name', this.form.first_name)
              formData.append('middle_name', this.form.middle_name)
              formData.append('last_name', this.form.last_name)
              formData.append('suffix', this.form.suffix)
              formData.append('birth_date', this.form.birth_date)
              formData.append('gender', this.form.gender)
              formData.append('phone_number', this.form.phone_number)
              formData.append('mobile_number', this.form.mobile_number)
              formData.append('password', this.form.password)
              formData.append('password_confirmation', this.form.password_confirmation)

              axios.post(base_url+'/web/editProfile', formData, config)
                .then( response => {
                  if (response.status == 200) {
                    this.$refs.photo.value = ''
                    this.getProfile()
                    $('#photoModal').modal('toggle')
                    toastr.success(response.data.message)
                  }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            getProfile() {
                axios.post(base_url+'/web/getProfile')
                .then( response => {
                    if (response.status == 200) {
                        this.form = response.data.data
                        this.preview_img = this.form.image_url
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },

            updateProfile() {
                const config = {headers: { 'content-type': 'multipart/form-data' } }
                let formData = new FormData()

                formData.append('image_url', this.$refs.photo.files[0])
                formData.append('email', this.form.email)
                formData.append('name', this.form.name)
                formData.append('first_name', this.form.first_name)
                formData.append('middle_name', this.form.middle_name)
                formData.append('last_name', this.form.last_name)
                formData.append('suffix', this.form.suffix)
                formData.append('birth_date', this.form.birth_date)
                formData.append('gender', this.form.gender)
                formData.append('phone_number', this.form.phone_number)
                formData.append('mobile_number', this.form.mobile_number)
                formData.append('password', this.form.password)
                formData.append('password_confirmation', this.form.password_confirmation)

                axios.post(base_url+'/web/editProfile', formData, config)
                .then( response => {
                    if (response.status == 200) {
                      this.$refs.photo.value = ''
                      this.getProfile()
                      toastr.success(response.data.message)
                        // return this.$store.getters.currentUser
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            logout() {
                this.$store.commit('logout');
                this.$router.push('/');
            }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            }
        }
    }
</script>