<style scoped>
  /*  main {
        min-height: 100vh;
        margin-top: 150px;
    }*/
    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

    .bg-dark {
        background: #373f50 !important;
    }

    .font-size-base {
        font-size: 1rem !important;
    }

    .page-title-overlap {
        height: 190px;
    }

    .page-title-overlap+*{
        position: relative;
        margin-top: -4.875rem;
        z-index: 5;
    }

    .mpic-side {
        box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%) !important;
        padding: 1.875rem 1.875rem;
        border-radius: .4375rem !important;
        width: 100%;
        max-width: 22rem;
        background-color: #fff;
    }

    .media {
        position: relative !important;
        border-radius: 50% !important;
        padding: 1.5px;
        background-color: #fff;
        border: 1px solid #e3e9ef;
        box-shadow: none;
        max-width: 100%;
        width: 100px;
        height: 100px;
    }

    .media-img {
        border-radius: 50% !important;
        max-width: 100%;
        width: 100px;
        height: 100px;
        vertical-align: middle;
    }

    .media-img:hover {
        cursor: pointer;
        filter: grayscale(100%);
    }

    .media-body {
        flex: 1;
    }

    .modal-media-img {
        border-radius: 50% !important;
        max-width: 100%;
        width: 200px;
        height: 200px;
        vertical-align: middle;
    }

    .media-body > h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .media-body > span {
        font-size: .875rem !important;
        color: #4e54c8 !important;
    }

    .bg-secondary {
        background-color: #f6f9fc !important;
    }
    .bg-secondary,
    .bg-secondary>a {
        color: #fff!important;
    }
    .font-size-sm {
        font-size: .875rem !important;
    }
    .text-muted {
        color: #6c757d!important;
    }

    .active{
        color: #182A84 !important;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .nav-link-style {
        color: #4b566b;
        text-decoration: none;
        font-size: 1rem;
    }

    .form-group > label {
        font-weight: bold !important;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	    color: black;
	    background-color: transparent;
	    border-bottom: 2px solid #182A84;
	    border-radius: 0;
	}

	.nav-pills .nav-link {
	    border-radius: 0.25rem;
	    text-transform: uppercase;
	    font-size: 14px;
	}

	hr {
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	    border: 0;
	    border-top: 1px solid rgba(0,0,0,.1);
	}

    .vue-star-rating {
        display: inline !important;
        align-items: center !important;
    }

    .product-description {
        list-style-type: none;
    }

    .btn-add-to-cart,
    .sign-out {
        color: #fff;
        background: #0d75b2;
    }


    .btn-delete-wishlist {
        color: #fff;
        background: #d1242c;
    }
</style>
<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <main role="main">
                <div class="page-title-overlap bg-dark pt-4">
                   <div class="container d-lg-flex align-items-baseline justify-content-between py-2 py-lg-3">
                      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                         <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
                               <li class="breadcrumb-item"><a href="/" class="text-nowrap"><i class="fa fa-home"></i> Home</a></li>
                               <li class="breadcrumb-item text-nowrap"><a href="/">Account</a></li>
                               <li class="breadcrumb-item text-nowrap"><a href="/">Wishlist</a></li>
                            </ol>
                         </nav>
                      </div>
                      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
                         <h1 class="h3 text-light mb-0">My Wishlists</h1>
                      </div>
                   </div>
                </div>
                <div class="container pb-5 mb-2 mb-md-3">
                    <div class="row">
                        <side-nav :form="form" :page="'wishlist'"></side-nav>
                        <section class="col-lg-8">
                            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                                <h6 class="font-size-base text-light mb-0">Ready to buy your wishlist? </h6>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary sign-out custom-primary" @click="logout()">
                                    <i class="fa fa-sign-out-alt mr-2"></i> Sign Out
                                </a>
                            </div>
                            <div v-if="wishlist.length != 0" v-for="(wishlist,wishlistIndex) in wishlists" :key="wishlistIndex">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4">
                                        <img :src="wishlist.product_details.primary_photo" class="img-fluid rounded mx-auto d-block mb-2" alt="wishlist.product_details.name"/>
                                    </div>
                                    <div class="col-md-6 col-sm-4">
                                        <ul class="product-description">
                                            <li><h6><b>{{ wishlist.product_details.name }}</b></h6></li>
                                            <li class="mb-2">
                                                <star-rating
                                                :rating="parseInteger(wishlist.product_details.average_rating)"
                                                :show-rating="false"
                                                :read-only="true"
                                                :increment="0.01"
                                                :star-size="17">
                                                </star-rating>
                                            </li>
                                            <li>
                                                Price:
                                                <span v-if="wishlist.product_details.selling_price != 0">
                                                    <s>
                                                        PHP 
                                                        {{ wishlist.product_details.base_price }}
                                                    </s>
                                                </span>
                                                <span v-else>{{ wishlist.product_details.base_price }}</span>
                                            </li>
                                            <li v-if="wishlist.product_details.selling_price != 0">
                                                Sale Price: PHP {{ wishlist.product_details.selling_price }}
                                            </li>
                                            <li v-else></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <p class="text-right">Product added: {{ moment(wishlist.created_at) }}</p>
                                        <button class="btn btn-sm btn-delete-wishlist btn-danger float-right mb-2 custom-secondary" @click="deleteWishlist(wishlist.id)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                        <button class="btn btn-sm btn-add-to-cart float-right mr-2 mb-2 custom-primary" @click="addToCart(wishlist.id)">Add to My Bayong<sup style="font-size:8px">TM</sup></button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="text-center" v-else>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="mt-5">No wishlist found.</h4>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import SideNav from '../../CustomerLayout/TheSideNav'
    import StarRating from 'vue-star-rating'
    import moment from 'moment'

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        components: {
            'side-nav': SideNav,
            StarRating,
            moment
        },
        data() {
            return {
            	orders: [],
				isLoading: false,
				page: 1,
                status: 0,
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    suffix: "",
                    birth_date: "",
                    phone_number: "",
                    mobile_number: "",
                    image_url: "",
                    password: "",
                    password_confirmation: "",
                    token: token
                },
                wishlists: [],
                wishlist: [],
                cart: {},
                error: null,
                user_id: user_id
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()
            // this.form = this.$store.getters.currentUser
            if (user_id == 0) {
                this.$router.push({ name: 'customer-login', query: { redirect: '/wishlist' } });
            }  else {
                this.getProfile()
                this.getWishlists()
            }
        },
        updated() {
        },
        methods: {
            parseInteger(num_val) {
                return parseInt(num_val)
            },
            moment(date) {
                return moment(date, 'YYYY-MM-DD').format('LL')
            },
            getProfile() {
                axios.post(base_url+'/web/getProfile', this.details)
                .then( response => {
                    if (response.status == 200) {
                        this.form = response.data.data
                        this.preview_img = this.form.image_url
                        // return this.$store.getters.currentUser
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            addToCart(id) {
                axios.get('web/getWishItem/'+id)
                .then( response => {
                    if (response.status == 200) {
                        this.wishlist = response.data.data

                        for (let item in this.wishlist) {
                            this.cart.customer_id = user_id
                            this.cart.product_id = this.wishlist[item]['product_id']
                            this.cart.merchant_id = this.wishlist[item]['product_details']['merchant_id']
                            this.cart.category_id = this.wishlist[item]['product_details']['category_id']
                            this.cart.brand_id = this.wishlist[item]['product_details']['brand_id']
                            this.cart.size_id = this.wishlist[item]['product_details']['sizes'][0]['id']
                            // this.cart.variant_ids = this.wishlist[item]['product_details']['variants'][0]['items'][0]['id']
                            // this.cart.addons_ids = this.wishlist[item]['product_details']['addons'][0]['items'][0]['id']
                            this.cart.qty = 1
                            this.cart.base_price = this.wishlist[item]['product_details']['base_price']
                            this.cart.sale_price = this.wishlist[item]['product_details']['selling_price']
                            this.cart.checked = 0
                            this.cart.shipping_fee = 0
                            this.cart.special_instructions = "From wishlist"
                        }

                        axios.post('web/storeToCart', this.cart)
                        .then( response => {
                            if (response.status == 200) {
                                // bus.$emit('countCart', response.data.data)
                                toastr.success(response.data.message)
                                location.reload()
                            }
                        }).catch( error => {
                            toastr.error(error.data.message)
                        });
                    }
                });
            },
            getWishlists() {
                axios.get('web/getWishlists/'+user_id)
                .then( response => {
                    if (response.status == 200) {
                        this.wishlists = response.data.data
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            deleteWishlist(id) {
                axios.get('web/deleteWishlist/'+id)
                .then( response => {
                    if (response.status == 200) {
                        toastr.success(response.data.message)
                        this.getWishlists()

                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },
            logout() {
                this.$store.commit('logout')
                this.$router.push('/login')
            }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            }
        }
    }
</script>