<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Product Size</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Product Size</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Product Size {{ size.name }}.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateProductSize">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Size Name <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="name" v-model="size.name" placeholder="Size Name">
		                    </div>
		                  </div>	                  
	                  	</div>	                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'product-sizes' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
    export default {
        name: "EditBrand",
        data() {
            return {
                size: {
                	id: '',
                	name: '',
                },
                error: null,
            }
        },
        created(){
			var id = this.$route.params.id;
           	axios.get('/api/v1/product-size/'+id)
        		.then(response => {
        			var size = response.data.data;
        			this.size.id = id;
        			this.size.name = size.size;
        		});
        },
        methods: {
        	updateProductSize: function() {
				axios.put('/api/v1/product-size/update', this.size)
		            .then(response => {
                        toastr.success(response.data.message)
		                this.$router.push({name: 'product-sizes'});
		            })
        	}
        }

    };
</script>