<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Voucher</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Voucher</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Voucher {{ voucher.title }}.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateVoucher">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Voucher Title <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="voucher.title" placeholder="Title">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Voucher Code <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="voucher.code" placeholder="Voucher Code">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="shortDesc" class="col-sm-4 col-form-label">Description </label>
		                    <div class="col-sm-8">
		                      <textarea class="form-control" v-model="voucher.description" placeholder="Short Description"></textarea>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Discount In Percentage</label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="voucher.discount_percent" placeholder="0.000">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Discount In Price</label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="voucher.discount_price" placeholder="0.00">
		                    </div>
		                  </div>
			              <div class="form-group row">
		                    <label for="permitDate" class="col-sm-4 col-form-label">Start Date:</label>
		                    <div class="col-sm-8">
		                    	<date-picker v-model="voucher.start_date" placeholder="YYYY-MM-DD" :config="options" id="start_date"></date-picker>
		                    </div>
			              </div>		                  	                  
			              <div class="form-group row">
		                    <label for="permitDate" class="col-sm-4 col-form-label">End Date:</label>
		                    <div class="col-sm-8">
		                    	<date-picker v-model="voucher.end_date" placeholder="YYYY-MM-DD" :config="options" id="end_date"></date-picker>
		                    </div>
			              </div>
			              <div class="form-group row">
		                    <label for="Merchant" class="col-sm-4 col-form-label">Merchant</label>
		                    <div class="col-sm-8">
		                    	<select class="custom-select select2bs4" v-model="voucher.merchant_id">
		                      		<option value="">Select Merchant</option>
		                      		<option v-for="merchant in merchants" :value="merchant.id">{{ merchant.details.store_name }}</option>
		                        </select>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Stock</label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="voucher.voucher_stock" placeholder="0">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="active" class="col-sm-4 col-form-label">Is Unlimited</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="active" v-model="voucher.is_unlimited">
		                          <label for="active" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="active" class="col-sm-4 col-form-label">Active</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="active" v-model="voucher.active">
		                          <label for="active" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>
	                  	</div>                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  	<router-link :to="{ name: 'voucher' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';

    export default {
        name: "EditVoucher",
        data() {
            return {
                voucher: {
                	title: '',
                	code: '',
                	description: '',
                	discount_percent: '',
                	discount_price: '',
                	start_date: '',
                	end_date: '',
                	merchant_id: '',
                	voucher_stock: '',
                	is_unlimited: '',
                	active: '',
                },
                error: null,
                options: {
		          format: 'YYYY-MM-DD',
		          useCurrent: false,
		        },
		        merchants: [],
            }
        },

        created(){

        	var id = this.$route.params.id;
           	axios.get('/api/v1/voucher/'+id)
        		.then(response => {
        			var voucher = response.data.data;
        			this.voucher.id = id;
        			this.voucher.title = voucher.title;
        			this.voucher.code = voucher.code;
        			this.voucher.description = voucher.description;
        			this.voucher.discount_percent = voucher.discount_percent;
        			this.voucher.discount_price = voucher.discount_price;
        			this.voucher.start_date = voucher.start_date;
        			this.voucher.end_date = voucher.end_date;
        			this.voucher.merchant_id = voucher.merchant_id;
        			this.voucher.voucher_stock = voucher.voucher_stock;
        			this.voucher.is_unlimited = voucher.is_unlimited;
        			this.voucher.active = voucher.active;
        		});


           	axios.get('/api/v1/merchant/getDropdown')
        		.then(response => this.merchants = response.data.data);
        		
        },

        methods: {

        	updateVoucher: function() {

				axios.put('/api/v1/voucher/update', this.voucher)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'voucher'});
				});

        	},
        },

        components: {
        	Table
 	   	}

    };

</script>