<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Vouchers <router-link :to="{ name: 'voucher.add' }" class="btn btn-outline-primary btn-sm">Add New</router-link></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Voucher</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "FlashSale",
        data() {
            return {
            	dataFields: {
            		title: "Title", 
                    code: "Code", 
            		description: "Descriptions", 
                    discount_percent: "Discount Percent", 
                    discount_price: "Discount Price", 
                    voucher_stock: "Stock", 
            		is_unlimited: {
            			name: "Unlimited", 
            			type:"Boolean", 
            			status: { 
            				0: '<span class="badge badge-danger">False</span>', 
            				1: '<span class="badge badge-info">True</span>'
            			}
            		},
                    start_date: "Start Date", 
                    end_date: "End Date", 
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/voucher/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this Voucher',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'voucher.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'link'
            		},
            		delete: {
            			title: 'Delete this Voucher',
            			name: 'Delete',
            			apiUrl: '/api/v1/voucher/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	}
            };
        },        
        components: {
        	Table
 	   }
    };
</script>