<template>
  <div>
    <form class="form-horizontal">
      <!-- card start -->
      <div class="card card-secondary">
        <!-- card header -->
        <div class="card-header">
          <h3 class="card-title">User Credentials</h3>
        </div>
        <!-- end card header -->
        <!-- card body -->
        <div class="card-body">          
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">User Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="username" placeholder="User Name" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="Password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="Password" class="form-control" id="password_c" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- card end -->

      <!-- card start -->
      <div class="card card-secondary">
        <!-- card header -->
        <div class="card-header">
          <h3 class="card-title">User Details</h3>
        </div>
        <!-- end card header -->
        <!-- card body -->
        <div class="card-body">
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Profile Picture</label>
            <div class="col-sm-9">
              <button type="button" class="btn btn-secondary">
                <i class="nav-icon fas fa-photo-video"></i> Add Photo
              </button>
            </div>
          </div>          
          <div class="form-group row">
            <label for="inputName2" class="col-sm-3 col-form-label">Full Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputExperience" class="col-sm-3 col-form-label">Contact Info.</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="mobile_no" placeholder="Mobile Number">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="phone_no" placeholder="Phone Number">
            </div>
          </div>  
          <div class="form-group row">
            <label for="inputExperience" class="col-sm-3 col-form-label">Address 1</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="address" placeholder="Home Address"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputExperience" class="col-sm-3 col-form-label">Address 2</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="address" placeholder="Home Address"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputExperience" class="col-sm-3 col-form-label">City</label>
            <div class="col-sm-9">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputExperience" class="col-sm-3 col-form-label">State</label>
            <div class="col-sm-9">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- card end -->
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>  
    export default {
        name: "form-settings",
        data() {
            return {
                form: {
                },
                error: null
            };
        },
        methods: {
        },
        computed: {
          currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>