<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Profile</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">User Profile</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-3">

	            <!-- Profile Image -->
	            <div class="card card-primary card-outline">
	              <div class="card-body box-profile">
	                <div class="text-center">
	                  <img class="profile-user-img img-fluid img-circle"
	                       src="bower_components/admin-lte/dist/img/user4-128x128.jpg"
	                       alt="User profile picture">
	                </div>

	                <h3 class="profile-username text-center">{{ currentUser.name }}</h3>

	                <p class="text-muted text-center">Software Engineer</p>

	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->

	            <!-- About Me Box -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h3 class="card-title">Permissions Assigned</h3>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body">

	              	<template v-for="role in currentUser.roles">
		                <strong><i class="fas fa-user-check"></i> {{ role.name }}</strong>
		                <hr>
					</template>

	                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

	                <p class="text-muted">User permission and access level.</p>
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	          <!-- /.col -->
	          <div class="col-md-9">
	            <div class="card">
	              <div class="card-header p-2">
	                <ul class="nav nav-pills">
	                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
	                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
	                </ul>
	              </div><!-- /.card-header -->
	              <div class="card-body">
	                <div class="tab-content">
	                  <div class="active tab-pane" id="activity">
	                    <activityPost></activityPost>
	                  </div>

	                  <div class="tab-pane" id="settings">
	                    <formSettings></formSettings>
	                  </div>
	                  <!-- /.tab-pane -->
	                </div>
	                <!-- /.tab-content -->
	              </div><!-- /.card-body -->
	            </div>
	            <!-- /.nav-tabs-custom -->
	          </div>
	          <!-- /.col -->
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import formSettings from './FormSettings.vue';
	import activityPost from './ActivityPost.vue';

    export default {
        name: "MyAccount",
        data() {
            return {
                form: {
                },
                error: null
            };
        },
        methods: {
        },
        computed: {
        	currentUser() {
                return this.$store.getters.currentUser
            }
        },
        components: {
	        formSettings,
	        activityPost
 	   }
    }
</script>