<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New User</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New User</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Create a brand new user and add them to this site.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeUser">
	                <div class="card-body">
	                  <div class="form-group row">
	                    <label for="userName" class="col-sm-2 col-form-label">Username <span class="font-italic">(required)</span></label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="userName" v-model="user.userName" placeholder="Username">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="email" class="col-sm-2 col-form-label">Email<span class="font-italic"> (required)</span></label>
	                    <div class="col-sm-5">
	                      <input type="email" class="form-control" id="email" v-model="user.email" placeholder="Email">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="firstName" v-model="user.firstName" placeholder="First Name">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="lastName" v-model="user.lastName" placeholder="Last Name">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
	                    <div class="col-sm-5">
	                      <button type="button" class="btn btn-block btn-outline-info btn-sm" v-show="displayButton" @click="showPassword">Show password</button>
	                      
	                      <div class="input-group mb-3" v-show="displayPassword">
							  <input 
								  type="text" 
								  v-model="user.password" 
								  id="password" 
								  class="form-control" 
								  aria-label="Sizing example input" 
								  aria-describedby="inputGroup-sizing-sm">

							  <div class="input-group-append">							    
							    <button class="btn btn-outline-secondary" type="button" @click="showPassword"><i class="fas fa-sync-alt"></i></button>
							  </div>

							</div>
	                    </div>
	                    <div class="col-sm-1">
	                     	<button type="button" class="btn btn-block btn-outline-secondary btn-sm" v-show="displayPassword" @click="cancelPassword" style="margin-top: 4px;">Cancel</button>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputPassword3" class="col-sm-2 col-form-label">Send User Notification</label>
	                    <div class="col-sm-5">
	                    	<div class="custom-control custom-checkbox">
	                          <input class="custom-control-input" type="checkbox" id="emailNotification" v-model="user.emailNotification" checked="">
	                          <label for="emailNotification" class="custom-control-label font-normal">Send the new user an email about their account.</label>
	                        </div>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputPassword3" class="col-sm-2 col-form-label">Role</label>
	                    <div class="col-sm-5">
	                      	<select class="custom-select" v-model="user.role">
	                      		<option v-for="role in roles" :value="role.id">{{ role.name }}</option>
	                        </select>
	                    </div>
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  <router-link :to="{ name: 'users' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  <button type="submit" class="btn btn-info">Add New User</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Form from '../../../helpers/form';
	import { generatePassword } from '../../../helpers/generatePassword';

    export default {
        name: "AddUser",
        data() {
            return {
                user: {
                	userName: '',
                	email: '',
                	firstName: '',
                	lastName: '',                	
                	password: '',
                	emailNotification: '',
                	role: ''
                },
                error: null,
                displayPassword: false,
                displayButton: true,
                roles: []
            };
        },
        created(){
           	axios.get('/api/v1/role/list')
        		.then(response => this.roles = response.data.data.data);
        },
        methods: {
        	showPassword: function() {
        		this.user.password = generatePassword(15);
        		this.displayPassword = true;
        		this.displayButton = false;
        	},
        	cancelPassword: function() {
        		this.displayPassword = false;
        		this.displayButton = true;
        	},
        	storeUser: function() {
				axios.post('/api/v1/user/store', this.user)
		            .then(response => {
		            	toastr.success(response.data.message)
		                this.$router.push('/admin/users');
		            })
        	}
        }

    };
</script>