<template>
    <div id="login-container" class="login-page">
      <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

            <form @submit.prevent="authenticate">
              <div class="input-group mb-3">
                <input type="email" v-model="form.email" class="form-control" placeholder="Email Address">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                </div>
                <!-- /.col -->
              </div>
            </form>

            <p class="mt-3 mb-1">
              <router-link to="/kcms-login">Login</router-link>
            </p>
          </div>
          <!-- /.login-card-body -->
        </div>
      <!-- /.login-box -->
    </div>
  </div>
</template>

<script>
    import {login} from '../../../helpers/auth';
    
    export default {
        name: "ForgotPassword",
        data() {
            return {
                form: {
                    email: '',
                },
                error: null
            };
        },
        methods: {
          authenticate() {
                this.$store.dispatch('forgotPassword');

                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit("forgotSuccess", res);
                        this.$router.push({path: '/'});
                    })
                    .catch((error) => {
                        this.$store.commit("forgotFailed", {error});
                    });
            }
        },
        computed: {
        }
    }
</script>