<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Orders</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Orders</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	      	<div class="card">
    			<div class="card-body">	
    				<div class="row mb-2">
			            <div class="col-md-4 d-flex align-items-center">
			                Bulk:
			                <select v-model="bulkStatus" class="custom-select custom-select-sm form-control form-control-sm" style="margin-left: 0.5em; margin-right: 0.5em;">
			                    <option value="0" selected>Select Action</option>
			                    <option v-for="(stat, index) in statuses" v-bind:key="index" :value="stat.id">
			                    	{{ stat.status }}
			                    </option>
			                </select>
			                <button class="btn btn-info btn-sm" @click="updateOrders">Apply</button>
			            </div>
			        </div>
    			</div>
			</div>	      	
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
			          	:checkBox="checkBox"
			          	:checkedIds="orderIds"
			          	v-on:showModal="orderModal"
			          	ref="dataTable"
                        :downloadCsvWithFilter="downloadCsvWithFilter"
                        v-on:getSelectedItems="getChecked">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <!-- Modal -->
		<div class="modal fade" id="orderDetails" tabindex="-1" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group row">
	                <label for="banner" class="col-sm-3">Product Name:</label>
	                <div class="col-sm-8">
	                	<span>{{ orderDetails.product_name }}</span>	                  
	                </div>
	            </div>
	            <div class="form-group row" v-if="orderDetails.size_name">
	                <label for="banner" class="col-sm-3">Size:</label>
	                <div class="col-sm-8">	
	                	<span>{{ orderDetails.size_name }}</span>
	                </div>
	            </div>
	            <div class="form-group row" v-if="orderVariants.length > 0">
	                <label for="banner" class="col-sm-3">Variant/s:</label>
	                <div class="col-sm-8">
	                	<div v-for="item in orderVariants" style="width:100%;">
							<div><span>{{ item.variant }}</span></div>
							<div v-for="gallery in item.image_gallery" class="image-thumb">
								<img :src="gallery.image" style="width:100%;">
							</div>               		
	                	</div>
	                </div>
	            </div>
	            <div class="form-group row" v-if="orderAddOns.length > 0">
	                <label for="banner" class="col-sm-3">AddOn/s:</label>
	                <div class="col-sm-8">
	                	<div v-for="item in orderAddOns" style="width:100%;">
							<div><span>{{ item.addon }}</span></div>             		
	                	</div>
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="banner" class="col-sm-3">Qty:</label>
	                <div class="col-sm-8">
	                	<span>{{ orderDetails.qty }}</span>
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="banner" class="col-sm-3">Total Price:</label>
	                <div class="col-sm-8">
	                	<span><strong>{{ orderDetails.grand_total }}</strong></span>
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="banner" class="col-sm-3">Customer Name:</label>
	                <div class="col-sm-8">	
	                	<span>{{ orderCustomer.contact_name }}</span>
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="banner" class="col-sm-3">Customer Email:</label>
	                <div class="col-sm-8">	
	                	<span>{{ orderCustomer.email }}</span>
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="banner" class="col-sm-3">Mobile Number:</label>
	                <div class="col-sm-8">	
	                	<span>{{ orderCustomer.mobile_number }}</span>
	                </div>
	            </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" @click="moveToProcessing(orderDetails.id)">Move to Processing</button>
		        <button type="button" class="btn btn-primary" @click="moveToPickedUp(orderDetails.id)">Move to Picked-Up</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>
<script>  
	import Table from '../../../components/Table-v2';
    export default {
        name: "Orders",
        data() {
            return {
            	dataFields: {
            		order_number: "Order #", 
                    order_date: "Order Date", 
                    customer_name: "Buyer Name", 
                    email: "Buyer Email", 
                    product_name: "Product Name", 
                    payment_type: "Payment Type",
                    status: "Status", 
                    size_name: "Size", 
            		product_image: {
            			name: "Image", 
            			type: "image",
            		},
                    total_price: "Total Price",
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/merchant/orders/list",
            	actionButtons: {
                    show: {
                        title: 'Show Details',
                        name: 'Show',
                        apiUrl: '',
                        routeName: '',
                        button: '<i class="fas fa-search"></i> Show Details',
                        method: 'modal'
                    },
            	},
                orderIds: [],
            	orderDetails: '',
            	orderVariants: '',
            	orderBrand: '',
            	orderAddOns: '',
            	orderCustomer: '',
                downloadCsvWithFilter: "/api/v1/merchant/orders/downloadCsv",
                checkBox: true,   
                statuses: [],
                bulkStatus: 0,
            };
        },

        created(){ 
        	axios.get('/api/v1/merchant/orders/list-statuses')
        		.then(response => {
        			this.statuses = response.data.data;
        		});
        },

        methods: {
        	orderModal: function(id) {
	           	axios.get('/api/v1/merchant/orders/'+id)
	        		.then(response => {
	        			this.orderDetails = response.data.data;
	        			this.orderVariants = this.orderDetails.variants;
	        			this.orderBrand = this.orderDetails.brand;
	        			this.orderAddOns = this.orderDetails.addOns;
	        			this.orderCustomer = this.orderDetails.customer_address;
	        			$('#orderDetails').modal('show');
	        		});
        	},

        	moveToProcessing: function(id) {
        		var param = {
        			'id': id,
        			'status': 2
        		};
        		axios.post('/api/v1/merchant/orders/update', param)
				.then( response => {
	            	toastr.success(response.data.message);
	            	this.$refs.dataTable.fetchData();
	            	$('#orderDetails').modal('hide');
				});
        	},

        	moveToPickedUp: function(id) {
        		var param = {
        			'id': id,
        			'status': 17
        		};
        		axios.post('/api/v1/merchant/orders/update', param)
				.then( response => {
	            	toastr.success(response.data.message);
	            	this.$refs.dataTable.fetchData();
	            	$('#orderDetails').modal('hide');
				});
        	},
        	
        	getChecked: function(id,checked) {        		
        		if(checked == 'checked') {
	        		this.orderIds.push(id);
        		}
        		else {
        			this.orderIds.splice(this.orderIds.indexOf(event), 1);
        		}
        	},

        	updateOrders: function() {
				var param = {
        			'ids': this.orderIds,
        			'status': this.bulkStatus
        		};
        		axios.post('/api/v1/merchant/orders/update-statuses', param)
				.then( response => {
	            	toastr.success(response.data.message);
	            	this.$router.go();
				});

        	},

        },

        components: {
        	Table
 	   }
    };
</script>

<style lang="scss" scoped>
	span {
		font-size: 1.0rem;
    	font-weight: 500;
	}

	strong {
		font-weight: 700;
	}

    .image-thumb {
    	width: 100px;
	    display: inline-block;
	    margin: 5px;
    }
</style>