<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New Product</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New Product</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Create a brand new product and add them to this site.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeProduct">
	              	<ul class="nav nav-pills p-2 mb-1" role="tablist">
						<li class="nav-item"><a @click="changeTab('basic')" class="nav-link arrow active" href="#basic" id="basic_tab" data-toggle="tab"><strong>Basic Info.</strong></a></li>
						<li class="nav-item"><a @click="changeTab('variants')" class="nav-link arrow" href="#variants" id="variants_tab" data-toggle="tab"><strong>Variants</strong></a></li>
						<li class="nav-item"><a @click="changeTab('addons')" class="nav-link arrow" href="#addons" id="addons_tab" data-toggle="tab"><strong>Add Ons</strong></a></li>
						<li class="nav-item"><a @click="changeTab('other')" class="nav-link arrow" href="#otherInfo" id="otherInfo_tab" data-toggle="tab"><strong>Other Info.</strong></a></li>
						<li class="nav-item"><a class="nav-link arrow last-child" href="#inventories" id="inventories_tab" data-toggle="tab" @click="setInventory,changeTab('inventories')"><strong>Inventories</strong></a></li>
					</ul>

	                <div class="card-body">
	                	<div class="tab-content">
	                		<!-- start basic tab -->
                  			<div class="active tab-pane" id="basic" role="tabpanel">

                  				<div class="row">
	                  				<div class="col-md-8">

		              				  <div class="form-group row">
					                    <label for="userName" class="col-sm-4 col-form-label">Product SKU <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-8">
					                      <input type="text" class="form-control" id="sku" v-model="product.sku" placeholder="Product SKU">
					                    </div>
					                  </div>

					                  <div class="form-group row">
					                    <label for="userName" class="col-sm-4 col-form-label">Product Name <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-8">
					                      <input type="text" class="form-control" id="name" v-model="product.name" placeholder="Product Name">
					                    </div>
					                  </div>

					                  <div class="form-group row">
					                    <label for="userName" class="col-sm-4 col-form-label">Product Description <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-8">
					                    	<textarea class="form-control" rows="3" id="description" v-model="product.description" placeholder="Product Description"></textarea>
					                    </div>
					                  </div>

					                  <div class="form-group row">
					                    <label for="inputPassword3" class="col-sm-4 col-form-label">Merchant<span class="font-italic"> (required)</span></label>
					                    <div class="col-sm-8">
					                      	<select class="custom-select select2bs4" v-model="product.merchant_id" @change="onChangeCategories($event)">
					                      		<option value="">Select Merchant</option>
					                      		<option v-for="merchant in merchants" :value="merchant.id">{{ merchant.details.store_name }}</option>
					                        </select>
					                    </div>
					               	  </div>

					                  <div class="form-group row">
					                    <label for="inputPassword3" class="col-sm-4 col-form-label">Category<span class="font-italic"> (required)</span></label>
					                    <div class="col-sm-8">
					                      	<select class="custom-select select2bs4" v-model="product.category_id">
					                      		<option value="">Select Category</option>
					                      		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
					                        </select>
					                    </div>
					               	  </div>

					                  <div class="form-group row">
					                    <label for="inputPassword3" class="col-sm-4 col-form-label">Brand</label>
					                    <div class="col-sm-8">
					                      	<select class="custom-select select2bs4" v-model="product.brand_id">
					                      		<option value="">Select Brand</option>
					                      		<option v-for="brand in brands" :value="brand.id">{{ brand.name }}</option>
					                        </select>
					                    </div>
					               	  </div>

					               	  <div class="form-group row">
						                    <label for="inputPassword3" class="col-sm-4 col-form-label">Tags</label>
						                    <div class="col-sm-8">
						                        <v-select 
							                        taggable
							                        push-tags 
							                        multiple
							                        v-model="product.tags" 
							                        :value="product.tags"
							                        @input="setSelected"
							                        label="tag_name" 
							                        :options="tags"
							                        :map-keydown="tag_handler"
							                        placeholder="Add Tags">
						                        </v-select>
						                    </div>
						              </div>

					               	  <div class="form-group row">
					                    <label for="active" class="col-sm-4 col-form-label">Availability</label>
					                    <div class="col-sm-8">
					                      <div class="custom-control custom-switch">
					                          <input class="custom-control-input" type="checkbox" id="active" v-model="product.status">
					                          <label for="active" class="custom-control-label"></label>
					                      </div>
					                    </div>
					                  </div>

					                  <hr class="col-sm-12" style="margin-left: 0;">

					                  <div class="form-group row">
					                    <label for="active" class="col-sm-4 col-form-label">Base Price <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-8">
					                      	<div class="input-group">
												<div class="input-group-prepend">
												    <span class="input-group-text">₱</span>
												</div>
										  		<input type="text" class="form-control" v-model="product.base_price" placeholder="0.00">
											</div>
					                    </div>
					                  </div>

					                  <div class="form-group row">
					                    <label for="active" class="col-sm-4 col-form-label">Sale Price <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-8">
					                      	<div class="input-group">
											  <div class="input-group-prepend">
											    <span class="input-group-text">₱</span>
											  </div>
										  		<input type="text" class="form-control"  v-model="product.selling_price" placeholder="0.00">
											</div>
					                    </div>
					                  </div>

	                  				</div>
	                  				<div class="col-md-4">
	                  					<div class="d-flex flex-column justify-content-center align-items-center preview">
											<img style="width: auto; height: 100%;" :src="product.primary_image">
											<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
											<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
										</div>
	                  				</div>
	                  			</div>
                  			</div><!-- end basic tab -->

                  			<!-- start variants tab -->
                  			<div class="tab-pane" id="variants" role="tabpanel">

				                  <div class="form-group row">
					                    <label for="inputPassword3" class="col-sm-3 col-form-label">Sizes</label>
					                    <div class="col-sm-5">
					                        <v-select multiple v-model="product.sizes" label="size" :options="productSizes" placeholder="Add size"></v-select>
					                    </div>
					              </div>

					              <hr class="col-sm-8" style="margin-left: 0;">

					              <div v-for="(variant, vindex) in variations">

				                  	<div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Group Name <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-5">
					                      	<input type="text" class="form-control" v-model="variant.group" placeholder="Group Name">
					                    </div>
					                </div>

				                  	<div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Variant <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-5">
					                      	<input type="text" class="form-control" v-model="variant.name" placeholder="Color / Name">
					                    </div>
					                </div>
				                  	
				                  	<div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Price <span class="font-italic">(Added price in top of the Base Price)</span></label>
					                    <div class="col-sm-5">
					                      	<div class="input-group">
											  <div class="input-group-prepend">
											    <span class="input-group-text">₱</span>
											  </div>
											  <input type="text" class="form-control" v-model="variant.price" placeholder="0.00">
											</div>
					                    </div>
					                </div>

					                <div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Gallery</label>
					                    <div class="col-sm-3">
					                      	<button type="button" class="btn btn-block btn-default btn-sm" @click="addGallery(vindex)">Add Images <i class="icon fas fa-images"></i></button>
					                    </div>
					                </div>

				                  	<div class="images-preview" v-show="gallery.length">
							            <div class="img-wrapper" v-for="(data, index) in gallery" :key="index" v-show="vindex == data.index">
							            	<span :id="data.index"></span>
							                <img :src="data.image" :alt="`Image Uplaoder ${index}`">
							                <button type="button" aria-label="Close" class="delete" @click="deleteImg(index)">
							                	<span aria-hidden="true">×</span>
							                </button>
							            </div>
							        </div>

				                  	<hr class="col-sm-8" style="margin-left: 0;">

				                  </div>

				                  <div class="row mt-3">
				                  	<div class="col-sm-3">
						                <button type="button" class="btn btn-block btn-primary btn-sm" @click="addVariation">Add Variant <i class="icon fas fa-plus"></i></button>
				                  	</div>
				                  </div>

                  			</div><!-- end variants tab -->

                  			<!-- start addons tab -->
                  			<div class="tab-pane" id="addons" role="tabpanel">
                  				<div v-for="(addon, aindex) in addons">

				                  	<div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Group Name <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-5">
					                      	<input type="text" class="form-control" v-model="addon.group" placeholder="Group Name">
					                    </div>
					                </div>

				                  	<div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Add-On <span class="font-italic">(required)</span></label>
					                    <div class="col-sm-5">
					                      	<input type="text" class="form-control" v-model="addon.name" placeholder="Add-On">
					                    </div>
					                </div>
				                  	
				                  	<div class="form-group row">
					                    <label for="active" class="col-sm-3 col-form-label">Price <span class="font-italic">(Added price in top of the Base Price)</span></label>
					                    <div class="col-sm-5">
					                      	<div class="input-group">
											  <div class="input-group-prepend">
											    <span class="input-group-text">₱</span>
											  </div>
											  <input type="text" class="form-control" v-model="addon.price" placeholder="0.00">
											</div>
					                    </div>
					                </div>

				                  	<hr class="col-sm-8" style="margin-left: 0;">

				                  </div>

				                  <div class="row mt-3">
				                  	<div class="col-sm-3">
						                <button type="button" class="btn btn-block btn-primary btn-sm" @click="addAddOn">Add Add-On <i class="icon fas fa-plus"></i></button>
				                  	</div>
				                  </div>

                  			</div><!-- end addons tab -->

                  			<!-- start Inventories tab -->
                  			<div class="tab-pane" id="inventories" role="tabpanel">
                  				<div class="form-group row">
				                    <label for="active" class="col-sm-3 col-form-label">Track Inventories</label>
				                    <div class="col-sm-5">
				                      <div class="custom-control custom-switch">
				                          <input class="custom-control-input" type="checkbox" id="trackInventory" v-model="product.trackInventory">
				                          <label for="trackInventory" class="custom-control-label"></label>
				                      </div>
				                    </div>
				                </div>

				                <table class="table table-hover col-sm-8 inventory" id="dataTable" style="width:100%">
					                <thead>
					                    <tr>
					                    	<th>Product Name</th>
					                    	<th>Product SKU</th>
					                        <th>Variant</th>
					                        <th>Size</th>
					                        <th>Stock</th>
					                    </tr>
					                </thead>
					                <tbody>
					                	<tr v-for="(inventory, index) in inventories">
					                		<td>{{ inventory.product_name }}</td>
					                		<td>{{ inventory.product_sku }}</td>
					                		<td>{{ inventory.variant }}</td>
					                		<td>{{ inventory.size }}</td>
					                		<td><input type="text" class="form-control" v-model="inventory.qty" placeholder="QTY"></td>
					                	</tr>
					                </tbody>
					            </table>
                  			</div>

                  			<!-- start other tab -->
                  			<div class="tab-pane" id="otherInfo" role="tabpanel">

                  				  <div class="form-group row">
				                    <label for="active" class="col-sm-3 col-form-label">Product Weight</label>
				                    <div class="col-sm-5">
				                      <div class="input-group">
										  <input type="text" class="form-control" v-model="product.weight" placeholder="1.00">
										  <div class="input-group-append">
										    <span class="input-group-text">kg</span>
										  </div>
										</div>
				                    </div>
				                  </div>

				               	  <div class="form-group row">
				                    <label for="active" class="col-sm-3 col-form-label">Product Length </label>
				                    <div class="col-sm-5">
				                      <div class="input-group">
										  <input type="text" class="form-control" v-model="product.length" placeholder="1.00">
										  <div class="input-group-append">
										    <span class="input-group-text">cm</span>
										  </div>
										</div>
				                    </div>
				                  </div>

				               	  <div class="form-group row">
				                    <label for="active" class="col-sm-3 col-form-label">Product Width </label>
				                    <div class="col-sm-5">
				                      <div class="input-group">
										  <input type="text" class="form-control" v-model="product.width" placeholder="1.00">
										  <div class="input-group-append">
										    <span class="input-group-text">cm</span>
										  </div>
										</div>
				                    </div>
				                  </div>		

								  <div class="form-group row">
				                    <label for="active" class="col-sm-3 col-form-label">Product Height </label>
				                    <div class="col-sm-5">
				                      <div class="input-group">
										  <input type="text" class="form-control" v-model="product.height" placeholder="1.00">
										  <div class="input-group-append">
										    <span class="input-group-text">cm</span>
										  </div>
										</div>
				                    </div>
				                  </div>

				                  <div class="form-group row">
				                    <label for="active" class="col-sm-3 col-form-label">Instructions </label>
				                    <div class="col-sm-5">
				                      <textarea class="form-control" rows="5" id="instructions" v-model="product.other_information" placeholder="Instructions"></textarea>
				                    </div>
				                  </div>

                  			</div>
                  		</div>

	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  <router-link :to="{ name: 'products' }" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link>
	                  <button type="button" class="btn btn-info" id="previousButton" @click="previous" style="display:none;"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Previous</button>
	                  <button type="button" class="btn btn-info" id="nextButton" @click="next">Next&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></i></button>
	                  <button type="submit" class="btn btn-info" id="submitButton" style="display:none;">Add New Product</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:selectImage="addSelectedImage"
	              	v-on:removeImage="removeSelectedImage"
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>

	</div>
</template>
<script>  
	import MediaLibrary from '../../../components/MediaLibrary';

    export default {
        name: "AddProduct",
        data() {
            return {
                product: {
                	sku: '',
                	name: '',
                	description: '',
                	merchant_id: '',
                	category_id: '',
                	brand_id: '',
                	status: '',
                	tags: [],
                	base_price: '',
                	selling_price: '',                	
                	sizes: [],
                	variants: [],
                	addons: [],
                	weight: '',
                	length: '',
                	width: '',
                	height: '',
                	other_information: '',
                	trackInventory: '',
                	inventories: [],
                	gallery: [],
					primary_image: window.location.origin +'/storage/media_library/No_Image_Available.jpg',
                },
                categories: [],
                tags: [],
                brands: [],
                merchants: [],
                productSizes: [],
                variations: [],
            	gallery: [],
            	addons: [],
            	inventories: [],
                error: null,
                currentGallery: '',
                currentPage: 'basic',
                isSingleSelect: false,
            }
        },

        created(){

          //  	axios.get('/api/v1/category/getDropdown')
        		// .then(response => this.categories = response.data.data);

           	axios.get('/api/v1/brand/getDropdown')
        		.then(response => this.brands = response.data.data);

           	axios.get('/api/v1/merchant/getDropdown')
        		.then(response => this.merchants = response.data.data);

           	axios.get('/api/v1/product/getProductSizes')
        		.then(response => this.productSizes = response.data.data);

           	axios.get('/api/v1/tags/list')
        		.then(response => {
        			this.tags = response.data.data
        		});

        	this.addVariation();

        	this.addAddOn();

        },

        methods: {
        	setSelected(value) {
     			//  trigger a mutation, or dispatch an action  
  			},
			tag_handler: (map, vm) => ({
		      ...map,
		      13: e => {
				    e.preventDefault();
				    axios.post('/api/v1/tagger/store', {
				    	'tag_name': vm.search
				    })
		            .then(response => {
		            	toastr.success(response.data.message)
		            })

		            setTimeout(function() {
		            	axios.get('/api/v1/tags/list')
    					.then(response => {
    						this.tags = response.data.data
    					});
	            	}, 3000)
			  },
		    }),
        	storeProduct: function() {
        		this.product.variants = this.variations;
        		this.product.addons = this.addons;
        		this.product.inventories = this.inventories;
        		this.product.gallery = this.gallery;

        		axios.post('/api/v1/tagger/reconstruct', {
        			params: this.product.tags
        		})
	            .then(response => {
	            	this.product.tags = JSON.parse(JSON.stringify(response.data.data))
	            	axios.post('/api/v1/product/store', this.product)
		            .then(response => {
		            	toastr.success(response.data.message)
		                this.$router.push({name: 'products'});
		            })
	            })
        	},

        	getGallery: function(index) {
        		var galleryObj = [];
		    	if(this.gallery.length) {

			    	for(var image = 0; image < this.gallery.length; image++) {
			    		var imageObj = this.gallery[image];

						if(imageObj.index == index) {
							galleryObj.push({
								'image':imageObj.image 
							})
						}
			    	}
		    	}
		    	return galleryObj;
        	},

        	setInventory: function() {
        		this.inventories = [];

        		if(this.product.sizes.length && this.variations.length) {

				    for(var variation = 0; variation < this.variations.length; variation++) {
				    	var variationObj = this.variations[variation];

				    	this.variations[variation].gallery = this.getGallery(variation);

		        		for(var size = 0; size < this.product.sizes.length; size++) {
						    var sizeObj = this.product.sizes[size];
					    
					    	this.inventories.push({
					    		'product_name': this.product.name,
					    		'product_sku': this.product.sku,
					    		'group_name': variationObj.group,
					    		'variant': variationObj.name,
					    		'product_size_id': sizeObj.id,
					    		'size': sizeObj.size,
					    		'price': variationObj.price,
					    		'gallery': this.getGallery(variation),
					    		'qty': 0,
					    	});

					    }/* end variation loop*/
					}/* end sizes loop*/

        		}
        		else if (this.product.sizes.length && !this.variations.length) {
        			for(var size = 0; size < this.product.sizes.length; size++) {
					    var sizeObj = this.product.sizes[size];
				    	this.inventories.push({
				    		'product_name': this.product.name,
				    		'product_sku': this.product.sku,
				    		'group_name': '',
				    		'variant': '',
				    		'product_size_id': sizeObj.id,
				    		'size': sizeObj.size,
				    		'price': 0,
				    		'gallery': this.getGallery(variation),
				    		'qty': 0,
				    	});
					}/* end sizes loop*/
        		}
        		else if(this.variations.length && !this.product.sizes.length) {
        			for(var variation = 0; variation < this.variations.length; variation++) {
				    	var variationObj = this.variations[variation];

				    	this.variations[variation].gallery = this.getGallery(variation);

				    	this.inventories.push({
				    		'product_name': this.product.name,
				    		'product_sku': this.product.sku,
				    		'group_name': variationObj.group,
				    		'variant': variationObj.name,
				    		'product_size_id': '',
				    		'size': '',
				    		'price': variationObj.price,
				    		'gallery': this.getGallery(variation),
				    		'qty': 0,
				    	});
				    }/* end variation loop*/
        		}
        		else {
			    	this.inventories.push({
			    		'product_name': this.product.name,
			    		'product_sku': this.product.sku,
			    		'group_name': '',
			    		'variant': '',
			    		'product_size_id': '',
			    		'size': '',
			    		'price': 0,
			    		'gallery': this.getGallery(variation),
			    		'qty': 0,
			    	});
        		}
        	},        	
        	
			addVariation: function() {
				this.variations.push({
					group: '',
					name: '',
					price: '',
					gallery: ''
			    })
			},

			addAddOn: function() {
				this.addons.push({
					group: '',
					name: '',
					price: ''
			    })
			},

			deleteVariation(index) {
	        	this.$delete(this.variations, index);
		    },

		    deleteAddOn(index) {
	        	this.$delete(this.addons, index);
		    },

		   	deleteImg(index) {
	        	this.$delete(this.gallery, index);
	        },

		    addGallery: function(index) {
		    	this.isSingleSelect = false;		    	
		    	this.currentGallery = index;
		    	$('#add-gallery').modal('toggle')
		    },

		    addSelectedImage: function(params) {
		    	this.gallery.push({
		    		index:this.currentGallery,
		    		image_id:params.id,
		    		image:params.file_url
		    	});
		    },

		    removeSelectedImage: function(params) {
	        	this.gallery.splice(this.gallery.indexOf(params), 1);
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    changeTab: function(value) {
		    	if (value == "basic") {
		    		this.currentPage = "basic"

		    		$('#previousButton').hide()
		    		$('#nextButton').show()

		    		$('#inventories').hide()
		    		$('#basic').show()
		    		$('#variants').hide()
		    		$('#addons').hide()
		    		$('#otherInfo').hide()
		    		$('#inventories').hide()

		    		$('#basic_tab').addClass('active')
		    		$('#variants_tab').removeClass('active')
		    		$('#addons_tab').removeClass('active')
		    		$('#otherInfo_tab').removeClass('active')
		    		$('#inventories_tab').removeClass('active')
		    	} else if (value == "variants") {
		    		this.currentPage = "variants"
		    		
		    		$('#previousButton').show()
		    		$('#nextButton').show()

		    		$('#inventories').hide()
		    		$('#basic').hide()
		    		$('#variants').show()
		    		$('#addons').hide()
		    		$('#otherInfo').hide()
		    		$('#inventories').hide()

		    		$('#basic_tab').removeClass('active')
		    		$('#variants_tab').addClass('active')
		    		$('#addons_tab').removeClass('active')
		    		$('#otherInfo_tab').removeClass('active')
		    		$('#inventories_tab').removeClass('active')
		    	} else if (value == "addons") {
		    		this.currentPage = "addons"

		    		$('#previousButton').show()
		    		$('#nextButton').show()

		    		$('#inventories').hide()
		    		$('#basic').hide()
		    		$('#variants').hide()
		    		$('#addons').show()
		    		$('#otherInfo').hide()
		    		$('#inventories').hide()

		    		$('#basic_tab').removeClass('active')
		    		$('#variants_tab').removeClass('active')
		    		$('#addons_tab').addClass('active')
		    		$('#otherInfo_tab').removeClass('active')
		    		$('#inventories_tab').removeClass('active')
		    	} else if (value == "other") {
		    		this.currentPage = "otherInfo"

		    		$('#previousButton').show()
		    		$('#nextButton').show()

		    		$('#inventories').hide()
		    		$('#basic').hide()
		    		$('#variants').hide()
		    		$('#addons').hide()
		    		$('#otherInfo').show()
		    		$('#inventories').hide()

		    		$('#basic_tab').removeClass('active')
		    		$('#variants_tab').removeClass('active')
		    		$('#addons_tab').removeClass('active')
		    		$('#otherInfo_tab').addClass('active')
		    		$('#inventories_tab').removeClass('active')
		    	} else if (value == "inventories") {
		    		this.currentPage = "inventories"
		    		$('#submitButton').show();
		    		$('#previousButton').show()
		    		$('#nextButton').hide()

		    		$('#basic').hide()
		    		$('#variants').hide()
		    		$('#addons').hide()
		    		$('#otherInfo').hide()
		    		$('#inventories').show()

		    		$('#basic_tab').removeClass('active')
		    		$('#variants_tab').removeClass('active')
		    		$('#addons_tab').removeClass('active')
		    		$('#otherInfo_tab').removeClass('active')
		    		$('#inventories_tab').addClass('active')
		    	}

		    	this.setInventory();
		    },

		    next: function() {
		    	switch(this.currentPage) {
		    		case 'basic':
			    		this.currentPage = 'variants';
			    		// $("#basic_tab").removeClass('active').addClass('disabled');
				    	// $('#variants_tab').removeClass('disabled').addClass('active');
				    	$('#basic').hide();
				    	$('#variants').show();
				    	$('#previousButton').show();
				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').addClass('active')
			    	break;
		    		case 'variants':
			    		this.currentPage = 'addons';
			    		// $("#variants_tab").removeClass('active').addClass('disabled');
				    	// $('#addons_tab').removeClass('disabled').addClass('active');
				    	$('#variants').hide();
				    	$('#addons').show();
				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').removeClass('active')
				    	$('#addons_tab').addClass('active')
			    	break;
		    		case 'addons':
			    		this.currentPage = 'otherInfo';
			    		// $("#addons_tab").removeClass('active').addClass('disabled');
				    	// $('#otherInfo_tab').removeClass('disabled').addClass('active');
				    	$('#addons').hide();
				    	$('#otherInfo').show();
				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').removeClass('active')
				    	$('#addons_tab').removeClass('active')
				    	$('#otherInfo_tab').addClass('active')
			    	break;
		    		case 'otherInfo':
			    		this.currentPage = 'inventories';
			    		// $("#otherInfo_tab").removeClass('active').addClass('disabled');
				    	// $('#inventories_tab').removeClass('disabled').addClass('active');
				    	$('#otherInfo').hide();
				    	$('#inventories').show();
				    	$('#nextButton').hide();
				    	$('#submitButton').show();
				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').removeClass('active')
				    	$('#addons_tab').removeClass('active')
				    	$('#otherInfo_tab').removeClass('active')
				    	$('#inventories_tab').addClass('active')
				    	this.setInventory();		    	
			    	break;			    	
			    }
    	    	$(window).scrollTop(0);
		    },

		    previous: function() {
		    	switch(this.currentPage) {
		    		case 'inventories':
			    		this.currentPage = 'otherInfo';
			    		// $("#inventories_tab").removeClass('active').addClass('disabled');
				    	// $('#otherInfo_tab').removeClass('disabled').addClass('active');
				    	$('#inventories').hide();
				    	$('#otherInfo').show();
				    	$('#nextButton').show();
				    	$('#submitButton').hide();

				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').removeClass('active')
				    	$('#addons_tab').removeClass('active')
				    	$('#otherInfo_tab').addClass('active')
				    	$('#inventories_tab').removeClass('active')	
			    	break;
		    		case 'otherInfo':
			    		this.currentPage = 'addons';
			    		// $("#otherInfo_tab").removeClass('active').addClass('disabled');
				    	// $('#addons_tab').removeClass('disabled').addClass('active');
				    	$('#otherInfo').hide();
				    	$('#addons').show();
				    	$('#nextButton').show();
				    	$('#submitButton').hide();

				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').removeClass('active')
				    	$('#addons_tab').addClass('active')
				    	$('#otherInfo_tab').removeClass('active')
				    	$('#inventories_tab').removeClass('active')				    	
			    	break;
		    		case 'addons':
			    		this.currentPage = 'variants';
			    		// $("#addons_tab").removeClass('active').addClass('disabled');
				    	// $('#variants_tab').removeClass('disabled').addClass('active');
				    	$('#addons').hide();
				    	$('#variants_tab')
				    	$('#variants').show();
				    	$('#submitButton').hide();

				    	$('#basic_tab').removeClass('active')
				    	$('#variants_tab').addClass('active')
				    	$('#addons_tab').removeClass('active')
				    	$('#otherInfo_tab').removeClass('active')
				    	$('#inventories_tab').removeClass('active')	
			    	break;			    	
		    		case 'variants':
			    		this.currentPage = 'basic';
			    		// $("#variants_tab").removeClass('active').addClass('disabled');
				    	// $('#basic_tab').removeClass('disabled').addClass('active');
				    	$('#variants').hide();
				    	$('#basic').show();
				    	$('#previousButton').hide();
				    	$('#submitButton').hide();

				    	$('#basic_tab').addClass('active')
				    	$('#variants_tab').removeClass('active')
				    	$('#addons_tab').removeClass('active')
				    	$('#otherInfo_tab').removeClass('active')
				    	$('#inventories_tab').removeClass('active')	
			    	break;
			    }
    	    	$(window).scrollTop(0);
		    },

		    addPrimaryImage: function() {
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    setPrimaryImage: function(params) {
		    	this.product.primary_image = params.file_url
		    }, 

		    setDefaultImage: function() {
		    	this.product.primary_image = window.location.origin +'/storage/media_library/No_Image_Available.jpg'
		    },

		    onChangeCategories: function(event) {
	        	axios.get('/api/v1/category/getDropdown', {
                    params: {
                        mid: event.target.value,
                    }
                })
                .then(response => {
                    this.categories = response.data.data
                })
		    }

        },

        components: {
        	MediaLibrary
 	   	}

    };
</script>
<style lang="scss" scoped>
.modal-header {
	border-bottom: 0;
}

.modal-body {
	padding: 0;
}

.icon {
	position: absolute; 
	right: 1.5rem; 
	top: 0.6rem;
}

.inventory td {
	max-width:50px;
	width:auto;
	min-width:10px;
}

.images-preview {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;

    .img-selected {
    	position: absolute;
	    top: -15px;
	    right: -15px;
	    display: none !important;
    }

    .active {
    	display: block !important;
    }

    .checked-shadow {
    	box-shadow: 0px 1px 5px 2px #0073A8;
    }

    .img-wrapper {
        width: 80px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 80px;
        justify-content: space-between;
        background: #fff;
        border: solid .5px #dee2e6;
        position: relative;
        cursor: pointer;

        img {
            max-height: 80px;
        }
    }

    .delete {
    	border: none;
	    position: absolute;
	    right: 0;
	    top: -10px;
	    background-color: transparent;
	    color: red;

	    span {
	    	font-size: 30px !important;
    		font-weight: bold;
    		text-shadow: 1px 1px #000;
	    }
    }
}

.arrow {
    position: relative;
    font-weight: bold;
}

.nav-link {
	margin-right: 20px;
	border-radius: 0 !important;
}

.nav-link:after {
    content: '';
    height: 0;
    display: block;
    /*border-color: #6c757d #6c757d #6c757d #007bff;*/
    border-width: 18.7px;
    /*border-style: solid;*/
    position: absolute;
    top: 0;
    right: -37px;
}

.disabled {
	color: #FFF;
	background-color: #6c757d;
}

.last-child:after {
    border-color: transparent transparent transparent #007bff;	
}

.disabled:after {
    border-color: #6c757d #6c757d #6c757d #6c757d;	
}

.preview {
    height: 250px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position:relative;
}

.preview span.edit {
    position:absolute;
    bottom: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 5px 0 5px;
    display:none;
}

.preview span.delete {
    position:absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 0 5px 0 5px;
    display:none;
}

.preview:hover span {
    display: block;
}

</style>