<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Best Seller <button type="submit" class="btn btn-info" @click="generateBestSeller">Generate Best Seller</button>&nbsp;<button type="submit" class="btn btn-info" @click="cldearBestSeller">Clear </button></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Best Seller</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                        ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
            	dataFields: {
            		name: "Product Name", 
                    store_name: "Store Name", 
                    brand_name: "Brand Name", 
                    category_name: "Category Name", 
                    base_price: "Base Price", 
                    selling_price: "Selling Price", 
            		status: {
            			name: "Status", 
            			type:"Boolean", 
            			status: { 
            				0: '<span class="badge badge-danger">Deactivated</span>', 
            				1: '<span class="badge badge-info">Active</span>'
            			}
            		},
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/best-saler/list",
            };
        },

        methods: {
        	generateBestSeller: function() {
        		axios.get('/api/v1/best-saler/generate')
                .then( response => {
                    this.$refs.dataTable.fetchData();
                });
        	},

        	cldearBestSeller: function() {
        		axios.get('/api/v1/best-saler/delete')
                .then( response => {
                    this.$refs.dataTable.fetchData();
                });
        	},
        },

        components: {
        	Table
 	   }
    };
</script>