<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Products <router-link :to="{ name: 'product.add' }" class="btn btn-outline-primary btn-sm">Add New</router-link></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Products</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	      	<div class="row">
	      		<div class="col-md-12">
	      		<div class="card">
	      			<div class="card-body">
	      				<div class="row">
	      					<div class="col-12"><label>Bulk:</label></div>
	      				</div>
	      				<div class="row mb-3">
	      					<div class="col-md-4">
				      			<select class="custom-select select2bs4" v-model="frm.status">
			                  		<option value="">Select Action</option>
			                  		<option value="1">Active</option>
			                  		<option value="0">Deactivated</option>
			                    </select>
				      		</div>
				      		<div class="col-1"><button type="button" class="btn btn-primary" @click="updateCheckedProduct">Apply</button></div>
	      				</div>
	      				<div class="row">
	      					<div class="col-12"><label>Filter By:</label></div>
	      				</div>
		      			<div class="row">
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.category_id" @change="onSelect">
			                  		<option value="">Select Category</option>
			                  		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.brand_id" @change="onSelect">
			                  		<option value="">Select Brand</option>
			                  		<option v-for="brand in brands" :value="brand.id">{{ brand.name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.merchant_id" @change="onSelect">
			                  		<option value="">Select Merchant</option>
			                  		<option v-for="merchant in merchants" :value="merchant.id">{{ merchant.details.store_name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.status" @change="onSelect">
			                  		<option value="">Select Status</option>
			                  		<option value="1">Active</option>
			                  		<option value="0">Deactivated</option>
			                    </select>
				      		</div>
		      			</div>
		      		</div>
		      	</div>
		      </div>
	      	</div>
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                        :downloadTemplate="downloadTemplate"
                        :batchUpload="batchUpload"
                        :downloadCsv="downloadCsv"
                        :filters="filters"
                        :checkBox="checkBox"
                        :checkedIds="frm.productIds"
                        v-on:getSelectedItems="getChecked"
                        v-on:getSelectedAll="getCheckedAll"
                        ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
            	dataFields: {
            		name: "Product Name", 
                    store_name: "Store Name", 
                    brand_name: "Brand Name", 
                    category_name: "Category Name", 
                    base_price: "Base Price", 
                    selling_price: "Selling Price", 
            		status: {
            			name: "Status", 
            			type:"Boolean", 
            			status: { 
            				0: '<span class="badge badge-danger">Deactivated</span>', 
            				1: '<span class="badge badge-info">Active</span>'
            			}
            		},
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/product/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this product',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'product.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'link'
            		},
            		delete: {
            			title: 'Delete this product',
            			name: 'Delete',
            			apiUrl: '/api/v1/product/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
                downloadTemplate: "/storage/csv/product-upload-template.csv",
                batchUpload: "/api/v1/product/batchUpload",
                downloadCsv: "/api/v1/product/downloadCsv",
                categories: [],
                brands: [],
                merchants: [],
                checkBox: true,
                filters: {
                	category_id: '',
                	brand_id: '',
                	merchant_id: '',
                	status: '',
                },
                frm: {
                	status: '',
                	productIds: [],
                },
            };
        },

        created(){
		  	axios.get('/api/v1/category/getDropdown')
        	.then(response => this.categories = response.data.data);

        	axios.get('/api/v1/brand/getDropdown')
        	.then(response => this.brands = response.data.data);

        	axios.get('/api/v1/merchant/getDropdown')
        	.then(response => this.merchants = response.data.data);

        },

        methods: {
        	onSelect: function () {
        		this.$refs.dataTable.fetchData();
        	},

        	getChecked: function(id,checked) {        		
        		if(checked == 'checked') {
	        		this.frm.productIds.push(id);
        		}
        		else {
        			this.frm.productIds.splice(this.frm.productIds.indexOf(event), 1);
        		}
        		console.log(this.frm.productIds);
        	},

        	getCheckedAll: function(ids) {
        		this.frm.productIds = ids;
        	},

        	updateCheckedProduct: function() {
        		axios.put('/api/v1/product/batchUpdate', this.frm)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$refs.dataTable.fetchData();
				});
        	},
        },

        components: {
        	Table
 	   }
    };
</script>