<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Order Details # </h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Order Details</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeVoucher">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="row">
		                    <label for="banner" class="col-sm-4 col-form-label">Order Number :</label>
		                    <div class="col-sm-8">

		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="banner" class="col-sm-4 col-form-label">Customer Name :</label>
		                    <div class="col-sm-8">

		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="shortDesc" class="col-sm-4 col-form-label">Payment Type :</label>
		                    <div class="col-sm-8">
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="banner" class="col-sm-4 col-form-label">Voucher Discount Price :</label>
		                    <div class="col-sm-8">
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="banner" class="col-sm-4 col-form-label">Points Generated :</label>
		                    <div class="col-sm-8">
		                    </div>
		                  </div>
			              <div class="row">
		                    <label for="permitDate" class="col-sm-4 col-form-label">Points Consumed :</label>
		                    <div class="col-sm-8">
		                    </div>
			              </div>		                  	                  
			              <div class="row">
		                    <label for="permitDate" class="col-sm-4 col-form-label">Order Status :</label>
		                    <div class="col-sm-8">
		                    </div>
			              </div>
			              <div class="row">
		                    <label for="Merchant" class="col-sm-4 col-form-label">Order Date :</label>
		                    <div class="col-sm-8">
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="banner" class="col-sm-4 col-form-label">Paid Date :</label>
		                    <div class="col-sm-8">
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="active" class="col-sm-4 col-form-label">Failed Date :</label>
		                    <div class="col-sm-8">
		                    </div>
		                  </div>
	                  	</div>                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  	<router-link :to="{ name: 'voucher' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "ViewOrder",
        data() {
            return {
                order: {
                	order_number: '',
                	customer_id: '',
                	payment_type_id: '',
                	voucher_discount_price: '',
                	points_generated: '',
                	points_consumed: '',
                	status_id: '',
                	order_date: '',
                	paid_date: '',
                	failed_date: '',
                	created_at: '',
                },
            }
        },

        created(){

           	var id = this.$route.params.id;
           	axios.get('/api/v1/voucher/'+id)
        		.then(response => {
        			var voucher = response.data.data;
        			this.voucher.id = id;
        			this.voucher.title = voucher.title;
        			this.voucher.code = voucher.code;
        			this.voucher.description = voucher.description;
        			this.voucher.discount_percent = voucher.discount_percent;
        			this.voucher.discount_price = voucher.discount_price;
        			this.voucher.start_date = voucher.start_date;
        			this.voucher.end_date = voucher.end_date;
        			this.voucher.merchant_id = voucher.merchant_id;
        			this.voucher.voucher_stock = voucher.voucher_stock;
        			this.voucher.is_unlimited = voucher.is_unlimited;
        		});

        },

        methods: {

        	storeVoucher: function() {

				axios.post('/api/v1/voucher/store', this.voucher)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'voucher'});
				});

        	},

        },

        components: {
        	Table
 	   	}

    };

</script>