<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Orders</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Orders</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionLinks="actionButtons"
			          	:primaryKey="primaryKey"
			          	:downloadCsvWithFilter="downloadCsvWithFilter">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table-v2';
    export default {
        name: "FlashSale",
        data() {
            return {
            	dataFields: {
            		order_number: "Order Number", 
                    customer_name: "Customer Name", 
            		payment_type: "Payment Type", 
                    order_date: "Order Date", 
                    paid_date: "Paid Date", 
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/order/list",
            	actionButtons: {
                    show: {
                        title: 'Show this Order',
                        name: 'Show',
                        apiUrl: '',
                        routeName: 'order.view',
                        button: '<i class="fas fa-search"></i> View',
                        method: 'link'
                    },
            	},
                downloadCsvWithFilter: "/api/v1/order/downloadCsv",            	
            };
        },        
        components: {
        	Table
 	   }
    };
</script>