<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Below are the order details: </h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Order Details</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-4">	                  		
		                  <div class="row">
		                    <label class="col-sm-6">Order Number :</label>
		                    <div class="col-sm-6">
		                    	{{ order.order_number }}
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label class="col-sm-6">Customer Name :</label>
		                    <div class="col-sm-6">
		                    	{{ order.customer_detail.first_name }}&nbsp;{{ order.customer_detail.last_name }}
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label for="shortDesc" class="col-sm-6">Payment Method :</label>
		                    <div class="col-sm-6">
		                    	<span class="badge badge-primary">{{ order.payment_type_detail.payment_type }}</span>
		                    </div>
		                  </div>
  			              <div class="row">
		                    <label for="permitDate" class="col-sm-6">Order Status :</label>
		                    <div class="col-sm-6">
		                    	{{ order.order_status_detail.status }}
		                    </div>
			              </div>
		                  <div class="row">
		                    <label for="Merchant" class="col-sm-6">Order Date :</label>
		                    <div class="col-sm-6">
		                    	{{ order.created_at }}
		                    </div>
		                  </div>
		                  <div class="row">
		                    <label class="col-sm-6">Paid Date :</label>
		                    <div class="col-sm-6">
		                    	{{ order.paid_date }}
		                    </div>
		                  </div>           
	                  	</div>
	                  	<div class="col-6">
	                  		<div class="row">
			                    <label class="col-sm-4">Email :</label>
			                    <div class="col-sm-6">
			                    	{{ order.customer_detail.email }}
			                    </div>
		                 	</div> 
		                 	<div class="row">
			                    <label class="col-sm-4">Moble Number :</label>
			                    <div class="col-sm-6">
			                    	{{ order.customer_detail.mobile_number }}
			                    </div>
		                 	</div> 
		                 	<div class="row">
			                    <label class="col-sm-4">Request Id:</label>
			                    <div class="col-sm-6" v-if="order.payment_response">
			                    	{{ order.payment_response.request_id }}
			                    </div>
		                 	</div> 
		                 	<div class="row">
			                    <label class="col-sm-4">Response Id:</label>
			                    <div class="col-sm-6" v-if="order.payment_response">
			                    	{{ order.payment_response.response_id }}
			                    </div>
		                 	</div> 
	                  	</div>
	                  </div>
	                  <div class="row mt-3 mb-3">
	                  	<div class="col-12">
	                  		<h4>Order Details</h4>
	                  	</div>
	                  </div>
	                  <div class="row mb-2">
				            <div class="col-md-4 d-flex align-items-center">
				                Bulk:
				                <select v-model="bulkStatus" class="custom-select custom-select-sm form-control form-control-sm" style="margin-left: 0.5em; margin-right: 0.5em;">
				                    <option value="0" selected>Select Action</option>
				                    <option v-for="(stat, index) in statuses" v-bind:key="index" :value="stat.id">
				                    	{{ stat.status }}
				                    </option>
				                </select>
				                <button class="btn btn-info btn-sm" @click="updateOrders">Apply</button>
				            </div>
				      </div>
	                  <div class="row">
	                  	<div class="col-12">
	                  		<div class="table-responsive mt-2">
	                  			<table class="table table-hover" id="dataTable" style="width:100%">
	                  				 <thead>
					                    <tr>
					                        <th></th>
					                        <th><span>Product Image</span></th>
					                        <th><span>Qty</span></th>
					                        <th><span>Product Name</span></th>
					                        <th><span>Variant</span></th>
					                        <th><span>Size</span></th>
					                        <th><span>Status</span></th>
					                        <th><span>Total Price</span></th>
					                    </tr>
					                </thead>
					                <tbody>
					                	<tr v-for="item in order.order_details">
					                		<td>
					                			<input class="form-check-select" type="checkbox" :value="item.id" name="selected" @click="getChecked(item.id,$event)">
					                		</td>
					                		<td>
					                			<img :src="item.product_image" style="width:75px;">
					                		</td>
					                		<td>
					                			<span>{{ item.qty }}</span>
					                		</td>
					                		<td>
					                			<span>{{ item.product_name }}</span>
					                		</td>
					                		<td>
					                			<div v-for="variant in item.variants">
					                				{{ variant.variant }}
					                			</div>
					                		</td>
					                		<td>
					                			<span>{{ item.size_name }}</span>
					                		</td>
					                		<td>
					                			<span>{{ item.order_status }}</span>
					                		</td>
					                		<td>
					                			<span>{{ item.total_price }}</span>
					                		</td>
					                	</tr>
					                </tbody>
	                  			</table>
	                  		</div>
	                  	</div>
	                  </div>
	                  <div class="row mt-3 mb-3">
	                  	<div class="col-12">
	                  		<h4>Shipping Details</h4>
	                  	</div>
	                  </div>
	                  <div class="row">
	                  	<div class="col-12">
	                  		<div class="table-responsive mt-2">
	                  			<table class="table table-hover" id="dataTable" style="width:100%">
	                  				 <thead>
					                    <tr>
					                        <th><span>Store Name</span></th>
					                        <th><span>Store Address</span></th>
					                        <th><span>Delivery Address</span></th>
					                        <th><span>Contact Person</span></th>
					                        <th><span>Mobile Number</span></th>
					                        <th><span>Shipping Fee</span></th>
					                    </tr>
					                </thead>
					                <tbody>
					                	<tr v-for="(key, index) in delivery_details">
					                		<td>
					                			<span>{{ key.store_name }}</span>
					                		</td>
					                		<td>
					                			<span>{{ key.store_address }}</span>
					                		</td>
					                		<td>
					                			<span>{{ key.detailed_address }}</span>
					                		</td>
					                		<td>
					                			<span>{{ key.contact_name }}</span>
					                		</td>
					                		<td>
					                			<span>{{ key.contact_number }}</span>
					                		</td>
					                		<td>
					                			<span>{{ key.shipping_fee }}</span>
					                		</td>
					                	</tr>
					                </tbody>
	                  			</table>
	                  		</div>
	                  	</div>
	                  </div>
	                  <div class="row mt-3 mb-3">
	                  	<div class="col-9 text-right">
	                  		<h4>Amount Details:</h4>
	                  	</div>
	                  </div>
	                  <div class="row">
	                  	<div class="col-7"></div>
	                  	<div class="col-5">
	                  		<div class="table-responsive mt-2">
	                  			<table class="table table-borderless table-sm" id="dataTable" style="width:100%">
					                <tbody>
					                	<tr>
					                		<td>
					                			<span>SubTotals:</span>
					                		</td>
					                		<td class="text-right">
					                			<span>{{ meta.subtotal }}</span>
					                		</td>
					                	</tr>
					                	<tr>
					                		<td>
					                			<span>Delivery Fee:</span>
					                		</td>
					                		<td class="text-right">
					                			<span>{{ meta.delivery_fee }}</span>
					                		</td>
					                	</tr>
					                	<tr>
					                		<td>
					                			<span>Discount:</span>
					                		</td>
					                		<td class="text-right">
					                			<span style="color:red;">( {{ meta.discount }} )</span>
					                		</td>
					                	</tr>
					                	<tr>
					                		<td>
					                			<span>Promo Code:</span>
					                		</td>
					                		<td class="text-right">
					                			<span>{{ meta.promo_code }}</span>
					                		</td>
					                	</tr>
					                	<tr>
					                		<td>
					                			<span>Order Amount Total:</span>
					                		</td>
					                		<td class="text-right">
					                			<span><strong>{{ meta.order_total }}</strong></span>
					                		</td>
					                	</tr>
					                </tbody>
	                  			</table>
	                  		</div>
	                  	</div>
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  	<router-link :to="{ name: 'orders' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
    export default {
        name: "ViewOrder",
        data() {
            return {
                order: {
                	order_number: '',
                	customer_id: '',
                	payment_type_id: '',
                	voucher_discount_price: '',
                	points_generated: '',
                	points_consumed: '',
                	status_id: '',
                	order_date: '',
                	paid_date: '',
                	failed_date: '',
                	created_at: '',
                	order_details: [],
                	customer_detail: '',
                	payment_type_detail: '',
                	order_status_detail: '',
                	payment_response: '',
                },
                delivery_details: [],
                meta: '',
                orderIds: [],
                statuses: [],
                bulkStatus: 0,
            }
        },

        created(){

           	var id = this.$route.params.id;
           	axios.get('/api/v1/order/'+id)
        		.then(response => {
        			var order = response.data.data;
                	this.order.order_number = order.order_number;
                	this.order.customer_id = order.customer_id;
                	this.order.payment_type_id = order.payment_type_id;
                	this.order.voucher_discount_price = order.voucher_discount_price;
                	this.order.points_generated = order.points_generated;
                	this.order.points_consumed = order.points_consumed;
                	this.order.status_id = order.status_id;
                	this.order.order_date = order.order_date;
                	this.order.paid_date = order.paid_date;
                	this.order.failed_date = order.failed_date;
                	this.order.created_at = order.created_at;
                	this.order.customer_detail = order.customer_detail;
                	this.order.payment_type_detail = order.payment_type_detail;
                	this.order.order_status_detail = order.order_status_detail;
                	this.order.payment_response = order.payment_response;                	
                	this.order.order_details = order.order_details;
                	this.meta = response.data.meta;

                	var items = order.order_details;
                	var current_store = '';
                	for (var key in items) {
                		var shippingInfo = {
                			'store_name': items[key].merchant.store_name,
                			'store_address': items[key].merchant.store_address,
                			'contact_name': items[key].customer_address.contact_name,
                			'contact_number': items[key].customer_address.contact_number,
                			'detailed_address': items[key].customer_address.detailed_address,
                			'shipping_fee': items[key].shipping_fee,
                		};

                		this.delivery_details.push(shippingInfo);
				    }

				    this.delivery_details = this.delivery_details.reduce((acc, current) => {
				    	const x = acc.find(item => item.store_name === current.store_name);
					  	if (!x) {
					    	return acc.concat([current]);
					  	} else {
					    	return acc;
					  	}
					}, []);
        		});

        	axios.get('/api/v1/orders/list-statuses')
        		.then(response => {
        			this.statuses = response.data.data;
        		});
        },

        methods: {
        	getChecked(id, event) {                
                if(event) {
                    if(event.target.checked) {
                    	this.orderIds.push(id);
                    }
                    else {
                        this.orderIds.splice(this.orderIds.indexOf(event), 1);
                    }
                }
            },

            updateOrders: function() {
				var param = {
        			'ids': this.orderIds,
        			'status': this.bulkStatus
        		};
        		axios.post('/api/v1/orders/update-statuses', param)
				.then( response => {
	            	toastr.success(response.data.message);
	            	this.$router.go();
				});

        	},

        },

    };

</script>
<style lang="scss" scoped>
    .badge {
        font-size: .9rem;
    }
</style>
