<style scoped>
    .sb-border-lg {
        border-width: 0.25rem !important;
    }

    .rounded {
        border-radius: 0.35rem !important;
    }

    .text-xs {
        font-size: .7rem !important;
    }

    .text-gray-800 {
        color: #5a5c69!important;
    }

    .text-gray-300 {
        color: #dddfeb!important;
    }

    .surtitle {
        margin-bottom: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #8898aa;
    }


    .h3, h3 {
        font-size: 1.0625rem;
    }

    .h6, h6 {
        font-size: .625rem;
    }

    .card-header {
        margin-bottom: 0;
        padding: 1.25rem 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,.05);
        background-color: #fff;
    }

    /*div[class*="report_container"] {
        display: none;
    }*/
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<template>
  <div>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <div class="mr-4 mb-3 mb-sm-0">
                <h1 class="m-0 text-dark">Dashboard</h1>
                <div class="small">
                    <span class="font-weight-500 text-primary">
                        {{ day }}
                    </span>
                    · {{ date }}
                </div>
            </div>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <!-- status -->
        <div class="row pt-3">
            <div class="col-md-2 col-6">
                <div class="bg-light border-left sb-border-lg rounded border-info p-3 mb-3 d-flex align-items-center justify-content-between">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Pending
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ status.pending }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-pause fa-2x text-gray-300"></i>
                    </div>                    
                </div>
            </div>

            <div class="col-md-2 col-6">
                <div class="bg-light border-left sb-border-lg rounded border-warning p-3 mb-3 d-flex align-items-center justify-content-between">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Processing
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ status.processing }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-truck-loading fa-2x text-gray-300"></i>
                    </div>                    
                </div>
            </div>

            <div class="col-md-2 col-6">
                <div class="bg-light border-left sb-border-lg rounded border-primary p-3 mb-3 d-flex align-items-center justify-content-between">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Shipped
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ status.shipped }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-ship fa-2x text-gray-300"></i>
                    </div>                    
                </div>
            </div>

            <div class="col-md-2 col-6">
                <div class="bg-light border-left sb-border-lg rounded border-success p-3 mb-3 d-flex align-items-center justify-content-between">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Delivered
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ status.delivered }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shipping-fast fa-2x text-gray-300"></i>
                    </div>                    
                </div>
            </div>

            <div class="col-md-2 col-6">
                <div class="bg-light border-left sb-border-lg rounded border-danger p-3 mb-3 d-flex align-items-center justify-content-between">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Cancelled
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ status.cancelled }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-ban fa-2x text-gray-300"></i>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="bg-light border-left sb-border-lg rounded border-info p-3 mb-3 d-flex align-items-center justify-content-between">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Average Visitors Per Week
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ visitors_per_week }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Filter graph</label>

                <multiselect 
                    v-model="graphs"
                    :options="options"
                    :multiple="true" 
                    :close-on-select="false" 
                    :clear-on-select="false" 
                    :preserve-search="true" 
                    :preselect-first="false"
                    placeholder="Filter graph to display"
                    tagPosition="top"
                    track-by="name"
                    label="name" 
                    :max=4
                    @input="filterGraphs"
                >
                    <template slot="selection" slot-scope="{ values, search, isOpen }">
                        <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                            {{ values.length }} graphs selected
                        </span>
                    </template>
                </multiselect>
            </div>
        </div>

        <!-- graph -->
        <div class="row pt-3">
            <!-- Age Graph -->
            <div class="col-md-6 age_report_container">
               <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Orders overview according to age</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Age</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="age_report"></canvas>
                    </div>
                </div>
            </div>

            <!-- Gender Graph -->
            <div class="col-md-6 gender_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Orders overview according to genders</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Genders</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="gender_report"></canvas>
                    </div>
                </div>
            </div>

            <!-- Top Rated Products Graph -->
            <div class="col-md-6 top_rated_products_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Customer ratings (Top 5)</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Top Rated Products (Average: {{ average_rating }})</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="top_rated_products_report"></canvas>
                    </div>

                </div>
            </div>

            <!-- Top Selling Products Graph -->
            <div class="col-md-6 top_selling_products_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Highest Product Sold (Top 5)</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Top Selling Products</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="top_selling_products_report"></canvas>
                    </div>

                </div>
            </div>

            <!-- Most Viewed Products Graph -->
            <div class="col-md-6 most_viewed_products_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Most Product Viewed by Users (Top 5)</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Most Viewed Products {{ periodic_filter }}</h5>
                        <select class="form-control mt-3" v-model="periodic_filter" @change="filterMostViewedProducts">
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <canvas id="most_viewed_products_report"></canvas>
                    </div>
                </div>
            </div>

            <!-- Total Sales Graph -->
            <div class="col-md-6 total_sales_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Monthly Total Sales</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Total Sales</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="total_sales_report"></canvas>
                    </div>
                </div>
            </div>

            <!-- Most Used Payment Modes Graph -->
            <div class="col-md-6 most_used_payment_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Payment Methods Used in Transactions</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Most Used Payment Modes</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="most_used_payment_report"></canvas>
                    </div>
                </div>
            </div>

            <!-- Weekly Purchase Per Product Graph -->
            <div class="col-md-6 total_weekly_purchased_report_container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="surtitle">Total Weekly Purchase Per Product (Top 5)</h6>
                        <h5 class="h3 mb-0 mt-1 font-weight-bold">Total Weekly Purchase</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="total_weekly_purchased_report"></canvas>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex align-items-center justify-content-between bg-white">
                        <div class="w-100">
                            <h6 class="surtitle">Most Recent Order Transactions (Top 5)</h6>
                            <h5 class="h3 mb-0 mt-1 font-weight-bold">Recent Transactions</h5>
                        </div>
                        <div class="w-100 d-flex align-items-baseline justify-content-end">
                            <button class="btn btn-sm btn-light" @click="viewOrders">
                                View All Orders
                            </button>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-0">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Order #</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Transaction Type</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Transaction Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(order, ordersIndex) in orders" v-bind:key="ordersIndex">
                                    <td>{{ order.order_date }}</td>
                                    <td>{{ order.order_number }}</td>
                                    <td class="text-capitalize">{{ order.customer_name }}</td>
                                    <td>{{ order.payment_type }}</td>
                                    <td>₱{{ order.total_amount }}</td>
                                    <td>{{ order.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-if="!orders.length" class="d-flex align-items-center justify-content-center">
                        <p>No Orders Found</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
</template>

<script>
  import moment from 'moment'
  import Chart from 'chart.js'
  import Multiselect from 'vue-multiselect'

  export default {
    name: 'dashboard',
    components: { Multiselect },
    data() {
      return {
        graphs: [],
        options: [
                {graph_id: "age_report", name: 'Age'},
                {graph_id: "gender_report", name: 'Genders'},
                {graph_id: "top_rated_products_report", name: 'Top Rated Products'},
                {graph_id: "top_selling_products_report", name: 'Top Selling Products'},
                {graph_id: "most_viewed_products_report", name: 'Most Viewed Products Daily'},
                // {graph_id: "most_viewed_products_monthly_report", name: 'Most Viewed Products Monthly'},
                {graph_id: "total_sales_report", name: 'Total Sales'},
                {graph_id: "most_used_payment_report", name: 'Most Used Payment Modes'},
                {graph_id: "total_weekly_purchased_report", name: 'Total Weekly Purchase'},
            ],
        date: moment().format('MMMM D, YYYY · h:mm:ss a'),
        day: moment().format('dddd'),
        age_percentage: [],
        ages: ["18-24", "25-34", "35-44", "45-54", "55-64", "65+"],
        genders: [],
        years: [],
        months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
        days: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        top_rated_products: [],
        top_rated_product_ratings: [],
        top_selling_products: [],
        average_rating: 0,
        top_product_sold: [],
        periodic_filter: "Daily",
        most_viewed_products: [],
        most_viewed_product_count: [],
        // most_viewed_products_monthly: [],
        // most_viewed_product_monthly_count: [],
        orders: [],
        orders_url: "/merchant/orders",
        total_sales: [],
        payment_types: [],
        payment_type_count: [],
        total_weekly_purchased: [],
        total_weekly_purchased_values: [],
        visitors_per_week: 0,
        status: {
            pending: 0,
            processing: 0,
            shipped: 0,
            delivered: 0,
            cancelled: 0,
        },
      }
    },
    mounted() {
        if (localStorage.getItem('reloaded')) {
            // The page was just reloaded. Clear the value from local storage
            // so that it will reload the next time this page is visited.
            localStorage.removeItem('reloaded');
        } else {
            // Set a flag so that we know not to reload the page twice.
            localStorage.setItem('reloaded', '1');
            location.reload();
        }

        this.fetchOrderStatus();
        this.initChart();
    },
    methods: {
        filterMostViewedProducts: function(e) {
            axios.get('/api/v1/merchant/dashboard-report/'+this.periodic_filter)
                .then(response => {
                    this.most_viewed_products = response.data.most_viewed_products
                    this.most_viewed_product_count = response.data.most_viewed_product_count
                    this.createMostViewedProductsDailyReport('most_viewed_products_report'); 
                });
        },
        filterGraphs: function(graphs) {

            let graph_str = JSON.stringify(graphs)

            $('.age_report_container').hide()
            $('.gender_report_container').hide()
            $('.top_rated_products_report_container').hide()
            $('.top_selling_products_report_container').hide()
            $('.most_viewed_products_report_container').hide()
            $('.total_sales_report_container').hide()
            $('.most_used_payment_report_container').hide()
            $('.total_weekly_purchased_report_container').hide()

            if (graph_str.includes('age_report')) {
                $('.age_report_container').show()
            }

            if (graph_str.includes('gender_report')) {
                $('.gender_report_container').show()
            }

            if (graph_str.includes('top_rated_products_report')) {
                $('.top_rated_products_report_container').show()
            }

            if (graph_str.includes('top_selling_products_report')) {
                $('.top_selling_products_report_container').show()
            }

            if (graph_str.includes('most_viewed_products_report')) {
                $('.most_viewed_products_report_container').show()
            }

            if (graph_str.includes('total_sales_report')) {
                $('.total_sales_report_container').show()
            }

            if (graph_str.includes('most_used_payment_report')) {
                $('.most_used_payment_report_container').show()
            }

            if (graph_str.includes('total_weekly_purchased_report')) {
                $('.total_weekly_purchased_report_container').show()
            }
        
        },
        fetchOrderStatus: function(){
            axios.get('/api/v1/merchant/dashboard-count')
                .then(resp => {
                    this.status = resp.data.data
                });
        },
        initChart(){
            axios.get('/api/v1/merchant/dashboard-report/'+this.periodic_filter)
                .then(response => {
                    this.genders = response.data.gender_report
                    this.age_percentage = response.data.age_report
                    this.top_rated_products = response.data.top_rated_products
                    this.top_rated_product_ratings = response.data.top_rated_product_ratings
                    this.average_rating = response.data.average_rating
                    this.top_selling_products = response.data.top_selling_products
                    this.top_product_sold = response.data.top_product_sold
                    this.most_viewed_products = response.data.most_viewed_products
                    this.most_viewed_product_count = response.data.most_viewed_product_count
                    this.payment_types = response.data.payment_types
                    this.payment_type_count = response.data.payment_type_count
                    this.orders = response.data.orders
                    this.total_sales = response.data.total_sales
                    this.total_weekly_purchased = response.data.total_weekly_purchased
                    this.total_weekly_purchased_values = response.data.total_weekly_purchased_values
                    this.visitors_per_week = response.data.visitors_per_week

                    this.createAgeReport('age_report');
                    this.createGenderReport('gender_report');
                    this.createTopRatedProductsReport('top_rated_products_report'); 
                    this.createTopSellingProductsReport('top_selling_products_report'); 
                    this.createMostViewedProductsDailyReport('most_viewed_products_report'); 
                    this.createTotalSalesReport('total_sales_report'); 
                    this.createMostUsedPaymentReport('most_used_payment_report');
                    this.createTotalWeeklyPurchaseReport('total_weekly_purchased_report'); 
                });
        },
       
        createAgeReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: this.ages,
                    datasets: [{
                        data: this.age_percentage,
                        backgroundColor: [
                            "#0099ff", 
                            '#00ff55', 
                            '#ffff00', 
                            '#ff0066', 
                            '#ff00ff', 
                            '#ff9900'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var array = chart.datasets[0].data;
                                var total =  0;
                                for(var i=0;i<array.length;i++){                  
                                    if(isNaN(array[i])){
                                    continue;
                                    }
                                    total += Number(array[i]);
                                }

                                let percentage = (array[tooltipItem.index] * 100 / total).toFixed(2) + "%";
                                return percentage;
                                
                            }
                        }
                    }
                }
            });
        },
        createGenderReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: ['Male', 'Female'],
                    datasets: [{
                        data: this.genders,
                        backgroundColor: [
                            '#0099ff',
                            '#9999ff'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var array = chart.datasets[0].data;
                                var total =  0;
                                for(var i=0;i<array.length;i++){                  
                                    if(isNaN(array[i])){
                                    continue;
                                    }
                                    total += Number(array[i]);
                                }

                                let percentage = (array[tooltipItem.index] * 100 / total).toFixed(2) + "%";
                                return percentage;
                                
                            }
                        }
                    }
                }
            });
        },
        createTopRatedProductsReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: this.top_rated_products, 
                    datasets: [{
                        label: "Ratings",
                        backgroundColor: ["#0099ff", '#00ff55', '#ffff00', '#ff0066', '#ff00ff'],
                        // hoverBackgroundColor: "#0099ff",
                        borderColor: "#4e73df",
                        data: this.top_rated_product_ratings
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 5
                            },
                            maxBarThickness: 25
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                maxTicksLimit: 5,
                                max: 5,
                                padding: 10,
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: "#6e707e",
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: "#dddfeb",
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    }
                }
            });
        },
        createTopSellingProductsReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: this.top_selling_products, 
                    datasets: [{
                        label: "Sold",
                        backgroundColor: ["#0099ff", '#00ff55', '#ffff00', '#ff0066', '#ff00ff'],
                        // hoverBackgroundColor: "#0099ff",
                        borderColor: "#4e73df",
                        data: this.top_product_sold
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 6
                            },
                            maxBarThickness: 25
                        }],
                        yAxes: [{
                            ticks: {
                                stepSize: 1,
                                min: 0,
                                maxTicksLimit: 5,
                                padding: 10,
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: "#6e707e",
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: "#dddfeb",
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    }
                }
            });
        },
        createMostViewedProductsDailyReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: this.most_viewed_products, 
                    datasets: [{
                        label: "Count",
                        backgroundColor: ["#0099ff", '#00ff55', '#ffff00', '#ff0066', '#ff00ff'],
                        // hoverBackgroundColor: "#0099ff",
                        borderColor: "#4e73df",
                        data: this.most_viewed_product_count
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 6
                            },
                            maxBarThickness: 25
                        }],
                        yAxes: [{
                            ticks: {
                                stepSize: 1,
                                min: 0,
                                maxTicksLimit: 5,
                                padding: 10,
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: "#6e707e",
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: "#dddfeb",
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    }
                }
            });
        },
        createTotalSalesReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: this.months, 
                    datasets: [{
                        label: "Earnings",
                        backgroundColor: "rgba(235, 250, 235, 0.5)",
                        borderColor: '#33cc33',
                        data: this.total_sales
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 6
                            },
                            maxBarThickness: 25
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                maxTicksLimit: 5,
                                padding: 10,
                                callback: function(value, index, values) {
                                    return "₱" + number_format(value);
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: "#6e707e",
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: "#dddfeb",
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var datasetLabel =
                                    chart.datasets[tooltipItem.datasetIndex].label || "";
                                return datasetLabel + ": ₱" + number_format(tooltipItem.yLabel);
                            }
                        }
                    }
                }
            });
        },
        createMostUsedPaymentReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: this.payment_types,
                    datasets: [{
                        data: this.payment_type_count,
                        backgroundColor: [
                            'rgb(11,26,137)', 
                            'rgb(0,104,251)', 
                            'rgb(122,0,3)', 
                            'rgb(206,153,0)', 
                            '#00b300', 
                            'rgb(248,0,0)'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var array = chart.datasets[0].data;
                                var total =  0;
                                for(var i=0;i<array.length;i++){                  
                                    if(isNaN(array[i])){
                                    continue;
                                    }
                                    total += Number(array[i]);
                                }

                                let percentage = (array[tooltipItem.index] * 100 / total).toFixed(2) + "%";
                                return percentage;
                                
                            }
                        }
                    }
                }
            });
        },
        createTotalWeeklyPurchaseReport: function(chartId){
            const ctx = document.getElementById(chartId);
            const myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: this.days, //this.total_weekly_purchased, 
                    datasets: [
                        {
                            //label: ['Product 1479991','Product 1479992', 'Product 1479993'],
                            backgroundColor: "#2196f3",
                            data: this.total_weekly_purchased_values
                        },
                        // {
                        //     label: this.total_weekly_purchased[1],
                        //     backgroundColor: "#4caf50",
                        //     data: this.total_weekly_purchased_values[1]
                        // },
                        // {
                        //     label: this.total_weekly_purchased[2],
                        //     backgroundColor: "#ffc107",
                        //     data: this.total_weekly_purchased_values[2]
                        // },
                        // {
                        //     label: this.total_weekly_purchased[3],
                        //     backgroundColor: "#ff5722",
                        //     data: this.total_weekly_purchased_values[3]
                        // },
                        // {
                        //     label: this.total_weekly_purchased[4],
                        //     backgroundColor: "#673ab7",
                        //     data: this.total_weekly_purchased_values[4]
                        // },
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 6
                            },
                            maxBarThickness: 25
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                maxTicksLimit: 5,
                                padding: 10,
                                callback: function(value, index, values) {
                                    return number_format(value);
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: "#6e707e",
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: "#dddfeb",
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var datasetLabel =
                                    chart.datasets[tooltipItem.datasetIndex].label || "";
                                return datasetLabel + number_format(tooltipItem.yLabel);
                            }
                        }
                    }
                }
            });
        },
        viewOrders(){
            window.location.href = this.orders_url
        },

    }
  };


  function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + "").replace(",", "").replace(" ", "");
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = typeof thousands_sep === "undefined" ? "," : thousands_sep,
            dec = typeof dec_point === "undefined" ? "." : dec_point,
            s = "",
            toFixedFix = function(n, prec) {
                var k = Math.pow(10, prec);
                return "" + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : "" + Math.round(n)).split(".");
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || "").length < prec) {
            s[1] = s[1] || "";
            s[1] += new Array(prec - s[1].length + 1).join("0");
        }
        return s.join(dec);
    }
</script>