<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>View Tracker</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">View Tracker</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
                        :primaryKey="primaryKey">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table-v3';
    export default {
        name: "Merchants",
        data() {
            return {
            	dataFields: {
                    uri: "URL", 
            		type: "Type", 
                    type_id: "ID", 
                    daily: "Daily", 
                    weekly: "Weekly", 
                    monthly: "Monthly", 
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/view-tracker/list",
            };
        },        
        components: {
        	Table
 	   }
    };
</script>