<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New Field Group</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New Field Group</li>
	            </ol>
	          </div>
	        </div>
	      </div>
	    </section>
	    <!-- // Content Header (Page header) -->

	    <!-- Main content -->
	    <section class="content ml-2 mr-2">
	      	<div class="container-fluid">
	      		<form class="form">
		      		<div class="row">
			        	<div class="col-sm-9">	
				      		<div class="card">
			        			<div class="card-body">				        	        		
			        				<div class="row">
				        				
				        				<input type="text" 
				        				class="form-control" 
				        				id="cf_group_title"
				        				v-model="cf_group.cf_group_title"
				        				placeholder="Add Title">		        					
				        				
				        				<input type="hidden" 
				        				class="form-control" 
				        				id="cf_group_field_name"
				        				v-model="cf_group.cf_group_field_name">

			        				</div>
			        				<div class="row mt-4">
			        					<div class="col-sm-12">
				        					<div class="row cf-thead font-weight-bold">
				        						<div class="col">Order</div>
				        						<div class="col">Label</div>
				        						<div class="col">Name</div>
				        						<div class="col">Type</div>
				        					</div>
				     
			        						<draggable 
									        :list="list"
									        :disabled="!enabled"
									        class="list-group"
									        ghost-class="ghost"
									        :move="checkMove"
									        @start="dragging = true"
									        @end="dragging = false">
									        
									        <div class="list-group-item" 
									        v-for="(element, index) in list" 
									        :key="element.name">
									        	<div class="row">
										        	<div class="col">
										        		<span class="acf-icon acf-sortable-handle ui-sortable-handle" title="Drag to reorder">
										        		{{ index +1 }}
										        		</span>
										        	</div>
					        						<div class="col has-row-actions"><a href="#"><strong>{{ element.cf_title }}</strong></a>
					        							<div class="row-actions">
								                      		<span class="edit">
								                      			<a href="#" aria-label="Edit “Blog”">
								                      				<i class="fas fa-edit"></i>
								                      				Edit
								                      			</a> | 
								                      		</span>
								                      		<span class="trash">
								                      			<a href="#" class="submitdelete" 
								                      			aria-label="Move to the Trash" 
								                      			@click="remove(index)">
								                      				<i class="fas fa-trash-alt"></i>
								                      				Delete
								                      			</a>
								                      		</span>
								                      	</div>
					        						</div>
					        						<div class="col">{{ element.cf_field_name }}</div>
					        						<div class="col">{{ element.cf_field_type }}</div>	
									        	</div>								        	
									        </div>
									      </draggable>
				        				</div>
			        				</div>
			        			</div>
			        			<div class="card-footer">
				                	<button type="button" class="btn btn-primary btn-sm float-right" 
				                	@click="add">+ Add Field</button>
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-sm-3">
			        		<div class="card">
			        			<div class="card-header">
					                <h3 class="card-title">Publish</h3>
					            </div>
			        			<div class="card-body">
			        				<div class="row">
			        					<div class="col-5"><i class="fas fa-info-circle"></i> Status: </div>
			        					<div class="col-7">
			        						<select 
											v-model="cf_group.cf_group_status" 
											id="cf_group_status" 
											class="acf-field field-type" 
											name="cf_group_status">
												<option value="publish" selected="selected">Publish</option>
												<option value="draft">Draft</option>
												<option value="inactive">Inactive</option>
											</select>			        						
			        					</div>			        					
			        				</div>
			        			</div>
			        			<div class="card-footer">
				                	<button type="button" class="btn btn-primary btn-sm float-right">Publish</button>
				                </div>
			        		</div>
			        	</div>
			        </div>
		        </form>
	    	</div>
	    </section>
	    <!-- // Main content -->

	      <div class="modal fade" id="createModal">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		      	<form class="form">
		      		<input type="hidden" v-model="cf_fields.cf_name" id="cf_name" name="cf_name">
			        <div class="modal-header">
			          <h4 class="modal-title">Add Field</h4>
			          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			            <span aria-hidden="true">&times;</span>
			          </button>
			        </div>
			        <div class="modal-body">
			          <div class="settings">
						<table class="acf-table">
							<tbody>
								<tr>
									<td class="acf-label">
										<label>Field Label</label>
										<p class="description">This is the name which will appear on the EDIT page</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input type="text" 
											v-model="cf_fields.cf_title" 
											id="cf_title" 
											class="acf-field" 
											name="cf_title" 
											placeholder="New Field"
											@blur="onBlur">
										</div>
									</td>
								</tr>
								<tr>
									<td class="acf-label">
										<label>Field Name</label>
										<p class="description">Single word, no spaces. Underscores and dashes allowed</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_field_name" 
											id="cf_field_name" 
											class="acf-field" 
											name="cf_field_name" 
											placeholder="Field Name">
										</div>
									</td>
								</tr>
								<tr>
									<td class="acf-label">
										<label>Field Type</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<select 
											v-model="cf_fields.cf_field_type" 
											id="cf_field_type" 
											class="acf-field field-type" 
											name="cf_field_type" 
											@change="onChange($event)">
												<optgroup label="Basic">
													<option value="text">Text</option>
													<option value="textarea">Text Area</option>
													<option value="number">Number</option>
													<option value="range">Range</option>
													<option value="email">Email</option>
													<option value="url">Url</option>
													<option value="password">Password</option>
												</optgroup>
												<optgroup label="Content">
													<option value="image">Image</option>
													<option value="file">File</option>
													<option value="wysiwyg">Wysiwyg5 Editor</option>
													<!-- <option value="oembed">oEmbed</option> -->
												</optgroup>
												<optgroup label="Choice">
													<option value="select">Select</option>
													<option value="checkbox">Checkbox</option>
													<option value="radio">Radio Button</option>
													<option value="button_group">Button Group</option>
													<option value="true_false">True / False</option>
												</optgroup>
												<!-- <optgroup label="Relational">
													<option value="relationship">Relationship</option>
													<option value="category">Category</option>
													<option value="user">User</option>
												</optgroup> -->
												<optgroup label="jQuery">
													<option value="google_map">Google Map</option>
													<option value="date_picker">Date Picker</option>
													<!-- <option value="date_time_picker">Date Time Picker</option>
													<option value="time_picker">Time Picker</option>
													<option value="color_picker">Color Picker</option> -->
												</optgroup>
												<!-- <optgroup label="Layout">
													<option value="message">Message</option>
													<option value="accordion">Accordion</option>
													<option value="tab">Tab</option>
													<option value="group">Group</option>
												</optgroup> -->
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td class="acf-label">
										<label>Instructions</label>
										<p class="description">Instructions for authors. Shown when submitting data</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<textarea 
											v-model="cf_fields.cf_instructions" 
											id="cf_instructions" 
											class="acf-field" 
											name="cf_instructions" 
											rows="5"></textarea>
										</div>
									</td>
								</tr>
								<tr>
									<td class="acf-label">
										<label>Required?</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											v-model="cf_fields.cf_required" 
											type="checkbox" 
											name="cf_required"
											id="cf_required"
											class="custom-control-input">
										</div>
										<div class="acf-switch" @click="isRequired">
											<span class="acf-switch-on" style="min-width: 18px;">Yes</span>
											<span class="acf-switch-off" style="min-width: 18px;">No</span>
											<div class="acf-switch-slider"></div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.choices">
									<td class="acf-label">
										<label>Choices</label>
										<p class="description">Enter each choice on a new line.<br/><br/>For more control, you may specify both a value and label like this:<br/><br/>red : Red</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<textarea 
											v-model="cf_fields.cf_choices" 
											id="cf_choices" 
											class="acf-field" 
											name="cf_choices" 
											rows="8"></textarea>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.message">
									<td class="acf-label">
										<label>Message</label>
										<p class="description">Displays text alongside the checkbox</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_message" 
											id="cf_message" 
											class="acf-field" 
											name="cf_message" 
											placeholder="Default Value">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.defaultValueText">
									<td class="acf-label">
										<label>Default Value</label>
										<p class="description">Appears when creating a new post</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_default_value" 
											id="cf_default_value" 
											class="acf-field" 
											name="cf_default_value" 
											placeholder="Default Value">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.defaultValueTextarea">
									<td class="acf-label">
										<label>Default Value</label>
										<p class="description">Appears within the input</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<textarea 
											v-model="cf_fields.cf_default_value_tarea" 
											id="cf_default_value_tarea" 
											class="acf-field" 
											name="cf_default_value_tarea" 
											rows="8"></textarea>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.defaultValueSwitch">
									<td class="acf-label">
										<label>Default Value</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											v-model="cf_fields.cf_default_value_swtich" 
											type="checkbox" 
											name="cf_default_value_swtich"
											id="cf_default_value_swtich"
											class="custom-control-input">
										</div>
										<div class="acf-switch" @click="defaultValue">
											<span class="acf-switch-on" style="min-width: 18px;">Yes</span>
											<span class="acf-switch-off" style="min-width: 18px;">No</span>
											<div class="acf-switch-slider"></div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.allowNUll">
									<td class="acf-label">
										<label>Allow Null?</label>
									</td>
									<td class="acf-input">					
										<div class="acf-input-wrap">
											<input 
											v-model="cf_fields.cf_allow_null" 
											type="checkbox" 
											name="cf_allow_null"
											id="cf_allow_null"
											class="custom-control-input">
										</div>
										<div class="acf-switch" @click="allowNull">
											<span class="acf-switch-on" style="min-width: 18px;">Yes</span>
											<span class="acf-switch-off" style="min-width: 18px;">No</span>
											<div class="acf-switch-slider"></div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.selectMultipleValue">
									<td class="acf-label">
										<label>Select multiple values?</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											v-model="cf_fields.cf_multi_value" 
											type="checkbox" 
											name="cf_multi_value"
											id="cf_multi_value"
											class="custom-control-input">
										</div>
										<div class="acf-switch" @click="multiValue">
											<span class="acf-switch-on" style="min-width: 18px;">Yes</span>
											<span class="acf-switch-off" style="min-width: 18px;">No</span>
											<div class="acf-switch-slider"></div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.placeholderHolder">
									<td class="acf-label">
										<label>Placeholder Text</label>
										<p class="description">Appears within the input</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_place_holder" 
											id="cf_place_holder" 
											class="acf-field" 
											name="cf_place_holder" 
											placeholder="Placeholder Text">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.returnFormat">
									<td class="acf-label">
										<label>Return Format</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">

											<div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_return_format" 
					                          id="cf_return_format1" 
					                          name="cf_return_format" 
					                          value="array">
					                          <label for="cf_return_format1" class="custom-control-label font-waight-normal">Array</label>
					                        </div>

					                        <div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_return_format" 
					                          id="cf_return_format2" 
					                          name="cf_return_format" 
					                          value="url">
					                          <label for="cf_return_format2" class="custom-control-label font-waight-normal">URL</label>
					                        </div>

										</div>
									</td>
								</tr>
								<tr v-show="displayField.returnFormatSelect">
									<td class="acf-label">
										<label>Return Format</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_return_format_select" 
					                          id="cf_return_format3" 
					                          name="cf_return_format_select">

					                          <label for="cf_return_format3" class="custom-control-label font-waight-normal">Value</label>

					                        </div>
					                        <div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_return_format_select" 
					                          id="cf_return_format4"
					                          name="cf_return_format_select">

					                          <label for="cf_return_format4" class="custom-control-label font-waight-normal">Label</label>

					                        </div>
					                        <div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_return_format_select" 
					                          id="cf_return_format5" 
					                          name="cf_return_format_select">

					                          <label for="cf_return_format5" class="custom-control-label font-waight-normal">Both (Array)</label>

					                        </div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.layout">
									<td class="acf-label">
										<label>Layout</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_layout" 
					                          id="layout_1" 
					                          name="cf_layout">

					                          <label for="layout_1" class="custom-control-label font-waight-normal">Vertical</label>

					                        </div>
					                        <div class="custom-control custom-radio">
					                          <input 
					                          class="custom-control-input" 
					                          type="radio" 
					                          v-model="cf_fields.cf_layout" 
					                          id="layout_2" 
					                          name="cf_layout">

					                          <label for="layout_2" class="custom-control-label font-waight-normal">Horizontal</label>

					                        </div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.toggle">
									<td class="acf-label">
										<label>Toggle</label>
										<p class="description">Prepend an extra checkbox to toggle all choices</p>
									</td>
									<td class="acf-input">										
										<div class="acf-input-wrap">
											<input 
											v-model="cf_fields.cf_toggle" 
											type="checkbox" 
											name="cf_toggle"
											id="cf_toggle"
											class="custom-control-input">
										</div>
										<div class="acf-switch" @click="toggle">
											<span class="acf-switch-on" style="min-width: 18px;">Yes</span>
											<span class="acf-switch-off" style="min-width: 18px;">No</span>
											<div class="acf-switch-slider"></div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.previewSize">
									<td class="acf-label">
										<label>Preview Size</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<select 
											v-model="cf_fields.cf_preview_size" 
											id="cf_preview_size" 
											class="acf-field" 
											name="cf_preview_size">
												<option value="thumbnail">Thumbnail (150 x 150)</option>
												<option value="medium" selected="selected">Medium (300 x 300)</option>
												<option value="large">Large (1024 x 1024)</option>
												<option value="medium_large">Medium_large</option>
												<option value="full">Full Size</option>
											</select>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.minimumImageSize">
									<td class="acf-label">
										<label>Minimum</label>
										<p class="description">Restrict which images can be uploaded</p>
									</td>
									<td class="acf-input">
										<div class="row acf-input-wrap">
											<div class="col-4">
												<div class="input-group input-group-sm mb-3">
												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">Width</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_min_image_width" 
												  id="cf_min_image_width" 
												  name="cf_min_image_width" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">

												  <div class="input-group-append">
												    <span class="input-group-text">px</span>
												  </div>

												</div>
											</div>
											<div class="col-4">
												<div class="input-group input-group-sm mb-3">
												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">Height</span>
												  </div>
												  <input 
												  type="text" 
												  v-model="cf_fields.cf_min_image_height" 
												  id="cf_min_image_height" 
												  name="cf_min_image_height" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">

												  <div class="input-group-append">
												    <span class="input-group-text">px</span>
												  </div>

												</div>
											</div>
											<div class="col-4">
												<div class="input-group input-group-sm mb-3">

												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">File size</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_min_image_size" 
												  id="cf_min_image_size" 
												  name="cf_min_image_size" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">

												  <div class="input-group-append">
												    <span class="input-group-text">MB</span>
												  </div>

												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.maximumImageSize">
									<td class="acf-label">
										<label>Maximum</label>
										<p class="description">Restrict which images can be uploaded</p>
									</td>
									<td class="acf-input">
										<div class="row acf-input-wrap">
											<div class="col-4">
												<div class="input-group input-group-sm mb-3">

												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">Width</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_max_image_width" 
												  id="cf_max_image_width" 
												  name="cf_max_image_width" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">

												  <div class="input-group-append">
												    <span class="input-group-text">px</span>
												  </div>

												</div>
											</div>
											<div class="col-4">
												<div class="input-group input-group-sm mb-3">

												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">Height</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_max_image_height" 
												  id="cf_max_image_height" 
												  name="cf_max_image_height" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">

												  <div class="input-group-append">
												    <span class="input-group-text">px</span>
												  </div>

												</div>
											</div>
											<div class="col-4">
												<div class="input-group input-group-sm mb-3">

												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">File size</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_max_image_size" 
												  id="cf_max_image_size" 
												  name="cf_max_image_size" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">

												  <div class="input-group-append">
												    <span class="input-group-text">MB</span>
												  </div>

												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.minimumFileSize">
									<td class="acf-label">
										<label>Minimum</label>
										<p class="description">Restrict which images can be uploaded</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<div class="input-group input-group-sm mb-3">

											  <div class="input-group-prepend">
											    <span class="input-group-text" id="inputGroup-sizing-sm">File size</span>
											  </div>

											  <input 
											  type="text" 
											  v-model="cf_fields.cf_min_file_size" 
											  id="cf_min_file_size" 
											  name="cf_min_file_size" 
											  class="form-control" 
											  aria-label="Sizing example input" 
											  aria-describedby="inputGroup-sizing-sm">

											  <div class="input-group-append">
											    <span class="input-group-text">MB</span>
											  </div>

											</div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.maximumFileSize">
									<td class="acf-label">
										<label>Maximum</label>
										<p class="description">Restrict which images can be uploaded</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<div class="input-group input-group-sm mb-3">

											  <div class="input-group-prepend">
											    <span class="input-group-text" id="inputGroup-sizing-sm">File size</span>
											  </div>

											  <input 
											  type="text" 
											  v-model="cf_fields.cf_max_file_size" 
											  id="cf_max_file_size" 
											  name="cf_max_file_size"
											  class="form-control" 
											  aria-label="Sizing example input" 
											  aria-describedby="inputGroup-sizing-sm">

											  <div class="input-group-append">
											    <span class="input-group-text">MB</span>
											  </div>

											</div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.allowedFileTypes">
									<td class="acf-label">
										<label>Allowed file types</label>
										<p class="description">Comma separated list. Leave blank for all types</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_allowed_file_types" 
											id="cf_allowed_file_types" 
											name="cf_allowed_file_types"
											class="acf-field">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.prepend">
									<td class="acf-label">
										<label>Prepend</label>
										<p class="description">Appears before the input</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_prepend" 
											id="cf_prepend" 
											name="cf_prepend" 
											class="acf-field" 
											placeholder="Prepend">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.append">
									<td class="acf-label">
										<label>Append</label>
										<p class="description">Appears after the input</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_append" 
											id="cf_append" 
											name="cf_append" 
											class="acf-field" 
											placeholder="Append">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.characterLimit">
									<td class="acf-label">
										<label>Character Limit</label>
										<p class="description">Leave blank for no limit</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_character_limit" 
											id="cf_character_limit" 
											name="cf_character_limit" 
											class="acf-field" 
											placeholder="Character Limit">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.numrows">
									<td class="acf-label">
										<label>Rows</label>
										<p class="description">Sets the textarea height</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_num_rows" 
											id="cf_num_rows" 
											name="cf_num_rows" 
											class="acf-field" 
											placeholder="8">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.minimumValue">
									<td class="acf-label">
										<label>Minimum Value</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_min_value" 
											id="cf_min_value" 
											name="cf_min_value" 
											class="acf-field" 
											placeholder="0">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.maximumValue">
									<td class="acf-label">
										<label>Maximum Value</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_max_value" 
											id="cf_max_value" 
											name="cf_max_value" 
											class="acf-field" 
											placeholder="100">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.mapCenter">
									<td class="acf-label">
										<label>Center</label>
										<p class="description">Center the initial map</p>
									</td>
									<td class="acf-input">
										<div class="row acf-input-wrap">
											<div class="col-6">
												<div class="input-group input-group-sm mb-3">

												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">lat</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_lat" 
												  id="cf_lat" 
												  name="cf_lat" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">
												</div>
											</div>
											<div class="col-6">
												<div class="input-group input-group-sm mb-3">

												  <div class="input-group-prepend">
												    <span class="input-group-text" id="inputGroup-sizing-sm">lng</span>
												  </div>

												  <input 
												  type="text" 
												  v-model="cf_fields.cf_lng" 
												  id="cf_lng" 
												  name="cf_lng" 
												  class="form-control" 
												  aria-label="Sizing example input" 
												  aria-describedby="inputGroup-sizing-sm">
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.mapZoom">
									<td class="acf-label">
										<label>Zoom</label>
										<p class="description">Set the initial zoom level</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input 
											type="text" 
											v-model="cf_fields.cf_map_zoom" 
											id="cf_map_zoom" 
											name="cf_map_zoom" 
											class="acf-field" 
											placeholder="14">
										</div>
									</td>
								</tr>
								<tr v-show="displayField.mapHeight">
									<td class="acf-label">
										<label>Height</label>
										<p class="description">Customize the map height</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<div class="input-group input-group-sm mb-3">
											  <input 
											  type="text" 
											  v-model="cf_fields.cf_map_height" 
											  id="cf_map_height" 
											  name="cf_map_height" 
											  class="form-control" 
											  aria-label="Sizing example input" 
											  aria-describedby="inputGroup-sizing-sm" 
											  placeholder="400">

											  <div class="input-group-append">
											    <span class="input-group-text">px</span>
											  </div>

											</div>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.dateDisplayFormat">
									<td class="acf-label">
										<label>Display Format</label>
										<p class="description">The format displayed when editing a post</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<ul class="acf-bl">
												<li>
													<label class="selected">
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_format" 
														name="cf_date_format" 
														value="d/m/Y" 
														checked="checked" 
														@click="chkDsiplayFormat(true)">
														<span>22/04/2020</span>
														<code>d/m/Y</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_format" 
														name="cf_date_format" 
														value="m/d/Y" 
														@click="chkDsiplayFormat(true)">
														<span>04/22/2020</span>
														<code>m/d/Y</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_format" 
														name="cf_date_format" 
														value="F j, Y" 
														@click="chkDsiplayFormat(true)">
														<span>April 22, 2020</span>
														<code>F j, Y</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_format" 
														name="cf_date_format" 
														value="other" 
														@click="chkDsiplayFormat(false)">
														<span>Custom:</span>
													</label> 
													<input 
													type="text" 
													id="cf_date_custom_format" 
													name="cf_date_custom_format" 
													v-bind:disabled="displayFormat"
													class="acf-disabled">
													<label></label>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.dateReturnFormat">
									<td class="acf-label">
										<label>Return Format</label>
										<p class="description">The format returned via template functions</p>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input type="hidden" name="">
											<ul class="acf-radio-list acf-bl">
												<li>
													<label class="selected">
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_return_format" 
														name="cf_date_return_format" 
														value="d/m/Y" 
														checked="checked" 
														@click="chkReturnFormat(true)">
														<span>22/04/2020</span>
														<code>d/m/Y</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_return_format" 
														name="cf_date_return_format" 
														value="m/d/Y"
														@click="chkReturnFormat(true)">
														<span>04/22/2020</span>
														<code>m/d/Y</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_return_format" 
														name="cf_date_return_format" 
														value="F j, Y"
														@click="chkReturnFormat(true)">
														<span>April 22, 2020</span>
														<code>F j, Y</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_return_format" 
														name="cf_date_return_format" 
														value="Ymd" 
														@click="chkReturnFormat(true)">
														<span>20200422</span>
														<code>Ymd</code>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_date_return_format" 
														name="cf_date_return_format" 
														value="other" 
														@click="chkReturnFormat(false)">
														<span>Custom:</span>
													</label> 
													<input 
													type="text" 
													v-model="cf_fields.cf_date_custom_return_format" 
													name="cf_date_custom_return_format" 
													v-bind:disabled="returnFormat" 
													class="acf-disabled">
													<label></label>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr v-show="displayField.weekStartOn">
									<td class="acf-label">
										<label>Week Starts On</label>
									</td>
									<td class="acf-input">
										<div class="acf-input-wrap">
											<input type="hidden" name="">
											<ul class="acf-radio-list acf-bl">
												<li>
													<label class="selected">
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Sunday" 
														checked="checked">
														<span>Sunday</span>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Monday">
														<span>Monday</span>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Tuesday">
														<span>Tuesday</span>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Wednesday">
														<span>Wednesday</span>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Thursday">
														<span>Thursday</span>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Friday">
														<span>Friday</span>
													</label>
												</li>
												<li>
													<label>
														<input 
														type="radio" 
														v-model="cf_fields.cf_week_start_on" 
														name="cf_week_start_on" 
														value="Saturday">
														<span>Saturday</span>
													</label>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
			        </div>
			        <div class="modal-footer justify-content-between">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			          <button type="button" class="btn btn-primary" @click="store">Add Field </button>
			        </div>
			    </form>
		      </div>
		      <!-- /.modal-content -->
		    </div>
		    <!-- /.modal-dialog -->
		  </div>
		  <!-- /.modal -->
	</div>
</template>
<script>
	import draggable from 'vuedraggable';
	import customField from "../../../helpers/customField";
	import Form from '../../../helpers/form';
	import { generateStrings } from '../../../helpers/generateString';

	let id = 1;
	export default {
	  name: "field-group",
	  display: "Field Group",
	  order: 0,
	  components: {
	    draggable,
	  },
	  data() {
	    return {
	      enabled: true,
	      list: [],
	      dragging: false,
	      displayField: customField.default,
	  	  returnFormat: true,
	  	  displayFormat: true,
	  	  cf_group: new Form({
	  	  	cf_group_title: '',
	  	  	cf_group_field_name: '',
	  	  	cf_group_status: 'publish',
	  	  	cf_group_order: 0,
	  	  	cf_group_name: '',
	  	  	cf_group_type: 'cf-field-group'
	  	  }),
	  	  cf_fields: new Form({
	  	  	cf_title: '',
			cf_field_name: '',
	  	  	cf_status: 'publish',
	  	  	cf_order: 0,
	  	  	cf_name: '',
	  	  	cf_type: 'cf-field',
			cf_field_type: 'text',
			cf_instructions: '',
			cf_required: '',
			cf_choices: '',
			cf_message: '',
			cf_default_value: '',
			cf_default_value_tarea: '',
			cf_default_value_swtich: '',
			cf_allow_null: '',
			cf_multi_value: '',
			cf_place_holder: '',
			cf_return_format: '',
			cf_return_format_select: '',
			cf_layout: '',
			cf_toggle: '',
			cf_preview_size: '',
			cf_min_image_width: '',
			cf_min_image_height: '',
			cf_min_image_size: '',
			cf_max_image_width: '',
			cf_max_image_height: '',
			cf_max_image_size: '',
			cf_min_file_size: '',
			cf_max_file_size: '',
			cf_allowed_file_types: '',
			cf_prepend: '',
			cf_append: '',
			cf_character_limit: '',
			cf_num_rows: '',
			cf_min_value: '',
			cf_max_value: '',
			cf_lat: '',
			cf_lng: '',
			cf_map_zoom: '',
			cf_map_height: '',
			cf_date_format: '',
			cf_date_custom_format: '',
			cf_date_return_format: '',
			cf_date_custom_return_format: '',
			cf_week_start_on: '',
	  	  })
	    };
	  },
	  computed: {
	    draggingInfo() {
	      return this.dragging ? "under drag" : "";
	    }
	  },
	  methods: {
	  	add: function(cf_fields) {
	  		var field_id = generateStrings(1,10);

	  		this.cf_fields = {};
            this.cf_fields = new Form(cf_fields);
			this.cf_fields.cf_name = 'field_' + field_id;
			this.cf_fields.cf_field_type = 'text';
			this.cf_fields.cf_status = 'publish';
			this.cf_fields.cf_type = 'cf-field';
			this.cf_fields.cf_required = false;

			this.displayField = customField.default;

			$(".acf-switch").removeClass('-on');
            $('#createModal').modal('toggle');
	  	},
	    store: function() {
			this.list.push(this.cf_fields);
			$('#createModal').modal('hide');
	    },
	    remove: function(index) {
	      this.list.splice(index, 1);
	    },
	    checkMove: function(e) {
	      window.console.log("Future index: " + e.draggedContext.futureIndex);
	    },
	    onChange: function(event) {
	  		switch(event.target.value) {
	  		  case "password":
			  case "text":
				  this.displayField = customField.text;
			    break;
			   case "textarea":
				  this.displayField = customField.textarea;
			    break;
			  case "range":
			  case "number":
				  this.displayField = customField.number;
			    break;
			  case "email":
				  this.displayField = customField.email;
			    break;
			  case "url":
				  this.displayField = customField.url;
			    break;
			  case "image":
				  this.displayField = customField.image;
			    break;   
			  case "file":
				  this.displayField = customField.file;
			    break; 
		      case "wysiwyg":
				  this.displayField = customField.wysiwyg;
			    break;
			  case "select":
				  this.displayField = customField.select;
			    break;
			  case "checkbox":
				  this.displayField = customField.checkbox;
			    break;
			  case "radio":
			  case "button_group":
				  this.displayField = customField.button_group;
			    break;
			  case "true_false":
				  this.displayField = customField.true_false;
			    break;
			  case "google_map":
				  this.displayField = customField.google_map;
			    break;
			  case "date_picker":
				  this.displayField = customField.date_picker;
			    break;
			}
	  	},
	  	chkReturnFormat: function(val) {
	  		return this.returnFormat = val;
	  	},
	  	chkDsiplayFormat: function(val) {
	  		return this.displayFormat = val;
	  	},
	  	isRequired: function() {
	  		if(this.cf_fields.cf_required == true) {
		  		this.cf_fields.cf_required = false;
	  		}
	  		else {
		  		this.cf_fields.cf_required = true;
	  		}
	  	},
	  	allowNull: function() {
	  		if(this.cf_fields.cf_allow_null == true) {
		  		this.cf_fields.cf_allow_null = false;
	  		}
	  		else {
		  		this.cf_fields.cf_allow_null = true;
	  		}
	  	},
	  	multiValue: function() {
	  		if(this.cf_fields.cf_multi_value == true) {
		  		this.cf_fields.cf_multi_value = false;
	  		}
	  		else {
		  		this.cf_fields.cf_multi_value = true;
	  		}
	  	},
	  	toggle: function() {
	  		if(this.cf_fields.cf_toggle == true) {
		  		this.cf_fields.cf_toggle = false;
	  		}
	  		else {
		  		this.cf_fields.cf_toggle = true;
	  		}	  		
	  	},
	  	defaultValue: function() {
	  		if(this.cf_fields.cf_default_value_swtich == true) {
		  		this.cf_fields.cf_default_value_swtich = false;
	  		}
	  		else {
		  		this.cf_fields.cf_default_value_swtich = true;
	  		}	
	  	},
	  	onBlur: function() {
	  		var field_name = this.cf_fields.cf_title
	  		this.cf_fields.cf_field_name = field_name.replace(/ /g,"_");
	  	}
	  }
	};

	$(function () {
		$(".acf-switch").click(function() { 
			if($(this).hasClass('-on')) {
				$(this).removeClass('-on');
			} else {
				$(this).addClass('-on');
			}
		});

		$(".field-type").on('change', function() { 
			console.log($(this).val());
		});

		$("#cf_title").on('blur', function() {
			var fieldName = $(this).val();
			$("#cf_field_name").val(
				fieldName.replace(/ /g,"_")
	  		);
		});

		$("#cf_group_title").on('blur', function() {
			var fieldName = $(this).val();
			$("#cf_group_field_name").val(
				fieldName.replace(" ", "-").toLowerCase().trim()
	  		);
		});		
	});

</script>
<style scoped>
	.ghost {
	  opacity: 1;
	  background: #c8ebfb;
	}
</style>