<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Field Groups 
	            	<router-link to="/field-group" type="button" class="btn btn-outline-primary btn-flat btn-sm">
                    Add New
                  </router-link>
	            </h1>

	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Field Groups</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content ml-2 mr-2">
	      <div class="container-fluid">
	        <div class="row mb-2">
	        	<div class="col-sm-9">
	        		<ul class="subsubsub">
						<li class="all">
							<a href="#" class="current" aria-current="page">All <span class="count">(8)</span>
							</a> |
						</li>
						<li class="publish">
							<a href="#">
								Active <span class="count">(8)</span>
							</a>
						</li>
					</ul>
	        	</div>
	        	<div class="col-sm-3">
	        		<div class="input-group input-group-sm">
	                  <input type="text" class="form-control">
	                  <span class="input-group-append">
	                    <button type="button" class="btn btn-info btn-flat">Search</button>
	                  </span>
	                </div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-sm-12">
	        		<div class="card">
	        		  	<!-- card-body -->
		              	<div class="card-body table-responsive p-0">
			                <table class="table table-hover text-nowrap">
			                  <thead>                  
			                    <tr>
			                      <th style="width: 10px">
			                      	<div class="custom-control custom-checkbox">
			                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
			                          <label for="customCheckbox1" class="custom-control-label"></label>
			                        </div>
			                      </th>
			                      <th>Title</th>
			                      <th style="width: 40px">Fields</th>
			                    </tr>
			                  </thead>
			                  <tbody>
			                    <tr>
			                      <td>
			                      	<div class="custom-control custom-checkbox">
			                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
			                          <label for="customCheckbox1" class="custom-control-label"></label>
			                        </div>
			                      </td>
			                      <td class="has-row-actions">Update software
			                      	<div class="row-actions">
			                      		<span class="edit">
			                      			<a href="#" aria-label="Edit “Blog”">
			                      				<i class="fas fa-edit"></i>
			                      				Edit
			                      			</a> | 
			                      		</span>
			                      		<span class="trash">
			                      			<a href="#" class="submitdelete" aria-label="Move to the Trash">
			                      				<i class="fas fa-trash-alt"></i>
			                      				Trash
			                      			</a> |
			                      		</span>
			                      		<span class="acf-duplicate-field-group">
			                      			<a title="View this item" href="#">
			                      				<i class="fas fa-eye"></i>
			                      				View
			                      			</a>
			                      		</span>
			                      	</div>
			                      </td>
			                      <td><span class="badge bg-danger">55%</span></td>
			                    </tr>
			                    <tr>
			                      <td>
			                      	<div class="custom-control custom-checkbox">
			                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
			                          <label for="customCheckbox1" class="custom-control-label"></label>
			                        </div>
			                      </td>
			                      <td class="has-row-actions">Clean database
			                      	<div class="row-actions">
			                      		<span class="edit">
			                      			<a href="#" aria-label="Edit “Blog”">
			                      				<i class="fas fa-edit"></i>
			                      				Edit
			                      			</a> | 
			                      		</span>
			                      		<span class="trash">
			                      			<a href="#" class="submitdelete" aria-label="Move to the Trash">
			                      				<i class="fas fa-trash-alt"></i>
			                      				Trash
			                      			</a> |
			                      		</span>
			                      		<span class="acf-duplicate-field-group">
			                      			<a title="View this item" href="#">
			                      				<i class="fas fa-eye"></i>
			                      				View
			                      			</a>
			                      		</span>
			                      	</div>
			                      </td>
			                      <td><span class="badge bg-warning">70%</span></td>
			                    </tr>
			                    <tr>
			                      <td>
			                      	<div class="custom-control custom-checkbox">
			                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
			                          <label for="customCheckbox1" class="custom-control-label"></label>
			                        </div>
			                      </td>
			                      <td class="has-row-actions">Cron job running
			                      	<div class="row-actions">
			                      		<span class="edit">
			                      			<a href="#" aria-label="Edit “Blog”">
			                      				<i class="fas fa-edit"></i>
			                      				Edit
			                      			</a> | 
			                      		</span>
			                      		<span class="trash">
			                      			<a href="#" class="submitdelete" aria-label="Move to the Trash">
			                      				<i class="fas fa-trash-alt"></i>
			                      				Trash
			                      			</a> |
			                      		</span>
			                      		<span class="acf-duplicate-field-group">
			                      			<a title="View this item" href="#">
			                      				<i class="fas fa-eye"></i>
			                      				View
			                      			</a>
			                      		</span>
			                      	</div>
			                      </td>
			                      <td><span class="badge bg-primary">30%</span></td>
			                    </tr>
			                    <tr>
			                      <td>
			                      	<div class="custom-control custom-checkbox">
			                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
			                          <label for="customCheckbox1" class="custom-control-label"></label>
			                        </div>
			                      </td>
			                      <td class="has-row-actions">Fix and squish bugs
			                      	<div class="row-actions">
			                      		<span class="edit">
			                      			<a href="#" aria-label="Edit “Blog”">
			                      				<i class="fas fa-edit"></i>
			                      				Edit
			                      			</a> | 
			                      		</span>
			                      		<span class="trash">
			                      			<a href="#" class="submitdelete" aria-label="Move to the Trash">
			                      				<i class="fas fa-trash-alt"></i>
			                      				Trash
			                      			</a> |
			                      		</span>
			                      		<span class="acf-duplicate-field-group">
			                      			<a title="View this item" href="#">
			                      				<i class="fas fa-eye"></i>
			                      				View
			                      			</a>
			                      		</span>
			                      	</div>
			                      </td>
			                      <td><span class="badge bg-success">90%</span></td>
			                    </tr>
			                  </tbody>
			                </table>
			            </div>
		              	<!-- /.card-body -->
	              </div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-sm-6">
	        		
	        	</div>
	        	<div class="col-sm-6">
	              	<nav aria-label="Page navigation example">
					  <ul class="pagination justify-content-end">
					    <li class="page-item disabled">
					      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
					    </li>
					    <li class="page-item"><a class="page-link" href="#">1</a></li>
					    <li class="page-item"><a class="page-link" href="#">2</a></li>
					    <li class="page-item"><a class="page-link" href="#">3</a></li>
					    <li class="page-item">
					      <a class="page-link" href="#">Next</a>
					    </li>
					  </ul>
					</nav>
	        	</div>
	        </div>
		  </div>
		</section>
	    <!-- End Main content -->
	</div>
</template>

<script>  
    export default {
        name: "custom-fields",
        data() {
            return {
                form: {
                },
                error: null
            };
        },
        methods: {
        },
        computed: {
        	currentUser() {
                return this.$store.getters.currentUser
            }
        },
        components: {
 	   }
    }
</script>