<style scoped>
 /* main {
    min-height: 100vh;
    margin-top: 150px;
  }*/

  #bread-header {
    background: #f7f8fa;
  }

  .bread-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .bread-item {
    font-size: 12px;
    padding: 4px 6px 4px 11px;
    position: relative;
    text-transform: capitalize;
  }

  .bread-item>a:hover {
    color: #0056b3;
  }

  #bread-header .bread-nav li:not(:first-child):before {
    content: "/";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 4px;
  }

  .bread-title {
    text-decoration: none!important;
    outline: none;
    color: #777;
    background-color: transparent;
  }

  .bread-title:hover {
    border-bottom: 1px solid #182a84;
  }

  label {
    font-size: 14px;
    color: #191919;
    font-weight: 500 !important;
    padding-bottom: 4px;
    letter-spacing: .02em;
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
  }

  .breadcrumb {
    background: transparent;
  }

  .breadcrumb-item {
    fotn-weight: normal;
  }

  .breadcrumb-light .breadcrumb-item>a {
    color: #fff;
  }

  .search-wrapper {
    background-color: white;
    margin-bottom: 2rem;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 100vh;
  }

  #filter {
    margin-bottom: 33px;
  }

  .filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 0 20px 13px 0;
    cursor: pointer;
    color: #191919;
    border-bottom: 1px solid #e9e7e7;
    transition: color 0.2s linear;
    text-transform: uppercase;
  }

  .filter-options {
    margin-top: -8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.filter-options li label {
    color: #777777;
    font-size: 13px;
    margin: 0;
    margin-bottom: 2px;
    line-height: 26px;
    letter-spacing: 0.01em;
    transition: color 0.2s linear;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: inline-flex;
    font-weight: 500 !important;
    margin-left: 0.5rem;
  }

  ul.filter-options li label:hover {
    color: #182A84;
    font-weight: bold;
  }

  input:checked+label {
    color: #182086 !important;
  }

  .search-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    flex: 1 1 auto;
    color: #191919;
    margin-bottom: 0px;
  }

  .brand-title {
    width: 100%;
    font-size: 1.35rem;
    color: #3c55a5;
    margin: 2px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 26px;
  }

  .brand-body {
    border-color: #e9e7e7;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    padding: 45px;
    height: 138px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e7e7;
    text-decoration: none !important;
    position: relative;
    text-align: center;
    transition: border 0.2s linear;
    background-color: white;
    color: #182A84;
    box-shadow: 0 3px 10px 0 rgba(44, 44, 45, 0.07), inset 0 0 0 1px rgba(44, 44, 45, 0.07);
  }

  .brand-body:hover {
    border-color: #182A84;
    color: #182A84;
  }

  .home-brand-image {
    width: 73%;
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 800px) {
    .home-brand-image {
      width: 100%;
    }
  }
  
</style>

<template>
    <div class="content">
      <main role="main">
        <div id="bread-header">
            <div class="container">
                <ul class="bread-nav">
                    <li class="bread-item">
                        <a href="/" class="bread-title">Home</a>
                    </li>
                    <li class="bread-item">
                        <a href="/brand" class="bread-title">Brand</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mb-0">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center mb-5">Our Brands</h2>
                    <hr>
                    <h3 class="text-center text-uppercase mt-5" v-if="brandsCount == 0">
                        <p>{{loading_message}}</p>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </h3>
                </div>
                <div  class="col-md-12 d-flex flex-wrap">
                    <div class="col-md-3 col-6" v-for="(brand,brandIndex) in brands" :key="brandIndex">
                        <a :href="'/brand/'+brand.slug_name+'/sort/popular'" class="brand-body">
                            <div v-lazy-container="{ selector: 'img' }">
                                <img :data-src="brand.image_url" class="home-brand-image">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <h4 class="text-center text-uppercase no-more-label mt-4">All items loaded</h4>
            
        </div>
      </main>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'Brands',
        components: { 
            InfiniteLoading
        },
        data() {
            return {
                brands: [],
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                brandsCount: 0,
                error: null,
                loading_message: "Loading, please wait",
                scroll_counter: 0,
                page: 1,
                perPage: 16,
                search: "",
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()
            this.getBrands()
            setTimeout(() => {
                this.loading_message = "No results found."
                $('.spinner-grow').hide()
            }, 5000)
        },
        created() {
            window.addEventListener('scroll', this.handleScroll)
        },
        updated() {
        },
        methods: {
          handleScroll() {                
              if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                  if (this.scroll_counter < this.brandsCount) {
                      this.getBrands()
                      $('.no-more-label').hide()
                  } else {
                      $('.no-more-label').show()
                  }
              }
          },
          getBrands() {
            axios.get('web/getBrands', {
              params: {
                    page: this.page,
                    perPage: this.perPage,
                    search: this.search
                }
            })
            .then( response => {
                if (response.status == 200) {
                    // this.brands = response.data.data
                    // this.brandsCount = this.brands.length
                    var nextBrands = response.data.data
                    this.brandsCount = response.data.meta.total
                    for (var i = 0; i < nextBrands.length; i++) {
                        this.brands.push(nextBrands[i])
                    }

                    this.scroll_counter += response.data.data.length
                }
            }).catch( error => {
                toastr.error(error.data.message)
            });

            this.page = this.page += 1;
          },
          logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
          }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            }
        },
    }
</script>