<style scoped>
    .hbrandimage {
        height: 150px !important;
        -o-object-fit: contain;
           object-fit: contain;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .hbrandimage:hover {
        cursor: pointer;
        border-color: #182A84 !important;
        color: #182A84;
    }

    #hbrandnext {
        position: absolute;
        height: 47px;
        width: 26px;
        cursor: pointer;
        top: 100px !important;
        right: -33px;
    }

    #hbrandprev {
        position: absolute;
        height: 47px;
        width: 26px;
        cursor: pointer;
        top: 100px !important;
        left: -33px;
    }

    #hbrandprev i,
    #hbrandnext i {
        font-size: 30px;
    }

    .cardT1 {
        border: none;
        box-shadow: none;
    }

    .pimagediv {
        /*height: 280px;*/
        position: relative;
        padding: 5px;
        overflow: hidden;
    }

    .pimagediv:after {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .pimagediv img {
        width: auto;
        height: 100%;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .pimagediv:hover {
        cursor: pointer;
    }

    .pimagediv:hover .quickviewo {
        opacity: 1;
    }

    .pimaget1 {
        max-width: 100%;
        max-height: 100%;
        display: block;
        /* remove extra space below image */
        -o-object-fit: contain;
           object-fit: contain;
    }

    .quickviewo {
        /*position: absolute;*/
        bottom: 0;
        color: black;
        width: 100%;
        transition: 0.5s ease;
        opacity: 0;
        font-size: 20px;
        /*    height: 100%;*/
        text-align: center;
    }

    .quickviewo div {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        position: absolute;
        left: 45%;
        transform: translate(-45%, -50%);
        padding: 6px 14px;
        font-size: 18px;
        background: #ffffffbd;
        font-weight: bold;
        width: 100%;
        font-family: "Montserrat", sans-serif;
    }

    .pl-21 {
        padding-left: 21px !important;
    }

    .btn-outline-quick {
        color: #ced4da !important;
        border-color: #ced4da !important;
    }

    #viewAllT1:hover {
        cursor: pointer;
    }

    @media (max-width: 800px) {
        #hbrandnext {
          display: none;
        }

        #hbrandprev {
          display: none;
        }

        .pimagediv {
          height: 140px;
        }
    }

    .splide__slide img {
        height: 100px;
        width: 100px;
        margin-right: 5px;
    }

    .splide__arrows {
        display: none;
    }

    .primary-photo {
        object-fit: contain;
        height: 300px;
        width: 300px;
    }

    .count-rating {
        font-size: 11px;
    }

    .product-name {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        font-weight: 600;
        font-size: 15px;
    }

    .modal-price {
        font-size: 20px;
        font-weight: 600;
    }

    .quantity-label {
        margin-top: 10px;
    }

    .btn-wishlist {
        font-size: 15px;
    }

</style>
<template>
    <div class="position-relative mt-5">
        <div class="d-flex align-items-center justify-content-between">
            <h5 style="font-size:18px" class="text-uppercase font-weight-bold">BEST SELLER</h5>
            <h5 style="font-size:18px" class="text-uppercase" id="viewAllT1" @click="redirectBestList">View All</h5>
        </div>

        <div class="position-relative mt-3">
            <div class="row">
                <div class="cardT1 card col-lg-2 col-md-4 col-sm-6 col-6" v-for="(product,productIndex) in products" :key="productIndex">
                    <div v-show="product.selling_price != '0.00'" class="onsale-label">
                        <span>ON SALE !</span>
                    </div>
                    <div class="pimagediv">
                        <div v-lazy-container="{ selector: 'img' }">
                            <img class="card-img-top mt-1 pimaget1" :data-src="product.primary_photo">
                        </div>
                        <div class="quickviewo" @click="quickViewT3(product)">
                            <div>Quick View</div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <h4 class="ptitlet1 mt-2 px-2" data-toggle="tooltip" :title="product.name" v-if="product.selling_price == '0.00'">
                            <a :href="'product/' + product.permalink">{{ product.name }}</a>
                        </h4>
                        <h4 class="ptitlet1 mt-2 px-2" data-toggle="tooltip" :title="product.name" v-else style="height:18px">
                            <a :href="'product/' + product.permalink">{{ product.name }}</a>
                        </h4>
                        <h4 class="card-text ppricet1 mt-2 text-center">
                            <span v-if="product.selling_price == '0.00'">
                                <span>PHP {{ toCurrency(product.base_price) }}</span> 
                            </span>
                            <span v-else>
                                <span class="ppriceline d-block">PHP {{ toCurrency(product.base_price) }}</span> 
                                <span class="custom-sale-price">PHP {{ toCurrency(product.selling_price) }}</span>
                            </span>
                        </h4>
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <star-rating
                                :rating="parseInteger(product.average_rating)"
                                :show-rating="false"
                                :read-only="true"
                                :increment="0.01"
                                :star-size="13">
                            </star-rating>
                            <span class="ml-1 mt-1 count-rating">({{ product.count_rating }})</span>
                        </div>
                        <div class="text-center">
                            <a href="javascript:void(0);" class="btn btn-add-to-cart rounded-0 w-100 mb-1 custom-primary" @click="quickViewT3(product)">Add to My Bayong<sup style="font-size: 6px;margin-top:-10px;">TM</sup></a>
                            <a href="javascript:void(0);" class="btn btn-buy-now rounded-0 w-100 custom-secondary" @click="createCheckout(product)">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View T1 -->
        <div class="modal fade" id="quickViewT3" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="row my-3 mx-2">
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-secondary rounded-0 mb-3 position-absolute btn-wishlist" @click="addWishList(product.id)">
                                    Add to Wishlist <i class="far fa-heart"></i>
                                </button>
                                <div class="primary-container">
                                    <div v-lazy-container="{ selector: 'img' }">
                                        <img :data-src="product.primary_photo" ref="primary" class="w-100 mb-3 primary-photo"/>
                                    </div>
                                </div>
                                <span class="gallery-thumbnail" v-if="product.variants.length != 0" v-for="(pvariants,variantIndex1) in product.variants" :key="variantIndex1">
                                    <span v-if="variantIndex1 == 0">

                                        <splide :options="thumbnail_options">
                                            <span v-if="pvariants.items.length" v-for="(pitems,itemIndex1) in pvariants.items" :key="itemIndex1">
                                                <span v-for="(pgallery,galleryIndex1) in pitems.image_gallery" :key="galleryIndex1" class="d-inline-flex">
                                                    <splide-slide v-if="pgallery.image != null">
                                                        <img :src="pgallery.image" class="d-inline" style="width:100px;cursor:pointer" @click="displayOnPrimary(pgallery.image)"/>
                                                    </splide-slide>
                                                </span>
                                            </span>
                                        </splide>

                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-start">
                                <h4 class="product-name">
                                    {{ product.name }}
                                    <br>
                                    <a :href="base_url + '/merchant-' + product.merchant_id + '/' + product.store_slug_name + '/sort/popular' ">{{ product.store_name }} Store</a>
                                    <br>
                                    <span class="badge badge-danger" v-if="product.selling_price != '0.00'">ON SALE!</span>
                                    <span class="d-block mb-3" v-if="product.selling_price == '0.00'">
                                        <span class="h5 mt-3 modal-price" v-if="variant_price != '0.00'">PHP {{ toCurrency(parseFloat(product.base_price) + parseFloat(variant_price) + parseFloat(addon_price))}}</span>
                                        <span class="h5 mt-3 modal-price" v-else>PHP {{ toCurrency(parseFloat(product.base_price) + parseFloat(addon_price))}}</span>
                                    </span>
                                    <span class="d-block mb-3" v-else>
                                        <span class="h5 mt-3 ppriceline modal-price">PHP {{ toCurrency(parseFloat(product.base_price)) }}</span> 
                                        <br>
                                        <span class="h5 mt-3 modal-price custom-sale-price">PHP {{ toCurrency(parseFloat(product.selling_price)) }}</span>
                                    </span>
                                    <div>
                                        <div class="w-100 mb-n3">
                                            <div class="row">
                                                <div class="col-md-3 col-3">
                                                    <small class=" font-weight-bold">Quantity:</small>
                                                </div>
                                                <div class="col-md-9 col-3 d-flex">

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend btn-qty">
                                                            <div v-if="selectedQuantity == 1">
                                                                <button class="btn btn-outline-secondary btnDec" @click="decrementQty" v-bind:disabled="true">-</button>
                                                            </div>
                                                            <div v-else>
                                                                <button class="btn btn-outline-secondary btnDec" @click="decrementQty">-</button>
                                                            </div>
                                                        </div>
                                                        <input type="text"
                                                               id="selectedQuantity"
                                                               name="selectedQty"
                                                               class="inputQuantity"
                                                               v-on:keydown="isNumber()"
                                                               v-model="selectedQuantity"
                                                               readonly>

                                                        <div class="input-group-prepend btn-qty">
                                                            <div v-if="selectedQuantity == maxQty">
                                                                <button class="btn btn-outline-secondary btnInc" @click="incrementQty" v-bind:disabled="true">+</button>
                                                            </div>
                                                            <div v-else >
                                                                <button class="btn btn-outline-secondary btnInc" @click="incrementQty">+</button>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <!-- <h6 class="maxQty">{{ inventory_qty }} pieces available </h6> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h4>

                                <div class="size-product-wrapper w-100" v-if="product.length != 0">
                                    <div class="row">
                                        <div class="col-md-3 col-3">
                                            <small>Size:</small>
                                        </div>
                                        <div class="flex-grow-1 col-md-9 col-9">
                                            <div class="btn-group btn-group-toggle mb-3 size-selection" data-toggle="buttons">
                                                <label class="btn rounded-0 btn-sm btn-outline-primary mr-1 mb-1" v-for="(size,sizeIndex) in product.sizes" :key="sizeIndex" @click="selectSize(size.id)">
                                                    <input type="radio" :name="size" :id="sizeIndex" autocomplete="off"> {{ size.size }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="variation-product-wrapper w-100" v-if="product.length != 0">
                                    <div class="row" v-for="(variant,variantIndex) in product.variants" :key="variantIndex">
                                        <div class="col-md-3 col-3">
                                            <small>{{ variant.group_name }}:</small>
                                        </div>
                                        <div class="flex-grow-1 col-md-9 col-9">
                                            <div class="d-flex flex-wrap btn-group btn-group-toggle mb-3 variant-selection" data-toggle="buttons">
                                                <label class="btn rounded-0 btn-sm btn-outline-primary mr-1 mb-1" v-for="(item,itemIndex) in variant.items" :data-id="item.id" :data-group="variant.group_name" :key="itemIndex" @click="selectVariant(item, variant.group_name)">
                                                    <input class="variant-radio" type="radio" :name="item" :id="itemIndex" autocomplete="off"> {{ item.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="addons-product-wrapper w-100" v-if="product.length != 0">
                                    <div class="row" v-for="(addon,addonIndex) in product.addons" :key="addonIndex">
                                        <div class="col-md-3">
                                            <small class="text-uppercase font-weight-bold">{{ addon.group_name }}:</small>
                                        </div>
                                        <div class="flex-grow-1 col-md-9">
                                            <div class="d-flex flex-wrap btn-group btn-group-toggle mb-3 size-selection" data-toggle="buttons">
                                                <label class="btn btn-default mr-1 mb-1" v-for="(item,itemIndex) in addon.items" :key="itemIndex" @click="selectAddon(item, addon.group_name)">
                                                    <input type="radio" :name="item" :id="itemIndex" autocomplete="off"> {{ item.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
 -->

                                <div class="w-100 mt-5">
                                    <button class="btn btn-add-to-cart rounded-0 w-100 mt-5 mb-1 custom-primary" :disabled="selectedQuantity == 0" @click="addToCart(product.id)">Add to My Bayong<sup>TM</sup></button>
                                    <button class="btn btn-buy-now rounded-0 w-100 custom-secondary" @click="createCheckout(product)">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {bus} from '../../app'
    import carousel from 'vue-owl-carousel'
    import { Splide, SplideSlide } from '@splidejs/vue-splide'
    import '@splidejs/splide/dist/css/themes/splide-default.min.css'
    import StarRating from 'vue-star-rating'
    
    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

export default {
    name: "CarouselBest",
    components: { carousel, Splide, SplideSlide, StarRating },
    data() {
        return {
            base_url: base_url,
            maxQty : 999,
            product: {},
            products: [],
            secondProducts: [],
            responsiveT1: {
                0:{
                    items: 2,
                    nav: false,
                    dots: false,
                },
                600:{
                    items: 3,
                    nav: false,
                    dots: false,
                }
            },
            responsiveT2: {
                0:{
                    items: 2,
                    nav: false,
                    dots: false,
                },
                600:{
                    items: 3,
                    nav: false,
                    dots: false,
                }
            },
            thumbnail_options: {
                type: 'slide',
                focus: 'left',
                rewind : true,
                arrows: false,
                perPage: 4,
                gap    : '1rem',
            },
            user_id: user_id,
            reviews: [],
            review_total: 0,
            rating_average: 0,
            cart_count: 0,
            cart: {
                variant_ids: [],
                addons_ids: [],
                variant_checker: [],
                addon_checker: []
            },
            selectedQuantity: 1,
            variant_price: "0.00",
            addon_price: "0.00",
        }
    },
    mounted() {
        this.getBestSellers()
        this.selectedQuantity = 1
        // setTimeout(() => {
        //     $('[data-toggle="tooltip"]').tooltip()
        // }, 1000)
    },
    updated() {
        setTimeout(function() {
            $("#quickViewT3").on('hide.bs.modal', function(){
                this.variant_price = "0.00"
                this.addon_price   = "0.00"
                $('.btn-group .btn').removeClass('active')
            })
        },1000)

        $('.size-selection > label:nth-child(1)').addClass('active')
        $('.variant-selection > label:nth-child(1)').addClass('active')
        $('.variant-selection > label').click(function() {
            $(this).addClass('active')
            $('.variant-selection > label').not(this).removeClass('active')
        })
    },
    methods: {
        toCurrency(price) {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        displayOnPrimary(src) {
            this.$refs.primary.src = src
        },
        parseFloat(price) {
            return parseFloat(price)
        },
        getBestSellers() {
            axios.get(base_url+'/web/getBestSellers')
            .then( response => {
                if (response.status == 200) {
                    this.products = response.data.data
                    this.products = this.products.slice(0,12)
                    // this.secondProducts = response.data.data.slice(5,10)
                }
            }).catch( error => {});
        },
        addWishList(id) {
            if (user_id != 0 || user_id != null) {
                axios.post('web/addWishList', {user_id: user_id, id: id })
                .then( response => {
                    if (response.status == 200) {
                        toastr.success(response.data.message)
                    }
                }).catch( error => {
                    this.$router.push({ name: 'customer-login', query: { redirect: '/' } });
                    // toastr.error(error.data.message)
                });
            } else {
                window.location.href = "/login"
            }
        },
        parseInteger(num_val) {
            return parseInt(num_val)
        },
        selectSize(size){
            this.cart.size_id = size
        },
        selectVariant(variant, group_name){
            this.variant_price = variant.price

            $('.primary-photo').attr('src', variant.image_gallery[0].image)

            var new_variant = {name: group_name, id: variant.id}

            this.cart.variant_checker = this.cart.variant_checker.filter(function(el) {
                return el.name != group_name
            })

            this.cart.variant_checker.push(new_variant)
            this.cart.variant_ids = this.cart.variant_checker
        },
        selectAddon(addon, group_name){
            this.addon_price = addon.price

            var new_addon = {name: group_name, id: addon.id}

            this.cart.addon_checker = this.cart.addon_checker.filter(function(el) {
                return el.name != group_name
            })

            this.cart.addon_checker.push(new_addon)
            this.cart.addons_ids =  this.cart.addon_checker
        },
        addToCart(id) {
            if (user_id == 0) {
                this.$router.push({ name: 'customer-login', query: { redirect: '/' } });
            }  else {
                axios.get(base_url+'/web/getProduct/'+id)
                .then( response => {
                    if (response.status == 200) {
                        this.product = response.data.data
                        
                        this.cart.customer_id = user_id
                        this.cart.product_id = this.product['id']
                        this.cart.merchant_id = this.product['merchant_id']
                        this.cart.category_id = this.product['category_id']
                        this.cart.brand_id = this.product['brand_id']

                        if (this.product['sizes'] == null) {
                            this.cart.size_id = 0
                        }

                        this.cart.variant_checker.map((item,i) => { 
                            delete item.name
                            return item
                        });

                        this.cart.addon_checker.map((item,i) => { 
                            delete item.name
                            return item
                        });

                        this.cart.qty = this.selectedQuantity
                        if (this.cart.size == 0 || this.cart.variant_checker.length == 0 || this.product['selling_price'] == '0.00') {
                            this.cart.base_price = this.product['base_price']
                        } else {
                            this.cart.base_price = this.product['selling_price']
                            if (this.product['selling_price'] == '0.00') {
                                this.cart.base_price = parseFloat(this.variant_price) + parseFloat(this.addon_price)
                            } else {
                                this.cart.base_price = parseFloat(this.product['selling_price']) + parseFloat(this.addon_price)
                            }
                        }

                        this.cart.checked = 0
                        this.cart.shipping_fee = 0
                        this.cart.special_instructions = ""

                        axios.post(base_url+'/web/storeToCart', this.cart)
                        .then( response => {
                            if (response.status == 200) {
                                toastr.success(response.data.message)
                                this.cart.size            = 0
                                this.cart.variant_checker = []
                                this.cart.variant_ids     = []
                                this.cart.addon_checker   = []
                                this.cart.addon_ids       = []
                                this.variant_price        = "0.00"
                                this.addon_price          = "0.00"

                                $('.btn-group .btn').removeClass('active')
                                $('#quickViewT3').modal('toggle')
                                bus.$emit('countCart', response.data.data)
                            }
                        }).catch( error => {
                            toastr.error(error.data.message)
                        });
                    }
                });
            }
        },
        productPage(product){
            window.location.href = "/product/" + product.permalink
        },
        incrementQty(){
            this.selectedQuantity = this.selectedQuantity += 1
        },
        decrementQty(){
            this.selectedQuantity = this.selectedQuantity -= 1
            if (this.selectedQuantity < 1) {
                this.selectedQuantity = 1
            }
        },
        quickViewT3(product){
            this.product = product
            this.selectedQuantity = 1
            $('#quickViewT3').modal('toggle')
        },
        createCheckout(product){
            if (user_id == 0) {
                this.$router.push({ name: 'customer-login', query: { redirect: '/' } });
            } else {
                window.location.href = "/shipping/"+product.permalink
            }
        },
        redirectBestList(){
            window.location = "/best-sellers"
        }
    }
}
</script>