<style scoped>


</style>
</style>
<template>
    <div class="position-relative mt-5">
        <div class="d-flex align-items-center justify-content-between">
            <h5 style="font-size:18px" class="text-uppercase font-weight-bold">Shop by Brand</h5>
            <h5 style="font-size:18px" class="text-uppercase" id="viewAllT1" @click="redirectToBrandList">View All</h5>
        </div>


        <div class="row">
            <div class="mb-3 col-lg-2 col-md-4 col-sm-6 col-6" v-for="(brand,brandIndex) in brands" :key="brandIndex">
                <a :href="'brand/' + brand.slug_name + '/sort/popular' ">
                    <div v-lazy-container="{ selector: 'img' }">
                        <img class="hbrandimage" :data-src="brand.image_url"/>
                    </div>
                </a>
            </div>

            <div class="mb-3 col-lg-2 col-md-4 col-sm-6 col-6" v-for="(sbrand,sbrandIndex) in secondBrands" :key="sbrand.id">
                <a :href="'brand/' + sbrand.slug_name + '/sort/popular'">
                    <div v-lazy-container="{ selector: 'img' }">
                        <img class="hbrandimage" :data-src="sbrand.image_url"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import StarRating from 'vue-star-rating'

export default {
    name: "CarouselBrand",
    components: { StarRating },
    data() {
        return {
            brands: [],
            secondBrands: [],
            responsiveT1: {
                0:{
                    items: 2,
                    nav: false,
                    dots: false,
                },
                600:{
                    items: 3,
                    nav: false,
                    dots: false,
                }
            },
            responsiveT2: {
                0:{
                    items: 2,
                    nav: false,
                    dots: false,
                },
                600:{
                    items: 3,
                    nav: false,
                    dots: false,
                }
            },
        }
    },
    mounted() {
        this.getBrands()
    },
    methods: {
        getBrands() {
            axios.get('web/getBrands')
            .then( response => {
                if (response.status == 200) {
                    this.brands = response.data.data
                    this.brands = this.brands.slice(0,6)
                    this.secondBrands = response.data.data.slice(7,13)
                    // this.secondBrands = this.brands.slice(3)
                }
            }).catch( error => {
                toastr.error(error.data.message)
            });
        },
        redirect(slug){
            window.location = `/brand/${slug}`;
        },
        redirectToBrandList(){
            window.location = '/brand'
        }
    }
}
</script>