<style scoped>
    
</style>
</style>
<template>
    <div class="position-relative mt-5">
        <div class="d-flex align-items-center justify-content-between">
            <h5 style="font-size:18px" class="text-uppercase font-weight-bold">Categories</h5>
        </div>
        <div class="row">
            <i class="fas fa-chevron-left btn-category-prev" @click="slidePre()"></i>
            <slider ref="slider" :options="options">
                <slideritem  v-for="(category,categoryIndex) in categories" :key="categoryIndex" :style="slider_style">
                    <!-- start -->
                    <div class="category-container">
                        <div v-lazy-container="{ selector: 'img' }">
                            <img class="category-image" :data-src="category.image_url" @click="redirect(category.slug_name)"/>
                        </div>
                    </div>
                    <p class="text-center category-label">{{category.name}}</p>
                    <!-- end -->
                </slideritem>
                <div slot="loading">loading...</div>
            </slider>
                <i class="fas fa-chevron-right btn-category-next" @click="slideNext()"></i>
        </div>
    </div>
</template>

<script>
import { slider, slideritem } from 'vue-concise-slider'

export default {
    name: "CarouselCategory",
    components: { 
        slider,
        slideritem
    },
    data() {
        return {
            categories: [],
            slider_style: {
              // 'width': '23.5%',
              'width': '15%',
              'margin-right': '2%'
            },
            options: {
                currentPage: 0,
                infinite: 100,
                slidesToScroll: 1,
                loop: true,
                pagination: false,
                itemAnimation: true
                // autoplay: '7000'
            }
        }
    },
    mounted() {
        this.getCategories()
    },
    methods: {
        slideNext () {
            this.$refs.slider.$emit('slideNext')
        },
        slidePre () {
            this.$refs.slider.$emit('slidePre')
        },
        getCategories() {
            axios.get('web/getParentCategories')
            .then( response => {
                if (response.status == 200) {
                    this.categories = response.data.data
                }
            }).catch( error => {
                toastr.error(error.data.message)
            });
        },
        redirect(slug){
            window.location = `/category/${slug}/sort/popular`;
        },
    }
}
</script>