<style scoped>
 /* main {
  min-height: 100vh;
  margin-top: 150px;
  }*/

  #bread-header {
  background: #f7f8fa;
  }
  .bread-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  }

  .bread-item {
  font-size: 12px;
  padding: 4px 6px 4px 11px;
  position: relative;
  text-transform: capitalize;
  }

  .bread-item > a:hover {
  color: #0056b3;
  }

  #bread-header .bread-nav li:not(:first-child):before {
  content: "/";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 4px;
  }

  .bread-title {
  text-decoration: none!important;
  outline: none;
  color: #777;
  background-color: transparent;
  }

  .bread-title:hover {
  border-bottom: 1px solid #182a84;
  }

  label {
  font-size: 14px;
  color: #191919;
  font-weight: 500 !important;
  padding-bottom: 4px;
  letter-spacing: .02em;
  }
  label {
  display: inline-block;
  margin-bottom: .5rem;
  }

  .breadcrumb {
  background: transparent;
  }

  .breadcrumb-item {
  fotn-weight: normal;
  }

  .breadcrumb-light .breadcrumb-item>a {
  color: #fff;
  }

  .search-wrapper {
  background-color: white;
  margin-bottom: 2rem;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  min-height: 100vh;
  }

  #filter {
  margin-bottom: 33px;
  }

  .filter-title {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 0 20px 13px 0;
  cursor: pointer;
  color: #191919;
  border-bottom: 1px solid #e9e7e7;
  transition: color 0.2s linear;
  text-transform: uppercase;
  }

  .filter-options {
  margin-top: -8px;
  list-style: none;
  margin: 0;
  padding: 0;
  }

  ul.filter-options li label {
  color: #777777;
  font-size: 13px;
  margin: 0;
  margin-bottom: 2px;
  line-height: 26px;
  letter-spacing: 0.01em;
  transition: color 0.2s linear;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  display: inline-flex;
  font-weight: 500 !important;
  margin-left: 0.5rem;
  }

  ul.filter-options li label:hover {
  color: #182A84;
  font-weight: bold;
  }

  input:checked + label {
  color: #182086 !important;
  }

  .search-title {
	  font-size: 24px;
	  line-height: 34px;
	  font-weight: 500;
	  flex: 1 1 auto;
	  color: #191919;
	  margin-bottom: 0px;
  }

  .text-nowrap {
    	white-space: nowrap !important;
	}

	h3, .h3 {
    	font-size: 1.75rem;
	}

	h4, .h4 {
    	font-size: 1.5rem;
	}

	h6, .h6 {
    	font-size: 1.0625rem;
	}

  .card {
    text-decoration: none !important;
    box-shadow: none !important;
  }

  .card-body i {
  	font-size: 1.75rem;
  }

  .pt-grid-gutter, .py-grid-gutter {
    	padding-top: 30px !important;
	}

	.mb-grid-gutter, .my-grid-gutter {
    	margin-bottom: 30px !important;
	}

	.black{
		color: #373f50;
	}

	.font-size-sm {
    	font-size: .875rem !important;
	}

	.text-muted {
    	color: #7d879c !important;
	}

	.card{
		text-decoration: none !important;
		box-shadow: none !important;
	}

	.iframe-full-height-wrap {
    	min-height: 18rem;
    	overflow: hidden;
	}

	.iframe-full-height {
   		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	iframe {
    	width: 100%;
    	border: 0;
	}	

	.no-gutters>.col, .no-gutters>[class*="col-"] {
    	padding-right: 0;
    	padding-left: 0;
	}

	textarea.form-control {
    	height: auto;
	}

	@media (min-width: 992px){
		.order-lg-1 {
		    order: 1;
		}
		.order-lg-2 {
	    	order: 2;
		}
	}

    btn-contact {
        background: #0d75b2 !important;
    }

    adm-primary {
        color: #0d75b2 !important;
    }
</style>

<template>
    <div class="content">
      <main role="main">
        <div id="bread-header">
            <div class="container">
                <ul class="bread-nav">
                    <li class="bread-item">
                        <a href="/" class="bread-title">Home</a>
                    </li>
                    <li class="bread-item">
                        <a href="/contact-us" class="bread-title">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="container-fluid pt-grid-gutter">
			<div class="row">
				<div class="col-xl-3 col-md-6 mb-grid-gutter">
					<a class="card" href="#map" data-scroll>
						<div class="card-body text-center">
							<i class="fas fa-map-marker-alt mt-2 mb-4 adm-primary"></i>
							<h3 class="h6 mb-2 text-bold">Main Store Address</h3>
							<p class="font-size-sm text-muted">
								Suite 2905 Discovery Centre 25 ADB Ave., Ortigas Center, Pasig City, 1605 Metro Manila
							</p>
							<div class="font-size-sm text-primary">Click to see map</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-md-6 mb-grid-gutter">
					<a class="card" data-scroll>
						<div class="card-body text-center">
							<i class="fas fa-clock mt-2 mb-4 adm-primary"></i>
							<h3 class="h6 mb-2 text-bold">Working Hours</h3>
							<p class="font-size-sm text-muted mb-0">
								<span class="">9:00 AM - 7:00 PM </span>
								<span>(Monday - Saturday)</span>
							</p>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-md-6 mb-grid-gutter">
					<a class="card" data-scroll>
						<div class="card-body text-center">
							<i class="fas fa-phone-alt mt-2 mb-4 adm-primary"></i>
							<h3 class="h6 mb-2 text-bold">Phone Number</h3>
							<p class="font-size-sm text-muted mb-0">(02) 8671 2299</p>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-md-6 mb-grid-gutter">
					<a class="card" data-scroll>
						<div class="card-body text-center">
							<i class="fas fa-envelope mt-2 mb-4 adm-primary"></i>
							<h3 class="h6 mb-2 text-bold">Email Address</h3>
							<p class="font-size-sm text-muted mb-0">adobomall.dev@gmail.com</p>
						</div>
					</a>
				</div>
			</div>
		</section>

		<div class="container-fluid px-0" id="map">

		<div class="row no-gutters">
			<div class="col-lg-6 iframe-full-height-wrap">
				<iframe class="iframe-full-height" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.2325743398296!2d121.05803331537345!3d14.585819181347942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c816e3814171%3A0x78d63ff54528aee!2sInnerworks%20International%20Incorporated!5e0!3m2!1sen!2sph!4v1603107299240!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>

			<div class="col-lg-6 px-4 px-xl-5 py-5 border-top">
				<h2 class="h4 mb-4">
					Drop us a line
				</h2>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Your name: <span class="text-danger">*</span></label>
							<input type="text" name="name" class="form-control" placeholder="John Doe" required v-model="inquiry.name">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Email address: <span class="text-danger">*</span></label>
							<input type="email" name="email" class="form-control" placeholder="johndoe@email.com" required v-model="inquiry.email">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Your phone: <span class="text-danger">*</span></label>
							<input type="text" name="phone" class="form-control" placeholder="+63 943 4344 4343" required v-model="inquiry.phone">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Subject:</label>
							<input type="text" name="subject" class="form-control" placeholder="Provide short title of your request" required v-model="inquiry.subject">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Message: <span class="text-danger">*</span></label>
							<textarea class="form-control" name="message" rows="6" placeholder="Please describe in detail your request" required="" v-model="inquiry.message"></textarea>
						</div>
					</div>
				</div>

				<button @click="sendInquiry()" class="btn btn-sm btn-contact btn-primary" type="button">Send message</button>
			</div>
		</div>
	</div>
      </main>
    </div>
</template>

<script>

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'ContactUs',
        components: { 
           
        },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token,
                },
                inquiry: {
                	name: "",
                	email: "",
                	phone: "",
                	subject: "",
                	message: ""
                },
                error: null, 
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()
        },
        updated() {
        },
        methods : {
            sendInquiry() {
            	let formData = new FormData()

            	formData.append('name', this.inquiry.name)
            	formData.append('email', this.inquiry.email)
            	formData.append('phone', this.inquiry.phone)
            	formData.append('subject', this.inquiry.subject)
            	formData.append('message', this.inquiry.message)

            	axios.post('/api/v1/contact-us', formData)
                .then( response => {
                    if (response.status == 200) {
                      toastr.success(response.data.message)
                      setTimeout(function() {
                      	window.location.href = '/contact-us'
                      },2000)
                    }
                }).catch( error => {
                    // toastr.error(error.data.message)
                });
            }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            },
        },
        watch:{
            
        }
    }
</script>