<style scoped>
   /* main {
      min-height: 100vh;
      margin-top: 150px;
    }*/

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

  .search-wrapper {
    background-color: white;
    margin-bottom: 2rem;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 100vh;
  }

  #filter {
    margin-bottom: 33px;
  }

  .filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 0 20px 13px 0;
    cursor: pointer;
    color: #191919;
    border-bottom: 1px solid #e9e7e7;
    transition: color 0.2s linear;
    text-transform: uppercase;
  }

  .filter-options {
    margin-top: -8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.filter-options li label {
    color: #777777;
    font-size: 13px;
    margin: 0;
    margin-bottom: 2px;
    line-height: 26px;
    letter-spacing: 0.01em;
    transition: color 0.2s linear;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: inline-flex;
    font-weight: 500 !important;
    margin-left: 0.5rem;
  }

  ul.filter-options li label:hover {
    color: #182A84;
    font-weight: bold;
  }

  input:checked + label {
    color: #182086 !important;
  }

  .search-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    flex: 1 1 auto;
    color: #191919;
    margin-bottom: 0px;
  }

  .brand-title {
      width: 100%;
      font-size: 1.35rem;
      color: #3c55a5;
      margin: 2px 0 0 0;
      padding: 0;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1rem;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 26px;
    }

    .brand-body {
      border-color: #e9e7e7;
      margin-top: 20px;
      text-decoration: none;
      outline: none;
      border-radius: 6px;
      padding: 45px;
      height: 138px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border: 1px solid #e9e7e7;
      text-decoration: none !important;
      position: relative;
      text-align: center;
      transition: border 0.2s linear;
      background-color: white;
      color: #182A84;
      box-shadow: 0 3px 10px 0 rgba(44, 44, 45, 0.07), inset 0 0 0 1px rgba(44, 44, 45, 0.07);
    }

    .brand-body:hover {
      border-color: #182A84;
      color: #182A84;
    }

    .home-brand-image {
      width: 73%;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 800px) {
      .home-brand-image {
        width: 100%;
      }
    }
</style>

<template>
    <div class="content">
      <main role="main">
        <div id="bread-header">
            <div class="container">
                <ul class="bread-nav">
                    <li class="bread-item">
                        <a href="/" class="bread-title">Home</a>
                    </li>
                    <li class="bread-item">
                        <a href="/faq" class="bread-title">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mb-0">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center mb-5">Answers to your questions</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                	<div id="pages" style="text-align:left; align:left;">
					   <p><strong><em>Does my order qualify for free shipping?</em></strong></p>
					   <p>We offer free domestic ground shipping on single-transaction orders per Brand or Concept Store amounting to Php1,000.00 and above. Shipping charges will be shouldered by the customer if the transaction amount is less.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>What is the average delivery date for Adobomall orders? </em></strong></p>
					   <p>Adobomall delivers via Fast 7 Express in 2-3 business days within Metro Manila, and Easy Go in 5-7 business days for deliveries outside Metro Manila, upon pick-up from merchant warehouse.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>How do I track my package online? </em></strong></p>
					   <p>The status of your package can be found in your account dashboard under the My Orders link.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>Does my order qualify for a free return? </em></strong></p>
					   <p>Return and Exchange policies vary per merchant or product. You may click on the Returns Policy button found on each product page for more information.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>What forms of payment do you take? </em></strong></p>
					   <p>We accept Visa, MasterCard, BDO &amp; BPI Debit Cards, Diners Club Card, 7-11, Dragonpay, all Bancnet member banks and COD.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>What if I need to make order changes, for example in the shipping address, delivery methods, or with the order itself? </em></strong></p>
					   <p>Modifications cannot be made once order has been placed and submitted. In the event that you may need to make changes, such as having mistakenly entered the address, shipping method, or there is a product discrepancy, contact our Customer Service immediately at <a>inquiry@adobomall.com</a> and we’ll see what we can do to offer assistance.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>When will my credit card be charged?</em></strong></p>
					   <p>Credit card charges will apply upon order confirmation. In the event that you want to cancel an order, or an item becomes unavailable, notify us immediately at <a>inquiry@adobomall.com</a> and we will make the necessary adjustments accordingly. Kindly be reminded that charge removal or adjustments may take 5-7 business days, and may take longer for debit cards.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>What happens if an item I’ve ordered is actually unavailable? </em></strong></p>
					   <p>In the event that an item you have ordered suddenly becomes out of stock, we will immediately notify you by email or telephone. You may also contact us at <a>inquiry@adobomall.com</a>. If you paid via credit card, please read When will my credit card be charge in this FAQ.  For Cash on Delivery, the total amount will not be processed until the specified time of shipment, whereas all pending amounts will be updated or cancelled.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>Do you have any online promotions?</em></strong></p>
					   <p>Check out our website blog, Facebook, Instagram and Twitter accounts, or subscribe to our newsletter so you’ll be the first to know about all our upcoming promotions!</p>
					   <p>&nbsp;</p>
					   <p><strong><em>Do you offer price adjustments or price matching?</em></strong></p>
					   <p>We do offer price adjustments or price matching.</p>
					   <p>&nbsp;</p>
					   <p><strong><em>Hmmm, I have more questions that weren’t addressed here. </em></strong></p>
					   <p>Can’t find what you’re looking for? Please don’t hesitate to call us at +63 2 8671 7363</p>
					   <p>or e-mail us at <a>inquiry@adobomall.com</a>.</p>
					</div>
                </div>
            </div>
        </div>
      </main>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'Faq',
        components: { 
            InfiniteLoading
        },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token
                },
                error: null
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()
        },
        updated() {
        },
        methods: {
          logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
          }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            }
        },
    }
</script>