<style scoped>
   /* .carousel-item {
        height: 355px !important;
    }
    */
    .carousel-img-container {
        background: #eee;
        background-size: cover;
    }

    .carousel-item {
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        object-fit: cover !important;
        /*min-height: 100%;*/
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
</style>

<template>
    <div id="homeBannerCarousel" class="carousel slide custom-slider container mx-auto" data-ride="carousel" style="overflow-x: hidden !important;">
        <!-- <ol class="carousel-indicators">
            <li v-for="(banner,index) in banners"
                data-target="#homeBannerCarousel"
                :key="index+'_indicator'"
                :data-slide-to="index"
                :class="[index == 0 ? 'active' : '']">
            </li>
        </ol> -->
        <div class="carousel-inner">
            <div v-for="(banner,index) in banners" :key="index+'_key'"
                :class="['carousel-item', index == 0 ? 'active' : '']">
                <div class="carousel-img-container d-flex justify-content-center">
                    <img class="img-fluid" :src="banner.image_url" :alt="banner.title">
                </div>
            </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#homeBannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#homeBannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</template>

<script>
    export default {
        name: 'HomeBanner',
        data() {
            return {
                banners: [],
                isLoading: false,
                error: null,
            }
        },
        mounted() {
            this.getBanner()
        },
        methods: {
            getBanner() {
                axios.get('/api/v1/user-app/getBanners')
                .then( response => {
                    if (response.status == 200) {
                        this.banners = response.data.data
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });
            },  
        },
    }
</script>