<style scoped>
    @media screen and (max-width: 991px) {
        .carousel-container {
            height: 180px !important;
            /*margin-top: 160px;*/
        }
    }

    @media screen and (max-width: 767px) {
        .carousel-container {
            height: 130px !important;
            margin-top: 180px !important;
        }

        #homeBannerCarousel,
        main .container {
            margin-top: -50px;
        }
    }
/*
    @media screen and (max-width: 540px) {
        .carousel-container {
            height: 240px !important;
        }
    }

    @media screen and (max-width: 500px) {
        .carousel-container {
            height: 210px !important;
        }
    }
    */
    @media screen and (max-width: 430px) {
        .carousel-container {
            height: 88px !important;
        }
    }

</style>

<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <main role="main">
                <div class="container-fluid mb-0 carousel-container">
                    <div class="row">
                        <home-banner></home-banner>
                    </div>
                </div>
                <div class="container">
                    <section class="container">
                        <carousel-category></carousel-category>
                        <carousel-best></carousel-best>
                        <carousel-new></carousel-new>
                        <carousel-sale></carousel-sale>
                        <carousel-brand></carousel-brand>
                    </section>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import HomeBanner from './HomeBanner.vue'
    import StarRating from 'vue-star-rating'
    import carousel from 'vue-owl-carousel'
    import CarouselCategory from './CarouselCategory'
    import CarouselBest from './CarouselBestSeller.vue'
    import CarouselNew from './CarouselNew.vue'
    import CarouselSale from './CarouselSale.vue'
    import CarouselBrand from './CarouselBrand'

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        components: { 
            carousel,
            StarRating,
            HomeBanner,
            'carousel-category': CarouselCategory,
            'carousel-best': CarouselBest,
            'carousel-new': CarouselNew,
            'carousel-sale': CarouselSale,
            'carousel-brand': CarouselBrand,
        },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token
                },
                error: null
            }
        },
        created() {
            axios.get('/api/v1/tracker/add-view');
        },
        mounted() {
            if (localStorage.getItem('reload')) {
                localStorage.removeItem('reload')
            } else {
                localStorage.setItem('reload', 1)
                location.reload();
            }

            $('.carousel').carousel()
        },
        updated() {
        },
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
            }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            }
        }
    }
</script>