<style scoped>
  /*  main {
      min-height: 100vh;
      margin-top: 150px;
    }*/

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

    .search-wrapper {
        background-color: white;
        margin-bottom: 2rem;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        min-height: 100vh;
    }

    .search-title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 500;
        flex: 1 1 auto;
        color: #191919;
        margin-bottom: 0px;
    }

    .card-wrapper {
        width: 100%;
        box-shadow: none;
        min-height: 22em;
        /*border: 1px solid #e9e7e7!important;*/
        border-radius: 4px;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 8px;
        margin: 14px 4px 16px;
    }

    .cardT1 {
        border: none;
        box-shadow: none;
    }

    .pimagediv {
        position: relative;
        padding: 5px;
        overflow: hidden;
    }

    .pimagediv:after {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .pimagediv img {
        width: auto;
        height: 100%;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .pimagediv:hover {
        cursor: pointer;
    }

    .pimagediv:hover .quickviewo {
        opacity: 1;
    }

    .pimaget1 {
        max-width: 100%;
        max-height: 100%;
        display: block;
        /* remove extra space below image */
        -o-object-fit: contain;
        object-fit: contain;
    }

    .quickviewo {
        /*position: absolute;*/
        bottom: 0;
        color: black;
        width: 100%;
        transition: 0.5s ease;
        opacity: 0;
        font-size: 20px;
        text-align: center;
    }

    .quickviewo div {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        position: absolute;
        left: 45%;
        transform: translate(-45%, -50%);
        padding: 6px 14px;
        font-size: 18px;
        background: #ffffffbd;
        font-weight: bold;
        width: 100%;
        font-family: "Montserrat", sans-serif;
    }

    .pl-21 {
        padding-left: 21px !important;
    }

    .btn-outline-quick {
        color: #ced4da !important;
        border-color: #ced4da !important;
    }

    #viewAllT1:hover {
        cursor: pointer;
    }

    .splide__slide img {
        height: 100px;
        width: 100px;
        margin-right: 5px;
    }

    .splide__arrows {
        display: none;
    }

    .primary-photo {
        object-fit: contain;
        height: 300px;
        width: 300px;
    }

    .count-rating {
        font-size: 11px;
    }

    .product-name {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        font-weight: 600;
        font-size: 15px;
    }

    .modal-price {
        font-size: 20px;
        font-weight: 600;
    }

    .quantity-label {
        margin-top: 10px;
    }

    .btn-wishlist {
        font-size: 15px;
    }

</style>

<template>
    <div class="content">
      <main role="main">
        <div id="bread-header">
            <div class="container">
                <ul class="bread-nav">
                    <li class="bread-item">
                        <a href="/" class="bread-title">Home</a>
                    </li>
                    <li class="bread-item">
                        <a href="javascript:void(0)" class="bread-title">New</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mb-0">
            <div class="row mt-5">
                <div class="col-md-9">
                    <h3 class="font-weight-bold text-uppercase">New</h3>
                    <p class="text-muted mb-0">{{ productCount }} items found.</p>
                </div>
                <!-- <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" v-model="sort" @change="sortProduct()">
                            <option value="popular" selected>Most Popular</option>
                            <option value="price-low">Price: Low - High</option>
                            <option value="price-high">Price: High - Low</option>
                            <option value="recent">Recent</option>
                        </select>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <h3 class="text-center text-uppercase mt-5" v-if="productCount == 0">
                        <p>{{loading_message}}</p>
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-warning" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h3>
                    <div class="row mt-2" id="products">
                        <div v-if="products.length != 0" v-for="(product, productIndex) in products" :key="productIndex" class="col-lg-2 col-md-4 col-sm-6 col-6">
                            <div id="cardT1" class="mb-3 mx-1 card card-wrapper">
                                <div v-show="product.selling_price != '0.00'" class="onsale-label">
                                    <span>ON SALE !</span>
                                </div>
                                <div class="pimagediv">
                                    <div v-lazy-container="{ selector: 'img' }">
                                        <img class="card-img-top mt-1 pimaget1" :data-src="product.primary_photo">
                                    </div>
                                    <div class="quickviewo" @click="quickViewT1(product)">
                                        <div>Quick View</div>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <h4 class="ptitlet1 mt-2 px-2" data-toggle="tooltip" :title="product.name" v-if="product.selling_price == '0.00'">
                                        <a :href="'product/' + product.permalink">{{ product.name }}</a>
                                    </h4>
                                    <h4 class="ptitlet1 mt-2 px-2" data-toggle="tooltip" :title="product.name" v-else style="height:18px">
                                        <a :href="'product/' + product.permalink">{{ product.name }}</a>
                                    </h4>
                                    <h4 class="card-text ppricet1 mt-2 text-center">
                                        <span v-if="product.selling_price == '0.00'">
                                            <span>PHP {{ toCurrency(product.base_price) }}</span> 
                                        </span>
                                        <span v-else>
                                            <span class="ppriceline d-block">PHP {{ toCurrency(product.base_price) }}</span> 
                                            <span class="custom-sale-price">PHP {{ toCurrency(product.selling_price) }}</span>
                                        </span>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center mb-2">
                                        <star-rating
                                            :rating="parseInteger(product.average_rating)"
                                            :show-rating="false"
                                            :read-only="true"
                                            :increment="0.01"
                                            :star-size="13">
                                        </star-rating>
                                    </div>
                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="btn btn-add-to-cart rounded-0 w-100 mb-1 custom-primary" @click="quickViewT1(product)">Add to My Bayong<sup style="font-size: 6px;margin-top:-10px;">TM</sup></a>
                                        <a href="javascript:void(0);" class="btn btn-buy-now rounded-0 w-100 custom-secondary" @click="createCheckout(product)">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-center text-uppercase no-more-label">All items loaded</h4>
                </div>

                <!-- Quick View T1 -->
                <div class="modal fade" id="quickViewT1" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="row my-3 mx-2">
                                    <div class="col-md-6">
                                        <button class="btn btn-sm btn-secondary rounded-0 mb-3 position-absolute btn-wishlist" @click="addWishList(product.id)">
                                            Add to Wishlist <i class="far fa-heart"></i>
                                        </button>
                                        <div class="primary-container">
                                            <div v-lazy-container="{ selector: 'img' }">
                                                <img :data-src="product.primary_photo" ref="primary" class="w-100 mb-3 primary-photo"/>
                                            </div>
                                        </div>
                                        <span class="gallery-thumbnail" v-if="product.variants.length != 0" v-for="(pvariants,variantIndex1) in product.variants" :key="variantIndex1">
                                            <span v-if="variantIndex1 == 0">

                                                <splide :options="thumbnail_options">
                                                    <span v-if="pvariants.items.length" v-for="(pitems,itemIndex1) in pvariants.items" :key="itemIndex1">
                                                        <span v-for="(pgallery,galleryIndex1) in pitems.image_gallery" :key="galleryIndex1" class="d-inline-flex">
                                                            <splide-slide v-if="pgallery.image != null">
                                                                <img :src="pgallery.image" class="d-inline" style="width:100px;cursor:pointer" @click="displayOnPrimary(pgallery.image)"/>
                                                            </splide-slide>
                                                        </span>
                                                    </span>
                                                </splide>

                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 d-flex flex-column align-items-start">
                                        <h4 class="product-name">
                                            {{ product.name }}
                                            <br>
                                            <a :href="base_url + '/merchant-' + product.merchant_id + '/' + product.store_slug_name">{{ product.store_name }} Store</a>
                                            <br>
                                            <span class="badge badge-danger" v-if="product.selling_price != '0.00'">ON SALE!</span>
                                            <span class="d-block mb-3" v-if="product.selling_price == '0.00'">
                                                <span class="h5 mt-3 modal-price" v-if="variant_price != '0.00'">PHP {{ toCurrency(parseFloat(product.base_price) + parseFloat(variant_price) + parseFloat(addon_price))}}</span>
                                                <span class="h5 mt-3 modal-price" v-else>PHP {{ toCurrency(parseFloat(product.base_price) + parseFloat(addon_price))}}</span>
                                            </span>
                                            <span class="d-block mb-3" v-else>
                                                <span class="h5 mt-3 ppriceline modal-price">PHP {{ toCurrency(parseFloat(product.base_price)) }}</span> 
                                                <br>
                                                <span class="h5 mt-3 modal-price custom-sale-price">PHP {{ parseFloat(product.selling_price) }}</span>
                                            </span>
                                            <div>
                                                <div class="w-100 mb-n3">
                                                    <div class="row">
                                                        <div class="col-md-3 col-3">
                                                            <small class=" font-weight-bold">Quantity:</small>
                                                        </div>
                                                        <div class="col-md-9 col-3 d-flex">

                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend btn-qty">
                                                                    <div v-if="selectedQuantity == 1">
                                                                        <button class="btn btn-outline-secondary btnDec" @click="decrementQty" v-bind:disabled="true">-</button>
                                                                    </div>
                                                                    <div v-else>
                                                                        <button class="btn btn-outline-secondary btnDec" @click="decrementQty">-</button>
                                                                    </div>
                                                                </div>
                                                                <input type="text"
                                                                       id="selectedQuantity"
                                                                       name="selectedQty"
                                                                       class="inputQuantity"
                                                                       v-on:keydown="isNumber()"
                                                                       v-model="selectedQuantity"
                                                                       readonly>

                                                                <div class="input-group-prepend btn-qty">
                                                                    <div v-if="selectedQuantity == maxQty">
                                                                        <button class="btn btn-outline-secondary btnInc" @click="incrementQty" v-bind:disabled="true">+</button>
                                                                    </div>
                                                                    <div v-else >
                                                                        <button class="btn btn-outline-secondary btnInc" @click="incrementQty">+</button>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <!-- <h6 class="maxQty">{{ inventory_qty }} pieces available </h6> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </h4>

                                        <div class="size-product-wrapper w-100" v-if="product.length != 0">
                                            <div class="row">
                                                <div class="col-md-3 col-3">
                                                    <small>Size:</small>
                                                </div>
                                                <div class="flex-grow-1 col-md-9 col-9">
                                                    <div class="btn-group btn-group-toggle mb-3 size-selection" data-toggle="buttons">
                                                        <label class="text-primary btn rounded-0 btn-sm btn-outline-primary mr-1 mb-1" v-for="(size,sizeIndex) in product.sizes" :key="sizeIndex" @click="selectSize(size.id)">
                                                            <input type="radio" :name="size" :id="sizeIndex" autocomplete="off"> {{ size.size }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="variation-product-wrapper w-100" v-if="product.length != 0">
                                            <div class="row" v-for="(variant,variantIndex) in product.variants" :key="variantIndex">
                                                <div class="col-md-3 col-3">
                                                    <small>{{ variant.group_name }}:</small>
                                                </div>
                                                <div class="flex-grow-1 col-md-9 col-9">
                                                    <div class="d-flex flex-wrap btn-group btn-group-toggle mb-3 variant-selection" data-toggle="buttons">
                                                        <label class="text-primary btn rounded-0 btn-sm btn-outline-primary mr-1 mb-1" v-for="(item,itemIndex) in variant.items" :data-id="item.id" :data-group="variant.group_name" :key="itemIndex" @click="selectVariant(item, variant.group_name)">
                                                            <input class="variant-radio" type="radio" :name="item" :id="itemIndex" autocomplete="off"> {{ item.name }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="addons-product-wrapper w-100" v-if="product.length != 0">
                                            <div class="row" v-for="(addon,addonIndex) in product.addons" :key="addonIndex">
                                                <div class="col-md-3">
                                                    <small class="text-uppercase font-weight-bold">{{ addon.group_name }}:</small>
                                                </div>
                                                <div class="flex-grow-1 col-md-9">
                                                    <div class="d-flex flex-wrap btn-group btn-group-toggle mb-3 size-selection" data-toggle="buttons">
                                                        <label class="btn btn-default mr-1 mb-1" v-for="(item,itemIndex) in addon.items" :key="itemIndex" @click="selectAddon(item, addon.group_name)">
                                                            <input type="radio" :name="item" :id="itemIndex" autocomplete="off"> {{ item.name }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
         -->

                                        <div class="w-100 mt-5">
                                            <button class="btn btn-add-to-cart rounded-0 w-100 mt-5 mb-1 custom-primary" :disabled="selectedQuantity == 0" @click="addToCart(product.id)">Add to My Bayong<sup>TM</sup></button>
                                            <button class="btn btn-buy-now rounded-0 w-100 custom-secondary" @click="createCheckout(product)">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
      </main>
    </div>
</template>

<script>
    import {bus} from '../../app'
    import { Splide, SplideSlide } from '@splidejs/vue-splide'
    import '@splidejs/splide/dist/css/themes/splide-default.min.css'
    import StarRating from 'vue-star-rating'
    import ProductCategories from './ProductCategories'
    import InfiniteLoading from 'vue-infinite-loading'

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'New',
        components: {
            Splide, 
            SplideSlide,
            ProductCategories,
            StarRating,
            InfiniteLoading
        },
        data() {
            return {
                base_url: base_url,
                thumbnail_options: {
                    type: 'slide',
                    focus: 'left',
                    rewind : true,
                    arrows: false,
                    perPage: 4,
                    gap : '1rem',
                },
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token
                },
                slug: "",
                productCount: 0,
                categories: [],
                selectedCat: [],
                brand_name: "",
                brand_id: 0,
                brand_slug: "",
                product_name: "",
                inventory_qty: 0,
                error: null,
                sizeType: '',
                user_id: user_id,
                review_total: 0,
                rating_average: 0,
                products: [],
                product: {},
                page: 1,
                perPage: 16,
                product_gallery: [],
                group_name: [],
                cart: {
                    variant_ids: [],
                    addons_ids: [],
                    variant_checker: [],
                    addon_checker: []
                },
                selectedQuantity: 1,
                variant_price: "0.00",
                addon_price: "0.00",
                error: null,
                infiniteId: +new Date(),
                isLoading: false,
                loading_message: "Loading, please wait",
                scroll_counter: 0,
                maxQty: 999,
                // sort: this.$route.params.sort,
            }
        },
        created() {
            this.selectedQuantity = 1
            this.getNewProducts()
            // $('[data-toggle="tooltip"]').tooltip()
            window.addEventListener('scroll', this.handleScroll)
            setTimeout(() => {
                this.loading_message = "No results found."
                $('.spinner-grow').hide()
            }, 5000)

            setTimeout(() => {
                $('[data-toggle="tooltip"]').tooltip()
            }, 1000)
        },
        updated() {
            setTimeout(function() {
                $("#quickViewT1").on('hide.bs.modal', function(){
                    this.variant_price = "0.00"
                    this.addon_price   = "0.00"
                    $('.btn-group .btn').removeClass('active')
                })
            },1000)

            $('.size-selection > label:nth-child(1)').addClass('active')
            $('.variant-selection > label:nth-child(1)').addClass('active')
            $('.variant-selection > label').click(function() {
                $(this).addClass('active')
                $('.variant-selection > label').not(this).removeClass('active')
            })
        },
        methods: {
            sortProduct() {
                window.location.href = base_url+"/new/sort/"+this.sort
            },
            toCurrency(price) {
                return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            handleScroll() {                
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    if (this.scroll_counter < this.productCount) {
                        this.getNewProducts()
                        $('.no-more-label').hide()
                    } else {
                        $('.no-more-label').show()
                    }
                }
            },
            displayOnPrimary(src) {
                this.$refs.primary.src = src
            },
            parseFloat(price) {
                return parseFloat(price)
            },
            convertSlug(text) {
                return text.replace(/\-/g, ' ').replace(/\_/g, ' ')
            },
            getNewProducts() {
                axios.get(base_url+'/web/getNewProducts', {
                    params: {
                        page: this.page,
                        perPage: this.perPage,
                        search: this.search,
                        // sort: this.sort
                    }
                })
                .then( response => {
                    if (response.status == 200) {
                        var nextProducts = response.data.data
                        this.productCount = response.data.meta.total
                        for (var i = 0; i < nextProducts.length; i++) {
                            this.products.push(nextProducts[i])
                        }
                        
                        this.scroll_counter += this.products.length
                    }
                }).catch( error => {
                    toastr.error(error.data.message)
                });

                this.page = this.page += 1;
            },
            addWishList(id) {
                if (user_id != 0 || user_id != null) {
                    axios.post(base_url+'/web/addWishList', {user_id: user_id, id: id })
                    .then( response => {
                        if (response.status == 200) {
                            toastr.success(response.data.message)
                        }
                    }).catch( error => {
                        this.$router.push({ name: 'customer-login', query: { redirect: this.$route.path } });
                        // toastr.error(error.data.message)
                    });
                } else {
                    window.location.href = "/login"
                }
            },
            parseInteger(num_val) {
                return parseInt(num_val)
            },
            selectSize(size){
                this.cart.size_id = size
            },
            selectVariant(variant, group_name){
                this.variant_price = variant.price
                $('.primary-photo').attr('src', variant.image_gallery[0].image)
                var new_variant = {name: group_name, id: variant.id}

                this.cart.variant_checker = this.cart.variant_checker.filter(function(el) {
                    return el.name != group_name
                })

                this.cart.variant_checker.push(new_variant)
                this.cart.variant_ids = this.cart.variant_checker
            },
            selectAddon(addon, group_name){
                this.addon_price = addon.price
                var new_addon = {name: group_name, id: addon.id}

                this.cart.addon_checker = this.cart.addon_checker.filter(function(el) {
                    return el.name != group_name
                })

                this.cart.addon_checker.push(new_addon)
                this.cart.addons_ids =  this.cart.addon_checker
            },
            addToCart(id) {
                if (user_id == 0) {
                    this.$router.push({ name: 'customer-login', query: { redirect: this.$route.path } });
                }  else {
                    axios.get(base_url+'/web/getProduct/'+id)
                    .then( response => {
                        if (response.status == 200) {
                            this.product = response.data.data

                            this.cart.customer_id = user_id
                            this.cart.product_id = this.product['id']
                            this.cart.merchant_id = this.product['merchant_id']
                            this.cart.category_id = this.product['category_id']
                            this.cart.brand_id = this.product['brand_id']

                            if (this.product['sizes'] == null) {
                                this.cart.size_id = 0
                            }

                            this.cart.variant_checker.map((item,i) => { 
                                delete item.name
                                return item
                            });

                            this.cart.addon_checker.map((item,i) => { 
                                delete item.name
                                return item
                            });                     

                            this.cart.qty = this.selectedQuantity

                            if (this.cart.size == 0 || this.cart.variant_checker.length == 0 || this.product['selling_price'] == '0.00') {
                                this.cart.base_price = this.product['base_price']
                            } else {
                                this.cart.base_price = this.product['selling_price']
                                if (this.product['selling_price'] == '0.00') {
                                    this.cart.base_price = parseFloat(this.variant_price) + parseFloat(this.addon_price)
                                } else {
                                    this.cart.base_price = parseFloat(this.product['selling_price']) + parseFloat(this.addon_price)
                                }
                            }

                            this.cart.checked = 0
                            this.cart.shipping_fee = 0
                            this.cart.special_instructions = ""

                            axios.post(base_url+'/web/storeToCart', this.cart)
                            .then( response => {
                                if (response.status == 200) {
                                    toastr.success(response.data.message)
                                    this.cart.size            = 0
                                    this.cart.variant_checker = []
                                    this.cart.variant_ids     = []
                                    this.cart.addon_checker   = []
                                    this.cart.addon_ids       = []
                                    this.variant_price        = "0.00"
                                    this.addon_price          = "0.00"

                                    $('.btn-group .btn').removeClass('active')
                                    $('#quickViewT1').modal('toggle')
                                    bus.$emit('countCart', response.data.data)
                                }
                            }).catch( error => {
                                toastr.error(error.data.message)
                            });
                        }
                    });
                }
            },
            productPage(product){
                window.location.href = "/product/" + product.permalink
            },
            incrementQty(){
                this.selectedQuantity = this.selectedQuantity += 1
            },
            decrementQty(){
                this.selectedQuantity = this.selectedQuantity -= 1
                if (this.selectedQuantity < 1) {
                    this.selectedQuantity = 1
                }
            },
            quickViewT1(product){
                this.product = product
                this.selectedQuantity = 1
                $('#quickViewT1').modal('toggle')
            },
            createCheckout(product){
                if (user_id == 0) {
                    this.$router.push({ name: 'customer-login', query: { redirect: this.$route.path } });
                } else {
                    window.location.href = "/shipping/"+product.permalink
                }
            }
           
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            },
        },
        watch:{
          selectedCat() {
              this.products = [];
          },
        }
    }
</script>