<style scoped>
   /* main {
      min-height: 100vh;
      margin-top: 150px;
    }*/

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

  .search-wrapper {
    background-color: white;
    margin-bottom: 2rem;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 100vh;
  }

  .search-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    flex: 1 1 auto;
    color: #191919;
    margin-bottom: 0px;
  }

    .payment-main-wrapper {
        margin-top: 55px;
        background: #fff;
    }

    .pay-bottom-wrapper{
        text-align:right;
    }
    .selected-payment{
      padding: 4px 14px;
      border: 1px solid #ffff;
      font-size: 12px;
      text-transform: uppercase;
    }

    .list-group-item{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
       position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .list-group-item:hover{
      cursor: pointer;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #B10A47;
        border-color: #B10A47;
    }
    .error-payment {
        text-align: center;
        color: red;
    }

    #selectPayment {
        border: 1px solid #e9e7e7;
        padding: 32px 50px 20px;
        height: 100%;
        margin: auto;
        box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
    }

    .btnt1 {
        color: #b10a47!important;
        border-color: #b10a47!important;
    }

    .payment-container {
        margin: auto;
    }
</style>


<template>
    <div class="content">
        <main role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 payment-container">
                        <div class="header text-center mb-5">
                            <h1 class="caption text-uppercase text-center">
                                THANK YOU FOR YOUR ORDER.
                            </h1>
                        </div>
                        <h3 class="text-center text-uppercase" v-if="loading_message">
                            <h3 class="mb-3">Loading, please wait</h3>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </h3>
                        <div id="selectPayment" v-if="!loading_message">
                            <span v-html="order_details" class="mb-3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    const CryptoJS = require('crypto-js')
    const key_id = '1378073ea5314bbebc21b68c1911f497'
    const key = 'wxYfAKo6hZ_D9jA7Gz_SBlxrMR1VfuJBMyuIIZLtHOc'
    const epoch = new Date().getTime() / 1000 | 0

    const removeIllegalCharacters = function (input) {
        return input.replace(/=/g, '').replace(/\+/g, '-').replace(/\//g, '_')
    };

    const base64object = function (input) {
        const inputWords = CryptoJS.enc.Utf8.parse(JSON.stringify(input))
        const base64 = CryptoJS.enc.Base64.stringify(inputWords)
        const output = removeIllegalCharacters(base64)
        return output
    };
    
    const base_url = window.location.origin

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'SelectPayment',
        components: { },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                form: {
                    token: token
                },
                error: null,
                loading_message: true,
                order_details: "",
            }
        },
        mounted() {
            this.successPayment()
        },
        updated() {
        },
        methods: {
            successPayment() {
                axios.post(base_url+"/web/paymentStatus", {
                    ordernumber: this.$route.query.ordernumber,
                    requestid: this.$route.query.requestid,
                    responseid: this.$route.query.responseid,
                })
                .then(response => {
                    this.order_details = response.data
                     this.loading_message = false
                });
                
            },
            logout() {
                this.$store.commit('logout')
                this.$router.push('/login')
            }
        },
        computed: {
        },
        watch:{
        }
    }
</script>