<style scoped>
  #filter {
    margin-bottom: 33px;
  }

  .filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 0 20px 13px 0;
    cursor: pointer;
    color: #191919;
    border-bottom: 1px solid #e9e7e7;
    transition: color 0.2s linear;
    text-transform: uppercase;
  }

  .filter-options {
    margin-top: -8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.filter-options li label {
    color: #777777;
    font-size: 13px;
    margin: 0;
    margin-bottom: 2px;
    line-height: 26px;
    letter-spacing: 0.01em;
    transition: color 0.2s linear;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: inline-flex;
    font-weight: 500 !important;
    margin-left: 0.5rem;
  }

  ul.filter-options li label:hover {
    color: #182A84;
    font-weight: bold;
  }

  input:checked + label {
    color: #182086 !important;
  }

  .filter-scroll {
    height: 200px;
    overflow-y: scroll;
  }

</style>

<template>
    <div class="col-md-3">
        <h5 class="text-uppercase">Categories</h5>
        <hr>
        <div id="filter">
            <div class="collapse multi-collapse show filter-scroll" id="filter1">
                <ul class="filter-options">
                    <li v-for="category in categories">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                :id="category.id + 'check'"
                                :value="category.id"
                                :disabled="isLoading"
                                v-model="selectedCat">
                            <label class="custom-control-label text-uppercase" :for="category.id + 'check'">
                                {{category.name}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ProductCategories',
        data() {
            return {
                categories: [],
                selectedCat: [],
                isLoading: false,
                error: null
            }
        },
        mounted() {
            this.getCategories();
        },
        methods: {
          getCategories() {
            axios.get('/api/v1/user-app/getCategories')
            .then( response => {
                if (response.status == 200) {
                    this.categories = response.data.data
                }
            }).catch( error => {
                toastr.error(error.data.message)
            });
          },
        },
    }
</script>