<style scoped>
   /* main {
      min-height: 100vh;
      margin-top: 150px;
    }*/

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

  .search-wrapper {
    background-color: white;
    margin-bottom: 2rem;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 100vh;
  }

  .search-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    flex: 1 1 auto;
    color: #191919;
    margin-bottom: 0px;
  }

    .payment-main-wrapper {
        margin-top: 55px;
        background: #fff;
    }

    .pay-bottom-wrapper{
        text-align:right;
    }
    .selected-payment{
      padding: 4px 14px;
      border: 1px solid #ffff;
      font-size: 12px;
      text-transform: uppercase;
    }

    .list-group-item{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
       position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .list-group-item:hover{
      cursor: pointer;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #707070;
        border-color: #707070;
    }
    .error-payment {
        text-align: center;
        color: red;
    }

    #selectPayment {
        border: 1px solid #e9e7e7;
        padding: 32px 50px 20px;
        height: 100%;
        margin: auto;
        box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
    }

    .payment-container {
        margin: auto;
    }

    .btn-pay-now {
        color: #fff;
        background: #d1242c;
        border-color: #b10a47 !important;
    }
</style>


<template>
    <div class="content">
        <main role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 payment-container">
                        <div class="header text-center mb-5">
                            <h1 class="caption text-uppercase text-center">Payment Methods</h1>
                        </div>
                        <div id="selectPayment" class="w-60">
                            <p class="error-payment">{{ errorMessage }}</p>
                            <div class="list-group">
                                <li class="list-group-item list-group-item-action"
                                    v-for="(payment,paymentIndex) in paymentType"
                                    :key="paymentIndex"
                                    @click="current = payment.id, paymentRequest(payment.payment_acronym)"
                                    v-if="checkIfAvailable(payment.payment_acronym)"
                                    :class="{active:payment.id == current}">
                                        <span>{{ payment.payment_type }}</span>
                                        <span class="selected-payment" v-if="payment.id == current">Selected</span>
                                </li>
                            </div>
                            <hr/>
                            <div class="pay-bottom-wrapper">
                                <div v-if="current == 0">
                                    <button type="button" class="btn btn-sm btn-pay-now btnt1 custom-secondary" @click="validateRequest">Pay Now</button>
                                </div>
                                 <div v-else>
                                    <button type="button" class="btn btn-sm btn-pay-now btnt1 custom-secondary" @click="placeOrder()">Pay Now</button>
                                    <div>
                                        <form class="payment-form" :action="payment_url" method="post">
                                            <input type="hidden" id="paymentrequest" name="paymentrequest" v-model="payment_data">
                                        </form>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'SelectPayment',
        components: { },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token
                },
                paymentMethod:'',
                paymentType: [],
                current:0,
                baseUrl: $("#baseUrl").val(),
                paymentrequest: '',
                orderNumber: '',
                errorMessage: '',
                urlRequest: '',
                checkAvailable: false,
                payment_response: [],
                payment_url: "",
                payment_data: "",
                type: "",
                error: null
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()
            this.getPaymentType()
        },
        updated() {
        },
        methods: {
            getPaymentType() {
                axios.get(base_url+'/web/checkout/getPaymentType')
                .then( response => {
                    if (response.status == 200) {
                        this.paymentType = response.data.data
                    }
                })
            },
            checkIfAvailable(ac) {
                if (ac == "book" || ac == "cod") {
                    return false
                } else {
                    return true
                }
            },
            placeOrder() {
                this.errorMessage = ""
                axios.post(base_url+'/web/checkout/placeOrder', {payment_acronym: this.payment_acronym})
                .then( response => {
                    if (response.status == 200) {
                        this.payment_response = response.data.data
                        if (response.data.message == "Cart is Empty.") {
                            toastr.warning(response.data.message)
                        } else {
                            toastr.success(response.data.message)
                            this.payment_url = response.data.data.paynamicsUrl
                            this.payment_data = response.data.data.responseCode

                            setTimeout(function() {
                                $('form').submit()
                            },100)
                        }
                    }
                });
            },
            paymentRequest(payment_acronym) {
                this.payment_acronym = payment_acronym
            },
            validateRequest(){
               this.errorMessage = "Please select your payment."
            },
            
            logout() {
                this.$store.commit('logout')
                this.$router.push('/login')
            }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            },
        },
        watch:{
            // paymentrequest: function(val){
            //     this.paymentrequest = val
            // }
        }
    }
</script>