<template>
    <div class="content">
      <main role="main">
        <div id="bread-header">
            <div class="container">
                <ul class="bread-nav">
                    <li class="bread-item">
                        <a href="/" class="bread-title">Home</a>
                    </li>
                    <li class="bread-item">
                        <a href="/search" class="bread-title">Similar Products</a>
                    </li>
                    <li class="bread-item">
                        <a href="#" class="bread-title">{{ product_name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mb-0" v-for="(product,productIndex) in products" :key="productIndex">
            <div class="container innerWrapperContainer">
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-sm btn-secondary rounded-0 mb-3 position-absolute btn-wishlist" @click="addWishList(product.id)">
                            Add to Wishlist <i class="far fa-heart"></i>
                        </button>
                        <div class="primary-container">
                            <div v-lazy-container="{ selector: 'img' }">
                                <img :data-src="product.primary_photo" ref="primary" class="w-100 mb-3 primary-photo"/>
                            </div>
                        </div>
                        <span class="gallery-thumbnail" v-if="product.variants.length != 0" v-for="(pvariants,variantIndex1) in product.variants" :key="variantIndex1">
                            <span v-if="variantIndex1 == 0">
                                <splide :options="thumbnail_options">
                                    <span v-if="pvariants.items.length" v-for="(pitems,itemIndex1) in pvariants.items" :key="itemIndex1">
                                        <span v-for="(pgallery,galleryIndex1) in pitems.image_gallery" :key="galleryIndex1" class="d-inline-flex">
                                            <splide-slide v-if="pgallery.image != null">
                                                <img :src="pgallery.image" class="d-inline" style="width:100px;cursor:pointer;" @click="displayOnPrimary(pgallery.image)"/>
                                            </splide-slide>
                                        </span>
                                    </span>
                                </splide>
                            </span>
                        </span>
                    </div>

                    <div class="col-md-7 productItemWrapper">
                        <div style="margin-top: 0; display: none;">
                            <ul class="prod-add-info">
                                <li class="sku">
                                    <span>SKU: {{ product.sku }}</span>
                                </li>
                                <li class="availability">
                                    <span>Availability:</span>
                                    <span class="many_in_stock">Many in stock</span>
                                </li>
                            </ul>
                        </div>
                        <h1 class="prod-title">
                            {{ product_name }} 
                        </h1>
                        <a :href="'/merchant-' + product.merchant_id + '/' + product.store_slug_name + '/sort/popular' ">{{store_name }} Store</a>
                        <div class="product-stats">
                            <h6 class="rating_average">{{ rating_average }}</h6>
                            <star-rating
                                :rating="rating_average"
                                :show-rating="false"
                                :read-only="true"
                                :increment="0.01"
                                :star-size="16">
                            </star-rating>
                            <h6 class="rating_count">({{ product.ratings.length}})</h6>
                        </div>
                        <span class="badge badge-danger" v-if="product.selling_price != '0.00'">ON SALE!</span>
                        <div class="priceWrapper pt-2">
                            <div v-if="product.selling_price == '0.00'">
                                <p class="productPrice" v-if="variant_price != '0.00'">
                                    ₱ {{ toCurrency(parseFloat(product.base_price) + parseFloat(variant_price) + parseFloat(addon_price)) }}
                                </p>
                                <p class="productPrice" v-else>₱ {{ toCurrency(parseFloat(product.base_price)) }}</p>
                            </div>
                            <div class="price-content" v-else>
                                <span class="mx-2 ppriceline"><s>₱ {{ toCurrency(parseFloat(product.base_price) + parseFloat(addon_price)) }}</s></span>
                                <p class="mx-1 productSalePrice custom-sale-price">₱ {{ toCurrency(parseFloat(product.selling_price) + parseFloat(addon_price)) }}</p>
                                <!-- <span class="mx-2 discountPercent">2% OFF</span> -->
                            </div>
                        </div>

                        <div class="size-product-wrapper" v-if="product.sizes != null">
                            <div class="row">
                                <div class="col-md-3 col-3">
                                    <small class="font-weight-bold">Size:</small>
                                </div>
                                <div class="flex-grow-1 col-md-9 col-9">
                                    <div class="btn-group btn-group-toggle mb-1 size-selection" data-toggle="buttons">
                                        <label class="btn rounded-0 btn-outline-primary mr-1" v-for="(size,sizeIndex) in product.sizes" :key="sizeIndex" @click="selectSize(size.id)">
                                            <input type="radio" :name="size" :id="sizeIndex" autocomplete="off"> {{ size.size }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="variation-product-wrapper" v-if="product.variants.length != 0">
                            <div class="row" v-for="(variant,variantIndex) in product.variants" :key="variantIndex">
                                <div class="col-md-3 col-3">
                                    <small class="font-weight-bold">{{ variant.group_name }}:</small>
                                </div>
                                <div class="flex-grow-1 col-md-9 col-3">
                                    <div class="btn-group btn-group-toggle mb-1 variant-selection" data-toggle="buttons">
                                        <label class="btn rounded-0 btn-outline-primary mr-1" v-for="(item,itemIndex) in variant.items" :data-id="item.id" :data-group="variant.group_name" :key="itemIndex" @click="selectVariant(item, variant.group_name)">
                                            <input class="variant-radio" type="radio" :name="item" :id="itemIndex" autocomplete="off"> {{ item.name }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex varietyWrapper">
                            <div class="pt-4 flex-grow-1">
                                <div>
                                    <div class="row">
                                        <div class="col-md-3 col-3">
                                            <small class=" font-weight-bold">Quantity:</small>
                                        </div>
                                        <div class="col-md-9 col-3 d-flex">

                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend btn-qty">
                                                    <div v-if="selectedQuantity == 1">
                                                        <button class="btn btn-outline-secondary btnDec" @click="decrementQty" v-bind:disabled="true">-</button>
                                                    </div>
                                                    <div v-else>
                                                        <button class="btn btn-outline-secondary btnDec" @click="decrementQty">-</button>
                                                    </div>
                                                </div>
                                                <input type="text"
                                                       id="selectedQuantity"
                                                       name="selectedQty"
                                                       class="inputQuantity"
                                                       v-on:keydown="isNumber()"
                                                       v-model="selectedQuantity">

                                                <div class="input-group-prepend btn-qty">
                                                    <div v-if="selectedQuantity == maxQty">
                                                        <button class="btn btn-outline-secondary btnInc" @click="incrementQty" v-bind:disabled="true">+</button>
                                                    </div>
                                                    <div v-else>
                                                        <button class="btn btn-outline-secondary btnInc" @click="incrementQty">+</button>
                                                    </div>
                                                </div>
                                                <div>
                                                    <!-- <h6 class="maxQty">{{ inventory_qty }} pieces available </h6> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12 cta-button d-flex">
                                        <button type="button" class="btn btn-sm btnProduct btn-add-to-cart rounded-0 custom-primary" @click="addToCart(product.id)">Add to My Bayong<sup>TM</sup></button>
                                        <button type="button" class="btn btn-sm btnProduct btn-buy-now rounded-0 custom-secondary" @click="createCheckout(product.id)">Buy Now</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-0">
            <div class="row mt-5">
                <div class="col-md-9">
                    <h3 class="font-weight-bold text-uppercase">Similar Products</h3>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" v-model="sort" @change="sortProduct()">
                            <option value="popular" selected>Most Popular</option>
                            <option value="price-low">Price: Low - High</option>
                            <option value="price-high">Price: High - Low</option>
                            <option value="recent">Recent</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
      </main>
    </div>
</template>

<script>
    import {bus} from '../../app'
    import carousel from 'vue-owl-carousel'
    import { Splide, SplideSlide } from '@splidejs/vue-splide'
    import '@splidejs/splide/dist/css/themes/splide-default.min.css'
    import StarRating from 'vue-star-rating'
    import Paginate from 'vuejs-paginate'
    import moment from 'moment'

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'ProductDetails',
        props: [ 'colors', 'sizes', 'rating'],
        components: { 
            Splide, 
            SplideSlide,
            carousel,
            StarRating,
            Paginate,
            moment
        },
        data() {
            return {
                thumbnail_options: {
                    type: 'slide',
                    focus: 'left',
                    rewind: true,
                    arrows: false,
                    perPage: 4,
                    gap: '1rem',
                },
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                brand_url: '',
                category_url: '',
                related_products: [],
                reviews: [],
                review_total: 0,
                rating_average: 0,
                meta: [],
                page: 1,
                page_count: 1,
                total: 0,
                link: $("#storagePath").val(),
                sizeVarId: '',
                colorId: '',
                prodId: '',
                cart_count: 0,
                cart_price: 0,
                getImgInColor: [],
                productName: "",
                storeName: "",
                pickedColor : [],
                checkColor: false,
                imgData : [],
                activeColor: "",
                activeSizeIndex: "",
                discountPrice : "",
                originalPrice : "",
                maxQty : "",
                discountPercent : '',
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token,
                    prodId :"",
                    prodSizeVarId:"",
                    colorPriceId: "",
                    sizeTypeId: "",
                    imageId: "",
                    submitQty: 1,
                    catId: "",
                    brandId: ""
                },
                related_products: {},
                brand_name: "",
                brand_id: 0,
                brand_slug: "",
                product_name: "",
                inventory_qty: 0,
                error: null,
                sizeType: '',
                user_id: user_id,
                products: {},
                product: {},
                product_gallery: [],
                group_name: [],
                variant_price: "0.00",
                addon_price: "0.00",
                cart: {
                    size_id: 1,
                    variant_ids: [],
                    addons_ids: [],
                    variant_checker: [],
                    addon_checker: []
                },
                selectedQuantity: 1,
                store_id: 0,
                store_name: "",
            }
        },
        created() {
            axios.get('/api/v1/tracker/product-view', {
                params: {
                    slug: this.$route.params.name,
                }
            });
        },        
        mounted() {
            // $('[data-toggle="tooltip"]').tooltip()
            this.getMerchantByLink()
            this.getProductByLink()
        },
        updated() {
            setTimeout(function() {
                $("#quickViewT1").on('hide.bs.modal', function(){
                    this.variant_price = "0.00"
                    this.addon_price   = "0.00"
                    $('.btn-group .btn').removeClass('active')
                })
            },1000)

            $('.size-selection > label:nth-child(1)').addClass('active')
            $('.variant-selection > label:nth-child(1)').addClass('active')
            $('.variant-selection > label').click(function() {
                $(this).addClass('active')
                $('.variant-selection > label').not(this).removeClass('active')
            })
        },
        methods : {
            storeItemHistory(product_id) {
                if (this.user_id == 0 || this.user_id == null) {
                    
                    let product_ids = []
                    product_ids.push(product_id)

                    let params = {
                        'customer_id': user_id,
                        'product_ids': product_ids
                    }

                    this.createItemHistoryCookie('item_history', JSON.stringify(params), 30)
                } else {
                    //db
                }
            },
            createItemHistoryCookie(cookieName,cookieValue,daysToExpire) {
                var date = new Date();
                date.setTime(date.getTime()+(daysToExpire*24*60*60*1000));
                document.cookie = cookieName + "=" + cookieValue + "; expires=" + date.toGMTString();
            },
            accessItemHistoryCookie(cookieName) {
                var name = cookieName + "=";
                var allCookieArray = document.cookie.split(';');
                for(var i=0; i<allCookieArray.length; i++)
                {
                    var temp = allCookieArray[i].trim();
                    if (temp.indexOf(name)==0) {
                        return temp.substring(name.length,temp.length);
                    }
                }

                return "";
            },
            checkItemHistoryCookie() {
                var user = accessCookie("testCookie");
                if (user!="")
                    alert("Welcome Back " + user + "!!!");
                else
                {
                    user = prompt("Please enter your name");
                    num = prompt("How many days you want to store your name on your computer?");
                    if (user!="" && user!=null)
                    {
                        createCookie("testCookie", user, num);
                    }
                }
            },
            displayOnPrimary(src) {
                this.$refs.primary[0].src = src
            },
            moment(date) {
                // return moment(date, 'YYYY-MM-DD').startOf('hour').fromNow()
                return moment(date, 'YYYY-MM-DD').format('LL')
            },
            parseFloat(price) {
                return parseFloat(price)
            },
            toCurrency(price) {
                return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            isNumber(){
                var evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            getMerchantByLink() {
                axios.get(base_url+'/web/getMerchantByLink/'+this.$route.params.name)
                .then( response => {
                    if (response.status == 200) {
                        this.store_id   = response.data.data.id
                        this.store_name = response.data.data.store_name
                    }
                });
            },
            getProductByLink() {
                axios.get(base_url+'/web/getProductByLink/'+this.$route.params.name)
                .then( response => {
                    if (response.status == 200) {
                        this.products = response.data.data

                        this.product_name = this.products[0]['name']
                        // this.product_gallery = JSON.parse(this.products[0]['details']['gallery'])

                        if (this.products[0]['brand_id'] != "") {
                            this.brand_id = this.products[0]['brand_id']
                        } else {
                            this.brand_id = 0
                        }

                        axios.get(base_url+'/web/getBrand/'+this.brand_id)
                        .then( response => {
                            if (response.status == 200) {
                                if (this.products[0]['brand_id'] != "") {
                                    this.brand_name = response.data.data['name']
                                    this.brand_slug = response.data.data['slug_name']
                                } else {
                                    this.brand_name = ""
                                    this.brand_slug = ""
                                }
                            }
                        });

                        this.getRelatedProducts(this.products[0]['category_id'])

                        let qty = 0
                        if (this.products[0]['details']['inventories'] != undefined) {
                            let qty = JSON.parse(this.products[0]['details']['inventories'])
                            qty[0]['qty']
                        }

                        this.inventory_qty = qty

                        let total = 0
                        for(let i = 0; i < this.products[0]['ratings'].length; i++) {
                            total += parseInt(this.products[0]['ratings'][i]['rating'])
                        }
                        this.rating_average = total / this.products[0]['ratings'].length

                        if (Number.isNaN(this.rating_average)) {
                            this.rating_average = 0
                        }

                        this.storeItemHistory(this.products[0].id)

                    }
                });
            },
            arrayRemove(arr, value){
                return arr.filter(function(ele){ 
                    return ele != value; 
                });
            },
            selectSize(size){
                this.cart.size_id = size
            },
            selectVariant(variant, group_name){
                if (variant.price == null) {
                    this.variant_price = 0
                } else {
                    this.variant_price = variant.price
                }

                this.$refs.primary[0].src = variant.image_gallery[0].image
                var new_variant = {name: group_name, id: variant.id}

                this.cart.variant_checker = this.cart.variant_checker.filter(function(el) {
                    return el.name != group_name
                })

                this.cart.variant_checker.push(new_variant)
                this.cart.variant_ids = this.cart.variant_checker
            },
            selectAddon(addon, group_name){
                this.addon_price = addon.price

                var new_addon = {name: group_name, id: addon.id}

                this.cart.addon_checker = this.cart.addon_checker.filter(function(el) {
                    return el.name != group_name
                })

                this.cart.addon_checker.push(new_addon)
                this.cart.addons_ids =  this.cart.addon_checker
            },
            getRelatedProducts(category_id) {
                axios.post(base_url+'/web/getRelatedProducts/', {category_id: category_id, permalink: this.$route.params.name})
                .then( response => {
                    if (response.status == 200) {
                       this.related_products = response.data.data.data
                    }
                });
            },
            // owlCarouselSlides(){
            //     var sync1 = $("#sync1");
            //     var slidesPerPage = 6;
            //     var syncedSecondary = true;

            //     sync1.owlCarousel({
            //         items : 1,
            //         slideSpeed : 2000,
            //         nav: true,
            //         dots: true,
            //         loop: true,
            //         responsiveRefreshRate : 200,
            //         navText: ['<span class="arrow-left-nav">' +
            //         '<i class="fas fa-chevron-left"></i>' +
            //         '</span>',
            //             '<span class="arrow-right-nav">' +
            //             '<i class="fas fa-chevron-right"></i>' +
            //             '</span>'],
            //     });
            // },
            incrementQty(){
              this.selectedQuantity = this.selectedQuantity += 1
            },
            decrementQty(){
                this.selectedQuantity = this.selectedQuantity -= 1
                if (this.selectedQuantity < 1) {
                    this.selectedQuantity = 1
                }
            },
            addWishList(id) {
                if (user_id != 0 || user_id != null) {
                    axios.post(base_url+'/web/addWishList', {user_id: user_id, id: id })
                    .then( response => {
                        if (response.status == 200) {
                            toastr.success(response.data.message)
                        }
                    }).catch( error => {
                        this.$router.push({ name: 'customer-login', query: { redirect: this.$route.path } });
                        // toastr.error(error.data.message)
                    });
                } else {
                    window.location.href = "/login"
                }
            },
            productPage(product){
                window.location.href = "/product/" + product.permalink
            },
            parseInteger(num_val) {
                return parseInt(num_val)
            },
            addToCart(id) {
                if (user_id == 0) {
                    this.$router.push({ name: 'customer-login', query: { redirect: this.$route.path } });
                }  else {
                    axios.get(base_url+'/web/getProduct/'+id)
                    .then( response => {
                        if (response.status == 200) {
                            this.product = response.data.data

                            this.cart.customer_id = user_id
                            this.cart.product_id = this.product['id']
                            this.cart.merchant_id = this.product['merchant_id']
                            this.cart.category_id = this.product['category_id']
                            this.cart.brand_id = this.product['brand_id']

                            if (this.product['sizes'] == null) {
                                this.cart.size_id = 1
                            }

                            this.cart.variant_checker.map((item,i) => { 
                                delete item.name
                                return item
                            });

                            this.cart.addon_checker.map((item,i) => { 
                                delete item.name
                                return item
                            });             

                            this.cart.qty = this.selectedQuantity
                            if (this.cart.size_id == 1 || this.cart.variant_checker.length == 0) {
                                if (this.product['selling_price'] != '0.00') {
                                    this.cart.base_price = parseFloat(this.product['selling_price'])
                                } else {
                                    this.cart.base_price = this.product['base_price']
                                }
                            } else {
                                if (this.product['selling_price'] == '0.00') {
                                    this.cart.base_price = parseFloat(this.variant_price) + parseFloat(this.addon_price)
                                } else {
                                    this.cart.base_price = parseFloat(this.product['selling_price']) + parseFloat(this.addon_price)
                                }
                            }

                            this.cart.checked = 0
                            this.cart.shipping_fee = 0
                            this.cart.special_instructions = ""

                            axios.post(base_url+'/web/storeToCart', this.cart)
                            .then( response => {
                                if (response.status == 200) {
                                    toastr.success(response.data.message)
                                    this.cart.size_id = 1

                                    this.cart.variant_checker = []
                                    this.cart.variant_ids = []
                                    this.variant_price = "0.00"
                                    
                                    this.cart.addon_checker = []
                                    this.cart.addon_ids = []
                                    this.addon_price = "0.00"

                                    $('.btn-group .btn').removeClass('active')
                                    bus.$emit('countCart', response.data.data)
                                }
                            }).catch( error => {
                                toastr.error(error.data.message)
                            });
                        }
                    });
                }
            },
            createCheckout(product){
                if (user_id == 0) {
                    this.$router.push({ name: 'customer-login', query: { redirect: this.$route.path } });
                } else {
                    window.location.href = "/shipping-cart-checkout"
                }
            },
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            },
        },
        watch:{
        }
    }
</script>
<style scoped>
   /* main {
        min-height: 100vh;
        margin-top: 150px;
    }
*/
    #bread-header {
        background: #f7f8fa;
    }

    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item>a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

    .search-wrapper {
        background-color: white;
        margin-bottom: 2rem;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        min-height: 100vh;
    }

    #filter {
        margin-bottom: 33px;
    }

    .filter-title {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        letter-spacing: 0.03em;
        padding: 0 20px 13px 0;
        cursor: pointer;
        color: #191919;
        border-bottom: 1px solid #e9e7e7;
        transition: color 0.2s linear;
        text-transform: uppercase;
    }

    .filter-options {
        margin-top: -8px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.filter-options li label {
        color: #777777;
        font-size: 13px;
        margin: 0;
        margin-bottom: 2px;
        line-height: 26px;
        letter-spacing: 0.01em;
        transition: color 0.2s linear;
        text-transform: uppercase;
        text-decoration: none;
        outline: none;
        display: inline-flex;
        font-weight: 500 !important;
        margin-left: 0.5rem;
    }

    ul.filter-options li label:hover {
        color: #182A84;
        font-weight: bold;
    }

    input:checked+label {
        color: #182086 !important;
    }

    .search-title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 500;
        flex: 1 1 auto;
        color: #191919;
        margin-bottom: 0px;
    }

    .innerWrapperContainer {
        margin-top: 1rem;
        background: #fff;
        padding: 30px 25px;
        box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
    }

    .detail-wrapper {
        background: #fff;
        margin-top: 20px;
        padding: 15px 30px;
        box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
    }

    .rating_average {
        margin: 0 10px 0 0;
        padding-top: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        border-bottom: 1px solid black;
    }

    .rating_count {
        margin: 0 0 0 5px;
        padding-top: 0.2rem;
        font-size: 1rem;
    }

    .product-stats {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    .cart-details {
        padding-left: 49px;
    }

    .cart-detail {
        font-size: 14px;
        color: #777777;
        text-decoration: none;
        outline: none;
        display: inline-block;
    }

    .cart-price {
        font-size: 24px;
        color: #182A84;
    }

    .cart-action-buttons {
        display: flex;
        flex-direction: column;
    }

    .maxQty {
        font-size: 14px;
        line-height: 14px;
        margin: 0.5rem;
        color: grey;
    }

    .btn-outline-secondary.disabled,
    .btn-outline-secondary:disabled {
        background: white;
        opacity: 1 !important;
    }

    .btn-qty button {
        height: 34px;
        padding: 6px 17px 4px;
        border: 1px solid #e7e9ec;
        border-radius: 0;
        background: white;
        font-size: 14px;
        line-height: 1em;
        color: black;
    }

    .btn-outline-secondary:hover {
        border: 1px solid #e7e9ec;
    }

    .prod-add-info {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .prod-add-info li {
        color: #999999;
        font-size: 14px;
    }

    .prod-add-info li.availability {
        margin-top: 6px;
    }

    .prod-add-info li span:first-child {
        color: #191919;
    }

    .prod-title {
        font-size: 25px;
        font-weight: 500;
        color: #272525;
        margin-bottom: 0px;
    }

     #sync1 {
        border-radius: 3px;
        text-align: center;
        height: 350px;
        position: relative;
        padding: 5px;
        overflow: hidden;
        margin-bottom: 20px !important;
    }

    #sync1:after {
        content: '';
        display: block;
        padding-top: 100%;
    }

    #sync1 img {
        width: auto;
        height: 100%;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    /*#sync1 img {
        height: aut;
        width: 100%;
    }*/

    #sync2 img {
        height: 80px;
        padding: 5px;
    }

    @media (max-width: 800px) {
        #sync1 img {
            height: auto;
            width: 100%;
        }
        #sync2 {
            display: none;
        }
    }

    #sync2 {
        margin-top: 20px;
    }

    #sync2 .current {
        border: 1px solid #376092;
    }

    #sync1 .owl-dots {
        display: none;
    }

    .arrow-left-nav {
        position: absolute;
        left: 1%;
        top: 50%;
        transform: translate(-1%, -50%);
    }

    .arrow-right-nav {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translate(-1%, -50%);
    }

    .add-cart-body-desktop {
        display: block;
        position: relative;
    }

    .add-cart-body-desktop::before {
        content: "";
        width: 1px;
        height: 100%;
        background: #e9e9e9;
        position: absolute;
        left: 50%;
        margin-left: 8px;
        top: 0px;
    }

    .add-cart-title {
        color: #191919;
        font-size: 20px;
        line-height: 1;
        font-weight: 500;
    }

    .add-cart-image {
        width: 100%;
        max-width: 154px;
        height: auto;
    }

    .add-cart-name {
        font-weight: 400;
        font-size: 14px;
        margin-top: 12px;
        color: #191919;
    }

    .add-cart-qty {
        font-weight: bold;
        font-size: 14px;
        margin-top: 7px;
        color: #191919;
    }

    .add-cart-price {
        font-weight: bold;
        font-size: 14px;
        margin-top: 7px;
        color: #191919;
    }

    .btnToProfile {
        background: #182A84;
        color: white;
        border: 2px solid #182A84;
    }

    .productItemWrapper .priceWrapper .productPrice,
    .productItemWrapper .priceWrapper .productSalePrice {
        /*color: #0d75b2;*/
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 40px;
    }

    .productItemWrapper .priceWrapper {
        font-weight: 700;
        background: rgba(0, 0, 0, .02);
        padding: 6px;
        margin-bottom: 1.5rem;
    }

    .inputQuantity {
        width: 3rem!important;
        text-align: center;
        background: #fff;
        border: 1px solid #e7e9ec;
        border-right: none;
        border-left: none;
        outline: none;
    }

    .maxQty {
        font-size: 14px;
        line-height: 14px;
        margin: 0.5rem;
        color: grey;
    }

    .btn-add-to-cart,
    .btn-buy-now {
        outline: none;
        padding: 6px 31px 4px;
        font-weight: 700;
        letter-spacing: .5px;
        margin: 5px 10px;
        width: 100%;
        height: 40px;
    }

    h6 {
        margin: 0;
    }

    .reviews-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d9d9d9ba;
        margin-bottom: 10px;
    }

    .pagination-wrapper {
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    a {
        text-decoration: none;
        outline: none;
    }

    .detail-wrapper {
        background: #fff;
        margin-top: 20px;
        padding: 15px 30px;
        box-shadow: 0 3px 10px 0 rgba(44, 44, 45, .07), inset 0 0 0 1px rgba(44, 44, 45, .07);
    }

    .section {
        margin-top: 1rem;
    }

    .section-title {
        background: rgba(0, 0, 0, .02);
        color: rgba(0, 0, 0, .87);
        font-size: 1.125rem;
        padding: .875rem;
        text-transform: capitalize;
    }

    .section-content {
        padding: 5px 15px;
        text-transform: capitalize;
    }

    .spec-item {
        display: flex;
        margin-bottom: 1.125rem;
    }

    .spec-label {
        color: #8e8989;
        font-size: 0.85rem;
        width: 6.25rem;
        margin-right: 2.5rem;
        text-transform: capitalize;
    }

    .spec-content {
        display: flex;
        height: 1rem;
        align-items: center;
    }

    .related-card {
        border: none;
        box-shadow: 0 3px 10px 0 rgba(44, 44, 45, .07), inset 0 0 0 1px rgba(44, 44, 45, .07);
    }

    .related-card:hover {
        border-color: #182A84 !important;
        color: #182A84;
    }

    .card-body {
        padding: 0 13px 10px 13px;
    }

    .card-img {
        padding: 10px;
        height: 200px;
    }

    .card-img-top {
        object-fit: contain;
        height: 180px;
    }

    .card-text {
        position: relative;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0;
        color: #57585a;
        white-space: nowrap;
        display: block;
        width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: normal;
        overflow-wrap: normal;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }

    .price {
        color: #0d75b2;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

    .original-price {
        text-decoration: line-through;
        margin: 0;
        color: #9e9e9e;
        font-size: 12px;
    }

    .rate {
        margin: 0 5px;
        color: #9e9e9e;
        font-size: 12px;
    }

    @media(min-width: 768px) {
        .col-1-5 {
            width: 20%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    @media(max-width: 768px) {
        .col-1-5 {
            width: 50%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .related-card {
            margin-bottom: 15px;
        }
    }

    .btn-outline-primary {
        color: #007bff;
        font-weight: 600 !important;
    }

    .btn-outline-primary:hover {
        color: #fff;
    }

    .splide__slide img {
        height: 100px;
        width: 100px;
        margin-right: 5px;
    }

    .primary-photo {
        object-fit: contain;
        height: 300px;
        width: 300px;
    }

    @media screen and (max-width: 480px) {
        .btnProduct {
            font-size: 11px !important;
        }
    }

</style>