<style scoped>
  /*  main {
      min-height: 100vh;
      margin-top: 150px;
    }*/

    #bread-header {
        background: #f7f8fa;
    }
    .bread-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .bread-item {
        font-size: 12px;
        padding: 4px 6px 4px 11px;
        position: relative;
        text-transform: capitalize;
    }

    .bread-item > a:hover {
        color: #0056b3;
    }

    #bread-header .bread-nav li:not(:first-child):before {
        content: "/";
        position: absolute;
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .bread-title {
        text-decoration: none!important;
        outline: none;
        color: #777;
        background-color: transparent;
    }

    .bread-title:hover {
        border-bottom: 1px solid #182a84;
    }

    label {
        font-size: 14px;
        color: #191919;
        font-weight: 500 !important;
        padding-bottom: 4px;
        letter-spacing: .02em;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .breadcrumb {
        background: transparent;
    }

    .breadcrumb-item {
        fotn-weight: normal;
    }

    .breadcrumb-light .breadcrumb-item>a {
        color: #fff;
    }

  .search-wrapper {
    background-color: white;
    margin-bottom: 2rem;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 100vh;
  }

  #filter {
    margin-bottom: 33px;
  }

  .filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 0 20px 13px 0;
    cursor: pointer;
    color: #191919;
    border-bottom: 1px solid #e9e7e7;
    transition: color 0.2s linear;
    text-transform: uppercase;
  }

  .filter-options {
    margin-top: -8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.filter-options li label {
    color: #777777;
    font-size: 13px;
    margin: 0;
    margin-bottom: 2px;
    line-height: 26px;
    letter-spacing: 0.01em;
    transition: color 0.2s linear;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: inline-flex;
    font-weight: 500 !important;
    margin-left: 0.5rem;
  }

  ul.filter-options li label:hover {
    color: #182A84;
    font-weight: bold;
  }

  input:checked + label {
    color: #182086 !important;
  }

  .search-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    flex: 1 1 auto;
    color: #191919;
    margin-bottom: 0px;
  }

  .brand-title {
      width: 100%;
      font-size: 1.35rem;
      color: #3c55a5;
      margin: 2px 0 0 0;
      padding: 0;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1rem;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 26px;
    }

    .brand-body {
      border-color: #e9e7e7;
      margin-top: 20px;
      text-decoration: none;
      outline: none;
      border-radius: 6px;
      padding: 45px;
      height: 138px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border: 1px solid #e9e7e7;
      text-decoration: none !important;
      position: relative;
      text-align: center;
      transition: border 0.2s linear;
      background-color: white;
      color: #182A84;
      box-shadow: 0 3px 10px 0 rgba(44, 44, 45, 0.07), inset 0 0 0 1px rgba(44, 44, 45, 0.07);
    }

    .brand-body:hover {
      border-color: #182A84;
      color: #182A84;
    }

    .home-brand-image {
      width: 73%;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 800px) {
      .home-brand-image {
        width: 100%;
      }
    }
</style>

<template>
    <div class="content">
      <main role="main">
        <div id="bread-header">
            <div class="container">
                <ul class="bread-nav">
                    <li class="bread-item">
                        <a href="/" class="bread-title">Home</a>
                    </li>
                    <li class="bread-item">
                        <a href="/terms-and-condition" class="bread-title">Terms and Condition</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mb-0">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center mb-5">Terms and Condition</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                	<div class="col-md-12 mt-4">
					   <p><strong>COMPLIANCE</strong></p>
					   <p>You agree to comply with any and all the guidelines, operating rules and policies and instructions pertaining to the purchase of Products through the website.</p>
					   <p>&nbsp;</p>
					   <p><strong>ACCOUNT</strong></p>
					   <p>You may submit an order to our website to purchase one of the products listed by registering an account.</p>
					   <p>Name, address, postal code and email address and other personal information should be supplied to register an account.</p>
					   <p>You will be asked to create a username and password for your account. You need to validate your account through a link that will be sent to your e-mail address.</p>
					   <p>You should notify us immediately if you have knowledge that the confidentiality of your username and/or password has been compromised. Please note that you are entirely responsible if you do not maintain the privacy of your password.</p>
					   <p>We may send you informational and promotional e-mails. All communication, notices, updates and other information will be sent to your e-mail address. You may subsequently opt out of receiving promotional e-mails by clicking on the appropriate link in any promotional e-mail.</p>
					   <p>Customer information on matters such as, but not limited to, age, gender, location, preferences, size, average purchase amount, average time of use and the like may be used for marketing or customer analytics purposes without disclosing the identity of the customer.</p>
					   <p>We reserve the right to unilaterally terminate your use of the website or disable your username and password upon giving you notice. We may bar your access for any reason whatsoever, including a breach of any of these terms or if in our opinion or the opinion of any regulatory authority, it is not suitable to continue providing the services to you.</p>
					   <p>&nbsp;&nbsp;</p>
					   <p><strong>PRODUCT DESCRIPTION</strong></p>
					   <p>While we endeavor to provide an accurate description of the products, we do not warrant that such description is accurate, current or free from error.</p>
					   <p>The products are provided on an “as is” and “as available” basis, without warranty of any kind, either expressed or implied, including limited warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
					   <p>&nbsp;</p>
					   <p><strong>ORDERING AND PAYMENT</strong></p>
					   <p>Once you have selected a product that you wish to order, you will then be shown the charges you must pay including Value Added Tax (VAT), handling and shipping fees.</p>
					   <p>We shall be obliged to deliver the product to you until we have accepted your order which shall be done expressly through email. In the email confirmation, we will give you the reference number and the details of the product you have ordered.</p>
					   <p>You can contact us though our Customer Service at inquiry@adobomall.com, if you discover that you have made a mistake with your order. There is guarantee, that we will be able to alter your order in accordance with your instructions.</p>
					   <p>You shall pay for the price of the product in full upon ordering. Thus, you will be required to supply us with your credit or debit card information. Payments can also be made through Online Banking (all Bancnet member banks), Bayad Center nationwide, Smart Money, Globe GCash, over the counter bank deposit, Diners Club Card and PayPal. We shall endeavor to expand our payment options and shall inform you of additional payment facilities from time to time.</p>
					   <p>You undertake that all the details you provide to us are correct. We shall not be liable for any error in the details you have provided. You also acknowledge that the credit or debit card is your own, or you have authority to use the same, and that there are sufficient funds or credit facilities to cover the cost of the product. You undertake to hold us, our employees, officers, shareholders and representatives from any damage and claim arising from your use of credit or debit cards, Paypal, and other payment facilities.</p>
					   <p>We will offer certain forms of payment and refer you to other forms of payment.</p>
					   <p>We also reserve the right at any time to modify or discontinue, temporarily or permanently, any payment method without notice to you or giving any reason.</p>
					   <p>The Merchant reserves the right to obtain validation of your payment details before providing you with the product.</p>
					   <p>We will accept an order from you for any reason, including unavailability of supplies.</p>
					   <p>The Merchant may offer you a substitute or an alternative product for your returned product, which is similar to your order by resubmitting your order.</p>
					   <p>If you fail to make any payment pursuant to the terms and conditions of the payment method elected or payment is cancelled for any reason whatsoever, then without prejudice to any other right or remedy available, the seller shall be entitled to cancel the order or suspend delivery of the products until payment is made in full.</p>
					   <p>&nbsp;</p>
					   <p><strong>DELIVERY OF PRODUCTS</strong></p>
					   <p>The Merchant shall deliver the products to the address specified in the order.</p>
					   <p>We will deliver the products on time. The Merchant will make every reasonable effort to deliver the product to you within the date specified, with no delays. You will be informed through email if the delivery of your product is delayed. Your order will be dispatched immediately by the seller. We shall be liable for any delay in delivery due to any cause.</p>
					   <p>You should inform us within the next day from the expected delivery date if you do not receive your order. The Merchant will try to locate and deliver your order. Should you fail to inform us of non-delivery of the goods within the next day from expected delivery date, you shall be deemed to have received your order after such period.</p>
					   <p>&nbsp;</p>
					   <p><strong>CANCELLATION OF ORDER</strong></p>
					   <p>An order may be cancelled within three (3) days from the time of your order. Upon the lapse of such period, all orders are irrevocable and unconditional. The seller shall process such order without any further notice to you.</p>
					   <p>The seller shipped you the item for free in the event that a product has been wrongly priced on the website. Within seven (7) days, we shall notify you of such cancellation. Upon termination of the contract under this clause, the seller shall refund the payment you made and sent the item ordered for free.</p>
					   <p>Without prejudice to any other right of termination elsewhere in these Terms &amp; Conditions, we may stop any products in transit, suspend deliveries to the customer or terminate the order with immediate effect by written notice to the customer or at any time after the occurrence of any of the following events:</p>
					   <ol>
					      <li>the customer is in breach of an obligation under the contract;</li>
					      <li>the customer becomes subject of a petition for voluntary or involuntary insolvency or bankruptcy;</li>
					      <li>the customer enters into liquidation, suspension of payments or enters into or attempts to enter into any arrangement with its creditors for the general re-scheduling of its debt; or</li>
					      <li>the customer appoints an administrative receiver over any or all of its assets or suffers any similar action in consequence of debt other than for the purpose of amalgamation or reconstruction;</li>
					   </ol>
					   <p>&nbsp;</p>
					   <p><strong>REFUNDS</strong></p>
					   <p>All refunds shall be made via check payment mechanism and to the person who made the original payment.</p>
					   <p>We guarantee for the timeliness of the refunds reaching your account. The processing of payment is one (1)day and it is subject to the internal processing timeline.</p>
					   <p>The Customer shall bear all the costs associated with the refund process imposed by the processing bank and/or payment provider.</p>
					   <p>All refunds are conditional upon our acceptance of a valid return of the product.</p>
					   <p>The Merchant reserves have no right to modify the mechanism of processing refunds at any time.</p>
					   <p>&nbsp;</p>
					   <p><strong>RETURNS</strong></p>
					   <p>A product maybe returned because of the following reasons:</p>
					   <ol>
					      <li>the product was different in nature from the product specified in the order;</li>
					      <li>the customer received a faulty or damaged product;</li>
					      <li>a wrong product was delivered;</li>
					      <li>the product has missing parts or items; or</li>
					      <li>the product does not fit the customer.</li>
					      <li>change of mind.</li>
					   </ol>
					   <p>A customer may opt to request for a repair or replacement of the defective products instead of returning the product.</p>
					   <p>All products are subject to specific Return and Exchange policies stated by the Merchant on their Store page.</p>
					   <p>In case the products have not been repaired or replaced within a reasonable time, we may grant the customer a price reduction which shall be fifty&nbsp;percent (50%) of the price of the defective product. The customer shall have no further claim against seller upon repair, replacement or price reduction being made.</p>
					   <p>&nbsp;&nbsp;</p>
					   <p><strong>NO REPRESENTATIONS OR WARRANTIES</strong></p>
					   <p>There is warranty given or to be implied as to the life or wear of the products supplied or that they will be suitable for any particular purpose or use under any specific conditions, notwithstanding that such purpose or conditions may be known or made known to you.</p>
					   <p>Any action arising from the breach of any warranty or representation, or any right to damages, whether express or implied, must be brought against us within one (1) year from the date of delivery, or from the scheduled delivery of the product, otherwise the action shall be extinguished.</p>
					   <p>We are liable for any losses suffered by any third party directly or indirectly caused by repairs or remedial work carried out without our prior written approval. Moreover, you shall indemnify us against all losses arising out of such claims.</p>
					   <p>We shall be liable if the total price for the products has not been paid.</p>
					   <p>&nbsp;</p>
					   <p><strong>INTELLECTUAL PROPERTY RIGHTS</strong></p>
					   <p>The Merchant shall be the lawful owner of the patents, copyrights, trademarks, trade names, or other intellectual property rights relating to the products. Likewise, it is not aware of any claims made by any third party regarding the intellectual property rights over the products.</p>
					   <p>&nbsp;</p>
					   <p><strong>LIMITATION OF LIABILITY</strong></p>
					   <p>Notwithstanding any other provision of these terms &amp; conditions of sale, our maximum cumulative liability to you for all losses under, arising out of or relating to the sale of products under each customer contract, will not exceed the sums that you have paid to us under such customer contract.</p>
					   <p>&nbsp;</p>
					   <p><strong>FORCE MAJEURE</strong></p>
					   <p>Neither party shall be liable, or considered in default of this contract, for any delay or failure to perform any of its obligations, if such delay or failure arises, directly or indirectly, from the occurrence of a force majeure event or any other event beyond the reasonable control and anticipation of the concerned party provided there is no contributory fault or negligence.</p>
					   <p>However, the concerned party shall be expected to:</p>
					   <ol>
					      <li>Immediately notify the other party of the occurrence of any event which may affect the performance of its obligations under this agreement; and</li>
					      <li>exercise or perform such necessary remedial and/or protective measures to mitigate or minimize the adverse effects of the occurrence of any force majeure event.</li>
					   </ol>
					   <p>&nbsp;</p>
					   <p><strong>GOVERNING LAW AND VENUE</strong></p>
					   <p>These Terms and Conditions shall be governed by and construed in all respects in accordance with Philippine laws without giving effect to any choice-of-law provision or rule that would cause the application of the laws of any other jurisdiction. Any action arising from the implementation or interpretation of this Agreement shall be brought in the appropriate courts of Pasig City, Philippines, to the exclusion of any other courts. Except as provided in the preceding sentence, any dispute, controversy, or claim arising out of or relating to this Terms and Conditions, or the breach, termination or invalidity thereof shall be settled through arbitration under Republic Act No. 9285 or the Alternative Dispute Resolution Act of 2004.</p>
					   <p>&nbsp;</p>
					   <p><strong>ENTIRE AGREEMENT</strong></p>
					   <p>This contract sets forth the entire agreement and supersedes all prior understandings, communications and agreements, relating to the subject matter hereof.</p>
					   <p>&nbsp;</p>
					   <p><strong>SEVERABILITY</strong></p>
					   <p>In the event that any provision of these Terms and Conditions shall be determined to be invalid, illegal or unenforceable, that provision will be limited or eliminated to the minimum extent necessary so that these Terms and Conditions shall otherwise remain in full force and effect and enforceable.</p>
					   <p>&nbsp;</p>
					   <p><strong>NO WAIVER</strong></p>
					   <p>Our failure and delay in enforcing these Terms and Conditions shall not constitute a waiver or shall not affect the right later to enforce these Terms and Conditions or impair any rights or remedies in respect of it or in any way modify or diminish our rights under these Terms and Conditions. We would still be entitled to use our rights and remedies in any other situation where you breach these Terms and Conditions.</p>
					</div>
                </div>
            </div>
        </div>
      </main>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';

    const base_url = window.location.origin;

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        user_id = user_parse.id
    } else {
        token = ""
    }

    export default {
        name: 'TermsAndCondition',
        components: { 
            InfiniteLoading
        },
        data() {
            return {
                images: {
                    adm_logo: base_url + "/img/logo-adobomall.png"
                },
                details: {
                    id: user_id,
                },
                preview_img: "",
                form: {
                    id: "",
                    email: "",
                    first_name: "",
                    middle_name: "",
                    last_name: "",
                    name: this.fullname,
                    birth_date: "",
                    token: token
                },
                error: null
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip()
        },
        updated() {
        },
        methods: {
          logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
          }
        },
        computed: {
            fullname() {
                return this.form.first_name + " " + this.form.middle_name + " " + this.form.last_name
            }
        },
    }
</script>