<template>
    <div class="wrapper">
        <Preloader :is-visible="isLoading"></Preloader>
        <router-view></router-view>
    </div>
</template>
<script>

  import Preloader from './PreLoader'

  export default {
    data() {
      return {
        isLoading: false,
        axiosInterceptor: null,        
        view_tracker: {
            uri: '',
        }
      }
    },
    mounted() {
        this.enableInterceptor();
        this.urlLog();
    },
    methods: {
        enableInterceptor() {
            var self = this
            this.axiosInterceptor = axios.interceptors.request.use((config) => {
                self.isLoading = true
                return config
            }, (error) => {
                self.isLoading = false
                return Promise.reject(error);
            })
            
            window.axios.interceptors.response.use((response) => {
                self.isLoading = false
                return response
            }, error => {
                self.isLoading = false

                switch(error.response.status) {
                  case 422:
                        var errors = error.response.data.errors
                        if(errors)
                            $.each(errors, function(key,value) {
                                toastr.error(value)
                            }); 
                    break;
                  case 405:
                        toastr.error(error.response.statusText)
                    break;
                  case 401:
                        toastr.error(error.response.data.message)
                    break;
                  case 408:
                        toastr.error(error.response.statusText)
                    break;
                  case 404:
                        toastr.error(error.response.data.message)
                    break;
                }
                return Promise.reject(error);
            })

        },
        
        disableInterceptor() {
            axios.interceptors.request.eject(this.axiosInterceptor)
        },     

        urlLog() {
            // this.view_tracker.uri = window.location.pathname;
            // axios.post('/api/v1/tracker/add-view', this.view_tracker)
            //     .then( response => {
            //     });
        },
    },
    components: {
      Preloader
    }
  };
</script>