<template>
	<div>
		<div class="media-library-holder">
	        <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
	          <li class="nav-item">
	            <a class="nav-link" id="upload-file-tab" data-toggle="pill" href="#upload-file" role="tab" aria-controls="upload-file" aria-selected="true">Upload File</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link active" ref="mediaLibraryTab" id="media-library-tab" data-toggle="pill" href="#media-library" role="tab" aria-controls="media-library" aria-selected="false">Media Library</a>
	          </li>
	        </ul>
	        <div class="tab-content m-2" id="custom-content-below-tabContent">
	          <div class="tab-pane fade" id="upload-file" role="tabpanel" aria-labelledby="upload-file-tab">
	            
	            <div class="uploader"
			        @dragenter="OnDragEnter"
			        @dragleave="OnDragLeave"
			        @dragover.prevent
			        @drop="onDrop"
			        :class="{ dragging: isDragging }">
			        
			        <div class="upload-control" v-show="images.length">
			            <label for="file"><i class="fas fa-mouse-pointer" style="font-size: 14px;"></i>&nbsp;Select a file</label>
			            <button @click="upload"><i class="fas fa-upload" style="font-size: 14px;"></i>&nbsp;Upload</button>
			        </div>


			        <div v-show="!images.length">
			            <i class="fas fa-cloud-upload-alt"></i>
			            <p>Drag your images here</p>
			            <div>OR</div>
			            <div class="file-input">
			                <label for="file">Select a file</label>
			                <input type="file" id="file" @change="onInputChange" multiple>
			            </div>
			        </div>

			        <div class="images-preview" v-show="images.length">
			            <div class="img-wrapper" v-for="(image, index) in images" :key="index">
			                <img :src="image" :alt="`Image Uplaoder ${index}`">
			                <button type="button" aria-label="Close" class="delete" @click="deleteImg(index)">
			                	<span aria-hidden="true">×</span>
			                </button>
			                <div class="details">
			                    <span class="name" v-text="files[index].name"></span>
			                    <span class="size" v-text="getFileSize(files[index].size)"></span>
			                </div>
			            </div>
			        </div>
			    </div>

	          </div>
	          <div class="tab-pane fade show active" id="media-library" role="tabpanel" aria-labelledby="media-library-tab">
	          	<div class="row m-2">
	          		<div class="col-12">

	          			<div class="row mt-2">
					        <div class="col-md-3 d-flex align-items-center mb-2">
					            <!-- Filter Media -->
					        </div>
					        <div class="col-md-4 offset-md-5 mb-2">
					            <div class="input-group d-flex align-items-center justify-content-end">
					                Search:
					                <input v-model="search" type="text" class="form-control form-control-sm" placeholder="Search" v-on:keyup="onEnterSearch" style="margin-left: 0.5em;"/>
					                <div class="input-group-append">
					                    <button class="btn btn-info btn-sm" @click="fetchData"><i class="fas fa-search"></i></button>
					                </div>
					            </div>
					        </div>
					    </div>

					    <div class="row mt-2">
                            <div v-if="!dataTable.length" class="d-flex align-items-center justify-content-center">
                                <p>No Record Found</p>
                            </div>

					    	<div class="images-preview" v-show="dataTable.length">
                                <div class="row col-12">
                                    <div class="img-wrapper" @click="itemChecked(data.id, data)" v-for="(data, index) in dataTable" :key="index" :data-id="data.id">
                                        <div class="icheck-primary d-inline img-selected">
                                            <input type="checkbox" :id="data.id">
                                            <label :for="data.id"></label>
                                        </div>
                                        <img :src="data.file_url" class="img-thumb">
                                    </div>
                                </div>
					    		
                                <!-- Pagination  -->
                                <div class="row col-12">
                                    <div class="col-md-5">
                                        <div v-if="dataTable.length">
                                            Showing {{ meta.from }} to {{ meta.to }} of {{ meta.total }} entries
                                        </div>
                                    </div>
                                    <div class="col-md-7 pr-5">
                                        <ul class="pagination pagination-sm justify-content-end">
                                            <li v-bind:class="[ meta.prev_page_url ? 'page-item' : 'page-item disabled']">
                                                <a class="page-link" href="javascript:void(0);" @click="prev()" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="prev()" v-if="meta.current_page != 1">{{ meta.current_page - 1 }}</a></li>
                                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">{{ meta.current_page }}</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="next()" v-if="meta.current_page < meta.last_page">{{ meta.current_page + 1 }}</a></li>
                                            <li class="page-item" v-bind:class="[ meta.next_page_url ? 'page-item' : 'page-item disabled']">
                                                <a class="page-link" href="javascript:void(0);" @click="next()">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>				    		
					    	</div>
					    </div>
	          		</div>
	          	</div>
	              
	          </div>
	        </div>
        </div>
	</div>
</template>
<script>
    export default {
        name: "MediaLibrary",
        props: {
            isSingleSelect: {
                type: Boolean,
                required: false
            },
            merchantId: {
                type: Number,
                required: false
            },
        },
        data() {
        	return {
        		isDragging: false,
		        dragCount: 0,
		        files: [],
		        images: [],
		        page: 1,
            	perPage: 28,
        		search: '',
        		dataTable: [],
                meta: [],
		        dataUrl: '/api/v1/media-library/list',
                imageDetail: []
        	}
        },

        created(){
        	this.fetchData();
        },

        methods: {

        	fetchData() {
        		axios.get(this.dataUrl, {
                    params: {
                        page: this.page,
                        perPage: this.perPage,
                        search: this.search,
                        merchant_id: this.merchantId,
                    }
                })
                .then(response => {
                    this.dataTable = [];
                    this.dataTable = response.data.data.data;
                    delete response.data.data['data'];
                    this.meta = response.data.data;
                })
                .catch(error => {
                });
        	},

        	onEnterSearch(e) {
                if (e.keyCode === 13) {
                    this.fetchData()
                } 
            },

        	OnDragEnter(e) {

	            e.preventDefault();
	            
	            this.dragCount++;
	            this.isDragging = true;

	            return false;

	        },

	        OnDragLeave(e) {

	            e.preventDefault();
	            this.dragCount--;

	            if (this.dragCount <= 0)
	                this.isDragging = false;

	        },

	        onInputChange(e) {

	            const files = e.target.files;

	            Array.from(files).forEach(file => this.addImage(file));

	        },

	        onDrop(e) {

	            e.preventDefault();
	            e.stopPropagation();

	            this.isDragging = false;

	            const files = e.dataTransfer.files;

	            Array.from(files).forEach(file => this.addImage(file));

	        },

	        addImage(file) {

	            if (!file.type.match('image.*')) {
	            	toastr.error(`${file.name} is not an image`);
	                return;
	            }

	            this.files.push(file);

	            const img = new Image(),
	                reader = new FileReader();

	            reader.onload = (e) => this.images.push(e.target.result);
	            reader.readAsDataURL(file);
	        },

	        deleteImg(index) {

	        	this.$delete(this.images, index);
	        	this.$delete(this.files, index);

	        },

	        getFileSize(size) {

	            const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
	            let i = 0;
	            
	            while(size > 900) {
	                size /= 1024;
	                i++;
	            }

	            return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
	        },

	        upload() {
	            const formData = new FormData();
	            
	            this.files.forEach(file => {
	                formData.append('images[]', file, file.name, file.size);
	            });
                
                if(this.merchantId) {
                    formData.append('merchant_id', this.merchantId);
                }

	            axios.post('/api/v1/media-library/store', formData)
	                .then(response => {
		            	toastr.success(response.data.message)
	                    this.images = [];
	                    this.files = [];

	                    this.fetchData();
	                    
	                    const elem = this.$refs.mediaLibraryTab
			            elem.click();
	                })
	        },

	        itemChecked(index, data) {
                if(this.isSingleSelect) {
                    $('input:checkbox').prop( "checked", false );
                    $('input:checkbox').parent().removeClass('active');
                    $('input:checkbox').parent().parent().removeClass('checked-shadow');
                    $("#" + index).prop( "checked", true );
                    $("#" + index).parent().addClass('active');
                    $("#" + index).parent().parent().addClass('checked-shadow');

                    this.setPrimaryImage(data);
                }
                else {
                    if($('#' + index).is(":checked")) {
                        $("#" + index).prop( "checked", false );
                        $("#" + index).parent().removeClass('active');
                        $("#" + index).parent().parent().removeClass('checked-shadow');

                        this.removeSelected(data);
                    } else {
                        $("#" + index).prop( "checked", true );
                        $("#" + index).parent().addClass('active');
                        $("#" + index).parent().parent().addClass('checked-shadow');

                        this.getSelected(data);
                    }
                }
	        },

        	getSelected: function(data) {
        		this.$emit("selectImage", data);
        	},

            removeSelected: function(data) {
                this.$emit("removeImage", data);
            },

            setPrimaryImage: function(data) {
                this.$emit("setPrimaryImage", data);
            },

        	clear: function() {
        		$('.img-wrapper').each( function(i, obj) {
        			var id = $(this).data('id');
        			if($('#' + id).is(":checked")) {
	    	    		$("#" + id).prop( "checked", false );
				        $("#" + id).parent().removeClass('active');
				        $("#" + id).parent().parent().removeClass('checked-shadow');
	        		}
        		});
        	},

            prev() {
                this.page = this.page -= 1;
                this.fetchData()
            },

            next() {
                this.page = this.page += 1;
                this.fetchData()
            },

        },

        watch: {
        },

    };

</script>
<style lang="scss" scoped>

.media-library-holder {
    min-height: 420px;
	height: auto;
}

.uploader {
    width: 100%;
    background: #2196F3;
    color: #fff;
    padding: 40px 15px;
    text-align: center;
    font-size: 20px;
    position: relative;

    &.dragging {
        background: #fff;
        color: #2196F3;
        border: 3px dashed #2196F3;

        .file-input label {
            background: #2196F3;
            color: #fff;
        }
    }

    i {
        font-size: 85px;
    }

    .file-input {
        width: 200px;
        margin: auto;
        height: 68px;
        position: relative;

        label,
        input {
            background: #fff;
            color: #2196F3;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }

        input {
            opacity: 0;
            z-index: -2;
        }
    }

    .images-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .img-wrapper {
            width: 159px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            height: 150px;
            justify-content: space-between;
            background: #fff;
            box-shadow: 5px 5px 20px #3e3737;
            position: relative;

            img {
                max-height: 105px;
            }
        }

        .details {
            font-size: 12px;
            background: #fff;
            color: #000;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            padding: 3px 6px;
		    overflow: hidden;

            .name {
                overflow: hidden;
                height: 18px;
            }
        }
    }

    .upload-control {
        position: absolute;
        width: 100%;
        background: #fff;
        top: 0;
        left: 0;
        padding: 10px;
        padding-bottom: 4px;
        text-align: right;

        button, label {
            background: #2196F3;
            border: 2px solid #03A9F4;
            border-radius: 3px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

        label {
            padding: 2px 5px;
            margin-right: 10px;
        }
    }

    .delete {
    	border: none;
	    position: absolute;
	    right: 0;
	    top: -10px;
	    background-color: transparent;
	    color: red;

	    span {
	    	font-size: 30px !important;
    		font-weight: bold;
    		text-shadow: 1px 1px #000;
	    }
    }
}

.images-preview {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 316px;
    overflow: auto;

    .img-selected {
    	position: absolute;
	    top: -15px;
	    right: -15px;
	    display: none !important;
    }

    .active {
    	display: block !important;
    }

    .checked-shadow {
    	box-shadow: 0px 1px 5px 2px #0073A8;
    }

    .img-wrapper {
        width: 132px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 132px;
        justify-content: space-between;
        background: #fff;
        border: solid .5px #dee2e6;
        position: relative;
        cursor: pointer;

        img {
            max-height: 130px;
        }
    }
}
</style>