<template>
	<div>
		<div class="row mt-2">
	        <div class="col-md-3 d-flex align-items-center mb-2">
	            Show
	            <select v-model="perPage" @change="fetchData" class="custom-select custom-select-sm form-control form-control-sm" style="margin-left: 0.5em; margin-right: 0.5em;">
	                <option value="15" selected>15</option>
	                <option value="30">30</option>
	                <option value="50">50</option>
	                <option value="100">100</option>
	            </select>
	            entries
	        </div>
            <div class="col-md-5 row offset-md-1 mb-2 justify-content-end">
                <div class="col-4" v-if="downloadTemplate">
                    <a :href="downloadTemplate" type="button" class="btn btn-block btn-primary btn-sm" title="Download CSV Template" download>
                        <i class="fas fa-download"></i> &nbsp;&nbsp;Template 
                    </a>
                </div>                
                <div class="col-4" v-if="downloadCsv">
                    <button type="button" class="btn btn-block btn-primary btn-sm" title="Download CSV" @click="downloadFile"><i class="fas fa-file-csv"></i>&nbsp;&nbsp;Download</button>                    
                </div>
                <div class="col-4" v-if="batchUpload">
                    <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#batchModal" title="Batch Upload"><i class="fas fa-file-upload"></i>&nbsp;&nbsp;Batch Upload </button>
                </div>
            </div>
	        <div class="col-md-3 mb-2">
	            <div class="input-group d-flex align-items-center justify-content-end">
	                Search:
	                <input v-model="search" type="text" class="form-control form-control-sm" placeholder="Search" v-on:keyup="onEnterSearch" style="margin-left: 0.5em;"/>
	                <div class="input-group-append">
	                    <button type="button" class="btn btn-info btn-sm" @click="fetchData"><i class="fas fa-search"></i></button>
	                </div>
	            </div>
	        </div>
	    </div>

		<div class="table-responsive mt-2">
            <table class="table table-hover" id="dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th v-if="checkBox == true">
                            <input class="form-check-select" type="checkbox" value="" id="selectAll" name="selectAll" @click="checkedAll">
                        </th>
                        <th v-for="(tHeader, index) in dataFields" v-bind:key="index">
	                        <span v-if="tHeader.type == 'Boolean'">
	                        {{ tHeader.name }}
	                        </span>
                            <span v-else-if="tHeader.type == 'image'">
                            {{ tHeader.name }}
                            </span>
	                        <span v-else>
	                        {{ tHeader }}
	                        </span>
                    	</th>
                    </tr>
                </thead>
                <tbody>
                	<tr v-for="(data, index) in dataTable" v-bind:key="index" class="has-row-actions">
                        <td v-if="checkBox == true">
                            <div v-if="checkedIds.indexOf(data.id) >= 0">
                                <input class="form-check-select" type="checkbox" :value="data.id" name="selected"  checked="checked" @click="getChecked(data.id,$event)">
                            </div>
                            <div v-else>
                                <input class="form-check-select" type="checkbox" :value="data.id" name="selected" @click="getChecked(data.id,$event)">
                            </div>
                        </td>
                		<td v-for="(tHeader, key, index) in dataFields" v-bind:key="key">
                			<span v-if="tHeader.type == 'Boolean'">
                				<span v-html="tHeader.status[data[key]]"></span>
                			</span>
                            <span v-else-if="tHeader.type == 'image'">
                                <img class="cat-icon" :src="data[key]" />
                            </span>
                			<span v-else>
                			{{ data[key] }}
                			</span>
                			<div class="row-actions" v-if="index==0" style="min-width: 150px;">                				
	                      		<span v-for="(action, index) in actionButtons" v-bind:key="index">
	                      			<a href="#" @click="doAction(action.method, action.routeName, action.apiUrl, data[primaryKey])">
	                      				<span v-html="action.button"></span>
	                      			</a>
	                      		</span>
	                      	</div>
                		</td>
                	</tr>
                </tbody>
            </table>
        </div>

        <div v-if="!dataTable.length" class="d-flex align-items-center justify-content-center">
            <p>No Record Found</p>
        </div>

        <!-- Pagination  -->
        <div class="row">
            <div class="col-md-5 col-12">
                <div v-if="dataTable.length">
                    Showing {{ meta.from }} to {{ meta.to }} of {{ meta.total }} entries
                </div>
            </div>
            <div class="col-md-7 col-12">
                <ul class="pagination pagination-sm justify-content-end">
                    <li v-bind:class="[ meta.prev_page_url ? 'page-item' : 'page-item disabled']">
                        <a class="page-link" href="javascript:void(0);" @click="prev()" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="prev()" v-if="meta.current_page != 1">{{ meta.current_page - 1 }}</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">{{ meta.current_page }}</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="next()" v-if="meta.current_page < meta.last_page">{{ meta.current_page + 1 }}</a></li>
                    <li class="page-item" v-bind:class="[ meta.next_page_url ? 'page-item' : 'page-item disabled']">
                        <a class="page-link" href="javascript:void(0);" @click="next()">Next</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Batch Upload -->
        <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="batchModalLabel">Batch Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>CSV File: <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" ref="file" v-on:change="handleFileUpload()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="custom-file-input" id="batchInput">
                                <label class="custom-file-label" id="batchInputLabel" for="batchInput">Choose file</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="storeBatch">Save changes</button>
                </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>  
    export default {
        name: "Table",
        props: {
        	dataFields: {
        		type: Object,
        		required: true
        	},
        	dataUrl: {
        		type: String,
        		required: true
        	},
        	actionButtons: {
        		type: Object,
        		required: false
        	},
        	primaryKey: {
        		type: String,
        		required: false
        	},
            downloadTemplate: {
                type: String,
                required: false
            },
            batchUpload: {
                type: String,
                required: false
            },
            downloadCsv: {
                type: String,
                required: false
            },
            checkBox: {
                type: Boolean,
                required: false
            },
            checkedIds: {
                type: Array,
                required: false
            },
            filters: {
                type: Object,
                required: false
            },
        },
        data() {
        	return {
            	page: 1,
            	perPage: 15,
        		search: '',
        		dataTable: [],
        		meta: [],
                itemSelected: [],
        	}
        },
        created(){
        	this.fetchData();
        },
        methods: {
        	fetchData() {
        		axios.get(this.dataUrl, {
                    params: {
                        page: this.page,
                        perPage: this.perPage,
                        search: this.search,
                        filters: this.filters
                    }
                })
                .then(response => {
                    this.dataTable = [];
                    this.dataTable = response.data.data.data;
                    delete response.data.data['data'];
                    this.meta = response.data.data;
                })
                .catch(error => {
                });
        	},

            handleFileUpload(){
                this.file = this.$refs.file.files[0];
                $('#batchInputLabel').html(this.file.name)
            },

        	onEnterSearch(e) {
                if (e.keyCode === 13) {
                    this.fetchData()
                } 
            },

            doAction(method, routeName, apiUrl, id=0) {
            	switch(method) {
            		case "link":
            			this.$router.push({name: routeName, params: { id: id}});
            		break;
            		case "delete":
                        if(confirm("Do you really want to delete?"))
                			axios.get(apiUrl+"/"+id)
    		                .then(response => {
    		                    this.fetchData();
    		                });
            		break;
            	}
            },

            prev() {
                this.page = this.page -= 1;
                this.fetchData()
            },

            next() {
                this.page = this.page += 1;
                this.fetchData()
            },

            storeBatch() {
                let formData = new FormData();
                formData.append('file', this.file);

                axios.post( this.batchUpload , formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.fetchData()
                    $('#batchModal').modal('toggle')
                    $('#batchInputLabel').html('Choose File')
                })
                .catch(error => {
                 
                });
            },

            downloadFile() {                
                axios.get(this.downloadCsv, {
                    params: {
                        search: this.search,
                        filters: this.filters
                    }
                })
                .then(response => {
                    const link = document.createElement('a')
                    link.href = response.data.data.filepath
                    link.setAttribute('download', response.data.data.filename) //or any other extension
                    document.body.appendChild(link)
                    link.click()
                })
                .catch(error => {
                });
            },

            checkedAll() {                
                if($("#selectAll").is(":checked")) {
                    $(":checkbox").attr("checked", true);
                }
                else {
                    $(":checkbox").attr("checked", false);
                }

                var itemSelected = [];
                $(":checkbox").each(function () {

                    var thisVal = (this.checked ? $(this).val() : null);
                    if(thisVal)
                        itemSelected.push(thisVal);
                });
                this.$emit("getSelectedAll", itemSelected);
            },

            getChecked(id, event) {                
                var checked = 'unchecked';
                if(event) {
                    if(event.target.checked) {
                        checked = 'checked';
                    }
                    else {
                        checked = 'unchecked';
                    }
                }
                this.$emit("getSelectedItems", id, checked);
            }
        },
    };
</script>
<style lang="scss" scoped>
    .form-check-select {
        margin-top: 0.3rem;
        margin-left:0;
    }

    th {
        white-space: nowrap;
    }
</style>