<style scoped>
   footer {
        background: #E5E5E5;
    }

    .hfooter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 767px) {
        footer .adm-logo,
        footer .adobodigital-logo {
            width: 50% !important;
            margin: auto !important;
            display: block !important;
        }
    }
</style>
<template>
    <!-- Main Footer -->
    <footer>
      <div class="container py-5 mt-5">
          <div class="row align-items-center justify-content-center">
              <div class="col-md-3 mb-4"><img :src="images.adm_logo"  class="adm-logo w-100"></div>
              <div class="col-md-5 hfooter">
                  <div class="col-md-6 col-6">
                      <ul class="hfooterlinks pl-0 font-weight-bold h6" style="list-style-type: none;">
                          <li class="mb-2">
                            <router-link class="text-dark" to="/">Adobomall</router-link>
                          </li>
                          <li class="mb-2">
                            <router-link class="text-dark" to="/contact-us">Contact Us</router-link>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-6 col-6">
                      <ul class="hfooterlinks pl-0 font-weight-bold h6" style="list-style-type: none;">
                          <li class="mb-2">
                            <router-link class="text-dark" to="/privacy-policy">Privacy Policy</router-link>
                          </li>
                          <li class="mb-2">
                            <router-link class="text-dark" to="/terms-and-conditions">Terms &amp; Conditions</router-link>
                          </li>
                          <li class="mb-2">
                            <router-link class="text-dark" to="/faq">FAQs</router-link>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <h5 class="font-weight-bold">Powered by</h5>
                  <div class="row align-items-center">
                      <div class="col-md-6">
                        <img :src="images.adobodigital_logo" class="w-100 mb-4 adobodigital-logo">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</template>

<script>
    const base_url = window.location.origin

    export default {
        name: 'main-footer',
        data() {
          return {
            images: {
              adm_logo: base_url + "/img/logo-adobomall.png",
              adobodigital_logo: base_url + "/img/adobodigital.png"
            }
          }
        }
    }
</script>