<style scoped>
    .input-group-prepend {
        width: 150px !important;
    }

    .input-group-append {
        cursor: pointer;
    }

    .cart-icon {
        position:fixed;
        background:#d1242c;
        border-radius:50%;
        margin-left: 29px;
        top: 7px;
    }

    #mobile_category {
        display: none;
    }
</style>
<template>
    <!-- Navbar -->
    <nav class="fixed-top bg-white border-bottom mb-5">
        <header class="container-fluid border-bottom text-center d-md-none">
            <a href="/">
                <img :src="images.adm_logo" class="mt-3 mb-3" style="width:150px">
            </a>
        </header>
        <header class="container-fluid border-bottom">
            <div class="row align-items-center justify-content-around mb-1">
                <div class="col-md-2 col-1 d-md-block d-sm-none">
                    <router-link class="d-flex justify-content-center align-items-center" to="/">
                    <img :src="images.adm_logo" class="w-75 mt-3 mb-3 d-none d-md-block">
                    </router-link>
                </div>
                <div class="col-md-7 col-sm-8 my-2">
                        <vue-bootstrap-typeahead
                            class="search" 
                            v-model="search_input"
                            :data="category_hint"
                            placeholder="Search in Adobomall"
                            @hit="search()"
                            >
                            <template slot="prepend">
                            <select @change="redirectCategory()" v-model="selected_categories"
                                class="form-control"
                                style="border-radius: 0.25rem 0rem 0rem 0.25rem !important">
                                <option class="dropdown-item"
                                    value="all" selected>All Categories
                                </option>
                                <option class="dropdown-item"
                                    v-for="(category,categoryIndex) in categories" :key="categoryIndex"
                                    :value="category.slug_name">
                                    <span v-if="category.parent_id != null">-</span>
                                    {{ category.name }}
                                </option>
                            </select>
                            </template>
                            <input v-model="search_input" placeholder="Search in Adobomall" id="search" name="search" class="header-search form-control border-right-0" @keyup.enter="search()">
                            <template slot="append">
                                <div class="input-group-append" @click="search()">
                                    <span id="cart-count" class="input-group-text bg-white">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </template>
                        </vue-bootstrap-typeahead>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div id="header-container" class="d-flex" style="justify-content:space-evenly;">
                        <div id="cart">
                            <router-link class="d-flex align-items-center text-dark" to="/cart">
                                <img :src="images.cart_icon" class="mr-1 bayong-icon" style="width: 40px; height: 40px;">

                                <span class="cart-icon badge badge-pill badge-danger" v-if="cart_count">{{ this.cart_count }}</span>
                                <span class="cart-icon badge badge-pill badge-danger" v-else>0</span>
                            </router-link>
                        </div>
                        <a class="login-icon" href="/login" v-if="user_id == 0">
                            <img class="d-block d-md-none" :src="images.enter_svg" alt="Login Icon" style="width:21px;margin-top:2px">
                        </a>
                        <div class="mt-2" v-if="user_id != 0">
                            <router-link class="text-dark" style="font-size:15px" to="/profile">
                                <span class="d-none d-md-block">MY ACCOUNT</span>
                                <img class="myaccount-icon d-block d-md-none" :src="images.login_svg" alt="Profile Icon" style="width:40px;margin-top:-5px">
                            </router-link>
                        </div>
                        <div class="d-none d-md-block mt-2" v-else>
                            <a href="/register" class="text-dark" style="font-size:15px"> REGISTER </a> |
                            <a href="/login" class="text-dark" style="font-size:15px">LOG IN</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- <div class="container">
            <div class="row my-1">
                <div id="web_category" class="col-md-3 col-3 mb-2" v-if="header_categories.length != 0"
                    v-for="(hcategory,hcategoryIndex) in header_categories"
                    :key="hcategoryIndex">
                    <a class="text-dark text-center text-uppercase" style="margin:auto;display: block;"
                        :href="base_url+'/category/'+hcategory.slug_name">
                        {{ hcategory.name }}
                    </a>
                </div>

                <div id="mobile_category" class="col-md-3 col-3 mb-2" v-if="mobile_header_categories.length != 0"
                    v-for="(hcategory,hcategoryIndex) in mobile_header_categories"
                    :key="hcategory.id">
                    <a class="text-dark text-center text-uppercase" style="margin:auto;display: block;"
                        :href="base_url+'/category/'+hcategory.slug_name">
                        {{ hcategory.name }}
                    </a>
                </div>
            </div>
        </div> -->
    </nav>
    <!-- /.Navbar -->
</template>

<script>
    import {bus} from '../../app'
    import Nprogress from 'nprogress'
    import 'nprogress/nprogress.css'
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'

    const base_url = window.location.origin

    let full_name = ""
    let local_storage = localStorage.getItem("user")
    let token = ""
    let user_id = 0

    if (local_storage) {
        let user_parse = JSON.parse(local_storage)
        token = user_parse.token
        setTimeout(function() {
            user_id = user_parse.id
        },1000)
    } else {
      token = ""
    }

    export default {
        name: 'nav-header',
        components: {Nprogress,VueBootstrapTypeahead},
        data() {
          return {
            images: {
                adm_logo: base_url + "/img/logo-adobomall.png",
                adm_logo_icon: base_url + "/img/thumbnail_Adobomall_logo-001.png",
                cart_icon: base_url + '/img/bayong_cart.png',
                enter_svg: base_url + '/img/enter.svg',
                login_svg: base_url + '/img/login.svg'
            },
            base_url: base_url,
            cart_count: 0,
            selected_categories: "all",
            categories: [],
            header_categories: [],
            mobile_header_categories: [],
            user_id: user_id,
            search_input: "",
            user: local_storage,
            page: 1,
            perPage: 16,
            category_hint: []
          }
        },
        mounted() {
            Nprogress.configure({
                speed: 3000,
                showSpinner: true,
                trickle: false,
                trickleSpeed: 100
            })

            Nprogress.start()

            this.selectedCategory()
            this.getCategories()
            this.updateCart()
            bus.$on('countCart', (data) => {
                this.cart_count = data
            })

            setTimeout(() => {
                document.querySelector('.input-group-prepend').style.width = '150px'
            }, 100)

            Nprogress.done()
        },
        updated() {
            $(document).on('keypress', (e) => {
                if (e.keyCode == 13) {
                    this.search()
                }
            })
        },
        methods: {
            redirectCategory() {
                window.location.href = base_url + "/category/" + this.selected_categories + "/sort/popular"
            },
            selectedCategory() {
                if (this.$route.params['category'] == undefined) {
                    this.selected_categories = "all"
                } else {
                    if (this.$route.params.category != "all") {
                        this.selected_categories = this.$route.params.category
                    } else {
                        this.selected_categories = "all"
                    }
                }
            },
            getCategories() {
                axios.get(base_url+'/web/getAllCategories')
                .then( response => {
                    if (response.status == 200) {
                        this.categories = response.data.data

                        var new_category = this.categories
                        for (var i = 0; i < new_category.length; i++) {
                            this.category_hint.push(new_category[i].name)
                        }

                        this.header_categories = this.categories.slice(0,8)
                        this.mobile_header_categories = this.categories.slice(0,4)
                    }
                }).catch( error => {
                    // toastr.error(error.data.message)
                });
            },
            search() {
                if (this.search_input != "") {
                    // window.location.href = base_url + "/search?s="+this.search_input+"&category="+this.selected_categories+"&sort=popular"
                     window.location.href = base_url + "/search?s="+this.search_input+"&category="+this.selected_categories
                }
            },
            updateCart() {
              axios.get(base_url+'/web/countCart')
                .then( response => {
                    if (response.status == 200) {
                        this.cart_count = response.data.data
                        this.user_id = 1
                    }
                }).catch( error => {
                    this.cart_count = 0
                    this.user_id = 0
                });
            }
        },
        computed: {
        }
  }
</script>