<template>
  <div>
    <!-- Main Header Navigation -->
    <HeaderNav></HeaderNav>
    <!-- Content Wrapper. Contains page content -->
    <router-view></router-view>
    <!-- /.content-wrapper -->

    <Footer></Footer>

  </div>
</template>

<script>
  import {login} from '../../helpers/auth';
  import HeaderNav from './TheHeaderNav.vue';
  import Footer from './TheFooter.vue';

  const base_url = window.location.origin

  export default {
    name: 'customer-app',
    data() {
      return {
        images: {
          adm_logo: base_url + "/img/logo-adobomall.png"
        }
      }
    },
    components: {
        HeaderNav,
        Footer,
    },
    mounted() {
        // this.checkIfAuthenticated()
    },
    methods: {
        checkIfAuthenticated() {
            let data = this.$cookies.get("data")
            if (data.is_social == true) {
                let datas = Object.assign({}, data.user, {token: data.token})
                localStorage.setItem("user", JSON.stringify(datas))
                this.$store.dispatch('login')

                login(data)
                .then((res) => {
                    this.$store.commit("loginSuccess", res)
                    this.$router.push(this.$route.query.redirect || '/')
                    // this.$router.push({path: '/'})
                    // localStorage.setItem("user", JSON.stringify(datas))

                })
                .catch((error) => {
                    this.$store.commit("loginFailed", {error})
                });
            }
        },
    }
  };
</script>