<style scoped>
  .mpic-side {
      box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%) !important;
      padding: 1.875rem 1.875rem;
      border-radius: .4375rem !important;
      width: 100%;
      max-width: 22rem;
      background-color: #fff;
  }

  .media {
      position: relative !important;
      border-radius: 50% !important;
      padding: 1.5px;
      background-color: #fff;
      border: 1px solid #e3e9ef;
      box-shadow: none;
      max-width: 100%;
      width: 100px;
      height: 100px;
  }

  .media-img {
      border-radius: 50% !important;
      /*max-width: 100%;*/
      width: 100px;
      height: 100px;
      vertical-align: middle;
  }

  .media-img:hover {
      cursor: pointer;
      filter: grayscale(100%);
  }

  .media-body {
      flex: 1;
  }

  .media-body > h3 {
      font-size: 1rem;
      font-weight: 600;
  }

  .media-body > span {
      font-size: .875rem !important;
      color: #4e54c8 !important;
  }

  .bg-secondary {
      background-color: #f6f9fc !important;
  }
  .bg-secondary,
  .bg-secondary>a {
      color: #fff!important;
  }
  .font-size-sm {
      font-size: .875rem !important;
  }
  .text-muted {
      color: #6c757d!important;
  }

  .active{
      color: #182A84 !important;
  }

  .list-unstyled {
      padding-left: 0;
      list-style: none;
  }

  .nav-link-style {
      color: #4b566b;
      text-decoration: none;
      font-size: 1rem;
      cursor: pointer;
  }

  .form-group > label {
      font-weight: bold !important;
  }
</style>
<template>
    <!-- Main Sidebar Container -->
    <aside class="col-lg-4 pt-4 pt-lg-0">
      <div class="mpic-side px-0 pb-0 mb-5 mb-lg-0">
        <div class="px-4 mb-4">
           <div class="d-flex align-items-center">
                <div class="media" data-toggle="modal" data-target="#photoModal">
                    <img :src="form.image_url || 'https://conservation-innovations.org/wp-content/uploads/2019/09/Dummy-Person.png'" class="media-img" data-toggle="tooltip" data-placement="bottom" title="Change photo">
                </div>
                <div class="media-body pl-3">
                 <h3 class="mb-0">{{ form.name }}</h3>
                 <span style="overflow-wrap: anywhere;hyphens: auto;">{{ form.email }}</span>
              </div>
           </div>
        </div>
        <div class="bg-secondary px-4 py-3">
           <h3 class="font-size-sm mb-0 text-muted">Dashboard</h3>
        </div>
        <ul class="list-unstyled mb-0">
           <li class="border-bottom mb-0">
            <router-link to="/orders" :class="['nav-link-style','d-flex','justify-content-between','align-items-center','px-4','py-3', (page == 'orders' ? 'active' : '')]">
              <span>
                <i class="fa fa-shopping-bag mr-2"></i> Orders
              </span>
              <span class="font-size-sm text-muted"></span>
            </router-link>
           </li>
        </ul>
        <ul class="list-unstyled mb-0">
           <li class="border-bottom mb-0">
            <router-link to="/wishlist" :class="['nav-link-style','d-flex','justify-content-between','align-items-center','px-4','py-3', (page == 'wishlist' ? 'active' : '')]">
              <span>
                <i class="fas fa-heart"></i> &nbsp;&nbsp;Wishlist
              </span>
              <span class="font-size-sm text-muted"></span>
            </router-link>
           </li>
        </ul>
        <div class="bg-secondary px-4 py-3">
           <h3 class="font-size-sm mb-0 text-muted">Account Settings</h3>
        </div>
        <ul class="list-unstyled mb-0">
           <li class="border-bottom mb-0">
            <router-link to="/profile" :class="['nav-link-style','d-flex','justify-content-between','align-items-center','px-4','py-3', (page == 'profile' ? 'active' : '')]">
              <span>
                <i class="fa fa-user mr-2"></i> Profile Info
              </span>
              <span class="font-size-sm text-muted"></span>
            </router-link>
           </li>
           <li class="border-bottom mb-0">
            <router-link to="/address" :class="['nav-link-style','d-flex','justify-content-between','align-items-center','px-4','py-3', (page == 'address' ? 'active' : '')]">
              <span>
                <i class="fa fa-map-marker-alt mr-2"></i> Addresses
              </span>
              <span class="font-size-sm text-muted"></span>
            </router-link>
           </li>
           <li class="mb-0">
            <a class="nav-link-style d-flex justify-content-between align-items-center px-4 py-3" @click="logout()">
              <span>
                <i class="fa fa-sign-out-alt mr-2"></i> Logout
              </span>
              <span class="font-size-sm text-muted"></span>
            </a>
           </li>
        </ul>
      </div>
    </aside>
</template>

<script>
    export default {
        name: 'side-nav',
        props: ['form', 'page'],
        data() {
          return {
            logo: window.location.origin +'/img/adm-logo-06.png',           
          }
        },
        mounted() {
        },
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/');
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    };
</script>