<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New Category</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New Category</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Create a brand new category and add them to this site.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeCategory">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Category Name <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="name" v-model="category.name" placeholder="Category Name" @blur="onBlur">
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Category Slug Name <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="slug_name" v-model="category.slug_name" placeholder="Slug Name">
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="inputPassword3" class="col-sm-4 col-form-label">Merchant</label>
		                    <div class="col-sm-8">
		                      	<select class="custom-select select2bs4" v-model="category.merchant_id" @change="onChangeCategories($event)">
		                      		<option value="">Select Merchant</option>
		                      		<option v-for="merchant in merchants" :value="merchant.id">{{ merchant.details.store_name }}</option>
		                        </select>
		                    </div>
		               	  </div>

		               	  <div class="form-group row">
		                    <label for="inputPassword3" class="col-sm-4 col-form-label">Parent Category</label>
		                    <div class="col-sm-8">
		                      	<select class="custom-select" v-model="category.parent_id">
		                      		<option value="">Select Category</option>
		                      		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
		                        </select>
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Icon / Image </label>
		                    <div class="col-sm-8">
		                      	<div class="d-flex flex-column justify-content-center align-items-center preview">
									<img style="width: auto; height: 100%;" :src="category.image_url">
									<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
									<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
								</div>
		                    </div>
		                  </div>

	                  	</div>                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'categories' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
		                  <button type="submit" class="btn btn-info">Add New Category</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	</div>
</template>
<script>  
	import MediaLibrary from '../../../components/MediaLibrary';
    export default {
        name: "AddCategory",
        data() {
            return {
                category: {
                	id: '',
                	parent_id: '',
                	name: '',
                	slug_name: '',
                	merchant_id: '',
                	image_url: window.location.origin +'/storage/media_library/400x400.png',
                },
                error: null,
                categories: [],
                merchants: [],
                isSingleSelect: false,
            }
        },
        created(){

           	axios.get('/api/v1/category/getDropdown')
        		.then(response => this.categories = response.data.data);

        	axios.get('/api/v1/merchant/getDropdown')
        		.then(response => this.merchants = response.data.data);

        },
        methods: {

        	storeCategory: function() {

				axios.post('/api/v1/category/store', this.category)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'categories'});
				});

        	},

			onBlur: function() {
        		var field_name = this.category.name
		  		this.category.slug_name = field_name.replace(/ /g,"_").toLowerCase();
		  	},

		  	addPrimaryImage: function() {
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    setPrimaryImage: function(params) {
		    	this.category.image_url = params.file_url
		    }, 

		    setDefaultImage: function() {
		    	this.category.image_url = window.location.origin +'/storage/media_library/400x400.png'
		    },

		    onChangeCategories: function(event) {
	        	axios.get('/api/v1/category/getDropdown', {
                    params: {
                        mid: event.target.value,
                    }
                })
                .then(response => {
                	this.categories = [];
                    this.categories = response.data.data
                })
		    }

        },

        components: {
        	MediaLibrary
 	   	}

    };

    $(function () {
		$("#name").on('blur', function() {
			var fieldName = $(this).val();
			$("#slug_name").val(
				fieldName.replace(/ /g,"_").toLowerCase()
	  		);
		});
	});
</script>