<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New Role</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New Role</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Create a brand new role and add them to this site.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeRole">
	                <div class="card-body">
	                  <div class="form-group row">
	                    <label for="userName" class="col-sm-2 col-form-label">Role <span class="font-italic">(required)</span></label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="name" v-model="role.name" placeholder="Role name">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">Description <span class="font-italic">(required)</span></label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="description" v-model="role.description" placeholder="Role Description">
	                    </div>
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'roles' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Add New Role</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
    export default {
        name: "AddRole",
        data() {
            return {
                role: {
                	name: '',
                	description: ''
                },
            };
        },
        methods: {
        	storeRole: function() {
				axios.post('/api/v1/role/create', this.role)
		            .then(response => {
		            	toastr.success(response.data.message)
		            	this.$router.push({name: 'grant.permissions', params: { id: response.data.data.id}});
		            })
        	}
        }

    };
</script>