<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Role</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Role</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Role {{ role.name }}.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateRole">
	                <div class="card-body">
	                  <div class="form-group row">
	                    <label for="userName" class="col-sm-2 col-form-label">Role <span class="font-italic">(required)</span></label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="name" v-model="role.name" placeholder="Role name">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">Description <span class="font-italic">(required)</span></label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="description" v-model="role.description" placeholder="Role Description">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">Active</label>
	                    <div class="col-sm-5">
	                      <div class="custom-control custom-switch">
	                          <input class="custom-control-input" type="checkbox" id="active" v-model="role.isActive">
	                          <label for="active" class="custom-control-label"></label>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'roles' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
		                  <button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
    export default {
        name: "EditRole",
        data() {
            return {
                role: {
                	name: '',
                	description: '',
                	isActive: false
                }
            };
        },
        created(){
        	var id = this.$route.params.id;
           	axios.get('/api/v1/role/'+id)
        		.then(response => {
        			var role = response.data.data;
        			this.role.id = id;
        			this.role.name = role.name;
        			this.role.description = role.description;
        			this.role.isActive = role.active;
        		});
        },
        methods: {
        	updateRole: function() {
				axios.put('/api/v1/role/update', this.role)
		            .then(response => {
                        toastr.success(response.data.message)
		                this.$router.push('/admin/roles');
		            })
        	}
        }

    };
</script>