<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="d-inline">Grant Permissions</h1>
                
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Grant Permissions</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  
                    <div class="card-header">
                        <h5 class="card-title">Grant Permissions for user role <strong>{{ role.name }}</strong>.</h5>
                    </div>
                      <!-- /.card-header -->
                    <form @submit.prevent="savePermissions">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-7">
                                <div v-if="role.permissions != ''">                        
                                    <table class="table table-hover" id="dataTable" style="width:100%">
                                        <thead>
                                            <tr class="text-center bg-gradient-dark">
                                                <th>Modules</th>
                                                <th>Permissions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(data, index) in role.permissions" v-bind:key="index">
                                                <td>{{ modules[index].name }}</td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-switch">
                                                      <input class="custom-control-input" type="checkbox" 
                                                      :id="data.module_id" 
                                                      :checked="data.status" 
                                                      name="permissions[]"
                                                      :data-id="data.module_id">
                                                      <label :for="data.module_id" class="custom-control-label"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>
                                    <table class="table table-hover" id="dataTable" style="width:100%">
                                        <thead>
                                            <tr class="text-center bg-gradient-dark">
                                                <th>Modules</th>
                                                <th>Permissions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(data, index) in modules" v-bind:key="index">
                                                <td>{{ data.name }}</td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-switch">
                                                      <input class="custom-control-input" type="checkbox" 
                                                      :id="data.id" 
                                                      name="permissions[]"
                                                      :value="data.id"
                                                      :data-id="data.id">
                                                      <label :for="data.id" class="custom-control-label"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                            <router-link :to="{ name: 'roles' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
                            <button type="submit" class="btn btn-info">Save Changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
    export default {
        name: "Permissions",
        data() {
            return {
                modules: [],
                role: [],
            }
        },
        created(){
            this.fetchData();
        },
        methods: {
            fetchData() {
                var id = this.$route.params.id;

                axios.get('/api/v1/module/list')
                .then(response => {
                    this.modules = response.data.data;
                })

                axios.get('/api/v1/role/'+id)
                .then(response => {
                    this.role = response.data.data;
                })
            },
            savePermissions() {
                var permissions = [];
                $("input[name='permissions[]']").each(function() {
                    permissions.push({
                        module_id: $(this).data('id'),
                        permission: $(this).is(':checked')
                    });
                });
                var grant_permission = {role_id:this.role.id, permissions:permissions}

                axios.post('/api/v1/permission/grant_permission', grant_permission)
                .then(response => {
                    toastr.success(response.data.message)
                    this.$router.push('/admin/roles');
                })
            }
        },     
    };
</script>