<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Merchant Settings</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Merchant Settings</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">

	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeMerchant">

	                <div class="card-body" style="border-top: 1px solid rgba(0,0,0,.125);">
	                	<h4 class="mb-3">Basic Information</h4>

	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="userName" class="col-sm-4 col-form-label">Store Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="storeName" v-model="merchant.storeName" placeholder="Store Name" readonly="readonly">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="storeAddress" class="col-sm-4 col-form-label">Store Address <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-8">
				                      <textarea class="form-control" id="storeAddress" v-model="merchant.storeAddress" placeholder="Store Address"></textarea>
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="firstName" class="col-sm-4 col-form-label">First Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="firstName" v-model="merchant.firstName" placeholder="First Name" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="lastName" class="col-sm-4 col-form-label">Last Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="lastName" v-model="merchant.lastName" placeholder="Last Name" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="mobile" class="col-sm-4 col-form-label">Mobile Number<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="mobile" v-model="merchant.mobile" placeholder="Mobile Number" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="phone" class="col-sm-4 col-form-label">Phone Number<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="phone" v-model="merchant.phone" placeholder="Phone Number" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="userName" class="col-sm-4 col-form-label">User Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="username" v-model="merchant.username" placeholder="User Name" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="email" class="col-sm-4 col-form-label">Email<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="email" class="form-control" id="email" v-model="merchant.email" placeholder="Email" readonly="readonly">
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="email" class="col-sm-4 col-form-label">Password<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="password" class="form-control" id="password" v-model="merchant.password" placeholder="Password">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="email" class="col-sm-4 col-form-label">Confirm Password<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-8">
				                      <input type="password" class="form-control" id="c_password" v-model="merchant.c_password" placeholder="Confirm Password">
				                    </div>
				                </div>
	                		</div>
	                	</div>

	                	<hr style="margin-left: 0;">
	                	<h4 class="mb-3">Business Information</h4>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="businessName" class="col-sm-4 col-form-label">Registered Business Name:</label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="businessName" v-model="merchant.businessName" placeholder="Registered Business Name" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			 <div class="form-group row">
				                    <label for="permitNumber" class="col-sm-4 col-form-label">Business Permit Number:</label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="permitNumber" v-model="merchant.permitNumber" placeholder="Business Permit Number" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="permitDate" class="col-sm-4 col-form-label">Business Permit Date:</label>
				                    <div class="col-sm-8">
				                    	<date-picker v-model="merchant.busPermitDate" placeholder="MM/DD/YYYY" :config="options" id="busPermitDate"></date-picker>
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			 <div class="form-group row">
				                    <label for="tradeStyle" class="col-sm-4 col-form-label">Trade Style:</label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="tradeStyle" v-model="merchant.tradeStyle" placeholder="Trade Style" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="tin" class="col-sm-4 col-form-label">TIN:</label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="tin" v-model="merchant.tin" placeholder="000-000-000">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			 <div class="form-group row">
				                    <label for="dateStartedOperation" class="col-sm-4 col-form-label">Date Started Operation:</label>
				                    <div class="col-sm-8">
				                     	<date-picker v-model="merchant.dateStartedOperation" placeholder="MM/DD/YYYY" :config="options" id="dateStartedOperation"></date-picker>
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="secRegistrationNumber" class="col-sm-4 col-form-label">SEC Registration Number:</label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="secRegistrationNumber" v-model="merchant.secRegistrationNumber" placeholder="SEC Registration Number" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			 <div class="form-group row">
				                    <label for="secRegistrationDate" class="col-sm-4 col-form-label">SEC Registration Date:</label>
				                    <div class="col-sm-8">
				                    	<date-picker v-model="merchant.secRegistrationDate" placeholder="MM/DD/YYYY" :config="options" id="secRegistrationDate"></date-picker>
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="dtiRegistationNumber" class="col-sm-4 col-form-label">DTI Registration Number:</label>
				                    <div class="col-sm-8">
				                      <input type="text" class="form-control" id="dtiRegistationNumber" v-model="merchant.dtiRegistationNumber" placeholder="DTI Registration Number" autocomplete="off">
				                    </div>
				                </div>
	                		</div>
	                		<div class="col-6">
	                			 <div class="form-group row">
				                    <label for="dtiRegistationDate" class="col-sm-4 col-form-label">DTI Registration Date:</label>
				                    <div class="col-sm-8">
				                    	<date-picker v-model="merchant.dtiRegistationDate" placeholder="MM/DD/YYYY" :config="options" id="dtiRegistationDate"></date-picker>
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-6">
	                			<div class="form-group row">
				                    <label for="businessType" class="col-sm-4 col-form-label">Business Type</label>
				                    <div class="col-sm-8">
				                      <select class="custom-select" v-model="merchant.businessType">
				                      	<option value="vat">VAT</option>
				                      	<option value="non-vat">NON-VAT</option>
				                       </select>
				                    </div>
				                </div>
	                		</div>
	                	</div>

	                	<hr style="margin-left: 0;">
	                	<h4 class="mb-3">Other Information</h4>
	                	<div class="row">
	                		<div class="col-8">
	                			<div class="form-group row">
				                    <label for="otherInfo" class="col-sm-3 col-form-label">Other Info.:</label>
				                    <div class="col-sm-8">
				                      <textarea class="form-control" id="otherInfo" v-model="merchant.otherInfo" placeholder="Other Info."></textarea>
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-8">
	                			<div class="form-group row">
				                    <label for="logo" class="col-sm-3 col-form-label">Logo (120 x 120 Pixel)</label>						                    
				                    <div class="col-sm-8">
				                      	<div class="d-flex flex-column justify-content-center align-items-center preview">
											<img style="width: auto; height: 100%;" :src="merchant.logo">
											<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
											<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
										</div>
				                    </div>
				                </div>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-8">
				                <div class="form-group row">
				                    <label for="banner" class="col-sm-3 col-form-label">Banner (585 x 300 Pixel)</label>
				                    <div class="col-sm-8">
				                      	<div class="d-flex flex-column justify-content-center align-items-center preview">
											<img style="width: auto; height: 100%;" :src="merchant.banner">
											<span class="edit" @click="addBannerImage"><i class="fas fa-pencil-alt"></i></span>
											<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
										</div>
				                    </div>
				                </div>
				            </div>
		                </div>

	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  <button type="submit" class="btn btn-info" id="submitButton">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	:merchantId="merchantId"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>

	</div>
</template>
<script>  
	import Form from '../../../helpers/form';
	import { generatePassword } from '../../../helpers/generatePassword';
	import MediaLibrary from '../../../components/MediaLibrary';

    export default {
        name: "AddMerchant",
        data() {
            return {
                merchant: {
                	id: '',
                	storeName: '',
					storeAddress: '',
					longitude: '',
					latitude: '',
					firstName: '',
					middleName: '',
					lastName: '',
					email: '',
					username: '',
					mobile: '',
					phone: '',
					password: '',
					c_password: '',
					brand: [],
					category: '',
					status: '',
					businessName: '',
					permitNumber: '',
					busPermitDate: '',
					tradeStyle: '',
					tin: '',
					dateStartedOperation: '',
					secRegistrationNumber: '',
					secRegistrationDate: '',
					dtiRegistationNumber: '',
					dtiRegistationDate: '',
					businessType: '',
					scheduledOrder: '',
					sunday: '',
					sundayTime: '',
					monday: '',
					mondayTime: '',
					tuesday: '',
					tuesdayTime: '',
					wednesday: '',
					wednesdayTime: '',
					thursday: '',
					thursdayTime: '',
					friday: '',
					fridayTime: '',
					saturday: '',
					saturdayTime: '',
					otherInfo: '',
                	logo: '',
                	banner: '',
                },
                error: null,
                displayPassword: false,
                displayButton: true,
                categories: [],
                brands: [],
                statuses: [],
                date: new Date(),
		        options: {
		          format: 'DD/MM/YYYY',
		          useCurrent: false,
		        },
		        currentPage: 'basic',
		        isSingleSelect: false,
		        isLogo: false,
		        isBanner: false,
		        merchantId: 0,
            };
        },

        created(){
           	axios.get('/api/v1/merchant-settings')
        		.then(response => {
        			var merchant = response.data.data;
					this.merchant.id = merchant.id
					this.merchant.email = merchant.email
					this.merchant.username = merchant.username
					this.merchant.category = merchant.category_id
					this.merchant.status = merchant.status
        			this.merchant.storeName = merchant.details.store_name
					this.merchant.storeAddress = merchant.details.store_address
					this.merchant.longitude = merchant.details.longitude
					this.merchant.latitude = merchant.details.latitude
					this.merchant.firstName = merchant.details.first_name
					this.merchant.middleName = merchant.details.middle_name
					this.merchant.lastName = merchant.details.last_name
					this.merchant.mobile = merchant.details.mobile
					this.merchant.phone = merchant.details.phone
					this.merchant.brand = JSON.parse(merchant.details.brand)

					var businessInfo = JSON.parse(merchant.details.business_info)
					var settings = JSON.parse(merchant.details.settings)

					this.merchant.businessName = (businessInfo.business_name == "null") ? null : businessInfo.business_name;
					this.merchant.permitNumber = (businessInfo.permit_number  == "null") ? null : businessInfo.permit_number;
					this.merchant.busPermitDate = businessInfo.business_permit_date
					this.merchant.tradeStyle = (businessInfo.trade_style == "null") ? null : businessInfo.trade_style;
					this.merchant.tin = (businessInfo.tin == "null") ? null : businessInfo.tin;
					this.merchant.dateStartedOperation = businessInfo.date_started_operation
					this.merchant.secRegistrationNumber = (businessInfo.sec_registration_number == "null") ? null : businessInfo.sec_registration_number; 
					this.merchant.secRegistrationDate = businessInfo.sec_registration_date
					this.merchant.dtiRegistationNumber = (businessInfo.dti_registation_number == "null") ? null : businessInfo.dti_registation_number;
					this.merchant.dtiRegistationDate = businessInfo.dti_registation_date
					this.merchant.businessType = businessInfo.business_type
					this.merchant.scheduledOrder = settings.scheduled_order
					this.merchant.otherInfo = (settings.other_info == "null") ? null : settings.other_info;

                	this.merchant.logo = (settings.logo == "null") ? null : settings.logo;
                	this.merchant.banner = (settings.banner == "null") ? null : settings.banner;
        		});

			this.merchantId = this.$store.getters.currentUser.id;
        },

        methods: {

        	showPassword: function() {
        		this.merchant.password = generatePassword(15);
        		this.displayPassword = true;
        		this.displayButton = false;
        	},

        	cancelPassword: function() {
        		this.displayPassword = false;
        		this.displayButton = true;
        	},

        	storeMerchant: function() {
				let formData = new FormData();
				formData.append('id', this.merchant.id);
				formData.append('storeName', this.merchant.storeName);
				formData.append('storeAddress', this.merchant.storeAddress);
				formData.append('longitude', this.merchant.longitude);
				formData.append('latitude', this.merchant.latitude);
				formData.append('firstName', this.merchant.firstName);
				formData.append('middleName', this.merchant.middleName);
				formData.append('lastName', this.merchant.lastName);
				formData.append('email', this.merchant.email);
				formData.append('username', this.merchant.username);				
				formData.append('mobile', this.merchant.mobile);
				formData.append('phone', this.merchant.phone);
				formData.append('password', this.merchant.password);
				formData.append('brand', JSON.stringify(this.merchant.brand));
				formData.append('category', this.merchant.category);
				formData.append('status', this.merchant.status);
				formData.append('businessName', this.merchant.businessName);
				formData.append('permitNumber', this.merchant.permitNumber);
				formData.append('busPermitDate', this.merchant.busPermitDate);
				formData.append('tradeStyle', this.merchant.tradeStyle);
				formData.append('tin', this.merchant.tin);
				formData.append('dateStartedOperation', this.merchant.dateStartedOperation);
				formData.append('secRegistrationNumber', this.merchant.secRegistrationNumber);
				formData.append('secRegistrationDate', this.merchant.secRegistrationDate);
				formData.append('dtiRegistationNumber', this.merchant.dtiRegistationNumber);
				formData.append('dtiRegistationDate', this.merchant.dtiRegistationDate);
				formData.append('businessType', this.merchant.businessType);
				formData.append('scheduledOrder', this.merchant.scheduledOrder);				
				formData.append('otherInfo', this.merchant.otherInfo);
				formData.append('logo', this.merchant.logo);
				formData.append('banner', this.merchant.banner);

				axios.post('/api/v1/merchant-settings/update', formData, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'merchant.dashboard'});
				});

        	},

		    addPrimaryImage: function() {
		    	this.isLogo = true;
		    	this.isBanner = false;
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    addBannerImage: function() {
		    	this.isLogo = false;
		    	this.isBanner = true;
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    setPrimaryImage: function(params) {
		    	if(this.isLogo && !this.isBanner)
			    	this.merchant.logo = params.file_url;
			    else 
			    	this.merchant.banner = params.file_url;
		    }, 

		    setDefaultImage: function() {
		    	this.merchant.logo = null;
		    },

        },

        components: {
        	MediaLibrary
 	   	}        
    };
</script>

<style lang="scss" scoped>
.modal-header {
	border-bottom: 0;
}

.modal-body {
	padding: 0;
}

.icon {
	position: absolute; 
	right: 1.5rem; 
	top: 0.6rem;
}

.inventory td {
	max-width:50px;
	width:auto;
	min-width:10px;
}

.images-preview {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;

    .img-selected {
    	position: absolute;
	    top: -15px;
	    right: -15px;
	    display: none !important;
    }

    .active {
    	display: block !important;
    }

    .checked-shadow {
    	box-shadow: 0px 1px 5px 2px #0073A8;
    }

    .img-wrapper {
        width: 80px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 80px;
        justify-content: space-between;
        background: #fff;
        border: solid .5px #dee2e6;
        position: relative;
        cursor: pointer;

        img {
            max-height: 80px;
        }
    }

    .delete {
    	border: none;
	    position: absolute;
	    right: 0;
	    top: -10px;
	    background-color: transparent;
	    color: red;

	    span {
	    	font-size: 30px !important;
    		font-weight: bold;
    		text-shadow: 1px 1px #000;
	    }
    }
}

.arrow {
    position: relative;
    font-weight: bold;
}

.nav-link {
	margin-right: 20px;
	border-radius: 0 !important;
}

.nav-link:after {
    content: '';
    height: 0;
    display: block;
    border-color: #6c757d #6c757d #6c757d #007bff;
    border-width: 18.7px;
    border-style: solid;
    position: absolute;
    top: 0;
    right: -37px;
}

.disabled {
	color: #FFF;
	background-color: #6c757d;
}

.last-child:after {
    border-color: transparent transparent transparent #007bff;	
}

.disabled:after {
    border-color: #6c757d #6c757d #6c757d #6c757d;	
}

.preview {
    height: 250px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position:relative;
}

.preview span.edit {
    position:absolute;
    bottom: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 5px 0 5px;
    display:none;
}

.preview span.delete {
    position:absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 0 5px 0 5px;
    display:none;
}

.preview:hover span {
    display: block;
}

</style>