<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add/Edit Courier</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item"><router-link :to="{ name: 'courier' }">Courier</router-link></li>
	              <li class="breadcrumb-item active">Add/Edit Courier</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Setup Courier - Note : Please complete and fill out all the rates according to the document to avoid future errors. Thank you.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Courier Name <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="name" v-model="courier.name" placeholder="Courier Name">
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Valuation Fee <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="valuation_fee" v-model="courier.valuation_fee" placeholder="Valuation Fee">
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">COD Fee <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="cod_fee" v-model="courier.cod_fee" placeholder="COD Fee">
		                    </div>
		                  </div>

			              <div class="form-group row">
			              	<label for="userName" class="col-sm-4 col-form-label">Merchant</label>
			              	<div class="col-sm-8">
			              		<select class="form-control" v-model="courier.owner_id">
	                                <option value="1" selected>Admin Default</option>
	                                <option v-for="merchant in merchants" :value="merchant.id">{{ merchant.store_name }}</option>
	                            </select>
			              	</div>
                          </div>

		                  <div class="form-group row">
		                    <label for="Active" class="col-sm-4 col-form-label">Active</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="active" v-model="courier.is_active">
		                          <label for="active" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="Default" class="col-sm-4 col-form-label">Default Courier</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="is_default" v-model="courier.is_default">
		                          <label for="is_default" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="Consumer" class="col-sm-4 col-form-label">Consumer</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="is_consumer" v-model="courier.is_consumer">
		                          <label for="is_consumer" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>

	                  	</div>                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'courier' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
		                <button type="button" class="btn btn-info" @click="storeCourier">Save changes</button>
	                </div>
	                <!-- /.card-footer -->
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>

	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card">
	              <div class="card-header">
	                <h5 class="card-title">Package Type</h5>
	                <button class="btn btn-primary btn-sm float-right" @click="addNewPackage">Add Package</button>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	                <div class="card-body">	
			          	<table class="table table-hover">
						  <thead>
						  	<tr>
						  		<th>ID</th>
						  		<th>PACKAGE NAME</th>
						  		<th>MIN WEIGHT</th>
						  		<th>MAX WEIGHT</th>
						  		<th>ACTION</th>
						  	</tr>
						  </thead>
						  <tbody>
						  	<tr v-for="package_type in courier.package_types">
						  		<th>{{ package_type.id }}</th>
						  		<th>{{ package_type.package }}</th>
						  		<th>{{ package_type.min_weight }}</th>
						  		<th>{{ package_type.max_weight }}</th>
						  		<th>
						  			<button type="button" class="btn btn-primary" @click="editPackage(package_type)">Edit</button>
						  			<button type="button" class="btn btn-danger" @click="deletePackage(package_type.id)">Delete</button>
						  		</th>
						  	</tr>
						  </tbody>
						</table>
		          	</div>
	                <!-- /.card-body -->
	            </div> 
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>

	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card">
	              <div class="card-header">
	                <h5 class="card-title">Areas Rates</h5>
	                <button class="btn btn-primary btn-sm float-right" @click="addNewRate">Add Rates</button>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	                <div class="card-body">	
			          	<table class="table table-hover">
						  <thead>
						  	<tr>
						  		<th>ID</th>
						  		<th>AREA NAME</th>
						  		<th>PACKAGE NAME</th>
						  		<th>DELIVERY RATE</th>
						  		<th>ACTION</th>
						  	</tr>
						  </thead>
						  <tbody>
						  	<tr v-for="rate in courier.rates">
						  		<th>{{ rate.id }}</th>	
						  		<th>{{ rate.area_name }}</th>
						  		<th>{{ rate.package_name }}</th>
						  		<th>{{ rate.delivery_rate }}</th>
						  		<th>
						  			<button type="button" class="btn btn-primary" @click="editRate(rate)">Edit</button>
						  			<button type="button" class="btn btn-danger" @click="deleteRate(rate.id)">Delete</button>
						  		</th>
						  	</tr>
						  </tbody>
						</table>
		          	</div>
	                <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>

	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card">
	              <div class="card-header">
	                <h5 class="card-title">Excess Rates</h5>
	                <button class="btn btn-primary btn-sm float-right" @click="addNewExcessRate">Add Excess Package</button>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	                <div class="card-body">	
			          	<table class="table table-hover">
						  <thead>
						  	<tr>
						  		<th>ID</th>
						  		<th>AREA NAME</th>
						  		<th>PACKAGE NAME</th>
						  		<th>WEIGHT</th>
						  		<th>COMPUTATION RATE</th>
						  		<th>ACTION</th>
						  	</tr>
						  </thead>
						  <tbody>
						  	<tr v-for="excess_rate in courier.excess_rates">
						  		<th>{{ excess_rate.id }}</th>	
						  		<th>{{ excess_rate.area_name }}</th>
						  		<th>{{ excess_rate.package_name }}</th>
						  		<th>{{ excess_rate.weight }}</th>
						  		<th>{{ excess_rate.computation_rate }}</th>
						  		<th>
						  			<button type="button" class="btn btn-primary" @click="editExcessRate(excess_rate)">Edit</button>
						  			<button type="button" class="btn btn-danger" @click="deleteExcessRate(excess_rate.id)">Delete</button>
						  		</th>
						  	</tr>
						  </tbody>
						</table>
		          	</div>
	                <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="modalPackageUpdateTypes" tabindex="-1" aria-labelledby="modalPackageUpdateTypes" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
	                <h5 class="modal-title" id="modalPackageUpdateTypesLbl">Package Types</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
		      <div class="modal-body">
                    <div class="form-group">
                        <label>Package Name</label>
                        <input type="text" class="form-control" placeholder="Package Name" v-model="packageForm.package">
                    </div>

                    <div class="form-group">
                        <label>Min Weight<small id="valHelp" class="form-text text-muted ml-2" style="display:inline-block;">In Kilos (KG).</small></label>
                        <input type="text" class="form-control"  placeholder="Min Weight" v-model="packageForm.min_weight">
                    </div>

                    <div class="form-group">
                        <label>Max Weight<small id="valHelp" class="form-text text-muted ml-2" style="display:inline-block;">In Kilos (KG).</small></label>
                        <input type="text" class="form-control" placeholder="Min Weight" v-model="packageForm.max_weight">
                    </div>

                    <div class="form-group">
                        <label>Package Length<small id="valHelp" class="form-text text-muted ml-2" style="display:inline-block;">In Centimeter (CM).</small></label>
                        <input type="text" class="form-control" placeholder="Length" v-model="packageForm.length">
                    </div>

                    <div class="form-group">
                        <label>Package Width<small id="valHelp" class="form-text text-muted ml-2" style="display:inline-block;">In Centimeter (CM).</small></label>
                        <input type="text" class="form-control" placeholder="Width" v-model="packageForm.width">
                    </div>

                    <div class="form-group">
                        <label>Package Height<small id="valHelp" class="form-text text-muted ml-2" style="display:inline-block;">In Centimeter (CM).</small></label>
                        <input type="text" class="form-control" placeholder="Height" v-model="packageForm.height">
                    </div>
                </div>
		      	<div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary" @click="savePackages">Save changes</button>
	            </div>
		    </div>
		  </div>
		</div>

		<!--add modal min max rate-->
        <div class="modal fade" id="modalRates" tabindex="-1" role="dialog" aria-labelledby="modalRatesLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRatesLabel">Add Rate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="deliveryRate">Delivery Rate</label>
                            <input type="number" class="form-control" id="delivery_rate" aria-describedby="deliveryRateAddHelp" placeholder="Delivery Rate" v-model="packageRate.delivery_rate">
                            <small id="deliveryRateAddHelp" class="form-text text-muted">Weight amount.</small>
                        </div>

                        <div class="form-group">
                            <label>Select Area</label>
                            <div>
                                <select class="form-control" v-model="packageRate.courier_area_id">
                                    <option value="">Select Area</option>
                                    <option v-for="areaList in areas" :value="areaList.id">{{ areaList.area }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Select Package</label>
                            <div>
                                <select class="form-control" v-model="packageRate.package_id">
                                    <option value="">Select Pakage</option>
                                    <option v-for="packageList in courier.package_types" :value="packageList.id">{{ packageList.package }}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveRate">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

		<div class="modal fade" id="modalExcess" tabindex="-1" role="dialog" aria-labelledby="modalExcessLbl" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalExcessLbl">Excess Package Types</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="excessForm">
                            <div class="form-group">
                                <label>Weight<small id="valHelp" class="form-text text-muted ml-2" style="display:inline-block;">In Kilos (KG).</small></label>
                                <input type="text" class="form-control"  placeholder="Weight" v-model="excessForm.weight">
                            </div>

                            <div class="form-group">
                                <label>Computed Rate</label>
                                <input type="text" class="form-control" placeholder="Computed Rate" v-model="excessForm.computation_rate">
                            </div>

                            <div class="form-group">
	                            <label>Select Area</label>
	                            <div>
	                                <select class="form-control" v-model="excessForm.courier_area_id">
	                                    <option value="">Select Area</option>
	                                    <option v-for="areaList in areas" :value="areaList.id">{{ areaList.area }}</option>
	                                </select>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <label>Select Package</label>
	                            <div>
	                                <select class="form-control" v-model="excessForm.package_id">
	                                    <option value="">Select Pakage</option>
	                                    <option v-for="packageList in courier.package_types" :value="packageList.id">{{ packageList.package }}</option>
	                                </select>
	                            </div>
	                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveExcess">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "AddCourier",
        data() {
            return {
                courier: {
                	id: '',
                	name: '',
                	is_active: '',
                	is_default: '',
                	is_consumer: '',
                	valuation_fee: '',
                	cod_fee: '',
                	owner_id: 1,
                	package_types: [],
                	rates: [],
                	excess_rates: [],
                },
                packageForm: {
                    id : '',
                    package : '',
                    courier_id : '',
                    min_weight : '',
                    max_weight : '',
                    length : '',
                    width : '',
                    height : ''
                },
                packageRate: {
                	id: '',
                	courier_area_id: '',
                	package_id: '',
                	courier_id: '',
                	delivery_rate: '',
                },
                excessForm: {
                    id : '',
                    package_id : '',
                    courier_area_id : '',
                    courier_id : '',
                    weight: '',
                    computation_rate: ''
                },
                errors: [],
                areas: [],
                packages: [],
                merchants: [],
            }
        },
        created(){
        	this.getCourierDetails();
        	this.getAreas();   
        	this.getMerchants();     	
        },
        methods: {

        	getMerchants: function() {
                axios.get('/api/v1/lookup/getMerchants')
                    .then( response => {
                        this.merchants = response.data.data;           
                    });   
            },

        	getAreas: function() {
        		axios.get('/api/v1/courier/get-area')
					.then( response => {
						this.areas = response.data.data;	       
					});	  
        	},

        	getCourierDetails: function(){
        		var id = this.$route.params.id;
	        	if(id) {
	        		axios.get('/api/v1/courier/get-details/'+id)
					.then( response => {
						var courier = response.data.data;
	                	this.courier.id = courier.id;
	                	this.courier.name = courier.name;
	                	this.courier.is_active = courier.is_active;
	                	this.courier.is_default = courier.is_default;
	                	this.courier.is_consumer = courier.is_consumer;
	                	this.courier.valuation_fee = courier.valuation_fee;
	                	this.courier.cod_fee = courier.cod_fee;
	                	this.courier.package_types = courier.package_types;
	                	this.courier.rates = courier.rates;
	                	this.courier.excess_rates = courier.excess_rates;
					});	        		
	        	}
        	},

        	storeCourier: function() {

				axios.post('/api/v1/courier/store', this.courier)
				.then( response => {					
	            	toastr.success(response.data.message)
	            	var courier = response.data.data;
	            	if(courier) {
		            	this.$router.push({name: 'courier.edit', params: { id: courier.id }});
	            	}
	            	this.getCourierDetails();
				});

        	},

        	addNewPackage: function() {
                this.packageForm.id = ''
                this.packageForm.courier_id = this.courier.id;
                this.packageForm.package = '';
                this.packageForm.min_weight = '';
                this.packageForm.max_weight = '';
                this.packageForm.length = '';
                this.packageForm.width = '';
                this.packageForm.height = '';        	
                $("#modalPackageUpdateTypes").modal("show");
            },

        	editPackage: function (data) {
				this.packageForm.id = data.id;
                this.packageForm.courier_id = data.courier_id;
                this.packageForm.package = data.package;
                this.packageForm.min_weight = data.min_weight;
                this.packageForm.max_weight = data.max_weight;
                this.packageForm.length = data.length;
                this.packageForm.width = data.width;
                this.packageForm.height = data.height;
                $("#modalPackageUpdateTypes").modal("show");
           	},

        	savePackages: function(){
        		axios.post('/api/v1/courier/package/store', this.packageForm)
	                .then(response => {
	                    $("#modalPackageUpdateTypes").modal("hide");
	                    this.getCourierDetails();
	                })
            },

            deletePackage: function(id){
        		axios.get('/api/v1/courier/package/delete/'+id)
	                .then(response => {
	                    toastr.success(response.data.message);
	                    this.getCourierDetails();
	                })
            },

            addNewRate: function() {
            	this.packageRate.id = '';
            	this.packageRate.courier_area_id = '';
            	this.packageRate.package_id = '';
            	this.packageRate.courier_id = this.courier.id;
            	this.packageRate.delivery_rate = '';
            	$("#modalRates").modal("show");
            },

            editRate: function(data) {
            	this.packageRate.id = data.id;
            	this.packageRate.courier_area_id = data.courier_area_id;
            	this.packageRate.package_id = data.package_id;
            	this.packageRate.courier_id = data.courier_id;
            	this.packageRate.delivery_rate = data.delivery_rate;
            	$("#modalRates").modal("show");
            },

            deleteRate: function(id) {
            	axios.get('/api/v1/courier/rate/delete/'+id)
	                .then(response => {
	                    toastr.success(response.data.message);
	                    this.getCourierDetails();
	                })
            },

            saveRate: function() {
            	axios.post('/api/v1/courier/rate/store', this.packageRate)
	                .then(response => {
	                    $("#modalRates").modal("hide");
	                    this.getCourierDetails();
	                })
            },

            addNewExcessRate: function() {
                this.excessForm.package_id = '';
                this.excessForm.courier_area_id = '';
                this.excessForm.courier_id = this.courier.id;
                this.excessForm.weight = '';
                this.excessForm.computation_rate = '';
                $("#modalExcess").modal("show");
            },

            editExcessRate: function(data) {
            	this.excessForm.id = data.id;
                this.excessForm.package_id = data.package_id;
                this.excessForm.courier_area_id = data.courier_area_id;
                this.excessForm.courier_id = data.courier_id;
                this.excessForm.weight = data.weight;
                this.excessForm.computation_rate = data.computation_rate;
            	$("#modalExcess").modal("show");
            },

            deleteExcessRate: function(id) {
            	axios.get('/api/v1/courier/excess-rate/delete/'+id)
	                .then(response => {
	                    toastr.success(response.data.message);
	                    this.getCourierDetails();
	                })
            },

            saveExcess: function() {
            	axios.post('/api/v1/courier/excess-rate/store', this.excessForm)
	                .then(response => {
	                    $("#modalExcess").modal("hide");
	                    this.getCourierDetails();
	                })
            },

        },

        components: {
        	Table
 	   	}

    };

</script>