<template>
	<div>
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Courier <router-link :to="{ name: 'courier.add' }" class="btn btn-outline-primary btn-sm">Add New</router-link></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Courier</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Special Rate</h5>
                    <button class="btn btn-primary btn-sm float-right" @click="addSpecialRate">Add Special Rate</button>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                    <div class="card-body"> 
                        <div class="card-body"> 
                        <Table 
                        :dataFields="dataSpecialRate"
                        :dataUrl="specialdataUrl"
                        :actionButtons="specialactionButtons"
                        :primaryKey="specialPrimaryKey"
                        ref="specialRate">
                        </Table>
                    </div>
                    </div>
                    <!-- /.card-body -->
                </div> 
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>

        <div class="modal fade" id="modalSpecialRates" tabindex="-1" role="dialog" aria-labelledby="modalRatesLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRatesLabel">Add/Edit Special Rate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Merchant</label>
                            <select class="form-control" v-model="frormSpecialRate.owner_id">
                                <option value="1" selected>Admin Default</option>
                                <option v-for="merchant in merchants" :value="merchant.id">{{ merchant.store_name }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Special Name *</label>
                            <input type="text" class="form-control"  placeholder="Special Name" v-model="frormSpecialRate.special_name">
                        </div>

                        <div class="form-group">
                            <label>Discount Rate *</label>
                            <input type="text" class="form-control"  placeholder="Amount" v-model="frormSpecialRate.rate_discount">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="storeSpecialRate">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

	</div>
</template>

<script> 
	import Table from '../../../components/Table';
    export default {
        name: "Courier",
        data() {
            return {
            	dataFields: {
            		name: "Courier Name", 
            		valuation_fee: "Valuation Fee", 
                    cod_fee: "COD Fee", 
            		is_active: {
            			name: "Status", 
            			type:"Boolean", 
            			status: { 
            				0: '<span class="badge badge-danger">Deactivated</span>', 
            				1: '<span class="badge badge-info">Active</span>'
            			}
            		},
                    is_default: {
                        name: "Default Courier", 
                        type:"Boolean", 
                        status: { 
                            0: '<span class="badge badge-danger">Deactivated</span>', 
                            1: '<span class="badge badge-info">Active</span>'
                        }
                    },
                    is_consumer: {
                        name: "Consumer", 
                        type:"Boolean", 
                        status: { 
                            0: '<span class="badge badge-danger">Deactivated</span>', 
                            1: '<span class="badge badge-info">Active</span>'
                        }
                    },
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/courier/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this user',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'courier.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'link'
            		},
            		delete: {
            			title: 'Delete this user',
            			name: 'Delete',
            			apiUrl: '/api/v1/courier/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},

                frormSpecialRate: {
                    special_name: '',
                    rate_discount: '',
                    owner_id: 1,
                    owner_type: 'admin'
                },
                merchants: [],

                dataSpecialRate: {
                    special_name: "Special Name", 
                    rate_discount: "Discount Rate", 
                    store_name: "Merchant Name", 
                    owner_type: "Owner Type"
                },
                specialPrimaryKey: "id",
                specialdataUrl: "/api/v1/courier/special-rate/list",
                specialactionButtons: {
                    edit: {
                        title: 'Edit this user',
                        name: 'Edit',
                        apiUrl: '',
                        routeName: 'special-rate.edit',
                        button: '<i class="fas fa-edit"></i> Edit',
                        method: 'link'
                    },
                    delete: {
                        title: 'Delete this user',
                        name: 'Delete',
                        apiUrl: '/api/v1/courier/special-rate/delete',
                        routeName: '',
                        button: '<i class="fas fa-trash-alt"></i> Delete',
                        method: 'delete'
                    },
                },
            };
        },        

        created(){
            this.getMerchants();
        },

        methods: {
            getMerchants: function() {
                axios.get('/api/v1/lookup/getMerchants')
                    .then( response => {
                        this.merchants = response.data.data;           
                    });   
            },

            addSpecialRate: function() {
                this.frormSpecialRate.special_name = '';
                this.frormSpecialRate.rate_discount = '';
                this.frormSpecialRate.owner_id = 1;
                $("#modalSpecialRates").modal("show");
            },

            editSpecialRate: function(data) {
                this.frormSpecialRate.special_name = data.special_name;
                this.frormSpecialRate.rate_discount = data.rate_discount;
                this.frormSpecialRate.owner_id = data.owner_id;
                $("#modalSpecialRates").modal("show");
            },

            storeSpecialRate: function() {
                axios.post('/api/v1/courier/special-rate/store', this.frormSpecialRate)
                    .then(response => {
                        $("#modalSpecialRates").modal("hide");
                        this.$refs.specialRate.fetchData();
                    })
            }

        },

        components: {
        	Table
 	   }
    };
</script>