<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Commission Rate</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Commission Rate</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Commission Rate.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateRole">
	                <div class="card-body">
	                  <div class="form-group row">
	                    <label for="Merchant" class="col-sm-2 col-form-label">Merchant</label>
	                    <div class="col-sm-5">
	                    	<select class="custom-select select2bs4" v-model="commissionRate.merchant_id" @change="onChangeCategories($event); onChangeMerchant($event)">
	                      		<option value="">Select Merchant</option>
	                      		<option v-for="merchant in merchants" :value="merchant.id">{{ merchant.details.store_name }}</option>
	                        </select>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">Rate</label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="merchant_rate" v-model="commissionRate.merchant_rate" placeholder="0.00">
	                    </div>
	                  </div>
					  <div class="form-group row">
	                    <label for="Merchant" class="col-sm-2 col-form-label">Category</label>
	                    <div class="col-sm-5">
	                    	<select class="custom-select select2bs4" v-model="commissionRate.category_id">
	                      		<option value="">Select Category</option>
	                      		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
	                        </select>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">Rate</label>
	                    <div class="col-sm-5">
	                      <input type="text" class="form-control" id="category_rate" v-model="commissionRate.category_rate" placeholder="0.00">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="Merchant" class="col-sm-2 col-form-label">Product</label>
	                    <div class="col-sm-5">
	                    	<select class="custom-select select2bs4" v-model="commissionRate.product_id">
	                      		<option value="">Select Product</option>
	                      		<option v-for="product in products" :value="product.id">{{ product.name }}</option>
	                        </select>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="firstName" class="col-sm-2 col-form-label">Rate</label>
	                    <div class="col-sm-5">
	                    	<input type="text" class="form-control" id="product_rate" v-model="commissionRate.product_rate" placeholder="0.00">
	                    </div>
	                  </div>                  
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'commission-rate' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
		                  <button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
    export default {
        name: "EditCommissionRate",
        data() {
            return {
                commissionRate: {
                	id: '',
                	merchant_id: '',
                	merchant_rate: '',
                	category_id: '',
                	category_rate: '',
                	product_id: '',
                	product_rate: '',
                },
                merchants: [],
                categories: [],
                products: [],
            };
        },
        created(){

        	var id = this.$route.params.id;
           	axios.get('/api/v1/commission-rate/'+id)
        		.then(response => {
        			var commission = response.data.data;
        			this.commissionRate.id = id;
        			this.commissionRate.merchant_id = commission.merchant_id;
        			this.commissionRate.merchant_rate = commission.merchant_rate;
        			this.commissionRate.category_id = commission.category_id;
        			this.commissionRate.category_rate = commission.category_rate;
        			this.commissionRate.product_id = commission.product_id;
        			this.commissionRate.product_rate = commission.product_rate;

        			axios.get('/api/v1/category/getDropdown', { params: { mid: commission.merchant_id, }})
	                .then(response => { this.categories = response.data.data });

        			axios.get('/api/v1/product/getAll', { params: { merchant_id: commission.merchant_id, }})
	                .then(response => { this.products = response.data.data });

        		});

        	axios.get('/api/v1/merchant/getDropdown')
        		.then(response => this.merchants = response.data.data);

           	axios.get('/api/v1/category/getDropdown')
        		.then(response => this.categories = response.data.data);

        },
        methods: {
        	updateRole: function() {
				axios.put('/api/v1/commission-rate/update', this.commissionRate)
		            .then(response => {
                        toastr.success(response.data.message)
		                this.$router.push({name: 'commission-rate'});
		            })
        	},

        	onChangeCategories: function(event) {
	        	axios.get('/api/v1/category/getDropdown', {
                    params: {
                        mid: event.target.value,
                    }
                })
                .then(response => {
                    this.categories = response.data.data
                })
		    },

		    onChangeMerchant: function(event) {
	        	axios.get('/api/v1/product/getAll', {
                    params: {
                        merchant_id: event.target.value,
                    }
                })
                .then(response => {
                    this.products = response.data.data
                })
		    }
        }

    };
</script>