<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="d-inline">Commission Rate&nbsp;&nbsp;<router-link :to="{ name: 'commission-rate.add' }" class="btn btn-outline-primary btn-sm">Add New</router-link></h1>
                
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Commission Rate</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
            	dataFields: {
                    updated_at: "Last Updated",
            		merchant_name: "Merchant Name", 
            		merchant_rate: "Merchant Rate", 
                    category_name: "Category Name", 
                    category_rate: "Category Rate", 
                    product_name: "Product Name", 
                    product_rate: "Product Rate", 
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/commission-rate/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this Rate',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'commission-rate.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'link'
            		},
            		delete: {
            			title: 'Delete this role',
            			name: 'Delete',
            			apiUrl: '/api/v1/commission-rate/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},       	
            	}
            }
        },        
        components: {
        	Table
 	   }
    };
</script>