<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Rush Sale</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Rush Sale</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Rush Sale {{ flashSale.title }}.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateBanner">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Sale Title <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="flashSale.title" placeholder="Title">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="shortDesc" class="col-sm-4 col-form-label">Short Description </label>
		                    <div class="col-sm-8">
		                      <textarea class="form-control" v-model="flashSale.short_description" placeholder="Short Description"></textarea>
		                    </div>
		                  </div>
			              <div class="form-group row">
		                    <label for="permitDate" class="col-sm-4 col-form-label">Start Date:</label>
		                    <div class="col-sm-8">
		                    	<date-picker v-model="flashSale.start_date" placeholder="YYYY-MM-DD" :config="options" id="start_date"></date-picker>
		                    </div>
			              </div>		                  	                  
			              <div class="form-group row">
		                    <label for="permitDate" class="col-sm-4 col-form-label">End Date:</label>
		                    <div class="col-sm-8">
		                    	<date-picker v-model="flashSale.end_date" placeholder="YYYY-MM-DD" :config="options" id="end_date"></date-picker>
		                    </div>
			              </div>
			              <div class="form-group row">
		                    <label for="active" class="col-sm-4 col-form-label">Availability</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="active" v-model="flashSale.status">
		                          <label for="active" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>
	                  	</div>                  	
	                  </div>

	                  <div class="form-group row">
	                    <label for="permitDate" class="col-sm-4 col-form-label">Product List:</label>
		              </div>			              

	                  <hr class="col-sm-12" style="margin-left: 0;">

		              <div class="row">
		              	<div class="card-body">	
				          	<Table 
				          	:dataFields="dataFields"
				          	:dataUrl="dataUrl"
				          	:primaryKey="primaryKey"
				          	:checkBox="checkBox"
				          	:checkedIds="flashSale.productIds"
				          	v-on:getSelectedItems="getChecked">
				          	</Table>
			          	</div>
		              </div>

	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  	<router-link :to="{ name: 'rush-sale' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';

    export default {
        name: "EditFlashSale",
        data() {
            return {
                flashSale: {
                	id: '',
                	title: '',
                	short_description: '',
                	start_date: '',
                	end_date: '',
                	status: '',
                	productIds: [],
                },
                error: null,
                isSingleSelect: false,
                options: {
		          format: 'YYYY-MM-DD',
		          useCurrent: false,
		        },
		        dataFields: {
            		name: "Product Name", 
                    store_name: "Store Name", 
                    brand_name: "Brand Name", 
                    category_name: "Category Name", 
                    base_price: "Base Price", 
                    selling_price: "Selling Price", 
            		status: {
            			name: "Status", 
            			type:"Boolean", 
            			status: { 
            				0: '<span class="badge badge-danger">Deactivated</span>', 
            				1: '<span class="badge badge-info">Active</span>'
            			}
            		},
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/product/list",
            	checkBox: true,
            	checkedIds: [],
            }
        },

        created(){

        	var id = this.$route.params.id;
           	axios.get('/api/v1/rush-sale/'+id)
        		.then(response => {
        			var flashSale = response.data.data;
        			this.flashSale.id = id;
        			this.flashSale.title = flashSale.title;
        			this.flashSale.short_description = flashSale.short_description;
        			this.flashSale.start_date = flashSale.start_date;
        			this.flashSale.end_date = flashSale.end_date;
        			this.flashSale.status = flashSale.status;
        			this.flashSale.productIds = flashSale.products_ids;
        		});

        },

        methods: {

        	updateBanner: function() {

				axios.put('/api/v1/rush-sale/update', this.flashSale)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'rush-sale'});
				});

        	},

        	getChecked: function(id,checked) {        		
        		if(checked == 'checked') {
	        		this.flashSale.productIds.push(id);
        		}
        		else {
        			this.flashSale.productIds.splice(this.flashSale.productIds.indexOf(event), 1);
        		}
        	},
		  	
        },

        components: {
        	Table
 	   	}

    };

</script>