<template>
	<div id="login-container" class="login-page">
      <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
			<div class="row mx-auto d-block">
	            <div class="col-12">
	                <div id="forgot">
	                    <h2 class="forgot-title text-uppercase">Reset Password</h2>

	                     <div class="form-group">
	                        <label for="email">Email *</label>
	                        <input id="email" type="email" class="form-control" name="email" required v-model="form.email" required>
	                    </div>

	                    <div class="form-group">
	                        <label for="password">Password *</label>
	                        <input id="password" type="password" class="form-control" name="password" required v-model="form.password">
	                    </div>

	                    <div class="form-group">
	                        <label for="password_confirmation">Confirm Password *</label>
	                        <input id="password_confirmation" type="password" class="form-control" name="password_confirmation" required v-model="form.password_confirmation">
	                    </div>

	                    <button type="button" class="btn btn-primary" @click="resetPassword()">
	                        Reset Password
	                    </button>
	                </div>
	            </div>
	       	 </div>
			</div>
          <!-- /.login-card-body -->
        </div>
      <!-- /.login-box -->
    </div>
  </div>
</template>

<script>    
    export default {
        name: "ResetPassword",
        data() {
            return {
                form: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token: '', 
                },
                error: null
            };
        },
        methods: {
          resetPassword() {
          		this.form.token = this.$route.params.token;
				axios.post('/api/v1/password/reset', this.form)
				.then( response => {
					toastr.success(response.data.message);
					this.form.email = '';
					this.form.password = '';
					this.form.password_confirmation = '';
					this.form.token = '';
				});
            }
        },
        computed: {
        }
    };
</script>