<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New Merchant</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New Merchant</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Create a brand new merchant and add them to this site.</h5>
	              </div>

	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeMerchant">

	              	<ul class="nav nav-pills p-2 mb-1">
						<li class="nav-item"><a class="nav-link arrow active" href="#basic" id="basic_tab" data-toggle="tab"><strong>Basic Info.</strong></a></li>
						<li class="nav-item"><a class="nav-link arrow disabled" href="#business" id="business_tab" data-toggle="tab"><strong>Business Info.</strong></a></li>
						<li class="nav-item"><a class="nav-link arrow last-child disabled" href="#settings" id="settings_tab" data-toggle="tab"><strong>Settings</strong></a></li>
					</ul>

	                <div class="card-body" style="border-top: 1px solid rgba(0,0,0,.125);">
		                <div class="tab-content">
                  			<div class="active tab-pane" id="basic">

                  				<div class="form-group row">
				                    <label for="userName" class="col-sm-3 col-form-label">Store Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="storeName" v-model="merchant.storeName" placeholder="Store Name">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="storeAddress" class="col-sm-3 col-form-label">Store Address <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-5">
				                      <textarea class="form-control" id="storeAddress" v-model="merchant.storeAddress" placeholder="Store Address"></textarea>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="latitude" class="col-sm-3 col-form-label">Latitude</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="latitude" v-model="merchant.latitude" placeholder="Latitude">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="longitude" class="col-sm-3 col-form-label">Longitude</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="longitude" v-model="merchant.longitude" placeholder="Longitude">
				                    </div>
				                </div>

				                <hr class="col-sm-8" style="margin-left: 0;">

				                <div class="form-group row">
				                    <label for="firstName" class="col-sm-3 col-form-label">First Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="firstName" v-model="merchant.firstName" placeholder="First Name">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="lastName" class="col-sm-3 col-form-label">Middle Name</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="middleName" v-model="merchant.middleName" placeholder="Middle Name">
				                    </div>
				                </div>	

				                <div class="form-group row">
				                    <label for="lastName" class="col-sm-3 col-form-label">Last Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="lastName" v-model="merchant.lastName" placeholder="Last Name">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="mobile" class="col-sm-3 col-form-label">Mobile Number<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="mobile" v-model="merchant.mobile" placeholder="Mobile Number">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="phone" class="col-sm-3 col-form-label">Phone Number<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="phone" v-model="merchant.phone" placeholder="Phone Number">
				                    </div>
				                </div>

								<div class="form-group row">
				                    <label for="inputPassword3" class="col-sm-3 col-form-label">Brands</label>
				                    <div class="col-sm-5">
				                        <v-select multiple v-model="merchant.brand" label="name" :options="brands"></v-select>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="inputPassword3" class="col-sm-3 col-form-label">Category<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-5">
				                      	<select class="custom-select select2bs4" v-model="merchant.category">
				                      		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
				                        </select>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="inputPassword3" class="col-sm-3 col-form-label">Status<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-5">
				                      	<select class="custom-select select2bs4" v-model="merchant.status">
				                      		<option v-for="status in statuses" :value="status.id">{{ status.name }}</option>
				                        </select>
				                    </div>
				                </div>

				                <hr class="col-sm-8" style="margin-left: 0;">

				                <div class="form-group row">
				                    <label for="email" class="col-sm-3 col-form-label">Email<span class="font-italic"> (required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="email" class="form-control" id="email" v-model="merchant.email" placeholder="Email">
				                    </div>
				                </div>	

				                <div class="form-group row">
				                    <label for="userName" class="col-sm-3 col-form-label">User Name <span class="font-italic">(required)</span></label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="username" v-model="merchant.username" placeholder="User Name ">
				                    </div>
				                </div>			                

				                <div class="form-group row">
				                    <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
				                    <div class="col-sm-5">
				                      <button type="button" class="btn btn-block btn-outline-info btn-sm" v-show="displayButton" @click="showPassword">Show password</button>
				                      
				                      <div class="input-group mb-3" v-show="displayPassword">
										  <input 
											  type="text" 
											  v-model="merchant.password" 
											  id="password" 
											  class="form-control" 
											  aria-label="Sizing example input" 
											  aria-describedby="inputGroup-sizing-sm">

										  <div class="input-group-append">							    
										    <button class="btn btn-outline-secondary" type="button" @click="showPassword"><i class="fas fa-sync-alt"></i></button>
										  </div>

										</div>
				                    </div>
				                    <div class="col-sm-2">
				                     	<button type="button" class="btn btn-block btn-outline-secondary btn-sm" v-show="displayPassword" @click="cancelPassword" style="margin-top: 4px;">Cancel</button>
				                    </div>
				                </div>
				              
		 	                </div>

                  			<div class="tab-pane" id="business">

                  				<div class="form-group row">
				                    <label for="businessName" class="col-sm-3 col-form-label">Registered Business Name:</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="businessName" v-model="merchant.businessName" placeholder="Registered Business Name">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="permitNumber" class="col-sm-3 col-form-label">Business Permit Number:</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="permitNumber" v-model="merchant.permitNumber" placeholder="Business Permit Number">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="permitDate" class="col-sm-3 col-form-label">Business Permit Date:</label>
				                    <div class="col-sm-5">
				                    	<date-picker v-model="merchant.busPermitDate" placeholder="MM/DD/YYYY" :config="options" id="busPermitDate"></date-picker>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="tradeStyle" class="col-sm-3 col-form-label">Trade Style:</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="tradeStyle" v-model="merchant.tradeStyle" placeholder="Trade Style">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="tin" class="col-sm-3 col-form-label">TIN:</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="tin" v-model="merchant.tin" placeholder="000-000-000">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="dateStartedOperation" class="col-sm-3 col-form-label">Date Started Operation:</label>
				                    <div class="col-sm-5">
				                     	<date-picker v-model="merchant.dateStartedOperation" placeholder="MM/DD/YYYY" :config="options" id="dateStartedOperation"></date-picker>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="secRegistrationNumber" class="col-sm-3 col-form-label">SEC Registration Number:</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="secRegistrationNumber" v-model="merchant.secRegistrationNumber" placeholder="SEC Registration Number">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="secRegistrationDate" class="col-sm-3 col-form-label">SEC Registration Date:</label>
				                    <div class="col-sm-5">
				                    	<date-picker v-model="merchant.secRegistrationDate" placeholder="MM/DD/YYYY" :config="options" id="secRegistrationDate"></date-picker>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="dtiRegistationNumber" class="col-sm-3 col-form-label">DTI Registration Number:</label>
				                    <div class="col-sm-5">
				                      <input type="text" class="form-control" id="dtiRegistationNumber" v-model="merchant.dtiRegistationNumber" placeholder="DTI Registration Number">
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="dtiRegistationDate" class="col-sm-3 col-form-label">DTI Registration Date:</label>
				                    <div class="col-sm-5">
				                    	<date-picker v-model="merchant.dtiRegistationDate" placeholder="MM/DD/YYYY" :config="options" id="dtiRegistationDate"></date-picker>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="businessType" class="col-sm-3 col-form-label">Business Type</label>
				                    <div class="col-sm-5">
				                      <select class="custom-select" v-model="merchant.businessType">
				                      	<option value="vat">VAT</option>
				                      	<option value="non-vat">NON-VAT</option>
				                       </select>
				                    </div>
				                </div>

		                	</div>

		                	<div class="tab-pane" id="settings">
		                		<div class="row">
			                		<div class="col-8">

			                			<div class="form-group row">
						                    <label for="otherInfo" class="col-sm-3 col-form-label">Schedule Order:</label>
						                    <div class="col-sm-8">
						                      <div class="custom-control custom-switch">
						                          <input class="custom-control-input" type="checkbox" id="active" v-model="merchant.scheduledOrder">
						                          <label for="active" class="custom-control-label"></label>
						                      </div>
						                    </div>
						                </div>

						                <div class="form-group row">
						                    <label for="openingHrs" class="col-sm-3 col-form-label">Opening Hrs:</label>
						                    <div class="col-sm-8 acf-input">
						                    	<div class="acf-input-wrap">
													<input type="hidden" name="">
													<ul class="acf-radio-list acf-bl">
														<li>
															<label class="selected">
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.sunday" type="checkbox" id="sunday" value="Sunday">
										                          <label for="sunday" class="custom-control-label"><span>Sunday</span></label>
										                          <input type="text" v-model="merchant.sundayTime">
										                        </div>
															</label>
														</li>
														<li>
															<label>
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.monday" type="checkbox" id="monday" value="Monday">
										                          <label for="monday" class="custom-control-label"><span>Monday</span></label>
										                          <input type="text" v-model="merchant.mondayTime">
										                        </div>
															</label>
														</li>
														<li>
															<label>
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.tuesday" type="checkbox" id="tuesday" value="Tuesday">
										                          <label for="tuesday" class="custom-control-label"><span>Tuesday</span></label>
										                          <input type="text" v-model="merchant.tuesdayTime">
										                        </div>
															</label>
														</li>
														<li>
															<label>
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.wednesday" type="checkbox" id="wednesday" value="Wednesday">
										                          <label for="wednesday" class="custom-control-label"><span>Wednesday</span></label>
										                          <input type="text" v-model="merchant.wednesdayTime">
										                        </div>
															</label>
														</li>
														<li>
															<label>
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.thursday" type="checkbox" id="thursday" value="Thursday">
										                          <label for="thursday" class="custom-control-label"><span>Thursday</span></label>
										                          <input type="text" v-model="merchant.thursdayTime">
										                        </div>
															</label>
														</li>
														<li>
															<label>
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.friday" type="checkbox" id="friday" value="Friday">
										                          <label for="friday" class="custom-control-label"><span>Friday</span></label>
										                          <input type="text" v-model="merchant.fridayTime">
										                        </div>
															</label>
														</li>
														<li>
															<label>
																<div class="custom-control custom-checkbox">
										                          <input class="custom-control-input" v-model="merchant.saturday" type="checkbox" id="saturday" value="Saturday">
										                          <label for="saturday" class="custom-control-label"><span>Saturday</span></label>
										                          <input type="text" v-model="merchant.saturdayTime">
										                        </div>
															</label>
														</li>
													</ul>
												</div>
						                    </div>
						                </div>

						                <div class="form-group row">
						                    <label for="otherInfo" class="col-sm-3 col-form-label">Other Info.:</label>
						                    <div class="col-sm-8">
						                      <textarea class="form-control" id="otherInfo" v-model="merchant.otherInfo" placeholder="Other Info."></textarea>
						                    </div>
						                </div>

				                		<div class="form-group row">
						                    <label for="logo" class="col-sm-3 col-form-label">Logo </label>						                    
						                    <div class="col-sm-8">
						                      	<div class="d-flex flex-column justify-content-center align-items-center preview">
													<img style="width: auto; height: 100%;" :src="merchant.logo">
													<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
													<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
												</div>
						                    </div>
						                </div>

						                <div class="form-group row">
						                    <label for="banner" class="col-sm-3 col-form-label">Banner </label>
						                    <div class="col-sm-8">
						                      	<div class="d-flex flex-column justify-content-center align-items-center preview">
													<img style="width: auto; height: 100%;" :src="merchant.banner">
													<span class="edit" @click="addBannerImage"><i class="fas fa-pencil-alt"></i></span>
													<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
												</div>
						                    </div>
						                </div>

						            </div>
				                </div>
		                	</div>
                  		<!-- /.tab-pane -->
                		</div>

	                  
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  <router-link :to="{ name: 'merchants' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  <button type="button" class="btn btn-info" id="previousButton" @click="previous" style="display:none;"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Previous</button>
	                  <button type="button" class="btn btn-info" id="nextButton" @click="next">Next&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></i></button>
	                  <button type="submit" class="btn btn-info" id="submitButton" style="display:none;">Add New Merchant</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>

	</div>
</template>
<script>  
	import Form from '../../../helpers/form';
	import { generatePassword } from '../../../helpers/generatePassword';
	import MediaLibrary from '../../../components/MediaLibrary';

    export default {
        name: "AddMerchant",
        data() {
            return {
                merchant: {
                	storeName: '',
					storeAddress: '',
					longitude: '',
					latitude: '',
					firstName: '',
					middleName: '',
					lastName: '',
					email: '',
					username: '',
					mobile: '',
					phone: '',
					password: '',
					brand: [],
					category: '',
					status: '',
					businessName: '',
					permitNumber: '',
					busPermitDate: '',
					tradeStyle: '',
					tin: '',
					dateStartedOperation: '',
					secRegistrationNumber: '',
					secRegistrationDate: '',
					dtiRegistationNumber: '',
					dtiRegistationDate: '',
					businessType: '',
					scheduledOrder: '',
					sunday: '',
					sundayTime: '',
					monday: '',
					mondayTime: '',
					tuesday: '',
					tuesdayTime: '',
					wednesday: '',
					wednesdayTime: '',
					thursday: '',
					thursdayTime: '',
					friday: '',
					fridayTime: '',
					saturday: '',
					saturdayTime: '',
					otherInfo: '',
                	logo: '',
                	banner: '',
                },
                error: null,
                displayPassword: false,
                displayButton: true,
                categories: [],
                brands: [],
                statuses: [],
                date: new Date(),
		        options: {
		          format: 'DD/MM/YYYY',
		          useCurrent: false,
		        },
		        currentPage: 'basic',
		        isSingleSelect: false,
		        isLogo: false,
		        isBanner: false,
            };
        },

        created(){

           	axios.get('/api/v1/category/getDropdown')
        		.then(response => this.categories = response.data.data);

           	axios.get('/api/v1/brand/getDropdown')
        		.then(response => this.brands = response.data.data);

           	axios.get('/api/v1/merchant/getStatus')
        		.then(response => this.statuses = response.data.data);
        },

        methods: {

        	showPassword: function() {
        		this.merchant.password = generatePassword(15);
        		this.displayPassword = true;
        		this.displayButton = false;
        	},

        	cancelPassword: function() {
        		this.displayPassword = false;
        		this.displayButton = true;
        	},

        	storeMerchant: function() {
				let formData = new FormData();
				formData.append('storeName', this.merchant.storeName);
				formData.append('storeAddress', this.merchant.storeAddress);
				formData.append('longitude', this.merchant.longitude);
				formData.append('latitude', this.merchant.latitude);
				formData.append('firstName', this.merchant.firstName);
				formData.append('middleName', this.merchant.middleName);
				formData.append('lastName', this.merchant.lastName);
				formData.append('email', this.merchant.email);
				formData.append('username', this.merchant.username);				
				formData.append('mobile', this.merchant.mobile);
				formData.append('phone', this.merchant.phone);
				formData.append('password', this.merchant.password);
				formData.append('brand', JSON.stringify(this.merchant.brand));
				formData.append('category', this.merchant.category);
				formData.append('status', this.merchant.status);
				formData.append('businessName', this.merchant.businessName);
				formData.append('permitNumber', this.merchant.permitNumber);
				formData.append('busPermitDate', this.merchant.busPermitDate);
				formData.append('tradeStyle', this.merchant.tradeStyle);
				formData.append('tin', this.merchant.tin);
				formData.append('dateStartedOperation', this.merchant.dateStartedOperation);
				formData.append('secRegistrationNumber', this.merchant.secRegistrationNumber);
				formData.append('secRegistrationDate', this.merchant.secRegistrationDate);
				formData.append('dtiRegistationNumber', this.merchant.dtiRegistationNumber);
				formData.append('dtiRegistationDate', this.merchant.dtiRegistationDate);
				formData.append('businessType', this.merchant.businessType);
				formData.append('scheduledOrder', this.merchant.scheduledOrder);				
				formData.append('sunday', this.merchant.sunday);
				formData.append('sundayTime', this.merchant.sundayTime);
				formData.append('monday', this.merchant.monday);
				formData.append('mondayTime', this.merchant.mondayTime);
				formData.append('tuesday', this.merchant.tuesday);
				formData.append('tuesdayTime', this.merchant.tuesdayTime);
				formData.append('wednesday', this.merchant.wednesday);
				formData.append('wednesdayTime', this.merchant.wednesdayTime);
				formData.append('thursday', this.merchant.thursday);
				formData.append('thursdayTime', this.merchant.thursdayTime);
				formData.append('friday', this.merchant.friday);
				formData.append('fridayTime', this.merchant.fridayTime);
				formData.append('saturday', this.merchant.saturday);
				formData.append('saturdayTime', this.merchant.saturdayTime);
				formData.append('otherInfo', this.merchant.otherInfo);
				formData.append('logo', this.merchant.logo);
				formData.append('banner', this.merchant.banner);

				axios.post('/api/v1/merchant/store', formData, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'merchants'});
				});

        	},

			next: function() {
		    	switch(this.currentPage) {
		    		case 'basic':
			    		this.currentPage = 'business';
			    		$("#basic_tab").removeClass('active').addClass('disabled');
				    	$('#business_tab').removeClass('disabled').addClass('active');
				    	$('#basic').hide();
				    	$('#business').show();
				    	$('#previousButton').show();
			    	break;
		    		case 'business':
			    		this.currentPage = 'settings';
			    		$("#business_tab").removeClass('active').addClass('disabled');
				    	$('#settings_tab').removeClass('disabled').addClass('active');
				    	$('#business').hide();
				    	$('#settings').show();
				    	$('#nextButton').hide();
				    	$('#submitButton').show();
			    	break;
			    }
    	    	$(window).scrollTop(0);
		    },

		    previous: function() {
		    	switch(this.currentPage) {
		    		case 'settings':
			    		this.currentPage = 'business';
			    		$("#settings_tab").removeClass('active').addClass('disabled');
				    	$('#business_tab').removeClass('disabled').addClass('active');
				    	$('#settings').hide();
				    	$('#business').show();
				    	$('#previousButton').show();
				    	$('#nextButton').show();
				    	$('#submitButton').hide();	
			    	break;
		    		case 'business':
			    		this.currentPage = 'basic';
			    		$("#business_tab").removeClass('active').addClass('disabled');
				    	$('#basic_tab').removeClass('disabled').addClass('active');
				    	$('#business').hide();
				    	$('#basic').show();
				    	$('#previousButton').hide();
				    	$('#nextButton').show();
			    	break;		    		
			    }
    	    	$(window).scrollTop(0);
		    },

		    addPrimaryImage: function() {
		    	this.isLogo = true;
		    	this.isBanner = false;
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    addBannerImage: function() {
		    	this.isLogo = false;
		    	this.isBanner = true;
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    setPrimaryImage: function(params) {
		    	if(this.isLogo && !this.isBanner)
			    	this.merchant.logo = params.file_url;
			    else 
			    	this.merchant.banner = params.file_url;
		    }, 

		    setDefaultImage: function() {
		    	this.merchant.logo = window.location.origin +'/storage/media_library/400x400.png'
		    },

        },

        components: {
        	MediaLibrary
 	   	}        
    };
</script>

<style lang="scss" scoped>
.modal-header {
	border-bottom: 0;
}

.modal-body {
	padding: 0;
}

.icon {
	position: absolute; 
	right: 1.5rem; 
	top: 0.6rem;
}

.inventory td {
	max-width:50px;
	width:auto;
	min-width:10px;
}

.images-preview {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;

    .img-selected {
    	position: absolute;
	    top: -15px;
	    right: -15px;
	    display: none !important;
    }

    .active {
    	display: block !important;
    }

    .checked-shadow {
    	box-shadow: 0px 1px 5px 2px #0073A8;
    }

    .img-wrapper {
        width: 80px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 80px;
        justify-content: space-between;
        background: #fff;
        border: solid .5px #dee2e6;
        position: relative;
        cursor: pointer;

        img {
            max-height: 80px;
        }
    }

    .delete {
    	border: none;
	    position: absolute;
	    right: 0;
	    top: -10px;
	    background-color: transparent;
	    color: red;

	    span {
	    	font-size: 30px !important;
    		font-weight: bold;
    		text-shadow: 1px 1px #000;
	    }
    }
}

.arrow {
    position: relative;
    font-weight: bold;
}

.nav-link {
	margin-right: 20px;
	border-radius: 0 !important;
}

.nav-link:after {
    content: '';
    height: 0;
    display: block;
    border-color: #6c757d #6c757d #6c757d #007bff;
    border-width: 18.7px;
    border-style: solid;
    position: absolute;
    top: 0;
    right: -37px;
}

.disabled {
	color: #FFF;
	background-color: #6c757d;
}

.last-child:after {
    border-color: transparent transparent transparent #007bff;	
}

.disabled:after {
    border-color: #6c757d #6c757d #6c757d #6c757d;	
}

.preview {
    height: 250px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position:relative;
}

.preview span.edit {
    position:absolute;
    bottom: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 5px 0 5px;
    display:none;
}

.preview span.delete {
    position:absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 0 5px 0 5px;
    display:none;
}

.preview:hover span {
    display: block;
}

</style>