<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Merchants <router-link :to="{ name: 'merchant.add' }" class="btn btn-outline-primary btn-sm">Add New</router-link></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Merchants</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
                        :primaryKey="primaryKey"
			          	:actionLinks="actionLinks"
			          	>
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table-v3';
    export default {
        name: "Merchants",
        data() {
            return {
            	dataFields: {
                    id: "ID", 
            		email: "Email", 
                    meta_value: "Store Name", 
                    category_name: "Category", 
                    status: {
            			name: "Status", 
            			type:"Boolean", 
            			status: { 
            				1: '<span class="badge bg-warning disabled color-palette">Request</span>', 
            				2: '<span class="badge bg-secondary disabled color-palette">Pending</span>',
            				3: '<span class="badge bg-primary color-palette">Active</span>',
            				4: '<span class="badge bg-danger color-palette">Inactive</span>',
            				5: '<span class="badge bg-lightblue disabled color-palette">On Hold</span>'
            			}
            		}, 
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/merchant/list",
            	actionLinks: {
            		edit: {
            			title: 'Edit this merchant',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'merchant.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'link'
            		},
            		delete: {
            			title: 'Delete this merchant',
            			name: 'Delete',
            			apiUrl: '/api/v1/merchant/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
                callToActionButtons: {
                    downloadCsv: {
                        label: '',
                        title: 'Download CSV File',
                        actionType: 'button',
                        css: 'btn btn-block btn-primary btn-sm',
                        callToAction: 'downloadCsv',
                    }
                }


            };
        },        
        components: {
        	Table
 	   }
    };
</script>