<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Edit Brand</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Edit Brand</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Edit Brand {{ brand.name }}.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="updateBrand">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Brand Name <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="name" v-model="brand.name" placeholder="Brand Name" @blur="onBlur">
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Brand Slug Name <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" id="slug_name" v-model="brand.slug_name" placeholder="Slug Name">
		                    </div>
		                  </div>	  

		                  <div class="form-group row">
		                    <label for="inputPassword3" class="col-sm-4 col-form-label">Distribution Type</label>
		                    <div class="col-sm-8">
		                      	<select class="custom-select" v-model="brand.distribution_type">
		                      		<option value="">Open this select menu</option>
		                      		<option value="outright">Outright</option>
		                      		<option value="consignment">Consignment</option>
		                        </select>
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="firstName" class="col-sm-4 col-form-label">Active</label>
		                    <div class="col-sm-8">
		                      <div class="custom-control custom-switch">
		                          <input class="custom-control-input" type="checkbox" id="active" v-model="brand.isActive">
		                          <label for="active" class="custom-control-label"></label>
		                      </div>
		                    </div>
		                  </div>

		                  <div class="form-group row">
		                    <label for="userName" class="col-sm-4 col-form-label">Icon / Image </label>
		                    <div class="col-sm-8">
		                      	<div class="d-flex flex-column justify-content-center align-items-center preview">
									<img style="width: auto; height: 100%;" :src="brand.image_url">
									<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
									<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
								</div>
		                    </div>
		                  </div>

	                  	</div>                 	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                	<router-link :to="{ name: 'brands' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Save Changes</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	</div>
</template>
<script>  
	import MediaLibrary from '../../../components/MediaLibrary';
    export default {
        name: "EditBrand",
        data() {
            return {
                brand: {
                	id: '',
                	name: '',
                	slug_name: '',
                	distribution_type: '',
					isActive: false,
                	image_url: window.location.origin +'/storage/media_library/400x400.png',
                },
                error: null,
                isSingleSelect: false,
            }
        },
        created(){
			var id = this.$route.params.id;
           	axios.get('/api/v1/brand/'+id)
        		.then(response => {
        			var brand = response.data.data;
        			this.brand.id = id;
        			this.brand.name = brand.name;
        			this.brand.slug_name = brand.slug_name;
        			this.brand.distribution_type = brand.distribution_type;
        			this.brand.isActive = brand.active;
        			this.brand.image_url = brand.image_url;
        		});
        },
        methods: {

        	updateBrand: function() {

				axios.put('/api/v1/brand/update', this.brand)
				.then( response => {
	            	toastr.success(response.data.message);
	            	this.$router.push({name: 'brands'});
				});
        	},

			onBlur: function() {
        		var field_name = this.brand.name
		  		this.brand.slug_name = field_name.replace(/ /g,"_").toLowerCase();
		  	},

		  	addPrimaryImage: function() {
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    setPrimaryImage: function(params) {
		    	this.brand.image_url = params.file_url
		    }, 

		    setDefaultImage: function() {
		    	this.brand.image_url = window.location.origin +'/storage/media_library/400x400.png'
		    },

        },

        components: {
        	MediaLibrary
 	   	}

    };

    $(function () {
		$("#name").on('blur', function() {
			var fieldName = $(this).val();
			$("#slug_name").val(
				fieldName.replace(/ /g,"_").toLowerCase()
	  		);
		});
	});
</script>