<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Sales Report</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Sales Report</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	      	<div class="row">
	      		<div class="col-md-12">
	      		<div class="card">
	      			<div class="card-body">
	      				<div class="row">
	      					<div class="col-12"><label>Filter By:</label></div>
	      				</div>
		      			<div class="row">
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.category_id" @change="onSelect">
			                  		<option value="">Select Category</option>
			                  		<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.brand_id" @change="onSelect">
			                  		<option value="">Select Brand</option>
			                  		<option v-for="brand in brands" :value="brand.id">{{ brand.name }}</option>
			                    </select>
				      		</div>
				      		<div class="col-md-3">
				      			<select class="custom-select select2bs4" v-model="filters.status" @change="onSelect">
			                  		<option value="">Select Order Status</option>
			                  		<option v-for="status in order_statuses" :value="status.id">{{ status.status }}</option>
			                    </select>
				      		</div>
		      			</div>
		      			<div class="row mt-3">
		      				<div class="col-md-1"><label>Start and End Date:</label></div>
		      				<div class="col-md-4">
				      			<input readonly class="form-control" type="text" id="daterange" v-model="filters.date_range" name="daterange"/>
				      		</div>
				      		<div class="col-md-1"><button type="button" class="btn btn-primary" @click="onSelect">Apply</button></div>
				      		<div class="col-md-2"><button type="button" class="btn btn-primary" @click="summarySales">Show Summary</button></div>
		      			</div>
		      		</div>
		      	</div>
		      </div>
	      	</div>
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:primaryKey="primaryKey"
			          	:filters="filters"
			          	:downloadCsv="downloadCsv"
			          	ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <!-- Batch Upload -->
	    <div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="salesModalLabel" aria-hidden="true">
	      <div class="modal-dialog modal-lg" role="document">
	          <div class="modal-content">
	          <div class="modal-header">
	              <h5 class="modal-title" id="batchModalLabel">Summary Report</h5>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	              <span aria-hidden="true">&times;</span>
	              </button>
	          </div>
	          <div class="modal-body">
	              	<table class="table table-striped">
	              		<thead>
	              			<tr>
	              				<th>Product Name</th>
	              				<th>Order Status</th>
	              				<th>Quantity</th>
	              				<th>Product Price</th>
	              				<th>Price Purchased</th>
	              				<th>Commission Rate</th>
	              			</tr>
	              		</thead>
	              		<tbody>
	              			<tr v-for="(data, index) in sales_report" v-bind:key="index">
	              				<td>{{ data.product_name }}</td>
	              				<td>{{ data.order_status }}</td>
	              				<td>{{ data.qty }}</td>
	              				<td>{{ data.base_price }}</td>
	              				<td>{{ data.total_price }}</td>
	              				<td>{{ data.commission_rate }}</td>
	              			</tr>
	              		</tbody>
	              		<tfoot>
	              			<tr>
	              				<td><strong>Totals :</strong></td>
	              				<td></td>
	              				<td>{{ total_qty }}</td>
	              				<td>{{ total_sales }}</td>
	              				<td>{{ total_sales }}</td>
	              				<td></td>
	              			</tr>
	              		</tfoot>
					</table>
	          </div>
	          <div class="modal-footer justify-content-between">
	              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          </div>
	          </div>
	      </div>
	    </div>
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Sales",
        data() {
            return {
            	dataFields: {
            		order_number: "Order Number", 
                    created_at: "Order Date", 
                    received_date: "Delivery Date", 
                    product_name: "Product Name", 
            		product_size: "Product Size", 
            		merchant_name: "Merchant Name", 
            		brand_name: "Brand Name", 
            		category_name: "Category Name", 
            		order_status: "Order Status",
            		qty: "Quantity", 
            		base_price: "Product Price", 
            		total_price: "Price Purchased", 
            		commission_rate: "Commission Rate", 
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/merchant-report/sales",
                filters: {
                	category_id: '',
                	brand_id: '',
                	status: '',
                	date_range: '',
                },
                categories: [],
                brands: [],
                merchants: [],      	
                order_statuses: [],
                downloadCsv: "/api/v1/merchant-report/download-csv",
                sales_report: [],
                total_qty: 0,
                total_sales: 0,
            };
        },        

        mounted(){
            $(document).ready(function(){
                $('#daterange').daterangepicker();
            });
        },

        created(){
		  	axios.get('/api/v1/merchant/category/getDropdown')
        	.then(response => this.categories = response.data.data);

        	axios.get('/api/v1/merchant-report/brand/getDropdown')
        	.then(response => this.brands = response.data.data);

        	axios.get('/api/v1/merchant/orders/list-statuses')
        	.then(response => this.order_statuses = response.data.data);

        },

        methods: {
        	onSelect: function () {
        		var valDate = $('#daterange').val()
        		this.filters.date_range = valDate;
        		this.$refs.dataTable.fetchData();
        	},

        	summarySales: function() {
        		axios.get('/api/v1/merchant-report/sales-summary', {
                    params: {
                        search: this.search,
                        filters: this.filters
                    }
                })
                .then(response => {
                    this.sales_report = [];
                    this.sales_report = response.data.data;

                    this.sales_report.forEach(e => {
                        this.total_qty += e.qty;
                        this.total_sales += parseFloat(e.total_price);
                    });

                    this.total_sales = this.total_sales.toFixed(2);

                    $('#salesModal').modal('show');
                })
        	},
        },

        components: {
        	Table
 	   }
    };
</script>