<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Add New Banner</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Add New Banner</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<!-- general form elements -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h5 class="card-title">Create a brand new Banner and add them to this site.</h5>
	              </div>
	              <!-- /.card-header -->
	              <!-- form start -->
	              <form class="form-horizontal" @submit.prevent="storeBanner">
	                <div class="card-body">
	                  <div class="row">
	                  	<div class="col-8">
	                  		
		                  <div class="form-group row">
		                    <label for="banner" class="col-sm-4 col-form-label">Banner Title <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                      <input type="text" class="form-control" v-model="bannerAd.title" placeholder="Title">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="shortDesc" class="col-sm-4 col-form-label">Short Description </label>
		                    <div class="col-sm-8">
		                      <textarea class="form-control" v-model="bannerAd.short_description" placeholder="Short Description"></textarea>
		                    </div>
		                  </div>	                  
		                  <div class="form-group row">
		                    <label for="link" class="col-sm-4 col-form-label">Link</label>
		                    <div class="col-sm-8">
		                      	<input type="text" class="form-control" v-model="bannerAd.link" placeholder="Link">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="link" class="col-sm-4 col-form-label">Banner <span class="font-italic">(required)</span></label>
		                    <div class="col-sm-8">
		                    	<div class="d-flex flex-column justify-content-center align-items-center preview mt-3">
									<img style="width: auto; height: 100%;" :src="bannerAd.image_url">
									<span class="edit" @click="addPrimaryImage"><i class="fas fa-pencil-alt"></i></span>
									<span class="delete" @click="setDefaultImage"><i class="fas fa-trash-alt"></i></span>
								</div>
		                    </div>
		                  </div>
	                  	</div>                  	
	                  </div>
	                </div>
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  	<router-link :to="{ name: 'banner-ads' }" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to List</router-link>
	                  	<button type="submit" class="btn btn-info">Add New Banner</button>
	                </div>
	                <!-- /.card-footer -->
	              </form>
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

	    <div class="modal fade" id="add-gallery">
	        <div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">Select Image</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	              	<MediaLibrary 
	              	v-on:setPrimaryImage="setPrimaryImage"
	              	ref="medialibrary"
	              	:isSingleSelect="isSingleSelect"
	              	></MediaLibrary>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	</div>
</template>
<script>  
	import MediaLibrary from '../../../components/MediaLibrary';

    export default {
        name: "AddBanner",
        data() {
            return {
                bannerAd: {
                	title: '',
                	short_description: '',
                	image_url: window.location.origin +'/storage/media_library/800x400.png',
                	link: ''
                },
                error: null,
                isSingleSelect: false,
            }
        },

        created(){
        },

        methods: {

        	storeBanner: function() {

				axios.post('/api/v1/banner-ads/store', this.bannerAd)
				.then( response => {
	            	toastr.success(response.data.message)
	            	this.$router.push({name: 'banner-ads'});
				});

        	},

        	addPrimaryImage: function() {
		    	this.isSingleSelect = true;
		    	$('#add-gallery').modal('show');
		    },

		    closeModal: function() {
		    	this.$refs.medialibrary.clear();
		    	$('#add-gallery').modal('hide');
		    },

		    setPrimaryImage: function(params) {
		    	this.bannerAd.image_url = params.file_url
		    }, 

		    setDefaultImage: function() {
		    	this.bannerAd.image_url = window.location.origin +'/storage/media_library/800x400.png'
		    }
		  	
        },

        components: {
        	MediaLibrary
 	   	}

    };

</script>