<template>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="/admin/dashboard" class="brand-link">
        <img :src="logo" alt="ADM 2.0 Logo" class="brand-image">
        <span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img :src="profile" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="/admin/dashboard" class="d-block">{{ currentUser.name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="/admin/dashboard" class="nav-link active">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-users-cog"></i>
                <p>
                  User Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'users' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                      Admin Users
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'roles' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      User Roles
                    </p>
                  </router-link>
                </li>        
                <!-- <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                      Registered Users
                    </p>
                  </router-link>
                </li> -->
              </ul>
            </li>            
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-id-card"></i>
                <p>
                  Merchants Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'merchants' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-friends"></i>
                    <p>
                      Merchants
                    </p>
                  </router-link>
                </li>           
                <!-- <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-envelope-open"></i>
                    <p>
                      Merchants Request
                    </p>
                  </router-link>
                </li> -->
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fab fa-product-hunt"></i>
                <p>
                  Product Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">                          
                <li class="nav-item">
                  <router-link :to="{ name: 'categories' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-copyright"></i>
                    <p>
                      Categories
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'brands' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-signature"></i>
                    <p>
                      Brands
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'product-sizes' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-text-height"></i>
                    <p>
                      Sizes
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'products' }" class="pl-4 nav-link">
                    <i class="nav-icon fab fa-product-hunt"></i>
                    <p>
                      Products
                    </p>
                  </router-link>
                </li>
                <!-- <li class="nav-item">
                  <router-link :to="{ name: 'product.best-seller' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>
                      Best Seller
                    </p>
                  </router-link>
                </li>  -->                
              </ul>
            </li>   
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-photo-video"></i>
                <p>
                  Banner Ads Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'ads' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-images"></i>
                    <p>
                      Pop-Up Banner Ads
                    </p>
                  </router-link>
                </li>            
                <li class="nav-item">
                  <router-link :to="{ name: 'banner-ads' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-images"></i>
                    <p>
                      Rotating Banner Ads
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-cart-arrow-down"></i><i class=""></i>
                <p>
                  Order Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'orders' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                      Orders
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i>
                <p>
                  Report Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'sales.report' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>
                      Sales Report
                    </p>
                  </router-link>
                </li>
                <!-- <li class="nav-item">
                  <router-link :to="{ name: 'status.report' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-info-circle"></i>
                    <p>
                      Status Report
                    </p>
                  </router-link>
                </li> --> 
              </ul>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'view-tracker' }" class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i>
                <p>
                  View Tracker Management
                </p>
              </router-link>
            </li>   
            <li class="nav-item">
              <router-link :to="{ name: 'rush-sale' }" class="nav-link">
                <i class="nav-icon fa fa-certificate"></i>
                <p>
                  Flash Sale
                </p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'courier' }" class="nav-link">
                <i class="nav-icon fas fa-shipping-fast"></i>
                <p>
                  Courier
                </p>
              </router-link>
            </li>                   
            <li class="nav-item">
              <router-link :to="{ name: 'commission-rate' }" class="nav-link">
                <i class="nav-icon fas fa-percentage"></i>
                <p>
                  Commission Rates
                </p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'voucher' }" class="nav-link">
                <i class="nav-icon fas fa-gifts"></i>
                <p>
                  Vouchers
                </p>
              </router-link>
            </li>
        <!-- <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-boxes"></i>
                <p>
                  Inventories
                </p>
              </router-link>
            </li> -->             
            <!-- <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Customers
                </p>
              </router-link>
            </li> 
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fab fa-opencart"></i>
                <p>
                  Carts
                </p>
              </router-link>
            </li>                         
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-shipping-fast"></i>
                <p>
                  Delivery Rates
                </p>
              </router-link>
            </li> 
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-rss-square"></i>
                <p>
                  Social Media Feed
                </p>
              </router-link>
            </li>            
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Comments
                </p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-newspaper"></i>
                <p>
                  Stories
                </p>
              </router-link>
            </li>             
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-gift"></i>
                <p>
                  Loyalty Points
                </p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon fas fa-scroll"></i>
                <p>
                  Static Pages
                </p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'comming-soon' }" class="nav-link">
                <i class="nav-icon far fa-question-circle"></i>
                <p>
                  FAQ's
                </p>
              </router-link>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>
                  Reports
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-chart-bar"></i>
                    <p>
                      Sales per items
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>
                      Sales per merchant products
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                      Sales per merchant category
                    </p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-chart-area"></i>
                    <p>
                      Sales per address
                    </p>
                  </router-link>
                </li>
              </ul>
            </li> -->       
            <li class="nav-item has-treeview menu-open">
              <a class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>
                  My Account
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <!-- <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="nav-link pl-4">
                    <i class="nav-icon fas fa-comments"></i>
                    <p>
                      Notification / Request
                    </p>
                  </router-link>
                </li> -->
                <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>Account Settings</p>
                  </router-link>
                </li>
                <!-- <li class="nav-item">
                  <router-link :to="{ name: 'comming-soon' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>Site Settings</p>
                  </router-link>
                </li> -->
                <li class="nav-item">
                  <a href="#" class="pl-4 nav-link" @click.prevent="logout">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                      Sign Out
                    </p>
                  </a>
                </li>
              </ul>
            </li>
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
</template>

<script>
    export default {
        name: 'side-nav',
        data() {
          return {
            logo: window.location.origin +'/img/logo-adobomall.png',           
            profile: window.location.origin +'/img/profile-pic.png',           
          }
        },
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/admin/login');
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    };
</script>
<style lang="scss" scoped>
.brand-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px !important;
    max-height: 50px!important;
}
</style>